.main-footer .info-footer, body {
  font-family: "Noto Serif",serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none !important;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: block; }

a:hover, a:focus {
  color: #cb0000;
  outline: none; }

img {
  height: auto; }

.padding-top {
  padding-top: 10px; }

.container-mobile {
  padding: 0;
  margin: 0 auto; }

.fixed {
  position: fixed;
  z-index: 10;
  top: 0; }

.site-header {
  width: 100%; }

.main-navigation {
  height: 55px;
  box-shadow: 0 1px #d3d3d3;
  background-color: #fff; }
  .main-navigation .navbar-header {
    float: left;
    position: relative; }
    .main-navigation .navbar-header button {
      padding: 0px;
      border-radius: 0;
      margin-right: 0px;
      transition: all .3s ease-in-out;
      margin-top: 15px;
      width: 32px;
      height: 25px;
      display: block; }
      .main-navigation .navbar-header button .icon-bar + .icon-bar {
        margin-top: 5px; }
      .main-navigation .navbar-header button .icon-bar {
        width: 30px;
        height: 3px;
        transition: .3s ease-in-out;
        margin: 0 auto; }
    .main-navigation .navbar-header .invisibility .icon-bar:first-child {
      width: 0px;
      margin: 0 auto;
      transition: .3s ease-in-out; }
    .main-navigation .navbar-header .invisibility .icon-bar + .icon-bar {
      width: 0px;
      margin: 0 auto;
      transition: .3s ease-in-out; }
    .main-navigation .navbar-header .invisibility .icon-bar:last-child {
      width: 0px;
      margin: 0 auto;
      transition: .3s ease-in-out; }
    .main-navigation .navbar-header span.icon-bar {
      background: #222; }

.fixheight-icon {
  color: #fff;
  position: absolute;
  right: -30px;
  top: 0px;
  border: none;
  background: #343434;
  display: block;
  outline: none;
  z-index: 2;
  width: 30px;
  height: 30px; }

.min-logo {
  text-align: center;
  margin-top: 13px; }

.mCSB_inside > .mCSB_container {
  margin-right: 0 !important; }

.fixed-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden; }

.link-home i {
  font-size: 30px;
  padding-top: 15px;
  color: #fff; }

.close-menu {
  width: 100%;
  height: 100%;
  z-index: 400;
  position: fixed;
  left: 0;
  top: 0;
  transition: .3s ease-in-out;
  visibility: hidden; }

.dark-bg {
  background: rgba(0, 0, 0, 0.6);
  visibility: visible; }

.search-box {
  position: relative;
  padding-right: 0; }
  .search-box .navbar-right {
    padding-left: 100px; }
  .search-box .search-button {
    background: url(images/icon/sprite-v1.png);
    background-position: -292px -336px;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .search-box .close {
    background: url(images/icon/sprite-v1.png);
    background-position: -455px -316px;
    width: 21px;
    height: 21px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .search-box .glyphicon-remove {
    display: none; }
  .search-box .glyphicon-remove-show {
    transform: scale(1); }
  .search-box .glyphicon-remove-hide {
    transform: scale(0); }
  .search-box .glyphicon-search-show {
    transform: scale(1); }
  .search-box .glyphicon-search-hide {
    transform: scale(0); }
  .search-box span {
    transition: all .3s ease-in-out; }
  .search-box button {
    border: none;
    outline: none; }
  .search-box span.glyphicon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: -15px;
    cursor: pointer; }
  .search-box .search-out {
    background: #f7f7f7 !important; }
  .search-box span:hover {
    background: transparent; }

.box-search-input button {
  border: none;
  outline: none; }
.box-search-input .search-mini {
  position: absolute;
  background: #222;
  width: 34px;
  height: 34px;
  right: 20px; }
.box-search-input .search-mini:hover {
  background: #cb0000; }
.box-search-input .btn-search-mini {
  background: url(images/icon/sprite-v1.png);
  background-position: -292px -316px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }
.box-search-input .form-group {
  top: -30px;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out; }
  .box-search-input .form-group input {
    background: #fff;
    color: #222;
    border: 1px solid #cb0000; }
  .box-search-input .form-group input:hover, .box-search-input .form-group input:active, .box-search-input .form-group input:focus {
    border: 1px solid #cb0000; }
.box-search-input .form-group-change {
  top: 9px;
  opacity: 1;
  visibility: visible; }
.box-search-input input.form-control {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  width: 87% !important; }
.box-search-input input.form-control:focus {
  z-index: 2; }
.box-search-input .input-group {
  width: 100%;
  padding: 8px 16px;
  background: #343434; }

.search-group {
  margin: 0 -15px; }

.logo-top-1 {
  margin: 0;
  text-align: center; }
  .logo-top-1 a {
    font-size: 20px;
    color: #fff;
    height: 27px;
    display: block;
    width: 105px;
    margin: 0 auto;
    margin-top: 13px;
    display: block; }
    .logo-top-1 a span {
      text-indent: -9999px;
      position: absolute; }

p.description {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
  margin-bottom: 0; }

.logo-top {
  margin: 10px 0;
  text-align: center; }
  .logo-top a {
    background: url("images/icon/sprite-v1.png") center center no-repeat;
    background-size: 300px 75px;
    height: 75px;
    display: block; }
  .logo-top span {
    text-indent: -999px;
    position: absolute; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:focus, .nav > li > a:hover {
  background: transparent; }

.btn-menu {
  position: fixed;
  left: -85%;
  width: 85%;
  display: block;
  background: #343434;
  transition: all .3s ease-in-out;
  top: 0;
  height: 100%;
  z-index: 500;
  overflow: scroll; }
  .btn-menu a {
    box-shadow: none;
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    opacity: 1;
    outline: medium none;
    display: block;
    padding: 15px;
    line-height: 1 !important; }
    .btn-menu a span {
      margin-left: 6px; }
  .btn-menu .info-page {
    padding: 15px;
    background: #343434; }
    .btn-menu .info-page span {
      font-size: 16px;
      color: #fff;
      margin-bottom: 10px;
      display: block;
      font-family: Arial, Helvetica, sans-serif; }
    .btn-menu .info-page p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #999; }
    .btn-menu .info-page p.hotline {
      color: #fff;
      margin-bottom: 0; }
  .btn-menu ul.navbar-nav {
    margin: 0px;
    width: 100%;
    background: #fff; }
    .btn-menu ul.navbar-nav li {
      float: none;
      transition: all 0.5s ease-in-out; }
      .btn-menu ul.navbar-nav li a {
        display: block;
        position: relative;
        padding: 15px 20px !important;
        text-indent: 25px; }
    .btn-menu ul.navbar-nav li.active {
      border-left: 3px solid #cb0000;
      background: #d6d6d6; }
    .btn-menu ul.navbar-nav li a:before {
      content: '';
      background: url(images/icon/sprite-v1.png);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 10px; }
    .btn-menu ul.navbar-nav li.icon-life a:before {
      background-position: -20px -314px; }
    .btn-menu ul.navbar-nav li.icon-ent a:before {
      background-position: -42px -314px; }
    .btn-menu ul.navbar-nav li.icon-tv a:before {
      background-position: -68px -314px; }
    .btn-menu ul.navbar-nav li.icon-cine a:before {
      background-position: -93px -314px; }
    .btn-menu ul.navbar-nav li.icon-fas a:before {
      background-position: -120px -314px; }
    .btn-menu ul.navbar-nav li.icon-laydy a:before {
      background-position: -145px -314px; }
    .btn-menu ul.navbar-nav li.icon-tech a:before {
      background-position: -166px  -314px; }
    .btn-menu ul.navbar-nav li.icon-game a:before {
      background-position: -191px -316px; }
    .btn-menu ul.navbar-nav li.icon-car a:before {
      background-position: -218px -314px; }
    .btn-menu ul.navbar-nav li.icon-sport a:before {
      background-position: -242px -314px; }
    .btn-menu ul.navbar-nav li.icon-video a:before {
      background-position: -266px -314px; }
    .btn-menu ul.navbar-nav li.icon-health a:before {
      background-position: -20px -291px; }
    .btn-menu ul.navbar-nav li.icon-world a:before {
      background-position: -20px -342px; }
    .btn-menu ul.navbar-nav li.icon-baby a:before {
      background-position: -43px -342px; }

.floatright {
  left: 0; }

.dropdown-mobile {
  display: none;
  width: 100%;
  z-index: 3;
  background-color: #666;
  padding-left: 0;
  padding: 5px 0 5px 30px; }
  .dropdown-mobile li {
    list-style-type: none; }

.open .dropdown-menu {
  opacity: 1;
  transform: rotateX(0deg);
  transform-origin: top; }

.bg-life {
  background: #27a597; }

.bg-en {
  background: #e74c3c; }

.bg-tv-shows {
  background: #6ec536; }

.bg-movie {
  background: #e47200; }

.bg-fashion {
  background: #a21241; }

.bg-women {
  background: #e853a5; }

.bg-tech {
  background: #0666a7; }

.bg-vehicles {
  background: #525659; }

.bg-sport {
  background: #bd6315; }

.bg-video {
  background: #974b00; }

.title-main-1 {
  margin-top: 8px;
  line-height: 1;
  font-weight: 400; }
  .title-main-1 a {
    font-size: 18px; }

.title-main-2 {
  font-size: 20px;
  height: 40px;
  padding: 13px 15px 0;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 0; }
  .title-main-2 a {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff; }

.title-main-3 {
  margin-top: 0px;
  margin-bottom: 7px; }
  .title-main-3 a {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600; }

.title-main-4 {
  margin-top: 0px;
  margin-bottom: 7px; }
  .title-main-4 a {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600; }

.tt-hot-ev {
  font-size: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 25px;
  float: left;
  display: inline-block; }
  .tt-hot-ev a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #cb0000;
    font-weight: 700; }

.event-top {
  margin-top: 10px; }
  .event-top a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
    font-weight: normal;
    padding: 0px 25px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 10px; }

.box-btn-sub ul {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #343434;
  width: 50%;
  padding-left: 15px;
  margin: 0;
  z-index: 3;
  border-top: none; }
.box-btn-sub li {
  list-style-type: none; }
  .box-btn-sub li a {
    color: #fff;
    display: block;
    padding: 8px 10px; }
.box-btn-sub .sub-rt {
  top: 55px;
  right: 14px; }

.box-btn-sub-cate ul {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #343434;
  width: 50%;
  padding-left: 15px;
  z-index: 9999;
  border-top: none;
  margin: 0; }
.box-btn-sub-cate li {
  list-style-type: none; }
  .box-btn-sub-cate li a {
    color: #fff;
    display: block;
    padding: 8px 10px; }
.box-btn-sub-cate .sub-rt {
  top: 55px;
  right: 14px; }

.text-paragrapth {
  padding: 0px 15px 15px; }

.box-btn-sub, .box-btn-sub-cate {
  position: relative; }

.btn-sub-of-sub {
  position: absolute;
  right: 10px;
  background: transparent;
  outline: none;
  padding: 0;
  border: none;
  transition: all .3s ease-in-out; }
  .btn-sub-of-sub span {
    font-size: 26px;
    color: #fff;
    background: url(images/icon/sprite-v1.png);
    width: 25px;
    height: 25px;
    display: block;
    background-position: -357px -316px; }

.back-link {
  position: relative;
  display: none; }
  .back-link span {
    position: absolute;
    left: 0px;
    top: -30px;
    width: 20px;
    height: 20px;
    z-index: 1;
    transition: all .3s ease-in-out;
    background: url(images/icon/sprite-v1.png);
    background-position: -283px -73px; }

.box-btn-sub-detail ul {
  display: none;
  position: relative;
  right: 0px;
  background-color: #343434;
  width: 100%;
  padding-left: 15px;
  z-index: 3;
  border-top: none;
  margin: 0; }
.box-btn-sub-detail li {
  list-style-type: none; }
  .box-btn-sub-detail li a {
    color: #fff;
    display: block;
    padding: 8px 10px; }
.box-btn-sub-detail .sub-rt {
  top: 55px;
  right: 14px; }

.line-top {
  height: 4px;
  width: 35px;
  background: #343434;
  display: none; }

.margintop-15 {
  margin-top: 20px; }

.margintop-65 {
  margin-top: 56px; }

.slick-dots {
  bottom: -36px; }

.down-app {
  display: block;
  position: relative;
  font-size: 11px;
  text-align: center; }
  .down-app span {
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    width: 32px;
    height: 30px;
    background: url(images/icon/sprite-v1.png);
    background-position: -416px -312px; }

.mail-send {
  position: relative; }
  .mail-send span {
    width: 30px;
    height: 30px;
    background: url(images/icon/sprite-v1.png);
    background-position: -210px -18px;
    margin-top: 12px;
    float: right; }

/* highlight-news */
.highlight-large {
  background-color: #fff;
  outline: none;
  box-shadow: none;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef; }
  .highlight-large .content-head {
    padding: 10px 15px 0;
    overflow: hidden; }
  .highlight-large img {
    width: 100%; }

.highligh-small .media-body {
  overflow: visible; }
.highligh-small .title-main-3 {
  margin-top: 10px;
  margin-bottom: 10px; }
.highligh-small .media {
  margin-top: 0;
  padding: 0 15px 15px;
  border-bottom: 1px solid #efefef; }
  .highligh-small .media .box-img-highlight {
    width: 150px; }
  .highligh-small .media img {
    width: 100%; }
  .highligh-small .media .media-body .title-main-3 {
    margin-bottom: 5px; }
  .highligh-small .media .description {
    margin-top: -3px; }

/* end highlight-news */
.content-head {
  padding: 10px 15px 15px; }

.life-large {
  background: #fff;
  margin-bottom: 8px; }
  .life-large img {
    width: 100%; }

.life-box {
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px 15px; }

.life-min {
  flex: 0 47%;
  background: #fff; }
  .life-min img {
    width: 100%; }
  .life-min .title-main-4 {
    line-height: 1.3; }
  .life-min .content-head {
    padding: 10px 0 0; }

.life-min:first-child {
  margin-right: 3%;
  padding-right: 0px; }

.life-min:nth-child(2n -1) {
  margin-right: 3%;
  padding-right: 0px; }

.life-min:nth-child(2n) {
  margin-left: 3%;
  padding-left: 0px; }

.life-min:last-child {
  margin-left: 3%;
  padding-right: 0px; }

.entertaiment-large {
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 2px #d3d3d3; }
  .entertaiment-large .box-img-entertaiment {
    width: 130px; }
  .entertaiment-large img {
    width: 100%; }

.block-tv .tv-small {
  box-shadow: 0 2px #d3d3d3;
  background: #fff; }
  .block-tv .tv-small .box-img-tv-show {
    width: 100%; }
  .block-tv .tv-small img {
    width: 100%; }

.fashion-boxs {
  display: flex;
  flex-flow: row wrap; }
  .fashion-boxs .fashion-news-small {
    flex: 0 49%;
    -webkit-box-flex: 0;
    background: #fff;
    box-shadow: 0 2px #d3d3d3;
    margin-bottom: 15px; }
    .fashion-boxs .fashion-news-small img {
      width: 100%; }
    .fashion-boxs .fashion-news-small .content-head {
      background: #fff;
      box-shadow: 0 2px #d3d3d3; }
    .fashion-boxs .fashion-news-small .box-img-fashion {
      width: 100%; }
    .fashion-boxs .fashion-news-small img {
      width: 100%; }
    .fashion-boxs .fashion-news-small .title-main-4 {
      text-align: center;
      padding: 10px; }
      .fashion-boxs .fashion-news-small .title-main-4 a {
        display: block; }
  .fashion-boxs .fashion-news-small:nth-child(odd) {
    padding-left: 0px;
    margin-right: 1%; }
  .fashion-boxs .fashion-news-small:nth-child(even) {
    margin-left: 1%;
    padding-right: 0px; }

.video-news-small {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #efefef;
  padding: 15px 10px;
  margin-top: 0; }
  .video-news-small .box-play-img {
    width: 146px;
    position: relative; }
    .video-news-small .box-play-img img {
      width: 100%; }

.video-news-small:last-child {
  border-bottom: none; }

.main-footer {
  margin-top: 10px;
  border-top: 1px solid #efefef; }
  .main-footer .content-footer {
    padding: 15px;
    background: #fff;
    margin-top: 10px; }
  .main-footer .info-footer {
    font-family: "Noto Serif", serif;
    font-size: 14px;
    color: #222;
    line-height: 1.7; }
  .main-footer ul.connect {
    padding: 0; }
    .main-footer ul.connect li {
      list-style-type: none;
      margin-bottom: 5px; }
    .main-footer ul.connect li:last-child {
      margin-bottom: 0; }
    .main-footer ul.connect span {
      margin-right: 5px;
      font-size: 10px;
      top: 0; }
  .main-footer .title-footer {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif; }
  .main-footer .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
  .main-footer .widget-socialize .icon {
    color: #222;
    width: 48%;
    display: block;
    display: inline-block;
    margin: 0 1.6% 4px 0; }
  .main-footer .widget-socialize .text-footer {
    overflow: hidden; }
    .main-footer .widget-socialize .text-footer p {
      color: #888;
      font-weight: 400; }
    .main-footer .widget-socialize .text-footer p:first-child {
      font-size: 24px;
      margin-bottom: 0; }
    .main-footer .widget-socialize .text-footer p:last-child {
      font-size: 12px; }
  .main-footer .widget-socialize .symbol {
    width: 55px;
    height: 55px;
    display: block;
    float: left;
    margin-right: 8px;
    position: relative; }
    .main-footer .widget-socialize .symbol span {
      width: 30px;
      height: 30px;
      display: block;
      background-repeat: no-repeat !important;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto; }

.share-likedbutton {
  margin-top: 10px;
  clear: both; }
  .share-likedbutton a {
    display: block;
    background-color: #4368d2;
    padding: 6px 10px 10px;
    text-align: center;
    color: #fff;
    font-size: 13px; }
    .share-likedbutton a span.icon-minfb {
      width: 20px;
      height: 20px;
      background-image: url(images/icon/sprite-v1.png);
      background-position: -250px -21px;
      display: inline-block;
      position: relative;
      top: 3px;
      right: 2px; }
  .share-likedbutton a:hover {
    color: #fff;
    background: #3653a8; }

.facebook .symbol {
  background-color: #3b5998; }
.facebook span {
  background: url(images/icon/sprite-v1.png);
  background-position: -33px -18px; }

.google .symbol {
  background-color: #dd4b39; }
.google span {
  background: url(images/icon/sprite-v1.png);
  background-position: -112px -18px; }

.youtube .symbol {
  background-color: #dd4b39; }
.youtube span {
  background: url(images/icon/sprite-v1.png);
  background-position: -180px -62px; }

.envelope .symbol {
  background-color: #767676; }
.envelope span {
  background: url(images/icon/sprite-v1.png);
  background-position: -27px -18px; }

.pinterest .symbol {
  background-color: #bd081c; }
.pinterest span {
  background: url(images/icon/sprite-v1.png);
  background-position: -68px -18px; }

.instagram .symbol {
  background-color: #3f729b; }
.instagram span {
  background: url(images/icon/sprite-v1.png);
  background-position: -161px -18px; }

.twitter span {
  background: url(images/icon/sprite-v1.png);
  background-position: -259px -76px; }

.title-cate-1 {
  margin-top: 0; }
  .title-cate-1 a {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff; }

.title-cate-2 {
  display: inline-block;
  margin-top: 0;
  padding-right: 5px;
  margin-bottom: 5px; }
  .title-cate-2 a {
    font-size: 14px;
    text-transform: uppercase; }

.title-cate-3 {
  margin-top: 10px;
  margin-bottom: 5px; }
  .title-cate-3 a {
    font-weight: 400;
    line-height: 1.3;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; }

.title-cate-4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

.menu-bottom {
  margin-bottom: 0px; }

.title-cate-mb, .box-title-fixed {
  position: relative;
  z-index: 5; }
  .title-cate-mb .btn-sub-of-sub, .box-title-fixed .btn-sub-of-sub {
    top: 9px; }

.page-wrap {
  margin-top: 55px; }

h1.title-cate-1 {
  margin: 0;
  text-align: center;
  padding: 15px 0;
  transition: all .3s ease-in-out;
  margin-left: -15px;
  margin-right: -15px;
  color: #fff; }

ul.cate-top-left-mb {
  padding-left: 0;
  margin-bottom: 5px; }
  ul.cate-top-left-mb li {
    display: inline-block; }
    ul.cate-top-left-mb li a {
      color: #a1a1a1; }
    ul.cate-top-left-mb li a:after {
      content: ">";
      position: relative;
      top: 0;
      right: 0;
      color: #a1a1a1;
      padding-left: 5px; }
  ul.cate-top-left-mb li:last-child a:after {
    content: " "; }

.cate-large-highlight {
  background: #fff;
  border-bottom: 1px solid #efefef; }
  .cate-large-highlight img {
    width: 100%;
    margin-bottom: 10px; }

.box-search-ct {
  padding: 10px 10px 0;
  margin-bottom: 10px; }
  .box-search-ct input {
    box-shadow: none;
    border: 1px solid #efefef;
    height: 40px;
    border-radius: 0;
    width: 100%; }
  .box-search-ct input:focus {
    border-color: #cb0000;
    box-shadow: none; }
  .box-search-ct span {
    background: #cb0000;
    padding: 0 10px; }
  .box-search-ct button {
    height: 25px;
    width: 25px;
    background: url(images/icon/sprite-v1.png);
    background-position: -289px -313px;
    box-shadow: none;
    outline: none;
    border: #cb0000;
    display: block; }
  .box-search-ct .btn-default:focus, .box-search-ct .btn-default:hover {
    background: url(images/icon/sprite-v1.png);
    background-position: -289px -313px;
    border: #cb0000;
    outline: 0;
    box-shadow: none; }

.box-cate-small {
  position: relative;
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #efefef;
  margin-top: 0; }
  .box-cate-small a {
    position: absolute;
    width: 100%;
    height: 100%; }
  .box-cate-small .box-img-cate {
    width: 140px; }
    .box-cate-small .box-img-cate img {
      width: 100%; }

.img-detail-center {
  margin: 15px 0 10px;
  padding-top: 5px;
  text-align: center; }
  .img-detail-center img {
    width: 100%; }

.img-detail-mid {
  margin: 15px 0 10px;
  padding-top: 5px;
  text-align: center; }
  .img-detail-mid img {
    width: 100%; }

.content-video iframe {
  width: 100%;
  height: 250px; }

.defcribe-btm-img {
  text-align: center;
  display: block;
  padding-bottom: 10px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 5px; }

.category-datetime .life {
  padding: 3px 10px;
  background: #cb0000;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block; }
.category-datetime .date {
  color: #999;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 18px;
  position: relative; }
.category-datetime .date:before {
  display: block;
  width: 15px;
  height: 15px;
  background: url(images/icon/sprite-v1.png) -544px -320px no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

ul.paginations {
  text-align: center;
  padding-left: 0;
  margin-top: 10px; }
  ul.paginations li {
    display: inline-block;
    list-style-type: none;
    background: #dcdcdc;
    margin-right: 5px; }
    ul.paginations li span {
      padding: 5px 10px;
      background: #dcdcdc; }
  ul.paginations li.active {
    background: #cb0000; }
    ul.paginations li.active a {
      color: #fff; }
    ul.paginations li.active a:hover {
      color: #fff; }
  ul.paginations li a {
    color: #3a3a3c;
    padding: 5px 10px; }
  ul.paginations li a:hover {
    color: #f8931d; }

.detail-news-center {
  background: #fff;
  padding: 15px;
  clear: both; }
  .detail-news-center img {
    max-width: 100%; }
  .detail-news-center h2, .detail-news-center h3 {
    font-family: "Noto Serif", serif;
    font-size: 18px; }
  .detail-news-center p {
    margin-bottom: 15px;
    line-height: 1.5; }
    .detail-news-center p a {
      display: initial;
      font-size: 16px;
      font-family: "Noto Serif", serif;
      border-bottom: 1px dotted #333;
      color: #337ab7; }
    .detail-news-center p iframe {
      width: 100%; }
  .detail-news-center figure {
    margin: 15px -15px;
    text-align: center; }
    .detail-news-center figure img {
      max-width: 100%; }
    .detail-news-center figure iframe {
      width: 100%; }
  .detail-news-center figcaption {
    text-align: center;
    display: block;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 8px;
    margin: 0 15px; }

/* end cate-mb */
/* detail-mb */
.cate-mb-life {
  clear: both; }
  .cate-mb-life .time-post-news {
    padding-top: 15px; }

.detail-mb-life {
  clear: both; }

p.content-news {
  font-size: 14px;
  font-family: "Noto Serif", serif;
  color: #222;
  line-height: 1.7; }

.sapo {
  font-weight: bold;
  margin-top: 15px;
  font-size: 16px;
  font-family: "Noto Serif", serif;
  line-height: 1.4;
  margin-bottom: 15px; }

.title-det-01 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  line-height: 1.4;
  clear: both;
  margin-bottom: 15px;
  letter-spacing: -1px; }
  .title-det-01 a {
    font-size: 24px;
    font-family: "Noto Serif", serif; }

.cover-photo {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 480px;
  margin: 0 -15px;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .cover-photo .meta-photo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px 10px;
    text-align: center;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
    background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0); }

.white-title {
  font-size: 30px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1px;
  margin: 0 0 10px;
  color: #fff; }

.author-photo {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  font-family: "Noto Serif", serif; }
  .author-photo span {
    margin-right: 5px; }
  .author-photo span:last-child {
    margin-right: 0px; }
  .author-photo .author-name {
    color: #fff;
    font-weight: bold; }

.summary-photo {
  margin: 15px auto;
  width: 85%; }
  .summary-photo p {
    font-family: "Noto Serif", serif;
    font-size: 15px;
    color: #222;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    clear: both;
    width: 100%;
    margin: 0 0 15px; }

.main-article img {
  margin: 10px 0;
  max-width: 100%; }
.main-article p {
  font-family: "Noto Serif", serif;
  font-size: 15px;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
  margin: 15px auto;
  margin-top: 5px;
  width: 85%;
  text-align: left; }
.main-article figcaption {
  font-family: "Noto Serif", serif;
  font-size: 15px;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
  margin: 15px auto;
  margin-top: 5px;
  width: 85%;
  text-align: left; }

.name-ad-speacial {
  text-align: right; }
  .name-ad-speacial span {
    font-weight: 700;
    padding: 20px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 18px; }

.title-det-04 {
  margin-top: -3px; }
  .title-det-04 a {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4; }

.third-detail .media:first-child h3.title-main-3 {
  margin-top: -3px; }
.third-detail .media {
  padding: 0 0 15px;
  margin-left: 15px;
  margin-right: 15px; }

.more-border {
  border-bottom: 1px solid #efefef; }

.sub-title-left h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-bottom: 3px; }
  .sub-title-left h2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0; }
.sub-title-left a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #222;
  transition: all .22s ease-in-out;
  font-weight: 500;
  font-family: "Noto Serif", serif; }
.sub-title-left a:hover {
  color: #e52d30; }
.sub-title-left p {
  margin-bottom: 5px; }

.border-top-sub {
  border-top: 4px solid #222;
  width: 30px; }

p.time-post-news {
  font-size: 13px;
  color: #a1a1a1; }
  p.time-post-news .icon-calendar {
    background: url("images/icon/sprite-v1.png");
    background-position: -407px -27px; }
  p.time-post-news .icon-cmt {
    background: url("images/icon/sprite-v1.png");
    background-position: -380px -27px; }
  p.time-post-news .icon-views {
    background: url("images/icon/sprite-v1.png");
    background-position: -437px -27px; }
  p.time-post-news i {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    display: inline-block;
    position: relative;
    top: 2px; }
  p.time-post-news span {
    margin-right: 15px; }
  p.time-post-news span:last-child {
    margin-right: 0px; }

.border-time-mb {
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px; }

.img-det img {
  width: 100%; }
.img-det span {
  text-align: center;
  display: block;
  padding-bottom: 10px;
  color: #A1A1A1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 5px; }

.name-ad-post {
  text-align: right; }
  .name-ad-post span {
    font-weight: 600;
    padding: 20px 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; }

.tags-involve {
  clear: both;
  padding: 10px 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-bottom: 5px; }
  .tags-involve strong {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 10px; }
  .tags-involve a {
    color: #666;
    font-weight: 100;
    font-size: 13px;
    margin-right: 5px;
    transition: all .2s ease-in-out;
    display: inline-block;
    margin-bottom: 5px; }
  .tags-involve a:after {
    content: ","; }

.icon-social-detail {
  padding: 10px 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef; }
  .icon-social-detail a {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;
    position: relative; }
  .icon-social-detail span {
    width: 15px;
    height: 15px;
    display: block;
    background-repeat: no-repeat !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .icon-social-detail .facebook {
    background: #3C579E; }
    .icon-social-detail .facebook span {
      background-position: -255px -26px; }
  .icon-social-detail .google {
    background: #DE4B39; }
    .icon-social-detail .google span {
      background-position: -278px -26px; }
  .icon-social-detail .envelope {
    background: #767676; }
    .icon-social-detail .envelope span {
      background-position: -351px -27px; }
  .icon-social-detail .pinterest {
    background: #d44b40; }
    .icon-social-detail .pinterest span {
      background-position: -328px -26px; }
  .icon-social-detail .instagram {
    background: #0076B4; }
    .icon-social-detail .instagram span {
      background-position: -303px -26px; }
  .icon-social-detail .youtube {
    background: #cf3427; }
    .icon-social-detail .youtube span {
      background-position: -255px -26px; }
  .icon-social-detail .twitter {
    background: #15b3c9; }
    .icon-social-detail .twitter span {
      background-position: -259px -76px; }

.author-name {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #777;
  margin-right: 10px;
  text-transform: uppercase; }

.box-keyword {
  margin: 15px 0;
  padding: 10px;
  background: #eaeaea; }
  .box-keyword .media-left img {
    max-width: 100px; }
  .box-keyword h3.title-main-3 {
    margin-top: -2px;
    margin-bottom: 5px; }
    .box-keyword h3.title-main-3 a {
      font-size: 15px; }
  .box-keyword p.content-news {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    color: #777;
    line-height: 1.42857143; }

.video-det-mb {
  background: #343434;
  padding: 15px 10px;
  margin-top: 15px; }
  .video-det-mb span.icon-play {
    background-image: url("images/icon/sprite-v1.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 62px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;
    background-size: 50px 60px; }
  .video-det-mb .video-det-large {
    position: relative;
    padding-left: 0; }
    .video-det-mb .video-det-large .title-cate-4 {
      color: #fff;
      padding-top: 5px; }
    .video-det-mb .video-det-large a {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1; }
    .video-det-mb .video-det-large .video-detail-img {
      position: relative; }
      .video-det-mb .video-det-large .video-detail-img img {
        width: 100%; }
    .video-det-mb .video-det-large .video-detail-img {
      position: relative; }
  .video-det-mb .video-det-small {
    position: relative; }
    .video-det-mb .video-det-small a {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .video-det-mb .video-det-small .img-video-det {
      width: 155px;
      position: relative; }
    .video-det-mb .video-det-small img {
      width: 100%; }
    .video-det-mb .video-det-small .title-cate-4 {
      color: #fff; }

.involve-det-mb {
  background: #fff;
  padding: 0 15px 15px; }
  .involve-det-mb .box-sm-invol {
    padding: 10px 0;
    margin-top: 0;
    border-top: 1px solid #efefef;
    position: relative; }
    .involve-det-mb .box-sm-invol a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99; }
    .involve-det-mb .box-sm-invol .box-img-cate {
      width: 130px; }
      .involve-det-mb .box-sm-invol .box-img-cate img {
        width: 100%; }

/* end detail-mb */
/* video */
.video-mb-news {
  clear: both; }

.icon-social-detail iframe {
  height: 21px;
  position: relative;
  top: 5px;
  width: 140px;
  padding-left: 5px;
  border-left: 1px solid #efefef !important; }

span.icon-play-48 {
  background-image: url("images/icon/sprite-v1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 48px;
  height: 48px;
  opacity: 1;
  background-position: -92px -138px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

span.icon-play-32 {
  background-image: url("images/icon/sprite-v1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 1;
  background-position: -38px -171px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

.title-video-hot {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

.title-lg-video {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #40545C;
  margin-bottom: 0;
  margin-top: 0; }
  .title-lg-video a {
    background: #40545C;
    color: #fff;
    padding: 8px 10px 5px;
    font-size: 18px;
    display: inline-block; }

.title-box-video {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  line-height: 1.4;
  font-weight: 400; }
  .title-box-video a {
    font-size: 14px; }

.adjust-margin {
  margin-bottom: 20px; }

.line-double {
  height: 6px;
  border-bottom: 2px solid #dcdcdc;
  border-top: 2px solid #dcdccc;
  z-index: -1;
  margin-top: -24px;
  margin-bottom: 5px; }

.box-top-video {
  background: #fff;
  padding: 0 15px 10px; }
  .box-top-video .fixed-video-top {
    position: relative;
    margin: 0 -15px; }
    .box-top-video .fixed-video-top iframe {
      width: 100%;
      height: 220px; }
    .box-top-video .fixed-video-top div {
      width: 100%;
      overflow: hidden; }
  .box-top-video .title-cate-3 {
    margin-top: 5px; }
  .box-top-video p {
    margin-bottom: 10px; }

.post-comment {
  width: 100%;
  margin-top: 10px; }
  .post-comment .cmtsecont {
    margin-right: 5px;
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif; }
    .post-comment .cmtsecont span {
      font-size: 13px;
      color: #3b5998;
      cursor: pointer; }
    .post-comment .cmtsecont .alt-tab {
      cursor: default;
      margin: 0px 6px; }
    .post-comment .cmtsecont .icon-like {
      background-image: url("images/icon/sprite-v1.png");
      background-repeat: no-repeat;
      width: 18px;
      height: 15px;
      background-position: -314px -75px;
      display: inline-block;
      margin-right: 2px; }
  .post-comment .comment-boxarea {
    margin-left: 60px; }
    .post-comment .comment-boxarea .area-comment textarea {
      width: 100%;
      height: 70px;
      outline: none;
      padding: 6px 9px;
      overflow: hidden;
      display: block;
      resize: none;
      box-sizing: border-box;
      border-bottom: none;
      border: 1px solid #ccc;
      border-bottom: 0px solid transparent; }
    .post-comment .comment-boxarea .buttom-comment {
      padding: 5px 10px;
      border: 1px solid #ccc;
      text-align: right;
      background: #f6f7f8;
      margin-top: -1px; }
      .post-comment .comment-boxarea .buttom-comment .button-submit {
        color: #fff;
        background-color: #cb0000;
        padding: 2px 5px;
        border: 1px solid #cb0000;
        display: inline-block;
        text-align: center;
        font-weight: 600;
        box-shadow: none;
        font-family: Arial, Helvetica, sans-serif;
        outline: none; }
  .post-comment .add-cmt {
    display: none; }
  .post-comment .comment-total {
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px; }
    .post-comment .comment-total h3 {
      display: table-cell;
      width: 1%;
      font-family: Arial, Helvetica, sans-serif; }
  .post-comment .comment-area {
    margin-top: 15px; }
    .post-comment .comment-area .avat-image {
      float: left;
      overflow: hidden; }
      .post-comment .comment-area .avat-image img {
        width: 48px;
        height: 48px; }
  .post-comment .comment-section {
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px; }
    .post-comment .comment-section .avacm-img {
      float: left;
      overflow: hidden;
      margin-top: 4px; }
      .post-comment .comment-section .avacm-img img {
        width: 48px;
        height: 48px; }
    .post-comment .comment-section .comment-boxarea {
      margin-left: 60px; }
      .post-comment .comment-section .comment-boxarea .comment-account {
        color: #3b5998;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif; }
      .post-comment .comment-section .comment-boxarea .comment-contain {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif; }
    .post-comment .comment-section .comment-second {
      margin-left: 60px;
      margin-top: 10px;
      margin-bottom: 15px; }
      .post-comment .comment-section .comment-second .section-second {
        border-bottom: 0px solid transparent; }
    .post-comment .comment-section .loadMore-second {
      margin-left: 60px;
      margin-top: 10px;
      cursor: pointer;
      background: #EEE;
      padding: 5px;
      color: #3b5998;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400; }
      .post-comment .comment-section .loadMore-second span {
        margin-left: 5px; }
  .post-comment .loadMore {
    background: #3b5998;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px;
    text-align: center; }
    .post-comment .loadMore span {
      margin-left: 5px; }

.video-hot {
  margin-top: 20px;
  border-top: 1px solid #efefef;
  padding-top: 10px; }
  .video-hot .media {
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-top: 10px;
    position: relative; }
    .video-hot .media a {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .video-hot .media .box-img-video {
      width: 160px;
      height: 90px;
      overflow: hidden;
      position: relative; }
      .video-hot .media .box-img-video img {
        width: 100%; }
  .video-hot .media:last-child {
    border-bottom: none;
    padding-bottom: 0; }

.box-large-video {
  clear: both;
  padding: 0 15px;
  margin-bottom: 15px; }
  .box-large-video .box-sm-video {
    display: flex;
    flex-flow: row wrap; }
  .box-large-video .box-title-video {
    padding: 5px 0; }
  .box-large-video .item-video {
    position: relative;
    margin-top: 15px;
    flex: 0 47%;
    background: #fff; }
    .box-large-video .item-video a {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0; }
    .box-large-video .item-video .box-img-video {
      position: relative; }
    .box-large-video .item-video img {
      width: 100%; }
  .box-large-video .item-video:nth-child(odd) {
    margin-right: 3%; }
  .box-large-video .item-video:nth-child(even) {
    margin-left: 3%; }

.box-large-video:nth-child(2) {
  margin-top: 15px; }

.box-large-video:last-child {
  margin-bottom: 0; }

.mobile-change {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
  background: #f7f7f7; }
  .mobile-change .link-mobile {
    position: absolute;
    width: 350px;
    height: 210px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .mobile-change .link-mobile .thumb-logo {
      text-align: center;
      margin-bottom: 15px; }
    .mobile-change .link-mobile img {
      width: 300px;
      margin-left: -2px; }
    .mobile-change .link-mobile p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      margin-bottom: 15px; }
    .mobile-change .link-mobile a {
      padding: 10px;
      border: 1px solid #d3d3d3;
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      background-color: #fff; }

.content-block-info {
  background: #ddf2f8;
  padding: 20px; }

#mobile-content {
  position: relative;
  padding-bottom: 20px; }

.third-detail .media:last-child {
  border-bottom: none !important; }

/*strong-weak point*/
.box-assess {
  background: #000;
  position: relative;
  padding: 20px;
  margin-top: 80px; }
  .box-assess .strong-point ul {
    padding-left: 25px; }
    .box-assess .strong-point ul li {
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      list-style-type: none;
      position: relative;
      margin-top: 10px; }
    .box-assess .strong-point ul li:before {
      content: url("images/icon/cong.png");
      width: 16px;
      height: 16px;
      position: absolute;
      left: -25px;
      top: 3px; }
  .box-assess .weak-point ul {
    padding-left: 25px; }
    .box-assess .weak-point ul li {
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      list-style-type: none;
      position: relative;
      margin-top: 10px; }
    .box-assess .weak-point ul li:before {
      content: url("images/icon/tru.png");
      width: 16px;
      height: 16px;
      position: absolute;
      left: -25px;
      top: 3px; }
  .box-assess .gs-score-large {
    width: 100px;
    height: 100px;
    margin: 0 auto; }
  .box-assess .gs-score_inner span {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0; }
  .box-assess .gs-score-large.score-10 .gs-score_clip2,
  .box-assess .gs-score-large.score-9 .gs-score_clip2,
  .box-assess .gs-score-large.score-8 .gs-score_clip2,
  .box-assess .gs-score-large.score-7 .gs-score_clip2,
  .box-assess .gs-score-large.score-6 .gs-score_clip2 {
    clip: rect(0, 100px, 100px, 50px); }
  .box-assess .gs-score-large .gs-score_inner {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 45px; }
  .box-assess .avata-game {
    text-align: center;
    margin-top: -95px; }
    .box-assess .avata-game span {
      font-weight: 700;
      margin-left: 10px;
      font-family: Arial, Helvetica, sans-serif; }
    .box-assess .avata-game img {
      width: 85px; }
  .box-assess strong {
    color: #fff; }
  .box-assess .devision {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif; }
  .box-assess .less {
    color: #ed1f24;
    margin-top: 20px; }

.final-point {
  margin-top: 20px !important; }

.gs-score {
  position: relative;
  border-radius: 100%; }

.gs-score-large {
  width: 50px;
  height: 50px;
  /*box-shadow: #131416 0 0 30px 7.5px inset,#1d1d20 0 0 0 15px;*/ }

.gs-score_spinner {
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  z-index: 1;
  border-right: none;
  overflow: hidden;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }

.gs-score_pie {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #EF4438; }

.gs-score_clip {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.gs-score_filler {
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  left: 50%;
  z-index: 2;
  border-left: none;
  overflow: hidden;
  background-image: -webkit-linear-gradient(#e67300 0%, #EF4438 100%);
  background-image: linear-gradient(#e67300 0%, #EF4438 100%);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

.gs-score-large .gs-score_inner {
  font-size: 25px;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px; }

.gs-score_inner {
  background: #26272b;
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  transition: background 0.25s; }

.gs-score.score-10 .gs-score_spinner {
  background-image: -webkit-linear-gradient(#e60000 0%, #EF4438 100%);
  background-image: linear-gradient(#e60000 0%, #EF4438 100%); }

.gs-score-large.score-10 .gs-score_clip {
  clip: rect(0, 80px, 160px, 0); }

.score-10 .gs-score_spinner {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.score-9 .gs-score_spinner {
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg); }

.score-8 .gs-score_spinner {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg); }

.score-7 .gs-score_spinner {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg); }

.score-6 .gs-score_spinner {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg); }

.score-5 .gs-score_spinner {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.score-4 .gs-score_spinner {
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg); }

.score-3 .gs-score_spinner {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg); }

.score-2 .gs-score_spinner {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg); }

.score-1 .gs-score_spinner {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg); }

.score-10 .gs-score_filler,
.score-9 .gs-score_filler,
.score-8 .gs-score_filler,
.score-7 .gs-score_filler,
.score-6 .gs-score_filler {
  opacity: 1; }

.score-5 .gs-score_filler,
.score-4 .gs-score_filler,
.score-3 .gs-score_filler,
.score-2 .gs-score_filler,
.score-1 .gs-score_filler {
  opacity: 0; }

.gs-score-large.score-10 .gs-score_clip,
.gs-score-large.score-9 .gs-score_clip,
.gs-score-large.score-8 .gs-score_clip,
.gs-score-large.score-7 .gs-score_clip,
.gs-score-large.score-6 .gs-score_clip {
  clip: rect(0, 80px, 160px, 0); }

.gs-score-large.score-10 .gs-score_clip2,
.gs-score-large.score-9 .gs-score_clip2,
.gs-score-large.score-8 .gs-score_clip2,
.gs-score-large.score-7 .gs-score_clip2,
.gs-score-large.score-6 .gs-score_clip2 {
  clip: rect(0, 50px, 50px, 25px); }

.gs-score-large.score-5 .gs-score_clip,
.gs-score-large.score-4 .gs-score_clip,
.gs-score-large.score-3 .gs-score_clip,
.gs-score-large.score-2 .gs-score_clip,
.gs-score-large.score-1 .gs-score_clip {
  clip: rect(0, 50px, 50px, 25px); }

/*Livestream*/
.live-feeds {
  margin-top: 20px; }

.feeds-header {
  margin-bottom: 10px;
  width: 100%;
  background: #f1f1f1;
  list-style-type: none;
  padding: 8px 7px;
  display: block;
  font-size: 14px;
  color: #ed1f24; }

.feeds-header-right {
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-top: 2px;
  cursor: pointer;
  position: relative;
  padding-left: 20px; }

span.live-title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #343434;
  font-weight: bold;
  position: relative;
  padding-left: 36px; }

span.live-title:before {
  content: '';
  background: url("images/icon/livestream.png") center center no-repeat;
  position: absolute;
  top: -3px;
  left: 0;
  background-size: 33px;
  width: 32px;
  height: 18px; }

.feeds-header-right:before {
  content: '';
  background: url("images/icon/ajax-loader.gif") center center no-repeat;
  background-size: 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 0; }

.feeds-tooltip {
  width: 100%;
  background: #f1f1f1;
  list-style-type: none;
  display: block;
  font-size: 14px;
  border-top: 2px solid #ed1f24; }

.feeds-tooltip .feeds-tooltip-left {
  display: inline-block;
  height: 37px;
  width: 100%;
  overflow-y: scroll; }

.feeds-tooltip .feeds-tooltip-left a {
  color: #333;
  display: inline-block;
  padding: 8px 10px;
  border-right: 1px solid #e1e1e1;
  position: relative; }

.feeds-tooltip .feeds-tooltip-left a:hover {
  color: #ed1f24; }

.feeds-tooltip .feeds-tooltip-left a.all {
  padding-left: 25px; }

.feeds-tooltip .feeds-tooltip-left a.highlight {
  padding-left: 25px; }

.feeds-tooltip .feeds-tooltip-left a.album-only {
  padding-left: 30px; }

.feeds-tooltip .feeds-tooltip-left a.clip-only {
  padding-left: 30px; }

.feeds-tooltip .feeds-tooltip-left a.all:before {
  content: '';
  background: url("images/icon/clock.svg") center center no-repeat;
  background-size: 11px;
  width: 15px;
  height: 14px;
  position: absolute;
  top: 11px;
  left: 8px; }

.feeds-tooltip .feeds-tooltip-left a.highlight:before {
  content: '';
  background: url("images/icon/star.svg") center center no-repeat;
  background-size: 12px;
  width: 15px;
  height: 14px;
  position: absolute;
  top: 10px;
  left: 6px; }

.feeds-tooltip .feeds-tooltip-left a.album-only:before {
  content: '';
  background: url("images/icon/picture.svg") center center no-repeat;
  background-size: 14px;
  width: 15px;
  height: 14px;
  position: absolute;
  top: 11px;
  left: 9px; }

.feeds-tooltip .feeds-tooltip-left a.clip-only:before {
  content: '';
  background: url("images/icon/video-camera.svg") center center no-repeat;
  background-size: 14px;
  width: 15px;
  height: 14px;
  position: absolute;
  top: 10px;
  left: 9px; }

.feeds-tooltip .feeds-tooltip-left .active {
  color: #ed1f24;
  background: #fff; }

.feeds-tooltip .feeds-tooltip-right {
  display: inline-block;
  float: right;
  margin-top: 8px; }

.feeds-tooltip .feeds-tooltip-right a {
  color: #333;
  padding: 10px;
  border-left: 1px solid #e1e1e1; }

.feeds-tooltip .feeds-tooltip-right a:hover {
  color: #ed1f24; }

.feeds-tooltip .feeds-tooltip-right .active {
  color: #ed1f24;
  background: #fff; }

.feeds-list {
  padding: 0; }

.feeds-list .block {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block; }

.feeds-list .block:first-child {
  margin-top: 15px; }

.feeds-list .block:not(:first-child) .time {
  margin-top: 34px; }

.feeds-list .block:not(:first-child) .content {
  padding-top: 30px; }

.feeds-list .block:not(:first-child) .content strong:before {
  top: 36px; }

.feeds-list .block.highlight-feed {
  /* border-top-color: #0a68b4; */ }

.feeds-list .block .time {
  width: 17%;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: top;
  display: inline-block;
  position: relative;
  margin-top: 5px; }

.time span {
  background: #777;
  color: #fff;
  padding: 3px 5px 2px;
  position: relative;
  width: 42px;
  display: block;
  top: -3px;
  text-align: center; }

.time span:after {
  content: '';
  position: absolute;
  top: 6px;
  right: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #777; }

.feeds-list .block .content {
  width: 81%;
  display: inline-block;
  position: relative;
  padding-left: 15px;
  border-left: 1px solid #ed1f24; }

.feeds-list .block .content strong {
  margin-bottom: 10px;
  display: block; }

.feeds-list .block .content figure {
  margin: 0;
  margin-bottom: 10px; }

.content strong:before {
  content: '';
  background: url(images/icon/red-dot-hi.png) center center no-repeat;
  background-size: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: -6px; }

.block .highlight {
  color: red; }

.block.highlight-feed {
  /* background-color: #f7f8f9; */ }

.red-card {
  margin-top: 12px;
  background: url("images/icon/redcard.png") center center no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 3px; }

.yellow-card {
  margin-top: 12px;
  background: url("images/icon/yellowcard.png") center center no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 3px; }

.soccer-goal {
  margin-top: 12px;
  background: url("images/icon/goalscore.png") center center no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 3px; }

.time-over {
  margin-top: 12px;
  background: url("images/icon/over.png") center center no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 3px; }

.corner_kick {
  margin-top: 12px;
  background: url("images/icon/corner-kick.png") center center no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 3px; }

.penalty_kick {
  margin-top: 12px;
  background: url("images/icon/panalty.svg") center center no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 3px; }

.change_player {
  margin-top: 12px;
  background: url("images/icon/63271-200.png") center center no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 3px; }

.highlight-feed .time {
  margin-top: 9px; }

.highlight-feed .content {
  background: #f3f3f3;
  padding-top: 5px;
  padding-right: 15px; }

.highlight-feed .content strong:before {
  top: 12px; }

/*News Video icon*/
/*Year-End*/
.year-end {
  margin-top: 55px; }

.yearend-banner {
  width: 100%;
  height: 257px;
  background: url("images/icon/yearmobile.png") top center no-repeat;
  background-size: 435px;
  background-position: -20px 1px; }

.year-end-cateout {
  display: inline-block;
  background: #801002;
  padding: 5px 10px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px; }

.year-end-cateout:hover {
  color: #fff; }

.year-secondthumb img {
  width: 100%; }

.year-titles h3 {
  margin-top: 0;
  margin-bottom: 8px; }
  .year-titles h3 a {
    font-size: 18px;
    line-height: 1.3;
    font-family: "Noto Serif", serif;
    font-weight: bold; }

.year-end-second:first-child {
  margin-top: 20px;
  background: #801002; }
  .year-end-second:first-child .year-end-cateout {
    background: #fff;
    color: #801002; }
  .year-end-second:first-child .year-titles {
    padding: 10px 15px; }
    .year-end-second:first-child .year-titles h3 a {
      color: #fff; }
    .year-end-second:first-child .year-titles p.content-news {
      color: #fff; }

.year-end-second {
  margin-bottom: 20px; }

@media (max-width: 99999px) and (min-width: 760px) {
  .mobile-change {
    display: block; } }
.fix-social-navigation {
  position: fixed;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  transition: .2s ease-in-out; }
  .fix-social-navigation ul {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 5px; }
    .fix-social-navigation ul li {
      display: inline-block;
      vertical-align: top; }

/* @media (max-width: 699px) and (min-width: 500px) {
	.highlight-large {
		border-bottom:none;
		margin-bottom:10px;
	}
	.highligh-small .media-body {
		display: none;
	}
	.highligh-small {
	    display: flex;
    	flex-flow: row wrap;
	}
	.highligh-small .media {
		border-bottom:none;
	    flex: 0 47%;
	    position:relative;
	}
	.highligh-small .media .media-left {
		padding-right:0;
		display: block;
    	margin-bottom: 48px;
	}
	.highligh-small .media:first-child {
        margin-right: 3%;
    	padding-right: 0px;
	}
	.highligh-small .media:nth-child(2n) {
	    margin-left: 3%;
    	padding-left: 0px;
	}
	.highligh-small .media:last-child {
		display: none;
	}
	.highligh-small .media .box-img-highlight {
		width:100%;
		height: auto;
	}
	.highligh-small .title-main-3 {
		position:absolute;
		width:100%;
		bottom:0;
		padding-right:15px;
	    margin: 0;
    	height: 55px;
		a {
			font-size:14px;
			font-weight: 400;
		}
	}
} */
@media screen and (max-width: 320px) {
  .icon-social-detail a {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    padding: 2px;
    margin-right: 4px; }

  .icon-social-detail iframe {
    top: 3px;
    width: 130px; } }
/* end video */
/*Recruitment headquarter*/
.recruit-banner {
  text-align: center;
  margin-top: 60px; }

.recruit-logo {
  position: relative;
  text-align: center; }
  .recruit-logo span {
    position: relative;
    top: 14px;
    width: 150px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background: #767676;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif; }

.recruit-quote {
  width: 100%;
  padding: 45px 100px 30px;
  margin: 0 auto;
  background: #27a597; }
  .recruit-quote p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
    position: relative; }
  .recruit-quote p:before {
    content: '';
    background-image: url("images/icon/quoteicon.png");
    background-size: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    left: -15px; }
  .recruit-quote p:after {
    content: '';
    background-image: url("images/icon/quoteicon.png");
    background-size: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0;
    right: -14px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

.recruit-cate img {
  max-width: 100%; }

.recruit-option {
  margin-top: 20px;
  text-align: center;
  border: 1px solid #dcdcdc;
  padding: 15px 10px 25px;
  position: relative;
  cursor: pointer;
  top: 0;
  transition: all 0.3s ease-in-out; }
  .recruit-option p {
    background: #767676;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    padding: 5px;
    width: 222px;
    position: absolute;
    bottom: -15px;
    left: 13px; }
  .recruit-option span.red-dots {
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ed1f24;
    box-shadow: 2px 2px #a1a1a1; }

.recruit-option:hover {
  top: -3px;
  box-shadow: 3px 3px #dcdcdc; }

.first-job {
  margin-top: 25px;
  background: #e74c3c; }

.second-job {
  background: #bd6315; }

.third-job {
  background: #e853a5; }

.fourth-job {
  background: #0666a7; }

.recruitment-section {
  padding: 40px 0; }

.recruit-require h3 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-transform: capitalize;
  margin: 0; }
.recruit-require h4 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block; }
.recruit-require h4:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 0; }
.recruit-require p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding-left: 20px;
  margin: 15px 0;
  position: relative; }
.recruit-require p:before {
  content: '';
  background: url("images/icon/checkmate.png") top center no-repeat;
  background-size: 13px 13px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 5px;
  left: 0; }
.recruit-require p.peoples:before {
  background: url("images/icon/plus.png") top center no-repeat;
  background-size: 16px 16px; }

.recruit-images img {
  max-width: 100%; }

.collaborators {
  margin-top: 70px; }

.recuit-menu {
  text-align: center;
  padding: 0; }
  .recuit-menu li {
    display: inline-block; }
    .recuit-menu li a {
      color: #fff;
      padding: 10px 15px;
      font-weight: 400;
      outline: 0;
      box-shadow: none;
      display: block; }
  .recuit-menu li.active a.block-1 {
    background: #e74c3c; }
  .recuit-menu li.active a.block-2 {
    background: #bd6315; }
  .recuit-menu li.active a.block-3 {
    background: #e853a5; }
  .recuit-menu li.active a.block-4 {
    background: #0666a7; }
  .recuit-menu li.active a.block-5 {
    background: #e74c3c; }

.recruit-header {
  background: #343434;
  height: 43px;
  color: #fff;
  border-top: 3px solid #ed1f24; }

.recruit-footer {
  background-image: url("images/icon/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 40px 0;
  position: relative; }
  .recruit-footer .blank-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; }

.recruit-send {
  z-index: 10;
  position: relative; }
  .recruit-send p {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 55px; }
  .recruit-send p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px; }
  .recruit-send .email-address {
    margin: 0; }
  .recruit-send .email-address:before {
    background: url("images/icon/red-send.png") center center no-repeat; }
  .recruit-send .require-title {
    margin: 20px 0 0; }
  .recruit-send .require-title:before {
    background: url("images/icon/wrting.png") center center no-repeat; }
  .recruit-send .phone-call {
    margin: 20px 0 0; }
  .recruit-send .phone-call:before {
    background: url("images/icon/phonecall.png") center center no-repeat; }
  .recruit-send .homepage {
    margin: 20px 0 0; }
  .recruit-send .homepage:before {
    background: url("images/icon/linklive.png") center center no-repeat; }

.min-cate {
  position: relative;
  padding: 3px 5px;
  background: #ed1f24;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 7px; }

@media screen and (max-width: 420px) {
  .highligh-small .media .box-img-highlight {
    width: 180px; }

  .video-news-small .box-play-img {
    width: 180px; } }

/*# sourceMappingURL=appmobile.css.map */
