doctype html
html(lang="vi")
	include ./head.jade
	body
		include ./header.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								//- .qc-top
								//- 	img(src="images/icon/qc728.jpg" alt="qctop")
								.news-baner
									.box-news.media
										.media-left
											a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
												img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
										.media-body
											h3.title-top
												a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng	
									.box-news.media
										.media-left
											a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
												img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
										.media-body
											h3.title-top
												a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng	
									.box-news.media
										.media-left
											a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
												img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
										.media-body
											h3.title-top
												a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng			
						.view-more-event.change-scroll
							a.hidden-home(href="#") Trang chủ
							h1 
								a(href="#") Đời sống
							ul.menu-cate
								each val in ['Nhịp Sống', 'Nhân Vật','Giới Trẻ','Xem - Ăn - Chơi','Sức Khỏe', 'Khám Phá','Góc Nhìn']
									li
										a(href="category-life.hmtl")= val
						ul.menu-mini
							li
								h4 Nhịp sống
							li.active
								a(href="#") Chuyện thường
							li
								a(href="#") Góc nhìn
							li
								a(href="#") Phản ánh 
		section.cate-main-life
			.container
				.row
					.col-xs-12.content-cate-life
						.row
							.col-xs-6.col-sm-7.col-md-6.col-lg-6.cate-main-left
								.box-cate-large-life
									a.big-cate(href="detail-life.html" title="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể")
										img(src="images/sexy.jpg", alt="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể")
									h2.title-main-1
										a(href="detail-life.html" title="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể") Kỷ niệm tuổi 18 với bộ hình bikini, Hải Tú khiến ai cũng ngẩn ngơ vì quá sexy!
									p.content-news Mới đây, cô nàng Hải Tú đã đăng tải bộ ảnh có tên 18 Roses lên trang cá nhân và ngay lập tức khiến mọi người chú ý. Vẫn gương mặt xinh đẹp và thần thái hút hồn đó, nhưng lần này Hải Tú có vẻ đã táo bạo hơn...
								.row
									.col-xs-6
										.cate-second
											.second-img
												a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/she1.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
											h3.title-main-3
												a(href="detail.html")  Cô gái nổi tiếng vì hát trên xe bus: Ngoài đời xinh đẹp và còn hát hay hơn!
									.col-xs-6
										.cate-second
											.second-img
												a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/she2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
											h3.title-main-3
												a(href="detail.html")  Tự viết trình duyệt web rồi bị đánh sập, cậu học sinh Kontum 15 tuổi này nói: "Cứ để em tự đứng lên"
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
											img(src="images/nn1.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
										p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau với tốc độ chóng mặt.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
											img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn
										p.content-news Chị em cứ phải hóng đâu cho xa xôi, ở ngay Việt Nam mình vẫn có vô số trai đẹp để ngắm nghía và yêu thương thế này cơ mà!
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
											img(src="images/nn3.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") 9 điều nhất định phải nhớ nếu muốn cuộc đời mình tích cực và sáng sủa hơn
										p.content-news Cuộc sống không phải là một cuộc chạy đua, mà là một hành trình để bạn tận hưởng từng bước một. Trong quá trình ấy, bạn cần học hỏi không ngừng nghỉ để có thể trở nên tốt đẹp hơn và làm thay đổi cả cuộc đời mình nữa.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi")
											img(src="images/nn4.jpg", alt="Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Chuột Thổ Cẩm - Mad Kingkong vừa "tay trong tay" cùng nhau sang Ý du học
										p.content-news Theo những chia sẻ trên trang cá nhân thì cặp đôi Chuột Thổ Cẩm - Mad Kingkong đã vừa lên đường sang Ý du học cùng nhau.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Đường thẳng không phải là con đường... nhanh nhất!")
											img(src="images/nn5.jpg", alt="Đường thẳng không phải là con đường... nhanh nhất!")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Đây là cô nàng Hàn Quốc hát tiếng Việt được khen hay hơn cả Hari Won!
										p.content-news Với loạt clip cover các bài hát nổi tiếng của giới trẻ Việt, cô nàng xinh xắn đến từ Hàn Quốc có tên Shin Jin Ju này đang được khá nhiều người chú ý.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Tai bạn có dấu hiệu này thì hãy thật cẩn thận")
											img(src="images/nn6.jpg", alt="Tai bạn có dấu hiệu này thì hãy thật cẩn thận")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Chàng trai Việt "sống ảo" nhất năm: Ghép mặt vào ảnh Ronaldo, tự nhận mình là chủ nhân phi cơ riêng 19 triệu Euro
										p.content-news Đúng là thời thế nay đã khác xưa, chỉ bằng đôi ba thao tác chỉnh sửa ảnh, chúng ta đã dễ dàng tậu được cho mình một con chuyên cơ giá gần... 500 tỷ đồng.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới")
											img(src="images/nn7.jpg", alt="Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Là tín đồ xê dịch, phải "nằm lòng" những cuốn sách này
										p.content-news Mỗi tựa sách là những dòng ký sự tràn đầy nhiệt huyết của những con người đam mê xê dịch và dấn thân ở xứ người.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả")
											img(src="images/nn8.jpg", alt="Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Con gái hiện đại: Tự tin, độc lập, biết chơi và biết tận hưởng!
										p.content-news Các cô gái của chúng ta luôn biết bản thân mình ở nơi đâu, luôn tự tin và biết cách tận hưởng cuộc sống theo cách của riêng mình.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Cận cảnh chiếc Boeing khiến siêu phi cơ của tỷ phú Donald Trump phải ghen tị")
											img(src="images/nn9.jpg", alt="Cận cảnh chiếc Boeing khiến siêu phi cơ của tỷ phú Donald Trump phải ghen tị")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Bi hài chuyện yêu phải chàng keo kiệt: Ra mắt đi tay không, thuê váy cưới cô dâu tự trả tiền vì... "anh không mặc"
										p.content-news Câu chuyện này hiện đang được cư dân mạng chia sẻ rầm rộ. Tóm lại là "con gái thực dụng hay con trai keo kiệt" đây?
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
											img(src="images/nn10.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Thủ khoa đầu ra tuyệt đối của Học viện Ngân hàng: 40 môn học, môn nào cũng điểm A
										p.content-news Với số điểm tuyệt đối 4.0/4.0, Trung Hiếu đã trở thành thủ khoa đầu ra của Học viện Ngân hàng 2016 và vừa được Tp.Hà Nội tuyên dương.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
											img(src="images/nn11.png", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") 3 cái tên chuỗi cafe/ăn uống từng siêu hot một thời của giới trẻ, nay đi đâu về đâu?
										p.content-news Đây đều là những chuỗi cafe từng làm mưa làm gió một thời, nhưng nay, quán thì thưa thớt người qua, quán thì phải đóng cửa hẳn.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
											img(src="images/nn12.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Ai bảo con trai thì không được để tóc dài? Vẫn quyến rũ và nam tính thế này mà!
										p.content-news Những chàng trai này chứng minh dù để tóc dài, từ họ vẫn toát ra vẻ nam tính khó cưỡng, khiến các cô gái phải chao đảo.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi")
											img(src="images/nn13.jpg", alt="Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Đây chính là các nhóm thí sinh xuất sắc nhất sẽ đi trải nghiệm Vòng 3 Here We Go!
										p.content-news Điều bất ngờ đó là sẽ có 11 đội chơi, 10 đội như thể lệ ban đầu cùng tham gia trải nghiệm siêu tuyệt vời với Here We Go trong tháng 9 này.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Đường thẳng không phải là con đường... nhanh nhất!")
											img(src="images/nn14.jpg", alt="Đường thẳng không phải là con đường... nhanh nhất!")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Chàng trai dùng 999 trái bưởi xếp thành trái tim tỏ tình với đàn chị khóa trên và cái kết buồn
										p.content-news Chuẩn bị một màn tỏ tình công phu, hoành tráng với "trợ thủ" đặc biệt là những trái bưởi nhưng cuối cùng cái kết câu chuyện lại không được hoàn hảo như mong đợi...
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Tai bạn có dấu hiệu này thì hãy thật cẩn thận")
											img(src="images/nn15.png", alt="Tai bạn có dấu hiệu này thì hãy thật cẩn thận")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") The Coffee Inn (Phan Chu Trinh) - Quán cafe hot nhất một thời ở Hà Nội đã đóng cửa
										p.content-news 1/9 vừa rồi, cửa hàng The Coffee Inn ở Phan Chu Trinh - một trong những quán cafe hot rầm rộ, tạo nên trào lưu cafe đá xay tại Hà Nội vào những năm 2013 đã chính thức đóng cửa.
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới")
											img(src="images/nn16.png", alt="Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Điều gì đã khiến cô nàng hot girl Thái Lan này có tới hơn 2 triệu người theo dõi trên MXH?
										p.content-news Hơn 1,1 triệu người theo dõi trên Instagram cùng 1,3 triệu người "follow" Facebook cá nhân, cô nàng đến từ xứ sở Chùa Vàng này có điều gì hấp dẫn đến vậy?
								.box-cate-small-life.media
									.media-left
										a(href="detail-life.html" title="Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả")
											img(src="images/nn17.jpg", alt="Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Muốn nhiều like, bạn phải chụp ảnh theo 4 trào lưu này
										p.content-news Thật phát hờn nếu đăng ảnh mà chỉ nhận được vài like của mấy đứa bạn thân. Đã thế thì, hãy tạo ra những tấm ảnh thật chất, thật nổi theo 1 trong 4 trào lưu đang khiến dân tình...
								ul.paginations
									li.active
										a(href="#") 1
									li
										a(href="#") 2
									li
										a(href="#") 3
									li
										a(href="#") ...
									li
										a(href="#") 99
							.col-xs-2.hidden-sm.col-md-2.col-lg-2
								.cate-highlight-news
									.sub-title-left
										.border-top-sub
										h2.sidebar-right Tin nổi bật
									.highlight-center
										.highlight-thumb
											a(href='detail-life.html')
												img(src="images/side1.jpg" alt="")
										h3.title-cate-5
											a(href='detail-life.html') Đây chính là 3 anh chàng điển trai và đầy tài năng của Monstar - nhóm nhạc mới siêu "chất" của nhà St.319!
									.highlight-center
										.highlight-thumb
											a(href='detail-life.html')
												img(src="images/side2.jpg" alt="")
										h3.title-cate-5
											a(href='detail-life.html') 17 tuổi, nữ sinh tài năng này đã sáng lập hội thảo Mô phỏng Liên Hợp Quốc cho các bạn trẻ Việt Nam
									.highlight-center
										.highlight-thumb
											a(href='detail-life.html')
												img(src="images/side3.png" alt="")
										h3.title-cate-5
											a(href='detail-life.html') 5 thầy giáo Tây siêu điển trai sẽ khiến bạn ngày nào cũng chỉ muốn tới trường
									.highlight-center
										.highlight-thumb
											a(href='detail-life.html')
												img(src="images/side4.jpg" alt="")
										h3.title-cate-5
											a(href='detail-life.html') Á hậu Huyền My: Tôi đã lấy hết can đảm cho lần đầu tiên
									.highlight-center
										.highlight-thumb
											a(href='detail-life.html')
												img(src="images/side5.jpg" alt="")
										h3.title-cate-5
											a(href='detail-life.html') Đóng 2/5 cửa hàng, cô chủ Koh Samui chia sẻ: "Các cửa hàng không hợp lí thì đóng để cho bước tiến dài hơi hơn"	
									.highlight-center
										.highlight-thumb
											a(href='detail-life.html')
												img(src="images/side6.jpg" alt="")
										h3.title-cate-5
											a(href='detail-life.html') Vừa học nấu ăn, vừa học yêu thương ở "Rau má" - Dự án hay ho dành cho teen Hà Nội
								.qc-minside.cate-fixtop
									img(src="images/icon/qc160.png" alt="qc160")
							.col-xs-4.col-sm-5.col-md-4.col-lg-4.cate-main-right
									include ./life-sidebar.jade
					.padding
		include ./footer.jade
		include ./script.jade
		script(type='text/javascript').
			  var summaries = $('.fixed');
			  summaries.each(function(i) {
			  var summary = $(summaries[i]);
			  var next = summaries[i + 1];
			  summary.scrollToFixed({
			  limit: function() {
			  var limit = 0;
			  if (next) {
			  limit = $(next).offset().top - $(this).outerHeight(true) - 10;
			  } else {
			  limit = $('.change-scroll').offset().top - $(this).outerHeight(true) - 10;
			  }
			  return limit;
			  },
			  zIndex: 999
			  });
			  });
			  var summaries = $('.change-scroll');
			  summaries.each(function(i) {
			  var summary = $(summaries[i]);
			  var next = summaries[i + 1];
			  summary.scrollToFixed({
			  marginTop: - 15,
			  limit: function() {
			  var limit = 0;
			  if (next) {
			  limit = $(next).offset().top - $(this).outerHeight(true) - 10;
			  } else {
			  limit = $('.main-footer').offset().top - $(this).outerHeight(true) - 10;
			  }
			  return limit;
			  },
			  zIndex: 999
			  });
			  });