doctype html
html
  include ./head.jade 
  body
    include ./header-game.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-game.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event
              h1 Game
              ul.menu-cate
                each val in ['Game Online', 'Game Offline','eSports','Cosplay']
                  li
                    a(href="category-life.html")= val
    section.cate-main-life
      .container
        .row
          .col-sm-8
            .baner-cate-game(style="background: url(http://beta.cdn.kul.vn/uploads/data/article/2016/10/13/84057e3f615caab670c6024e80542cbe_640x360.jpg) top center no-repeat; background-size: 100% auto")
              a.link-game.img-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              //- img(src="images/cate-game-02.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
              .box-glass
                h3 Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017
                span.time-up 6:00 20/10/2016
            .cate-online
              .big-online
                a.link-game.img-game(href="#" title="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                img(src="images/cate-game-03.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-glass
                  h3 Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo
                  span.time-up 6:00 20/10/2016
              .big-online
                a.link-game.img-game(href="#" title="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                img(src="images/cate-game-04.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-glass
                  h3 Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo
                  span.time-up 6:00 20/10/2016
            .block-esports
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-05.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Thêm cơ hội tốt cho game thủ Việt chiến Bless - Game online bom tấn từ Hàn Quốc
                  p.content-news Game online bom tấn đến từ Hàn Quốc là Bless đã ấn định sẽ mở cửa closed beta tại thị trường Nga vào ngày 25/10 tới đây. Theo thông tin mới nhận, game online bom tấn đến từ Hàn Quốc là Bless...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-06.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Chỉ mất 10 bát phở để được chơi game online hay tuyệt đỉnh Rainbow Six Siege
                  p.content-news Rainbow Six Siege đưa người chơi trở lại với phong cách bắn súng chiến thuật cực khó mà những phiên bản Rainbow Six đầu tiên đem lại: "1 shot 1 kill" đúng theo nghĩa đen Kể từ khi ra mắt, Rainbow Six: Siege...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-07.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Game đỉnh Mirage: Arcane Warfare đã mở cửa thử nghiệm lần đầu tại Việt Nam
                  p.content-news Game online pháp thuật góc nhìn thứ nhất siêu độc đáo Mirage (tên đầy đủ là Mirage: Arcane Warfare) đã chính thức bước vào giai đoạn alpha test đầu tiên. Như vậy là tựa game online pháp thuật góc nhìn thứ nhất siêu độc đáo Mirage...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-08.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") MU Legend chính thức cho đăng ký Closed Beta bản tiếng Anh, mở cửa tháng 10/2016
                  p.content-news Hiện tại, người chơi có thể truy cập vào trang teaser này để đăng ký tham gia phiên bản Closed Beta của tựa game này, dự kiến sẽ được mở cửa trong tháng 10/2016 sắp tới.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-24.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Theo dõi đoạn trailer giới thiệu lối chơi Echo of Souls phiên bản điện thoại tuyệt đẹp
                  p.content-news Mới đây hãng phát hành Kakao games vừa qua đã ra mắt giới thiệu đoạn gameplay mới của tựa game Echo of Souls phiên bản điện thoại. Được ra mắt trên hệ máy PC, Echo of Souls là tựa game nhập vai với phong cách đồ họa anime/manga độc đáo.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-09.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Những game online sau đây sẽ đưa game thủ trải nghiệm chiến trường rực lửa
                  p.content-news Như vậy là game online bắn súng đề tài thế chiến thứ 2 Heroes & Generals đã chính thức mở cửa miễn phí thông qua hệ thống Steam sau một thời gian dài vận hành dưới dạng early access
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-10.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Hotsteps tung trailer cực đẹp, sẵn sàng ra mắt lần đầu tiên tại Việt Nam chi game thủ
                  p.content-news Theo tìm hiểu của chúng tôi, mọi khâu chuẩn bị của Hotsteps đã sẵn sàng, đồng nghĩa với việc chỉ ít ngày nữa các game thủ Việt sẽ được tự tay trải nghiệm sản phẩm game nhảy mobile 3D này.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-11.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Lộ diện tựa game MMOFPS Xuất Kích của hãng VTC Game lần đầu tiên xuất hiện ở Việt Nam
                  p.content-news Với thị trường đang rất vắng bóng những tựa game MMOFPS, mới đây VTC Game đã chính thức ra mắt tựa game Xuất Kích về thị trường Việt Nam. Trong những năm gần đây, thị trường MMOFPS Việt...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-12.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") VNG bất ngờ "hốt trọn ổ" Kiếm Thế Mobile và Võ Lâm Truyền Kỳ Web cực bắt mắt
                  p.content-news Sau thành công của Võ Lâm Truyền Kỳ Mobile, NPH VNG sẽ tiếp tục mang về hai sản phẩm "bom tấn" nữa là Kiếm Thế Mobile và Võ Lâm Truyền Kỳ Web. VNG là một trong những NPH game lâu đời và thành công nhất tại Việt Nam...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-13.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Vĩnh Hằng Ma Pháp - Game client 3D mới cứng với nền đồ họa bắt mắt dành cho game thủ
                  p.content-news Hiện nay, Vĩnh Hằng Ma Pháp mới chỉ được chính thức công bố và chưa hề tiến hành thử nghiệm ở thị trường Trung Quốc. Vĩnh Hằng Ma Pháp là một game online 3D thuộc thể loại MMORPG ...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-14.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Siêu phẩm MU Legend của Webzen hé lộ ngày ra mắt thử nghiệm toàn cầu đã đến Việt Nam
                  p.content-news Sau thành công đầy mong đợi của MU Origins, giờ đây Webzen tiếp tục đánh chiếm thị trường game máy tính với siêu phẩm nhập vai sắp ra mắt MU Legend. Trong những tháng vưa qua, MU Origins đã gặt hái rất nhiều thành công trên thị trường quốc tế...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-15.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Ngược đời chuyện Lệnh Hồ Xung có mặt trước phái Hoa Sơn trong game như thế nào?
                  p.content-news Là fan kiếm hiệp, chắc hẳn ai cũng biết Lệnh Hồ Xung vốn là đệ tử phái Hoa Sơn, nhưng với Cửu Âm Chân Kinh 2, Lệnh Hồ Xung lại xuất hiện trước cả Hoa Sơn kiếm phái, vậy câu chuyện ngược đời này nguyên nhân do đâu?
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-16.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam dành cho game thủ
                  p.content-news Vừa mới đây, hãng game Đan Mạch Reto-Moto đã chính thức công bố tin phát hành tựa MMOFPS đề tài Thế Chiến Thứ Hai Heroes & Generals trên kênh giao dịch Steam. 
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-17.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Peria Chronicles phải phát triển lại từ đầu vì phát sinh quá nhiều lỗi lớn không xử lý kịp
                  p.content-news Sau khi thông báo tin phải phát triển lại từ đầu, tựa MMORPG vừa cập nhật thêm những hình ảnh artwork mới cho thấy tiến độ của game khá nhanh. Sau lần họp báo tại hội chợ G-Star 2014, tựa MMORPG Peria Chronicles đã im hơi lặng tiếng...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-18.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Ngất ngây với dàn mỹ nữ cự xinh trong Liên Minh Huyền Thoại mà bạn không thể bỏ lỡ
                  p.content-news Sự kiện mừng sinh nhật "Giải cứu Summoner's Rift" đang trở thành "trò hề" của nhà phát hành Liên Minh Huyền Thoại Việt Nam khi chỉ còn hơn 1 ngày nữa là kết thúc nhưng toàn bộ người chơi vẫn chưa thể vượt qua được mốc thưởng đầu tiên.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-19.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Toàn cảnh hai môn phái Thiếu Lâm và Thúy Yên trong Võ Lâm Truyền Kỳ Mobile
                  p.content-news Được biết Võ Lâm Truyền Kỳ Mobile sẽ được NPH VNG ra mắt nội torng tháng 9 này, tuy nhiên các game thủ sẽ phải chờ đợi một khoảng thời gian nữa mới được trải nghiệm hai môn phái là Thiếu Lâm và Thúy Yên.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-20.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Bất chấp bị phản đối, VTC Mobile vẫn sử dụng hình ảnh Lâm Tâm Như đề quảng cáo game bạo lực
                  p.content-news Dù đã đổi tên nhân vật Lâm Tâm Như trong game thành Tiểu Long Nữ, nhưng dường như đây chỉ là động thái đối phó của NPH VTC Mobile, khi vẫn sử dụng hình ảnh của minh tinh này để quảng cáo cho Kiếm Khách 3D.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-21.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Thị phần MMO & MOBA miễn phí năm 2016 thu về 17.1 tỷ USD - gấp 6 lần MMO trả phí!
                  p.content-news Từ trước đến nay, giới game MMO vẫn luôn tranh cãi về việc giữa giao thức kinh doanh MMO thu phí (Âu - Mỹ) và MMO miễn phí (Châu Á) cái nào thu lợi nhiều hơn. Nay câu trả lời đã sáng tỏ nhờ bảng báo cáo thị trường MMO 2016 từ SuperData.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-22.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Top những nam xạ thủ nổi tiếng của cộng đồng game Đột Kích cự hấp dẫn mà bạn muốn biết
                  p.content-news Như vậy là game online bắn súng đề tài thế chiến thứ 2 Heroes & Generals đã chính thức mở cửa miễn phí thông qua hệ thống Steam sau một thời gian dài vận hành dưới dạng early access
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/cate-game-23.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Cho ra mắt game thủ Việt Nam phiên bản nâng cấp Sword Art Online cực hấp dẫn
                  p.content-news Mới đây hãng Bandai Namco cũng đã bất ngờ giới thiệu về phiên bản dành riêng cho di động của trò chơi mang tên Sword Art Online: Memory Defrag. Như chúng ta đã biết, Sword Art Online là bộ manga được rất nhiều game thủ Việt yêu thích...
              ul.paginations
                  li.active
                    a(href="#") 1
                  li
                    a(href="#") 2
                  li
                    a(href="#") 3
                  li
                    a(href="#") ...
                  li
                    a(href="#") 99
          .col-sm-4
            .qc-sidebar
              img(src="images/icon/qc3002.jpg" alt="qc300")
            .hot-game
              .name-tech
                h2.name Tin Hot
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-22.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-23.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Game khủng MU Legend chuẩn bị mở cửa bản quốc tế, tiếp tục 'show hàng'
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-24.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Cùng soi loạt ảnh Việt hóa mới của game online vũ đạo Hotsteps
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-25.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Thiết Giáp Hùng Binh - Game 3D chiến trường đồ họa khủng, hỗ trợ cả VR
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-26.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Tổng hợp loạt ảnh cosplay cực đẹp và chất ngày cuối tuần
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-27.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Đây là những game online nhập vai không thể lờ đi trong tháng 10
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-28.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Chán game online Việt Nam, thi hãy đăng ký chơi ngay những game miễn phí này
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-29.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Ngỡ ngàng với cô gái cosplay Hanzo trong Overwatch vừa gợi cảm vừa cực ngầu
                  span.time-up 6:00 20/10/2016
            //- .qc-sidebarlong.margin-qc.qc-sidebarlong.scroll-fixed-game
            //-   span Ads 300 x600 
    include ./footer.jade
    include ./script.jade