doctype html
html
  include ./head.jade 
  body
    link(rel='stylesheet', href='css/slick.css')
    link(rel='stylesheet', href='css/slick-theme.css')
    include ./header-beauty.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-beauty.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event
              h1 Phái đẹp
              ul.menu-cate
                each val in ['Làm Đẹp', 'Mẹ & Bé', 'Vào bếp', 'Khéo tay','Sống & Yêu', 'Video', 'Cộng Đồng']
                  li
                    a(href="category-life.html")= val
    section.main-cate-beauty
      .container
        .row
          .col-sm-12.col-md-9
            .block-slider-beauty
              .slider-for-beauty
                .item
                  a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slide-cate-beauty-01.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .glass-slide-beauty
                    h3 Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình
                .item
                  a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slide-cate-beauty-02.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .glass-slide-beauty
                    h3 Làm bình hoa hướng dương từ vải nỉ cực xinh
                .item
                  a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slide-cate-beauty-03.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .glass-slide-beauty
                    h3 Tự làm đồ chơi handmade cho bé
                .item
                  a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slide-cate-beauty-04.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .glass-slide-beauty
                    h3 Sản phẩm lung linh không ngờ từ chai nhựa
                .item
                  a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slide-cate-beauty-05.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .glass-slide-beauty
                    h3 Làm hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình
              .slider-nav-beauty
                .item.inactive
                  //- a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slider-nav-beauty-01.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  //- .glass-slide-beauty
                    h3 Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn
                .item.inactive
                  //- a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slider-nav-beauty-02.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  //- .glass-slide-beauty
                    h3 Làm bình hoa hướng dương từ vải nỉ cực xinh
                .item.inactive
                  //- a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slider-nav-beauty-03.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  //- .glass-slide-beauty
                    h3 Tự làm đồ chơi handmade cho bé
                .item.inactive
                  //- a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slider-nav-beauty-04.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  //- .glass-slide-beauty
                    h3 Sản phẩm lung linh không ngờ từ chai nhựa
                .item.inactive
                  //- a(href="#" title="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  .img-slide-beauty
                    img(src="images/slider-nav-beauty-05.jpg", alt="Hướng dẫn làm 5 mẫu bó hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình")
                  //- .glass-slide-beauty
                    h3 Làm hoa đẹp lãng mạn và ý nghĩa dành cho bạn gái chúng mình
            .block-handy-cate
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Mẹ & bé
                .line-cate
              .cate-big-beauty
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-01.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") 5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết
                  p.content-news Nguyên liệu đăng-ten ren giờ có rất nhiều kiểu đẹp tiện cho bạn lựa chọn...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-02.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cách đan khăn len ô caro cách điệu dành cho bạn gái chúng mình
                  p.content-news Khăn len có rất nhiều mẫu đã dạng và phong phú, Quả thật là như vậy chỉ cần ...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-03.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cách làm cây tài lộc bằng tiền thật đón Tết may mắn
                  p.content-news Cây tài lộc được làm từ tiền thật được nhiều gia đình lựa chọn làm quà Tết.
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-04.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cách làm dây đèn trang trí nhà xinh từ ly giấy lạ mắt
                  p.content-news Chỉ với vài bước vô cùng đơn giản bạn đã có dây đèn ấm cúng lại lung linh.
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-05.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Hướng dẫn cách làm đế lót ly bằng dây thừng đơn giản
                  p.content-news Những chiếc đế lót ly handmade được làm bằng dây thừng đơn giản...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-06.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cách tết tóc búi lệch đẹp đơn giản sang trọng dự tiệc
                  p.content-news Cách tết tóc búi lệch đẹp đơn giản dễ làm tại nhà cho nàng vẻ ngoài sang trọng dự tiệc... thu hút mọi ánh nhìn
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-07.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cách trang điểm đơn giản nhất mà không phải ai cũng biết
                  p.content-news Chỉ cần một vài biến tấu nho nhỏ, mọi thứ đều có thể trở nên độc đáo và ấn tượng... hơn.
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-08.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cách trang trí lọ thủy tinh bằng sỏi màu và keo sữa
                  p.content-news Nguyên liệu đăng-ten ren giờ có rất nhiều kiểu đẹp tiện cho bạn lựa chọn...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-09.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cách làm đèn ngủ độc đáo từ vỏ chai đẹp, la mắt
                  p.content-news Với những chai nhựa đã uống hết thứ nước đựng bên trong, bạn thường làm gì với nó?
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-10.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Cùng trổ tài làm thiệp nổi 3d noel xinh xắn tặng bạn bè
                  p.content-news Giáng sinh đang đến gần. Hãy cùng chuyên mục học cách làm thiệp 3D Noel...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-11.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Gấp hộp quà hình ngôi nhà ma gửi kèm lời nhắn đùa vui
                  p.content-news Chắc hẳn bạn đã từng nhận được những tin nhắn những món quà trêu đùa tinh nghịch từ bạn bè 
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-12.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Gợi ý trang trí giày bata với họa tiết floral xinh xắn
                  p.content-news Những bông hoa nhiệt đới rực rỡ sắc màu góp phần tô điểm đôi giày bata...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-13.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Hướng dẫn tết tóc thiên thần cho nàng thêm xinh xắn
                  p.content-news Kiểu tóc này phù hợp với những cô nàng điệu đà, nữ tính, và có một chút ngọt ngngào lãng mạn.
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-14.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Hướng dẫn dẽ móng tay dễ thương và đơn giản tại nhà
                  p.content-news Với những cô nàng hiện đại thì việc làm đẹp và chăm sóc cho bản thân luôn là việc làm cần thiết.
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-15.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Làm đèn giấy hình bồ công anh phong cách kirigami
                  p.content-news Nguyên liệu đăng-ten ren giờ có rất nhiều kiểu đẹp tiện cho bạn lựa chọn...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-16.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Hướng dẫn làm  thiệp độc đáo theo phong cách Quilling
                  p.content-news Quilling là nghệ thuật cuộn giấy độc đáo, dùng những dải giấy nhỏ, đủ màu sắc để cuộn lại rồi khảm
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-17.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Mách bạn gái hô biến quần áo cũ thành mới chỉ trong tích tắc
                  p.content-news Chỉ cần một chút khéo léo và sáng tạo, bạn hoàn toàn có thể biến....
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-18.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Hướng dẫn may túi đựng ipad rực rỡ đầy ấn tượng
                  p.content-news Với cách may túi đựng ipad bằng ghép vải dễ dàng, thêu thêm một bông hoa đơn giản
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-19.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Tóc búi tết đơn giản mà vẫn xinh ‘cực” dành cho con gái
                  p.content-news Đơn giản mà đẹp là cái mà chị em phụ nữ muốn hướng tới. Không cần quá cầu kỳ,...
                .box-cate-beauty
                  a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                    img(src="images/handy-cate-20.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                  h3
                    a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Hướng dẫn cách làm giá đỡ điện thoại tai thỏ cực đáng yêu
                  p.content-news Một chiếc ốp đa năng. Với thiết kế đơn giản và chất liệu silicon cao cấp....
              ul.paginations
                li.active
                  a(href="#") 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") ...
                li
                  a(href="#") 99
          .hidden-sm.col-md-3.hiden-auto
            .box-tips-beauty
              .title-tips
                h2 Mẹo vặt hay
              a(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
                img(src="images/tips-beauty.png", alt="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết")
              h3
                a.link-beauty(href="#" title="5 phút làm bờm hoa xinh xắn cho bé yêu đón Tết") Mẹo hay giúp bạn gái bảo quản mỹ phẩm trong thời tiết oi, nóng mùa hè
              p.content-news Thời tiết nắng nóng, nhiệt độ cao chính là nguyên nhân khiến nhiều loại mỹ phẩm bị giảm tuổi thọ. Hãy cùng theo dõi bài viết sau đây để có những hiểu biết nhất định về cách bảo quản mỹ phẩm trong thời tiết oi nóng của mùa hè nhé.
            .cate-beauty-rt
              .block-vdhot-beauty
                .title-cate-beauty
                  h2.title-cate
                    a.link-beauty(href="#") Video hot
                  .line-cate
                .box-cate-rt
                  a.link-img.link-beauty(href="#" title="Tự thắt bím tóc đơn giản")
                  .box-img
                    img(src="images/cate-beauty-rt-01.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                    span.icon-play-round-48
                  h3.title-small Tự thắt bím tóc đơn giản
                .box-cate-rt
                  a.link-img.link-beauty(href="#" title="Tự thắt bím tóc đơn giản")
                  .box-img
                    img(src="images/cate-beauty-rt-02.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                    span.icon-play-round-48
                  h3.title-small Cách làm vòng tay handmade đơn giản nhất có thể
                .box-cate-rt
                  a.link-img.link-beauty(href="#" title="Tự thắt bím tóc đơn giản")
                  .box-img
                    img(src="images/cate-beauty-rt-03.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                    span.icon-play-round-48
                  h3.title-small Cười ngất với clip bé yêu nhún nhảy
                .box-cate-rt
                  a.link-img.link-beauty(href="#" title="Tự thắt bím tóc đơn giản")
                  .box-img
                    img(src="images/cate-beauty-rt-04.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                    span.icon-play-round-48
                  h3.title-small Miến trộn tôm thịt ngon đến miếng cuối cùng
              .block-vdhigh-beauty
                .title-cate-beauty
                  h2.title-cate
                    a.link-beauty(href="#") Tin nổi bật
                  .line-cate
                .media.media-cate-rt
                  .media-left
                    a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                      img(src="images/beauty-32.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                  .media-body
                    h3.title-small
                      a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Bệnh ung thư phổi gia tăng ở phụ nữ và tiến triển rất nhanh khi còn trẻ
                .media.media-cate-rt
                  .media-left
                    a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                      img(src="images/beauty-33.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                  .media-body
                    h3.title-small
                      a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Lý do oái oăm biến mông cong thành mông lép chị em cần tránh
                .media.media-cate-rt
                  .media-left
                    a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                      img(src="images/beauty-34.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                  .media-body
                    h3.title-small
                      a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Ngỡ ngàng với hình xăm hoa lá đẹp tới mức nín thở
                .media.media-cate-rt
                  .media-left
                    a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                      img(src="images/beauty-35.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                  .media-body
                    h3.title-small
                      a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Những điều bạn tưởng là sexy nhưng với chàng là ác mộng
              .block-forum
                .title-cate-beauty
                  h2.title-cate
                    a.link-beauty(href="#") Diễn Đàn
                  .line-cate
                ul.forum-beauty
                  li
                    a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?
                  li
                    a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới
                  li
                    a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Tâm sự chung mà nàng dâu nào cũng mong mẹ chồng hiểu!
                  li
                    a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Con gài à! Đọc đi để biết bản chất thật sự của đàn ông rồi tự yêu lấy mình
    include ./footer.jade
    script(src='js/slick.min.js')
    include ./script.jade
    script(src='js/slide-show.js')