doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb-life.jade
		section.cate-mb-life.page-wrap
			.container-mobile
				.box-title-fixed.menu-botom
					h1.title-main-2.bg-life Đời sống
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
							ul.sub-menu#sub-menu-01
								li
									a(href="cate-mb-life.html") Nhịp Sống
								li
									a(href="cate-mb-life.html") Nhân Vật
								li
									a(href="cate-mb-life.html") Giới Trẻ
								li
									a(href="cate-mb-life.html") Xem-Ăn-Chơi
								li
									a(href="cate-mb-life.html")  Sức Khỏe
								li
									a(href="cate-mb-life.html")  Khám phá
				.cate-large-highlight
					a(href="detail-mb-life.html")
						img(src="images/category-life-02.png", alt="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể")
					.text-paragrapth
						h3.title-main-3
							a(href="detail-mb-life.html" title="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể") Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể
						p.description Mỗi 5 giây trôi đi, các siêu thị tại Mỹ vứt đi hơn 4 tấn thực phẩm có thể ăn được. Nhưng tại Pháp, con số lãng phí thức ăn thừa hầu như không có.
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-03.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 "Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-04.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-05.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-06.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-07.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đường thẳng không phải là con đường... nhanh nhất!
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-08.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Tai bạn có dấu hiệu này thì hãy thật cẩn thận
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-09.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-10.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-03.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 "Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-04.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-05.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-06.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-07.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đường thẳng không phải là con đường... nhanh nhất!
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-08.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Tai bạn có dấu hiệu này thì hãy thật cẩn thận
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-09.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-10.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả
				ul.paginations
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") ...
					li
						a(href="#") 99
		include ./footer-mb.jade
		include ./script-mb.jade