doctype html
html
  include ./head.jade 
  body
    //- include ./header.jade 
    //- include ./list-cate-beauty.jade
    //- .container
    //-   .list-cate-tab
    //-     ul.cate-top-left
    //-       li
    //-         a.link-beauty(href="#") Trang chủ
    //-         span >
    //-       li
    //-         a.link-beauty(href="#") Phái đẹp
    //-         span >
    //-       li
    //-         a.link-beauty(href="#") Vào bếp
    //-         span >
    //-       li
    //-         a.link-beauty(href="#") Cách làm món ếch kho xả ớt ngon và an toàn hơn ngoài tiệm
    include ./header-index.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kularound.png" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  span Ads 728 x 90
            .view-more-event
              ul.menu-cate
                li.name-cate
                  h1 Đời sống
                each val in ['Nhịp Sống', 'Nhân Vật','Giới Trẻ','Xem - Ăn - Chơi','Sức Khỏe', 'Khám Phá','Góc Nhìn']
                  li
                    a(href="category-life.html")= val
    section.main-detail-beauty
      .container
        .row
          .col-sm-9
            .detail-content-beauty
              h1.title-detail-01 Cách làm món ếch kho xả ớt ngon và an toàn hơn ngoài tiệm
              .icon-social-detail
                a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
                  span
                a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
                  span
                a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
                  span
                a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
                  span
                a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
                  span
                iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=154&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=550665205082229', width='200', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
              p.descripe-beauty.cont Thịt ếch từ xưa được biết đến với nhiều công dụng thần kỳ cho việc tăng cân của người gầy cũng như an thai đối với các mẹ bầu. Ngoài ra, thịt éch luôn được các gia đình chọn lựa bởi đặc tính mát thịt và lành tính
              .descripe-img-detail
                img(src="images/cook-beauty-02.jpg", alt="Cách làm món ếch kho xả ớt ngon và an toàn hơn ngoài tiệm")
              h4.title-descripe Mô tả
              p.cont.bor-bottom Thịt ếch có màu trắng, nạc, ngon như thịt gà với thành phần dinh dưỡng phong phú: protein, chất béo, đường, canxi, phốt-pho, kali, natri, sắt, đồng, magiê, vitamin A, B, D, E, canxi, … cung cấp đủ chất dinh dưỡng cho cơ thể, đặc biệt là giúp trẻ suy dinh dưỡng tăng cân nhanh hơn. Một chiếc đùi ếch chứa 73g calories, 16g protein, giúp bạn bổ sung năng lượng và protein nạc vào cơ thể. Thịt ếch là món ăn giàu dinh dưỡng mà không bị béo.
              h4.title-descripe Nguyên liệu
              ul.list-check
                li.check.check-active
                  a.check-box
                    i
                  | 600gr thịt ếch, lựa con mập và chắc thịt
                li.check
                  a.check-box
                    i
                  | 50gr tieue xanh (lựa loại còn nguyên cọng)
                li.check
                  a.check-box
                    i
                  | Các loại gia vị: dầu ăn, muối, đường, nước mắm, ngũ vị hương, bột ngọt
                li.check
                  a.check-box
                    i
                  | 50gr rau húng quế
                li.check
                  a.check-box
                    i
                  | Tỏi và hành tím băm nhuyễn
              h4.title-descripe Cách làm
              p.cont 
                strong Bước 1: 
                | Ếch làm sạch, để ráo nước. Khi làm ếch lưu ý làm sạch phần bụng ếch, lấy sạch những gân máu bên trong để tránh mùi tanh và khai từ ếch.
              .box-img-detail
                img(src="images/cook-beauty-03.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội")
                span.descripe-img Ếch rửa sạch, đê ráo nước. Ảnh minh họa: Internet
              p.cont 
                strong Bước 2: 
                |Chặt ếch ra làm tư rồi ướp với hành tím, bột ngọt, một ít ngũ vị hương, nước mắm và muối. Trộn đều các gia vị và để trong vòng 20 phút cho thấm đều.
              .box-img-detail
                img(src="images/cook-beauty-04.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội")
                span.descripe-img Ướp thịt ếch với gia vị trong vòng 20 phút. Ảnh minh họa: Internet
              p.cont 
                strong Bước 3: 
                |Ớt sừng cắt khúc xéo chừng 1,5cm. Tiêu xanh đập dập để tạo mùi thơm và vị cay.
              .box-img-detail
                img(src="images/cook-beauty-05.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội")
                span.descripe-img Ớt sừng thái mỏng chừng 1,5 cm. Ảnh minh họa: Internet
              p.cont 
                strong Bước 4: 
                | Cho vào nồi đất 1 muỗng đường và một chút dầu ăn. Nấu nhỏ lửa hỗn hợp này đến khi thấy đường chuyển sang màu cánh gián thì cho ếch và tiêu vào đảo đều. Bước đảo này rất quan trọng vì nó sẽ khiến thịt ếch thấm màu cũng như săn thịt.
              .box-img-detail
                img(src="images/cook-beauty-06.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội")
                span.descripe-img Ướp thịt ếch với gia vị trong vòng 20 phút. Ảnh minh họa: Internet
                img(src="images/cook-beauty-07.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội")
                span.descripe-img Ướp thịt ếch với gia vị trong vòng 20 phút. Ảnh minh họa: Internet
              p.cont Sau đó thêm 1 thìa dầu ăn, ½ chén nước ấm vào. Sau đó vặn nhỏ lửa và đun đến lúc nước cạn, ếch chín và thấm gia vị. Lúc này, bạn canh làm sao cho phần sốt bên trong nồi ếch vừa sánh lại, ếch lên màu bắt mắt thì tắt bếp. Sau cùng, cho rau húng quế cắt nhỏ vào nồi kho.
              .box-img-detail
                img(src="images/cook-beauty-08.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội")
              p.cont Chúc bạn thành công và ngon miệng!
            .ad-post-beauty
              span Theo: Daydaycook
            .tags-involve-beauty
              strong Tags
              a(href="#") Món ếch
              a(href="#") Chế biến ếch
              a(href="#") Ếch
              a(href="#") Cháo ếch
              a(href="#") Da ếch
            .media.side-beauty
              .media-left
                .box-video-img
                  img(src="images/cook-beauty-09.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                  span.icon-play-round-48
              .media-body
                .box-video-title
                  p.cont Cách làm món ếch kho tiêu thơm ngon hấp dẫn từ thịt ếch dân dã nhưng được nhiều người yêu thích bởi vị thơm ngon, ngọt thịt, tác dụng kích thích vị giác. Ngoài ra, ếch còn là loại thực phẩm rất bổ dưỡng, chữa chứng bệnh còi xương, biếng ăn nhờ các thành phần dinh dưỡng có trong thịt ếch. Chính vì vậy, hãy cùng kul.vn trổ tài làm món ếch kho tiêu thơm ngon này nhé!
                  .icon-social-detail
                    a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
                      span
                    a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
                      span
                    a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
                      span
                    a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
                      span
                    a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
                      span
                    iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
            .location
              h4.title-descripe Địa điểm
              p Nếu bạn không có thời gian thực hiện món ngon bổ dưỡng này thì hãy cùng 
                strong kul.vn 
                |dạo quanh những địa điểm quán ngon sau đây:
              p
                span
                | Quán Ếch chỉ - Địa chỉ: 49/99 Đinh Tiên Hoàng, P. 3, Quận Bình Thạnh
              p
                span
                | Quán Ếch Xanh - Đia chỉ: 371D Nguyễn Cảnh Chân, P. Nguyễn Cư Trinh Q1
              p
                span
                | Cháo ếch Singapo - Địa chỉ: 206C CMT8 Phường 10, Quận 3
            .icon-social-detail
              a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
                span
              a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
                span
              a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
                span
              a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
                span
              a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
                span
              iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
            .block-cmt
              .comment-total
                h3 Bình luận
              .mCustomScrollbar
                .post-comment
                  .comment-area
                    .avat-image
                      img(src="images/bava2.jpg" alt="avata")
                    form.comment-boxarea
                      .area-comment
                        textarea(placeholder="Bình luận của bạn...")
                      .buttom-comment
                        button.button-submit(type="submit") Đăng
                  .comment-section#comment-section
                    .avacm-img
                      img(src="images/bava2.jpg" alt="avata")
                    .comment-boxarea
                      span.comment-account Nguyen Minh Tuan
                      p.comment-contain Hoành tráng quá, nhất định phải đến rạp xem bộ phim này
                      .cmtsecont
                        span Trả lời
                        span.alt-tab -
                        span.icon-like
                        span 346 Thích
                    .comment-second
                      .section-second
                        .avacm-img
                          img(src="images/bava3.jpg" alt="avata")
                      .comment-boxarea
                        span.comment-account Quang Bùi 
                        p.comment-contain Hình như thiếu mấy con khủng long với mấy con quái vật nhỏ nữa bác :D
                        .cmtsecont
                          span.icon-like
                          span 5 Thích
                    .comment-second
                      .section-second
                        .avacm-img
                          img(src="images/ava2.jpg" alt="avata")
                      .comment-boxarea
                        span.comment-account đỗ thành
                        p.comment-contain yes hoàng tráng thiệt , xếp gạch hóng bản cam hay mini HD !!
                        .cmtsecont
                          span.icon-like
                          span 3 Thích
                    .comment-second
                      .section-second
                        .avacm-img
                          img(src="images/ava1.jpg" alt="avata")
                      .comment-boxarea
                        span.comment-account Vtuyen
                        p.comment-contain Rất tuyệt vời. Rất hoành tráng. Ngày rạp khởi chiếu bộ phim này ko thể bỏ qua được.
                        .cmtsecont
                          span.icon-like
                          span Thích
                    form.comment-boxarea.add-cmt
                      .area-comment
                        textarea(placeholder="Bình luận của bạn...")
                      .buttom-comment
                        button.button-submit(type="submit") Đăng
                    .loadMore-second Hiển thị thêm bình luận
                      span.caret
                  .comment-section#comment-section
                    .avacm-img
                      img(src="images/avagirly.jpg" alt="avata")
                    .comment-boxarea
                      span.comment-account vietnam discover
                      p.comment-contain Việt nam thô sơ thế, nhưng với điện anh Hollywood thì thật hùng vĩ và tự hào, quyết tâm dành tiền từ bây giờ để xem phim bom tấn
                      .cmtsecont
                        span Trả lời
                        span.alt-tab -
                        span.icon-like
                        span Thích
                  .comment-section#comment-section
                    .avacm-img
                      img(src="images/bava1.jpg" alt="avata")
                    .comment-boxarea
                      span.comment-account dinh hai pham
                      p.comment-contain Vé xem phim rẻ mà bạn, nếu ít tiền có thể mua loại vé tầm 50k ở những giờ vắng khách, quá rẻ cho một sản phẩm giải trí hoành tráng.
                      .cmtsecont
                        span Trả lời
                        span.alt-tab -
                        span.icon-like
                        span 12 Thích
                  .loadMore 
                    span Tải thêm bình luận
            .block-involve
              h4.title-descripe Tin liên quan
              .big-involve
                .box-involve
                  .box-img
                    a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                      img(src="images/cook-beauty-10.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                  h3
                    a.link-beauty(href="#") Bí quyết giữ gìn nhan sắc cho phái đẹp
                .box-involve
                  .box-img
                    a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                      img(src="images/cook-beauty-11.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                  h3
                    a.link-beauty(href="#") Càng ăn nhiều những món này, bạn càng mau già nua
                .box-involve
                  .box-img
                    a(href="#" title="Cải thiện giấc ngủ với 10 phút kiểm soát căng thẳng, stress")
                      img(src="images/cook-beauty-12.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                  h3
                    a.link-beauty(href="#") Cải thiện giấc ngủ với 10 phút kiểm soát căng thẳng, stress
                .box-involve
                  .box-img
                    a(href="#" title="Muốn điều trị tốt vẩy nến, cần điều chỉnh chế độ ăn uống")
                      img(src="images/cook-beauty-13.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                  h3
                    a.link-beauty(href="#") Muốn điều trị tốt vẩy nến, cần điều chỉnh chế độ ăn uống
          .col-sm-3
            .block-hotday-beauty
              h2.title-hotday-beauty Tin hot trong ngày
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-14.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") 5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-15.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Xinh lung linh với vài mẹo trang điểm Hàn Quốc "dễ như ăn kẹo"
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-16.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Giảm ngay 3 kg chỉ trong 5 ngày với loại nước rẻ tiền có sẵn này
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-17.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Những màu tóc nhuộm đậm chất Tây làm cho làn da thêm trắng sáng
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-18.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Đánh tan mỡ bụng trong 1 tuần nhờ uống mật ong đúng cách
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-19.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Nếu ăn 1 quả chuối mỗi ngày thì điều gì sẽ xảy ra?
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-20.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Bí quyết trang điểm tự nhiên đẹp quyến rũ trong mùa hè
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-21.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Trị tóc rụng và bạc sớm chỉ sau vài lần sử dụng bằng loại quả này
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-22.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Nghệ tươi - 'Tiên dược' trả lại cho bạn làn da đẹp như gái 20
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-23.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Món ăn thần thánh giúp bạn thọ lâu trăm tuổi và luôn trẻ khỏe
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-24.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Vì sao dù thích hay không bạn cũng cần ăn mướp đắng đều đặn?
              .box-hotday-beauty
                .box-img
                  a(href="#" title="5 màu tóc nhuộm sáng da nên thử ít nhất một lần trong đời")
                    img(src="images/cook-beauty-25.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                h3
                  a.link-beauty(href="#") Dưỡng ẩm da ngày thu với những mặt nạ tự chế cực đơn giản
    include ./footer.jade
    include ./script.jade