doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		link(href='https://fonts.googleapis.com/css?family=Noto+Serif&subset=vietnamese', rel='stylesheet', type='text/css')
		include ./header-mb.jade
		section.detail-mb-life.page-wrap
			.container-mobile
				.box-title-fixed.menu-botom
					h2.title-main-2.bg-life Đời sống
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-detail
						ul.sub-menu#sub-menu-01
							li 
								a(href="cate-mb-life.html") Nhịp Sống
							li
								a(href="cate-mb-life.html") Nhân Vật
							li
								a(href="cate-mb-life.html")  Giới Trẻ
							li
								a(href="cate-mb-life.html")  Xem-Ăn-Chơi
							li
								a(href="cate-mb-life.html")  Sức Khỏe
							li
								a(href="cate-mb-life.html")  Khám phá
				.detail-news-center
					h1.title-det-01 Vụ máy bay Vietnam Airlines hạ cánh tại Lào: Lãnh đạo chính thức lên tiếng
					.category-datetime
						a.life(href="category-life.html")
							span Nhịp sống
						span.author-name Theo Tuổi Trẻ
						span.date 06:58 09/09/2016
					h2.sapo Mù Cang Chải, Y Tý, Hà Giang chính là những địa điểm rất đáng để bạn xách balo lên và đi. Toàn những cái tên quen thôi, nhưng không đi thì sẽ tiếc thật!
					p
						strong Hà Giang
					p Hà Giang - mảnh đất địa đầu Tổ quốc đã và sẽ luôn là một điểm đến hấp dẫn không chỉ khách du lịch trong nước mà cả khách nước ngoài. Người ta vẫn bảo Hà Giang đẹp quanh năm, vào mỗi mùa, Hà Giang lại đẹp và thu hút theo một vẻ rất riêng biệt.
					.box-keyword.media
						.media-left
							a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
								img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
						.media-body
							h3.title-main-3
								a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn
					p Như mùa xuân, khắp nơi từ Quản Bạ, Yên Minh, Đồng Văn, Mèo Vạc đều là đào, là mận, là cải. Sắc hoa nở trên những cao nguyên đá rực rỡ, nhưng cũng rất mộc, rất... cao nguyên. Sang tháng 4, sẽ là Chợ tình Khâu Vai mỗi năm chỉ có một lần. Lúc đó, trên khắp các nẻo đường núi, người dân lại rộn ràng xuống chợ trong trang phục của dân tộc mình để tham gia Chợ tình.
					figure
						img(src="images/view1.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
					figure
						img(src="images/view2.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
					figure
						img(src="images/view3.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.	
					p 
						| Tháng 5,6 là mùa nước đổ. Đẹp nhất cũng là vào tầm này, khi mà ruộng đang cấy dở. Rồi tháng 9,10 - là bây giờ đây, đang là mùa lúa chín. Những 
						a(href="#") thửa ruộng  
						|  bậc thang đồng loạt ngả sang màu vàng rực của mùa lúa. Cả vùng núi như thay sắc vào thời điểm này. Tháng 11 với mùa hoa tam giác mạch, cũng là "đặc sản" Hà Giang. Bước sang tháng 12, mùa lạnh, sẽ là lúc của tuyết rơi ở Hà Giang, nhiều chỗ đến trắng cả trời. 
					figure
						img(src="images/view4.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					figure
						img(src="images/view5.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					figure
						img(src="images/view6.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
					p Hà Giang chính là địa điểm mà đội "25" của Nguyễn Minh Ngọc và Nguyễn Hoàng Anh lựa chọn. Chia sẻ về lý do chọn Hà Giang cũng như sự chuẩn bị sắp tới, Minh Ngọc - đại diện cho đội thi chia sẻ: "Mình đã từng lên vùng núi 2 lần, mà có rất nhiều trải nghiệm thú vị, nên hi vọng rằng lần thứ 3 này với Hà Giang - cung đường khá phức tạp và có nhiều thứ để khám phá sẽ còn thú vị hơn nữa. Quan điểm về du lịch của mình là muốn tập trung vào con người hơn là cảnh sắc ở đấy. Phong cảnh có thể lặp lại ở nhiều chỗ, nhưng cảm nhận về con người chỉ có nơi đấy mới có thôi".
					//- .live-feeds
					//- 	.feeds-header 
					//- 		span.live-title Trực tiếp
					//- 		span.feeds-header-right#reload-timer Tự động cập nhật trong 5 giây
					//- 	.feeds-tooltip
					//- 		.feeds-tooltip-left
					//- 			a.type-live.all.active(href="#",data-action="all") Tất cả
					//- 			a.type-live.highlight(href="#",data-action="highlight") Nổi bật
					//- 			a.type-live.album-only(href="#",data-action="album-only") Ảnh
					//- 			a.type-live.clip-only(href="#",data-action="clip-only") Video
					//- 			a.sort-live.newest.active(href="#",data-action="newest") Mới nhất
					//- 			a.sort-life.oldest(href="#",data-action="oldest") Cũ nhất
					//- 		//- .feeds-tooltip-right
					//- 		//- 	a.sort-live.newest.active(href="#",data-action="newest") Mới nhất
					//- 		//- 	a.sort-life.oldest(href="#",data-action="oldest") Cũ nhất
					//- ul.feeds-list#feeds-list
					//- 	li.block.highlight-feed
					//- 		.time
					//- 			span 90'
					//- 			i.red-card
					//- 		.content
					//- 			strong EXO kết thúc MAMA với giải thưởng Album của năm
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://kul.vn/uploads/media/kul/5841/94/kul_news_mama-2016-28.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/94/kul_news_mama-2016-30.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 30'
					//- 			i.yellow-card
					//- 		.content
					//- 			strong Giải nghệ sĩ của năm không thể thoát khỏi tay các chàng trai BTS
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/92/kul_news_mama-2016-22.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/92/kul_news_mama-2016-24.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 25'
					//- 			i.soccer-goal
					//- 		.content
					//- 			strong Wiz Khalifa đem See You Again đến với sân khấu MAMA 2016
					//- 			p Là một trong những khách mời được chờ đợi nhất sự kiện, Wiz Khalifa đã có màn trình diễn kết hợp Young, Wild and Free cùng bản hit See You Again khiến cả khán đài cùng hòa giọng.
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/8c/kul_news_mama-2016-13.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 10'
					//- 			i.time-over
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 115'
					//- 			i.change_player
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 10'
					//- 			i.penalty_kick
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 10'
					//- 			i.corner_kick
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					p
						img(src="images/view6.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					p Một số điểm du lịch ở Hà Giang phải kể đến là Dinh họ Vương, cột cờ Lũng Cú, phố cổ Đồng Văn... Đặc sản thì có bánh cuốn phố cổ Đồng Văn, cơm lam Bắc Mê, chè Shan Tuyết, xôi Ngũ Sắc...
					.name-ad-post 
						span THEO TRÍ THỨC TRẺ
					.share-likedbutton
						a(href="#")
							span.icon-minfb
							| Chia sẻ Facebook
					.tags-involve
						strong Từ khóa:
						a(href="#") du lịch
						a(href="#") phải đi hè này
						a(href="#") Sapa
						a(href="#") Hà Giang
						a(href="#") MinisoVietnam
					//- .icon-social-detail
					//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
					//- 		span
					//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
					//- 		span
					//- 	a(href="#" title="envelope" class="icon envelope" target="_blank")
					//- 		span
					//- 	a(href="#" title="pinterest" class="icon pinterest" target="_blank")
					//- 		span
					//- 	a(href="https://www.instagram.com/kulnews/" title="twitter" class="icon twitter" target="_blank")
					//- 		span
					//- 	iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
					//- .post-comment
					//- 	.comment-total
					//- 		h3 Bình luận
					//- 	.comment-area
					//- 		.avat-image
					//- 			img(src="images/bava2.jpg" alt="avata")
					//- 		form.comment-boxarea
					//- 			.area-comment
					//- 				textarea(placeholder="Bình luận của bạn...")
					//- 			.buttom-comment
					//- 				button.button-submit(type="submit") Đăng
					//- 	.comment-section
					//- 		.avacm-img
					//- 			img(src="images/bava2.jpg" alt="avata")
					//- 		.comment-boxarea
					//- 			span.comment-account Nguyen Minh Tuan
					//- 			p.comment-contain Hoành tráng quá, nhất định phải đến rạp xem bộ phim này
					//- 			.cmtsecont
					//- 				span Trả lời
					//- 				span.alt-tab -
					//- 				span.icon-like
					//- 				span 346 Thích
					//- 		.comment-second
					//- 			.section-second
					//- 				.avacm-img
					//- 					img(src="images/bava3.jpg" alt="avata")
					//- 			.comment-boxarea
					//- 				span.comment-account Quang Bùi 
					//- 				p.comment-contain Hình như thiếu mấy con khủng long với mấy con quái vật nhỏ nữa bác :D
					//- 				.cmtsecont
					//- 					span.icon-like
					//- 					span 2 Thích
					//- 		.comment-second
					//- 			.section-second
					//- 				.avacm-img
					//- 					img(src="images/ava2.jpg" alt="avata")
					//- 			.comment-boxarea
					//- 				span.comment-account đỗ thành
					//- 				p.comment-contain yes hoàng tráng thiệt , xếp gạch hóng bản cam hay mini HD !!
					//- 				.cmtsecont
					//- 					span.icon-like
					//- 					span 2 Thích
					//- 		.comment-second
					//- 			.section-second
					//- 				.avacm-img
					//- 					img(src="images/ava1.jpg" alt="avata")
					//- 			.comment-boxarea
					//- 				span.comment-account Vtuyen
					//- 				p.comment-contain Rất tuyệt vời. Rất hoành tráng. Ngày rạp khởi chiếu bộ phim này ko thể bỏ qua được.
					//- 				.cmtsecont
					//- 					span.icon-like
					//- 					span 2 Thích
					//- 		form.comment-boxarea.add-cmt
					//- 			.area-comment
					//- 				textarea(placeholder="Bình luận của bạn...")
					//- 			.buttom-comment
					//- 				button.button-submit(type="submit") Đăng
					//- 		.loadMore-second Hiển thị thêm bình luận
					//- 			span.caret
					//- 	.comment-section
					//- 		.avacm-img
					//- 			img(src="images/avagirly.jpg" alt="avata")
					//- 		.comment-boxarea
					//- 			span.comment-account vietnam discover
					//- 			p.comment-contain Việt nam thô sơ thế, nhưng với điện anh Hollywood thì thật hùng vĩ và tự hào, quyết tâm dành tiền từ bây giờ để xem phim bom tấn
					//- 			.cmtsecont
					//- 				span Trả lời
					//- 				span.alt-tab -
					//- 				span.icon-like
					//- 				span 32 Thích
					//- 	.comment-section
					//- 		.avacm-img
					//- 			img(src="images/bava1.jpg" alt="avata")
					//- 		.comment-boxarea
					//- 			span.comment-account dinh hai pham
					//- 			p.comment-contain Vé xem phim rẻ mà bạn, nếu ít tiền có thể mua loại vé tầm 50k ở những giờ vắng khách, quá rẻ cho một sản phẩm giải trí hoành tráng.
					//- 			.cmtsecont
					//- 				span Trả lời
					//- 				span.alt-tab -
					//- 				span.icon-like
					//- 				span Thích
					//- 	.loadMore 
					//- 		span Tải thêm bình luận
			//- include ./video-detail-mb.jade
			include ./involve-detail-mb.jade
			.fix-social-navigation
				ul
					li
						<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=101&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId=550665205082229" width="101" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					li
						<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&appId=550665205082229&width=110&height=20" width="110" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		include ./footer-mb.jade
		include ./script-mb.jade