doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		link(href='https://fonts.googleapis.com/css?family=Noto+Serif&subset=vietnamese', rel='stylesheet', type='text/css')
		section.detail-mb-life.page-wrap
			.container-mobile
				.box-title-fixed.menu-botom
					h2.title-main-2.bg-life Đời sống
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
						ul.sub-menu#sub-menu-01
							li 
								a(href="cate-mb-life.html") Nhịp Sống
							li
								a(href="cate-mb-life.html") Nhân Vật
							li
								a(href="cate-mb-life.html")  Giới Trẻ
							li
								a(href="cate-mb-life.html")  Xem-Ăn-Chơi
							li
								a(href="cate-mb-life.html")  Sức Khỏe
							li
								a(href="cate-mb-life.html")  Khám phá
				.detail-news-center
					.cover-photo(style="background-image: url('http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_15.jpg')")
						.meta-photo
							h1.white-title Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn
							.author-photo
								span Bởi
								span.author-name Thành Đạt
								span -
								span 07:30 ngày 07/09/2016
					.summary-photo 
						p Nằm trong một con hẻm nhỏ ở đường Huỳnh Tấn Phát, cả cơ sở rộng chừng chục mét vuông với 3 nhân công, hẳn nhiều người sẽ bất ngờ khi tới thăm nhà của nghệ nhân làm rối Phùng Văn Oánh, người làm rối nước duy nhất tại Sài Gòn.
					main#lightgallery.main-article
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							figcaption Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối, nhưng như được định mệnh sắp đặt, ông gắn bó với những con rối ngay từ khi còn ngồi trên ghế giảng đường trường Đại học mỹ thuật Hà Nội. Sau đó, ông khăn gói vào Nam lập nghiệp với những con rối trong balo và sứ mệnh mang loại hình giải trí dân gian này đến với Sài Gòn.
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							p Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: "Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh".
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_11.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							p Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							p Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.
						.box-assess
							.avata-game
								img(src="images/avata-game.jpg" alt="Kul News Trang tin")
							.row
								.col-sm-5
									strong.devision Ưu Điểm:
									.strong-point
										ul
											li Bối cảnh 3D tối tân nhất, giao diện đẹp, hoành tráng
											li Cốt truyện hấp dẫn, dẫn dắt kịch tính 
											li Assassin's Creed IV đưa người chơi nhập vai vào những pha hành động hấp dẫn.
											li Người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình
								.col-sm-4
									strong.devision.less Khuyết Điểm:
									.weak-point
										ul
											li Vẫn còn tồn tại kha khá lỗi cả về hình ảnh và gameplay
											li Thời lượng chơi tương đối ngắn
								.col-sm-3
									strong.devision.text-center.final-point Điểm Trung bình
									.box-gs-score
										.gs-score.gs-score-large.score-9
											.gs-score_clip
												.gs-score_pie.gs-score_spinner
											.gs-score_clip.gs-score_clip2
												.gs-score_pie.gs-score_filler
											.gs-score_inner
												span 9
					.name-ad-speacial
						span Thành Đạt
					.share-likedbutton
						a(href="#")
							span.icon-minfb
							| Chia sẻ Facebook
					.tags-involve
						strong Từ khóa:
						a(href="#") du lịch
						a(href="#") phải đi hè này
						a(href="#") Sapa
						a(href="#") Hà Giang
						a(href="#") MinisoVietnam
				//- .icon-social-detail
				//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
				//- 		span
				//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
				//- 		span
				//- 	a(href="#" title="envelope" class="icon envelope" target="_blank")
				//- 		span
				//- 	a(href="#" title="pinterest" class="icon pinterest" target="_blank")
				//- 		span
				//- 	a(href="https://www.instagram.com/kulnews/" title="twitter" class="icon twitter" target="_blank")
				//- 		span
				//- 	iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
			//- include ./video-detail-mb.jade
			include ./involve-detail-mb.jade
		include ./footer-mb.jade
		include ./script-mb.jade