doctype html
html(lang="vi")
	include ./head.jade
	body
		include ./header.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event.change-scroll
							h3 Đời sống
							ul.menu-cate
								li
									a(href="category-life.html") Nhịp Sống
								li
									a(href="category-life.html") Nhân Vật
								li
									a(href="category-life.html") Giới Trẻ
								li
									a(href="category-life.html") Xem - Ăn - Chơi
								li
									a(href="category-life.html") Sức Khỏe
								li.active
									a(href="category-life.html") Khám Phá
								li
									a(href="category-life.html") Góc Nhìn
						ul.menu-mini
							li
								h4 Nhịp sống
							li.active
								a(href="#") Chuyện thường
							li
								a(href="#") Góc nhìn
							li
								a(href="#") Phản ánh 			
		section.detail-main.page-wrap
			.container
				.row
					.col-xs-12
						.content-wrapper
							.col-xs-8.col-sm-12.col-md-8.col-lg-8
								.detail-news-center
									h1.title-detail-01 Sẽ thật tiếc khi nếu còn trẻ mà bạn vẫn chưa tới 3 địa điểm này ở vùng núi phía Bắc
									.category-datetime
										a.life(href="category-life.html")
											span Nhịp sống
										span.date 06:58 09/09/2016
									h2.sapo Mù Cang Chải, Y Tý, Hà Giang chính là những địa điểm rất đáng để bạn xách balo lên và đi. Toàn những cái tên quen thôi, nhưng không đi thì sẽ tiếc thật!
									p
										strong Hà Giang
									p Hà Giang - mảnh đất địa đầu 
										a(href="#") Tổ quốc 
										| đã và sẽ luôn là một điểm đến hấp dẫn không chỉ khách du lịch trong nước mà cả khách nước ngoài. Người ta vẫn bảo Hà Giang đẹp quanh năm, vào mỗi mùa, Hà Giang lại đẹp và thu hút theo một vẻ rất riêng biệt. 
									p Như mùa xuân, khắp nơi từ Quản Bạ, Yên Minh, Đồng Văn, Mèo Vạc đều là đào, là mận, là cải. Sắc hoa nở trên những cao nguyên đá rực rỡ, nhưng cũng rất mộc, rất... cao nguyên. Sang tháng 4, sẽ là Chợ tình Khâu Vai mỗi năm chỉ có một lần. Lúc đó, trên khắp các nẻo đường núi, người dân lại rộn ràng xuống chợ trong trang phục của dân tộc mình để tham gia Chợ tình.
									figure
										img(src="images/view1.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
										figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
									p Tháng 5,6 là mùa nước đổ. Đẹp nhất cũng là vào tầm này, khi mà ruộng đang cấy dở. Rồi tháng 9,10 - là bây giờ đây, đang là mùa lúa chín. Những thửa ruộng bậc thang đồng loạt ngả sang màu vàng rực của mùa lúa. Cả vùng núi như thay sắc vào thời điểm này. Tháng 11 với mùa hoa tam giác mạch, cũng là "đặc sản" Hà Giang. Bước sang tháng 12, mùa lạnh, sẽ là lúc của tuyết rơi ở Hà Giang, nhiều chỗ đến trắng cả trời. 
								//- .name-ad-post 
								//- 	span THEO TRÍ THỨC TRẺ
								//- .qc-content
								//- 	span 600 x 90
								.share-likedbutton.share-center
									a(href="#")
										span.icon-minfb
										| Chia sẻ Facebook
								.tags-involve
									strong Từ khóa:
									a(href="#") du lịch
									a(href="#") phải đi hè này
									a(href="#") Sapa
									a(href="#") Hà Giang
									a(href="#") MinisoVietnam

								//- .icon-social-detail
								//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
								//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
								//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
								//- 	a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
								//- 	a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
								//- 	iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=154&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=550665205082229', width='200', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
								//- .post-comment
								//- 	.comment-total
								//- 		h3 Bình luận
								//- 	.comment-area
								//- 		.avat-image
								//- 			img(src='images/ava1.jpg', alt='ava')
								//- 		form.comment-boxarea
								//- 			.area-comment
								//- 				textarea(placeholder='Bình luận của bạn...')
								//- 			.buttom-comment
								//- 				button.button-submit(type='submit') Đăng	
								//- 	.comment-section
								//- 		.avacm-img
								//- 			img(src='images/ava1.jpg', alt='ava')
								//- 		.comment-boxarea
								//- 			span.comment-account Lee Cường
								//- 			p.comment-contain Chúng ta đề cao tinh thần nhân đạo, yêu chuộng hòa bình nhưng đối vs họ thì đụng vào tàu cá cướp hàng và phương tiện, vô nhân đạo khi thấy chúng ta gặp quy hiểm. Những ngư dân này khi về tới nhà suy nghi như thế nào về hành động của chính phủ họ đối với ngư dân VN nhỉ?
								//- 			.cmtsecont 
								//- 				span Trả lời
								//- 				span.alt-tab -
								//- 				span.icon-like
								//- 				span 346 Thích
								//- 			form.comment-boxsecond
								//- 				.area-comment
								//- 					textarea(placeholder='Phản hồi của bạn')
								//- 				.buttom-comment
								//- 					button.button-submit(type='submit') Đăng
								//- 		.comment-second
								//- 			.section-second
								//- 				.avacm-img
								//- 					img(src='images/ava2.jpg', alt='ava')
								//- 				.comment-boxarea
								//- 					span.comment-account Vinh Nguyễn
								//- 					p.comment-contain Họ làm gì được biết cách mà chính phủ họ đối với ngủ dân VN mà suy nghĩ ))
								//- 					.cmtsecont 
								//- 						span.icon-like
								//- 						span 2 Thích
								//- 		.comment-second
								//- 			.section-second
								//- 				.avacm-img
								//- 					img(src='images/ava2.jpg', alt='ava')
								//- 				.comment-boxarea
								//- 					span.comment-account Trinh Sinh
								//- 					p.comment-contain Tôi và hàng triệu người dân việt nam rất vui khí nhận đựơc tin này rất mong những người làm nhiệm vụ thực thi trên biển hãy làm nhiều việc làm như thế để bảo vệ ngư trường biển đảo của Việt Nam.
								//- 					.cmtsecont 
								//- 						span.icon-like
								//- 						span 12 Thích
								//- 		.comment-second
								//- 			.section-second
								//- 				.avacm-img
								//- 					img(src='images/ava2.jpg', alt='ava')
								//- 				.comment-boxarea
								//- 					span.comment-account Linh Nguyệt
								//- 					p.comment-contain Tôi tán thành cách xử lý của các đồng chí, chỉ cần đuổi thôi là họ cảm thấy nhục và phục rồi, cần chi dùng vũ lực.
								//- 					.cmtsecont 
								//- 						span.icon-like
								//- 						span 6 Thích
								//- 	.loadMore
								//- 		span Tải thêm bình luận
							.col-xs-4.hidden-sm.col-md-4.col-lg-4.detail-main-right
								include ./detail-sidebar.jade
							.padding
			.container
				.row
					.col-md-12
						.relate-title
							span Tin tức liên quan
					.col-xs-12
						.row.equal
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h4.title-main-5
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h4.title-main-5
									a(href="#")  11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf3.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h4.title-main-5
									a(href="#") "Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc với lời khuyên này!
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf4.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h4.title-main-5
									a(href="#") Bàn ghế làm từ băng, không gian âm 10 độ C
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf5.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h4.title-main-5
									a(href="#") Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf6.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h4.title-main-5
									a(href="#")  Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần một mục tiêu sống
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf7.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h4.title-main-5
									a(href="#") Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf8.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h4.title-main-5
									a(href="#") Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý
				.row
					.col-md-12
						.relate-title
							span Đời Sống
					.col-xs-12
						.row.equal
							.col-xs-12.col-sm-6.col-md-4.box-invol
								.box-img-big
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3.title-main-3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-12.col-sm-6.col-md-4.box-invol
								.box-img-big
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3.title-main-3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-12.col-sm-6.col-md-4.box-invol
								.box-info-life
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="images/movie1.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body
											h3.min-sub
												a(href="#") Lan Ngọc, Hạ Vi vướng tình tay ba với hot boy Rocker Nguyễn
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="images/movie1.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body
											h3.min-sub
												a(href="#") Lan Ngọc, Hạ Vi vướng tình tay ba với hot boy Rocker Nguyễn
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="images/movie1.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body
											h3.min-sub
												a(href="#") Lan Ngọc, Hạ Vi vướng tình tay ba với hot boy Rocker Nguyễn									
				.row
					.col-md-12
						.relate-title
							span Giải trí
					.col-xs-12
						.row.equal
							.col-xs-12.col-sm-6.col-md-4.box-invol
								.box-img-big
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3.title-main-3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-12.col-sm-6.col-md-4.box-invol
								.box-img-big
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3.title-main-3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-12.col-sm-6.col-md-4.box-invol
								.box-info-life
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="images/movie1.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body
											h3.min-sub
												a(href="#") Lan Ngọc, Hạ Vi vướng tình tay ba với hot boy Rocker Nguyễn
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="images/movie1.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body
											h3.min-sub
												a(href="#") Lan Ngọc, Hạ Vi vướng tình tay ba với hot boy Rocker Nguyễn
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="images/movie1.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body
											h3.min-sub
												a(href="#") Lan Ngọc, Hạ Vi vướng tình tay ba với hot boy Rocker Nguyễn																	
		include ./footer.jade						
		include ./script.jade