doctype html
html(lang="vi")
	include ./head.jade
	body
		include ./header.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event.change-scroll
							h3 Đời sống
							ul.menu-cate
								li
									a(href="category-life.html") Nhịp Sống
								li
									a(href="category-life.html") Nhân Vật
								li
									a(href="category-life.html") Giới Trẻ
								li
									a(href="category-life.html") Xem - Ăn - Chơi
								li
									a(href="category-life.html") Sức Khỏe
								li.active
									a(href="category-life.html") Khám Phá
								li
									a(href="category-life.html") Góc Nhìn
						ul.menu-mini
							li
								h4 Nhịp sống
							li.active
								a(href="#") Chuyện thường
							li
								a(href="#") Góc nhìn
							li
								a(href="#") Phản ánh 			
		section.detail-main.page-wrap
			.container
				.row
					.col-xs-12
						.content-wrapper
							.col-xs-8.col-sm-12.col-md-8.col-lg-8
								.detail-news-center
									h1.title-detail-01 Sẽ thật tiếc khi nếu còn trẻ mà bạn vẫn chưa tới 3 địa điểm này ở vùng núi phía Bắc
									.category-datetime
										a.life(href="category-life.html")
											span Nhịp sống
										span.author-name THEO TRÍ THỨC TRẺ
										span.date 06:58 09/09/2016
									h2.sapo Mù Cang Chải, Y Tý, Hà Giang chính là những địa điểm rất đáng để bạn xách balo lên và đi. Toàn những cái tên quen thôi, nhưng không đi thì sẽ tiếc thật!
									//- h2 Hà Giang
									//- p Hà Giang - mảnh đất địa đầu 
									//- 	a(href="#") Tổ quốc 
									//- 	| đã và sẽ luôn là một điểm đến hấp dẫn không chỉ khách du lịch trong nước mà cả khách nước ngoài. Người ta vẫn bảo Hà Giang đẹp quanh năm, vào mỗi mùa, Hà Giang lại đẹp và thu hút theo một vẻ rất riêng biệt. 
									//- .box-keyword.media
									//- 	.media-left
									//- 		a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
									//- 			img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
									//- 	.media-body
									//- 		h3.title-main-3
									//- 			a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn
									//- 		span.content-news Chị em cứ phải hóng đâu cho xa xôi, ở ngay Việt Nam mình vẫn có vô số trai đẹp để ngắm nghía và yêu thương thế này cơ mà!
									//- p Như mùa xuân, khắp nơi từ Quản Bạ, Yên Minh, Đồng Văn, Mèo Vạc đều là đào, là mận, là cải. Sắc hoa nở trên những cao nguyên đá rực rỡ, nhưng cũng rất mộc, rất... cao nguyên. Sang tháng 4, sẽ là Chợ tình Khâu Vai mỗi năm chỉ có một lần. Lúc đó, trên khắp các nẻo đường núi, người dân lại rộn ràng xuống chợ trong trang phục của dân tộc mình để tham gia Chợ tình.
									//- figure
									//- 	img(src="images/view1.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									//- 	figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.	
									//- figure
									//- 	img(src="images/view2.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									//- 	figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.	
									//- //- figure
									//- //- 	img(src="images/view3.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									//- //- 	figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.	
									//- p Tháng 5,6 là mùa nước đổ. Đẹp nhất cũng là vào tầm này, khi mà ruộng đang cấy dở. Rồi tháng 9,10 - là bây giờ đây, đang là mùa lúa chín. Những thửa ruộng bậc thang đồng loạt ngả sang màu vàng rực của mùa lúa. Cả vùng núi như thay sắc vào thời điểm này. Tháng 11 với mùa hoa tam giác mạch, cũng là "đặc sản" Hà Giang. Bước sang tháng 12, mùa lạnh, sẽ là lúc của tuyết rơi ở Hà Giang, nhiều chỗ đến trắng cả trời. 
									//- figure
									//- 	img(src="images/view4.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									//- 	figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
									//- p Hà Giang chính là địa điểm mà đội "25" của Nguyễn Minh Ngọc và Nguyễn Hoàng Anh lựa chọn. Chia sẻ về lý do chọn Hà Giang cũng như sự chuẩn bị sắp tới, Minh Ngọc - đại diện cho đội thi chia sẻ: "Mình đã từng lên vùng núi 2 lần, mà có rất nhiều trải nghiệm thú vị, nên hi vọng rằng lần thứ 3 này với Hà Giang - cung đường khá phức tạp và có nhiều thứ để khám phá sẽ còn thú vị hơn nữa. Quan điểm về du lịch của mình là muốn tập trung vào con người hơn là cảnh sắc ở đấy. Phong cảnh có thể lặp lại ở nhiều chỗ, nhưng cảm nhận về con người chỉ có nơi đấy mới có thôi".				
									//- figure
									//- 	iframe(width="642px" height="361px" src="https://www.youtube.com/embed/mcixldqDIEQ" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen="" scrolling="no")
									.live-feeds
										.feeds-header 
											span.live-title Trực tiếp
											span.feeds-header-right#reload-timer Tự động cập nhật trong 5 giây
										.feeds-tooltip
											.feeds-tooltip-left
												a.type-live.all.active(href="#",data-action="all") Tất cả
												a.type-live.highlight(href="#",data-action="highlight") Nổi bật
												a.type-live.album-only(href="#",data-action="album-only") Ảnh
												a.type-live.clip-only(href="#",data-action="clip-only") Video
											.feeds-tooltip-right
												a.sort-live.newest.active(href="#",data-action="newest") Mới nhất
												a.sort-life.oldest(href="#",data-action="oldest") Cũ nhất
									ul.feeds-list#feeds-list
										li.block.normal-feed
											.time
												span 22:33
											.content
												strong EXO kết thúc MAMA với giải thưởng Album của năm
												p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
												figure
													img(src="http://kul.vn/uploads/media/kul/5841/94/kul_news_mama-2016-28.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
												figure
													img(src="http://cdn.kul.vn/uploads/media/kul/5841/94/kul_news_mama-2016-30.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
										li.block.highlight-feed
											.time
												span 21:15
											.content
												strong Giải nghệ sĩ của năm không thể thoát khỏi tay các chàng trai BTS
												p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
												figure
													img(src="http://cdn.kul.vn/uploads/media/kul/5841/92/kul_news_mama-2016-22.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
												figure
													img(src="http://cdn.kul.vn/uploads/media/kul/5841/92/kul_news_mama-2016-24.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
										li.block.normal-feed
											.time
												span 21:42
											.content
												strong Wiz Khalifa đem See You Again đến với sân khấu MAMA 2016
												p Là một trong những khách mời được chờ đợi nhất sự kiện, Wiz Khalifa đã có màn trình diễn kết hợp Young, Wild and Free cùng bản hit See You Again khiến cả khán đài cùng hòa giọng.
												figure
													img(src="http://cdn.kul.vn/uploads/media/kul/5841/8c/kul_news_mama-2016-13.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
										li.block.highlight-feed
											.time
												span 18:43
											.content
												strong EXO "ẵm giải" phong cách Best Asian Style
												p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
												figure
													img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
												figure
													img(src="http://cdn.kul.vn/uploads/media/kul/5841/70/su2.gif", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									//- p Một số điểm du lịch ở Hà Giang phải kể đến là Dinh họ Vương, cột cờ Lũng Cú, phố cổ Đồng Văn... Đặc sản thì có bánh cuốn phố cổ Đồng Văn, cơm lam Bắc Mê, chè Shan Tuyết, xôi Ngũ Sắc...
									//- p.source-link
									//- 	a(href="#") http://khoeplus.vn/tam-su/chuyen-nha-sao/hoai-lam-toi-khong-bao-gio-bong-bot-trong-chuyen-tinh-cam-9716.html
									//- p
									//- 	strong Chi tiết cấu hình của DTEK60:
									//- ul
									//- 	li Màn hình: 5.5” Quad – HD 2560 x 1440
									//- 	li Vi xử lý: Qualcomm Snapdragon 820 64-bit: Quad-Core 2+2 Kryo 2.15GHz/1.6GHz.
									//- 	li GPU: Adreno 530, 624MHz.
								//- .name-ad-post 
								//- 	span THEO TRÍ THỨC TRẺ
								//- .qc-content
								//- 	span 600 x 90
								.share-likedbutton.share-center
									a(href="#")
										span.icon-minfb
										| Chia sẻ Facebook
								.tags-involve
									strong Từ khóa:
									a(href="#") du lịch
									a(href="#") phải đi hè này
									a(href="#") Sapa
									a(href="#") Hà Giang
									a(href="#") MinisoVietnam

								//- .icon-social-detail
								//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
								//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
								//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
								//- 	a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
								//- 	a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
								//- 	iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=154&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=550665205082229', width='200', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
								.post-comment
									.comment-total
										h3 Bình luận
									.comment-area
										.avat-image
											img(src='images/ava1.jpg', alt='ava')
										form.comment-boxarea
											.area-comment
												textarea(placeholder='Bình luận của bạn...')
											.buttom-comment
												button.button-submit(type='submit') Đăng	
									.comment-section
										.avacm-img
											img(src='images/ava1.jpg', alt='ava')
										.comment-boxarea
											span.comment-account Lee Cường
											p.comment-contain Chúng ta đề cao tinh thần nhân đạo, yêu chuộng hòa bình nhưng đối vs họ thì đụng vào tàu cá cướp hàng và phương tiện, vô nhân đạo khi thấy chúng ta gặp quy hiểm. Những ngư dân này khi về tới nhà suy nghi như thế nào về hành động của chính phủ họ đối với ngư dân VN nhỉ?
											.cmtsecont 
												span Trả lời
												span.alt-tab -
												span.icon-like
												span 346 Thích
											form.comment-boxsecond
												.area-comment
													textarea(placeholder='Phản hồi của bạn')
												.buttom-comment
													button.button-submit(type='submit') Đăng
										.comment-second
											.section-second
												.avacm-img
													img(src='images/ava2.jpg', alt='ava')
												.comment-boxarea
													span.comment-account Vinh Nguyễn
													p.comment-contain Họ làm gì được biết cách mà chính phủ họ đối với ngủ dân VN mà suy nghĩ ))
													.cmtsecont 
														span.icon-like
														span 2 Thích
										.comment-second
											.section-second
												.avacm-img
													img(src='images/ava2.jpg', alt='ava')
												.comment-boxarea
													span.comment-account Trinh Sinh
													p.comment-contain Tôi và hàng triệu người dân việt nam rất vui khí nhận đựơc tin này rất mong những người làm nhiệm vụ thực thi trên biển hãy làm nhiều việc làm như thế để bảo vệ ngư trường biển đảo của Việt Nam.
													.cmtsecont 
														span.icon-like
														span 12 Thích
										.comment-second
											.section-second
												.avacm-img
													img(src='images/ava2.jpg', alt='ava')
												.comment-boxarea
													span.comment-account Linh Nguyệt
													p.comment-contain Tôi tán thành cách xử lý của các đồng chí, chỉ cần đuổi thôi là họ cảm thấy nhục và phục rồi, cần chi dùng vũ lực.
													.cmtsecont 
														span.icon-like
														span 6 Thích
									.loadMore
										span Tải thêm bình luận
							.col-xs-4.hidden-sm.col-md-4.col-lg-4.detail-main-right
								include ./detail-sidebar.jade
							.padding
			.container
				.row
					.col-md-12
						.sub-title-left.relate-margin
							.border-top-sub
							h2
								a(href="category-life.html") Tin tức liên quan
					//- .relate-title
					//- 	span Tin tức liên quan
					.col-xs-12
						.row.equal
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h4.title-main-5
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h4.title-main-5
									a(href="#")  11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf3.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h4.title-main-5
									a(href="#") "Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc...
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf4.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h4.title-main-5
									a(href="#") Bàn ghế làm từ băng, không gian âm 10 độ C
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf5.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h4.title-main-5
									a(href="#") Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf6.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h4.title-main-5
									a(href="#")  Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần...
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf7.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h4.title-main-5
									a(href="#") Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-6.col-md-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf8.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h4.title-main-5
									a(href="#") Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý
									span.time-up 6:00 20/10/2016
				.row
					.col-md-12
						.sub-title-left.relate-margin-first
							.border-top-sub
							h2
								a(href="category-life.html") Đời Sống
					.col-xs-12
						.row
							.col-xs-12.col-sm-4.col-md-4.big-block
								.box-img-big
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/f5/thumbnail_4x3_chay-lon-o-ha-noi-2.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3.title-main-3
									a(href="#") Trường ĐH dừng tuyển sinh cao đẳng trước thời hạn
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-4.col-md-4.big-block
								.box-img-big
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="http://kul.vn/media/cache/resolve/thumbnail_300x225/uploads/media/thumbnail/583c/e5/thumbnail_4x3_hoai-lam-quyet-tam-lay-vo-5.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3.title-main-3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
									span.time-up 6:00 20/10/2016
							.col-xs-12.col-sm-4.col-md-4
								.box-info-life.ipad-top#squal-fix
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/5c/thumbnail_4x3_xa-sung.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body.most-views
											h3.min-sub
												a(href="#") Một vụ tai nạn xe hơi nghiệm trọng trên đường cao tốc
												span.time-up 6:00 20/10/2016
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5838/41/thumbnail_4x3_pixee-fox-3.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body.most-views
											h3.min-sub
												a(href="#") Lan Ngọc, Hạ Vi vướng tình tay ba với hot boy Rocker Nguyễn
												span.time-up 6:00 20/10/2016
									.media.media-star
										.media-left
											a(href="#")
												img.media-object(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583b/d5/thumbnail_4x3_giang-sinh.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
										.media-body.most-views
											h3.min-sub
												a(href="#") Mùa giáng sinh lạnh của ông lão bên đường
												span.time-up 6:00 20/10/2016							
				.row
					.col-md-12
						.sub-title-left.relate-margin
							.border-top-sub
							h2
								a(href="category-life.html") Giải trí
					.col-xs-12
						.row.equal
							.col-md-6
								.media.third-relate
									.media-left
										a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
											img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/583c/e5/thumbnail_16x9_huong-giang-idol-noi-gi-khi-bi-tran-thanh-goi-la-toan-mui-silicon.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Hương Giang Idol nói gì khi bị Trấn Thành gọi là "toàn mùi silicon"? 
										p.content-news Hương Giang Idol lên tiếng trước phát ngôn khá phản cảm của Trấn Thành về mình trên sóng truyền hình.
							.col-md-6
								.media.third-relate
									.media-left
										a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
											img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/583c/5a/thumbnail_16x9_truong-ngoc-anh-yeu-ngoc-khanh-kulnews.jpeg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Trương Ngọc Ánh phủ nhận đang yêu đàn em kém 13 tuổi
										p.content-news Trước hàng loạt bằng chứng cho rằng Trương Ngọc Ánh đang hẹn hò ca sĩ Ngọc Khanh nhóm Vmusic, cả hai đã lên tiếng phủ nhận. Họ cho rằng đó là tin...
							.col-md-6
								.media.third-relate
									.media-left
										a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
											img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/583c/14/thumbnail_16x9_underworld-blood-wars-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") 7 chi tiết khiến bạn không thể bỏ qua "Underworld: Blood Wars"
										p.content-news "Underworld: Blood Wars" tiếp tục là câu chuyện của nàng Ma cà rồng Selene trong cuộc chiến với Người sói và chính đồng loại của mình.
							.col-md-6
								.media.third-relate
									.media-left
										a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
											img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/583c/0a/thumbnail_16x9_4-2303-1480328478.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") Nữ ca sĩ "xấu lạ" đón con trai đầu lòng tại Mỹ
										p.content-news Mới đây nữ ca sĩ Thảo Trang đã âm thầm hạ sinh đứa con đầu lòng tại Mỹ, mọi thông tin đều không được tiết lộ mà chỉ có một số cá nhân thân thiết với...
		include ./footer.jade		
		include ./script.jade
		script(src='js/addon.js')