.main-righ
  .qc-sidebar
    img(src="images/icon/qc3002.jpg" alt="qc300")
  .qc-sidebar
    img(src="images/icon/qc3002.jpg" alt="qc300")
  .hot-days#break-top
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Xem nhiều nhất
    .box-large-detail
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/5c/thumbnail_4x3_xa-sung.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body.most-views
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Sau thất bại tại The Face, Mai Ngô quyết định bỏ nghề...
          span.time-up 6:00 20/10/2016
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5838/41/thumbnail_4x3_pixee-fox-3.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body.most-views
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Bò King: Xứng danh "vua bò" bít tết Hà Nội
          span.time-up 6:00 20/10/2016
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583b/d5/thumbnail_4x3_giang-sinh.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body.most-views
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Bí quyết “níu kéo” những ngày cuối hè hiệu quả
          span.time-up 6:00 20/10/2016
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/06/thumbnail_4x3_rau-sach.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body.most-views
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Tháng Mười – Quán café view Hồ Tây siêu đẹp cho...
          span.time-up 6:00 20/10/2016
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/5c/thumbnail_4x3_xa-sung.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body.most-views
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Duy nhất hôm nay: Sẵn sàng "chiến" ngày hội mua sắm...
          span.time-up 6:00 20/10/2016
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/58/thumbnail_4x3_daohoa1.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body.most-views
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Hà Lade xinh tươi đi làm đẹp tại thẩm mỹ viện nổi tiếng 
          span.time-up 6:00 20/10/2016
  .hot-eventlist#break-middle
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Có thể bạn quan tâm
    .padding-detail  
      .box-stream-info-top.bottom-consider
        a.thumb-eventhot(href="detail-life.html"  title= "Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ") 
          img(src="images/care1.png", alt="Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ")
        h3.title-main-3
          a(href="detail-life.html") Giải mã kiểu pose hình cực cool đang hot trên Instagram những ngày gần đây
          span.time-up 6:00 20/10/2016
      .box-stream-info-top.bottom-consider
        a.thumb-eventhot(href="detail-life.html"  title= "Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ") 
          img(src="images/care2.jpg", alt="Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ")
        h3.title-main-3
          a(href="detail-life.html") Bãi Rạng - Bãi Ôm: Bộ đôi bãi biển đẹp “rụng rời” chưa in dấu chân khách du lịch tại Việt Nam
          span.time-up 6:00 20/10/2016
      .box-stream-info-top.bottom-consider
        a.thumb-eventhot(href="detail-life.html"  title= "Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ") 
          img(src="images/care3.png", alt="Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ")
        h3.title-main-3
          a(href="detail-life.html") 5 quán bún chả Hà Nội không có trong cẩm nang du lịch nào, nhưng bạn nhất định phải thử!
          span.time-up 6:00 20/10/2016
      //- .box-stream-info-top.bottom-consider
      //-   a.thumb-eventhot(href="detail-life.html"  title= "Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ") 
      //-     img(src="images/care4.jpg", alt="Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ")
      //-   h3.title-main-3
      //-     a(href="detail-life.html") Amser đã có một đêm thực sự bùng nổ với Ngày hội anh tài 2016!  
      //-     span.time-up 6:00 20/10/2016
  .hot-days#break-bottom.scroll-fixed-right
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Tin nổi bật
    .box-highlight-left
      h3.title-main-3 
        a(href="detail-life.html") Gareth Bale gây náo loạn tại Real Madrid
      .media.topmargin-fix
        .media-left
          a.thumb-highlight(href="detail-life.html")
            img(src="images/bekt.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
        .media-body
          p.content-news Gareth Bale đang muốn khẳng định vị thế tại Real Madrid khi yêu cầu được tăng lương sau khi có    
    .box-highlight-left
      h3.title-main-3
        a(href="detail-life.html") Người mẹ nghèo mang rau lên thành phố, bị con gái xua đuổi
      .media.topmargin-fix
        .media-left
          a.thumb-highlight(href="detail-life.html")
            img(src="images/life.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
        .media-body
          p.content-news Muốn đẹp hơn, sang chảnh hơn, điều đó không sai. Thế nhưng, vì chạy theo ước muốn ấy mà đạp đổ
    .box-highlight-left
      h3.title-main-3
        a(href="detail-life.html") Phương Thanh vội vã tới bệnh viện thăm Minh Thuận
      .media.topmargin-fix
        .media-left
          a.thumb-highlight(href="detail-life.html")
            img(src="images/thanh.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
        .media-body
          p.content-news Nữ ca sĩ Phương Thanh lặng lẽ cùng người bạn thân tới bệnh viện để thăm Minh Thuận  
    .box-highlight-left
      h3.title-main-3 
        a(href="detail-life.html") Gareth Bale gây náo loạn tại Real Madrid
      .media.topmargin-fix
        .media-left
          a.thumb-highlight(href="detail-life.html")
            img(src="images/bekt.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
        .media-body
          p.content-news Gareth Bale đang muốn khẳng định vị thế tại Real Madrid khi yêu cầu được tăng lương sau khi có    
    //- .box-highlight-left
    //-   h3.title-main-3
    //-     a(href="detail-life.html") Người mẹ nghèo mang rau lên thành phố, bị con gái xua đuổi
    //-   .media.topmargin-fix
    //-     .media-left
    //-       a.thumb-highlight(href="detail-life.html")
    //-         img(src="images/life.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
    //-     .media-body
    //-       p.content-news Muốn đẹp hơn, sang chảnh hơn, điều đó không sai. Thế nhưng, vì chạy theo ước muốn ấy mà đạp đổ   
  //- .qc-sidebarlong
  //-   img(src="images/icon/qc600.jpg" alt="qc600")