doctype html
html(lang="vi")
	include ./head.jade
	link(rel='stylesheet', href='css/jquery.fancybox.css')
	link(rel='stylesheet', href='css/jquery.fancybox-buttons.css')
	body
		include ./header.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event.change-scroll
							h1 Đời sống
							ul.menu-cate
								each val in ['Nhịp Sống', 'Nhân Vật','Giới Trẻ','Xem - Ăn - Chơi','Sức Khỏe', 'Khám Phá','Góc Nhìn']
									li
										a(href="category-life.html")= val
						ul.menu-mini
							li
								h4 Nhịp sống
							li.active
								a(href="#") Chuyện thường
							li
								a(href="#") Góc nhìn
							li
								a(href="#") Phản ánh		
		section.detail-main.page-wrap
			.container
				.row
					.col-xs-12
						.detail-news-center
							.cover-photo(style="background-image: url('http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_15.jpg')")
								.meta-photo
									h1.white-title Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn
									.author-photo
										span Bởi
										span.author-name Thành Đạt
										span -
										span 07:30 ngày 07/09/2016
							.summary-photo 
								p Nằm trong một con hẻm nhỏ ở đường Huỳnh Tấn Phát, cả cơ sở rộng chừng chục mét vuông với 3 nhân công, hẳn nhiều người sẽ bất ngờ khi tới thăm nhà của nghệ nhân làm rối Phùng Văn Oánh, người làm rối nước duy nhất tại Sài Gòn.
							main#lightgallery.main-article
								.box-keyword.media
									.media-left
										a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
											img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn
										span.content-news Chị em cứ phải hóng đâu cho xa xôi, ở ngay Việt Nam mình vẫn có vô số trai đẹp để ngắm nghía và yêu thương thế này cơ mà!
								figure
									a(href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg" class="article" rel="fancybox-button" title="Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối, nhưng như được định mệnh sắp đặt, ông gắn bó với những con rối ngay từ khi còn ngồi trên ghế giảng đường trường Đại học mỹ thuật Hà Nội. Sau đó, ông khăn gói vào Nam lập nghiệp với những con rối trong balo và sứ mệnh mang loại hình giải trí dân gian này đến với Sài Gòn.")
										img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									figcaption Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối
								p Ấn tượng đầu tiên của người viết đó là khu vực cafe sân vườn vô cùng mát mẻ, nó đem lại một không gian thư giãn tuyệt vời cho bạn sau những giờ chinh chiến ác liệt trên chiến trường ảo. Có thể nói, bao nhiêu mệt mỏi của bạn lúc&nbsp;gánh team&nbsp;sẽ nhanh chóng tan biến&nbsp;khi thưởng thức&nbsp;một ly soda và hòa mình vào&nbsp;không khí yên tỉnh&nbsp;tại Misa Coffee.&nbsp;
								figure
									a(href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg" class="article" rel="fancybox-button" title="Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh.")
										img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: "Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh".
								figure
									a(href="images/maxresdefault.jpg" class="article" rel="fancybox-button" title="Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.")
										img(src="images/maxresdefault.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.
								figure
									a(href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg" class="article" rel="fancybox-button" title="Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.")
										img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.
								p.source-link
									a(href="#") http://khoeplus.vn/tam-su/chuyen-nha-sao/hoai-lam-toi-khong-bao-gio-bong-bot-trong-chuyen-tinh-cam-9716.html
						//- .name-ad-speacial
						//- 	span Thành Đạt
						.share-likedbutton.share-center
							a(href="#")
								span.icon-minfb
								| Chia sẻ Facebook
						.tags-involve
							strong Từ khóa:
							a(href="#") du lịch
							a(href="#") phải đi hè này
							a(href="#") Sapa
							a(href="#") Hà Giang
							a(href="#") MinisoVietnam
						//- .icon-social-detail
						//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
						//- 	a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
						//- 	a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
						//- 	iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=154&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=550665205082229', width='200', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
						//- .post-comment
						//- 	.comment-total
						//- 		h3 Bình luận
						//- 	.comment-area
						//- 		.avat-image
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		form.comment-boxarea
						//- 			.area-comment
						//- 				textarea(placeholder='Bình luận của bạn...')
						//- 			.buttom-comment
						//- 				button.button-submit(type='submit') Đăng	
						//- 	.comment-section
						//- 		.avacm-img
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		.comment-boxarea
						//- 			span.comment-account Lee Cường
						//- 			p.comment-contain Chúng ta đề cao tinh thần nhân đạo, yêu chuộng hòa bình nhưng đối vs họ thì đụng vào tàu cá cướp hàng và phương tiện, vô nhân đạo khi thấy chúng ta gặp quy hiểm. Những ngư dân này khi về tới nhà suy nghi như thế nào về hành động của chính phủ họ đối với ngư dân VN nhỉ?
						//- 			.cmtsecont 
						//- 				span Trả lời
						//- 				span.alt-tab -
						//- 				span.icon-like
						//- 				span 346 Thích
						//- 			form.comment-boxsecond
						//- 				.area-comment
						//- 					textarea(placeholder='Phản hồi của bạn')
						//- 				.buttom-comment
						//- 					button.button-submit(type='submit') Đăng
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Vinh Nguyễn
						//- 					p.comment-contain Họ làm gì được biết cách mà chính phủ họ đối với ngủ dân VN mà suy nghĩ ))
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 2 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Trinh Sinh
						//- 					p.comment-contain Tôi và hàng triệu người dân việt nam rất vui khí nhận đựơc tin này rất mong những người làm nhiệm vụ thực thi trên biển hãy làm nhiều việc làm như thế để bảo vệ ngư trường biển đảo của Việt Nam.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 12 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Linh Nguyệt
						//- 					p.comment-contain Tôi tán thành cách xử lý của các đồng chí, chỉ cần đuổi thôi là họ cảm thấy nhục và phục rồi, cần chi dùng vũ lực.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 6 Thích
						//- 	.loadMore
						//- 		span Tải thêm bình luận
			.container
				.row
					.col-md-12
						.relate-title
							span Tin tức liên quan
					.col-xs-12
						.row.equal
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf3.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") "Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc với lời khuyên này!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf4.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Bàn ghế làm từ băng, không gian âm 10 độ C
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf5.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf6.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần một mục tiêu sống
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf7.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf8.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý
		include ./footer.jade
		script(src='js/jquery.fancybox.js')
		script(src='js/jquery.fancybox-buttons.js')
		include ./script.jade
		script(type='text/javascript').
			$('.main-article figure a').fancybox({
			prevEffect    : 'none',
			nextEffect    : 'none',
			closeBtn    : false,
			helpers   : {
			title : { type : 'inside' },
			buttons : {}
			}
			});