.col-xs-12
  .row
    .col-xs-2.col-fix-divide-left-large2
      .sub-title-left.scroll-to-fixed
        .border-top-sub
        h2
          a(href="") Thời trang
        p 
          a(href="#") Làm đẹp
        p 
          a(href="#") Xu hướng
        p
          a(href="#") Thời trang sao
        p
          a(href="#") Bộ sưu tập
    .col-xs-10.col-fix-divide-right-large
      .row
        .col-xs-3
          .box-content-fashion
            a(href="#" title="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
              img(src="images/fashion-01.png", alt="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
            p
              a(href="#") 5 xu hướng thời trang đang "làm mưa làm gió" mùa hè 2016
        .col-xs-3
          .box-content-fashion
            a(href="#" title="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
              img(src="images/fashion-02.png", alt="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
            p
              a(href="#") Hoàng Thùy đẹp ma mị trong BST mới
        .col-xs-3
          .box-content-fashion
            a(href="#" title="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
              img(src="images/fashion-03.png", alt="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
            p
              a(href="#") Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn
        .col-xs-3
          .box-content-fashion
            a(href="#" title="Thanh Hằng khoe street style tươi trẻ cùng các học viên")
              img(src="images/fashion-04.png", alt="Thanh Hằng khoe street style tươi trẻ cùng các học viên")
            p
              a(href="#") Thanh Hằng khoe street style tươi trẻ cùng các học viên
      .line