footer
  .container-mobile
    .main-footer
      .content-footer
        h3.title-footer theo dõi kul news
        .social-footer.widget-socialize
          a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
            .symbol
              span
            .text-footer
              p 1.1M
              p Facebook
          a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
            .symbol
              span
            .text-footer
              p 60
              p Google+
          a(href="https://www.pinterest.com/" title="youtube" class="icon youtube" target="_blank")
            .symbol
              span
            .text-footer
              p 33.5k
              p Youtube
          a(href="https://www.instagram.com/kulnews/" title="instagram" class="icon instagram" target="_blank")
            .symbol
              span
            .text-footer
              p 1.6k
              p Instagram

.mobile-change
  .link-mobile
    .thumb-logo
      img(src="images/icon/news.svg" alt="Kul News logo")
    p Bạn cần chuyển qua giao diện máy tính để có được những trải nghiệm tốt hơn trên Kul News
    a(href="index.html") Chuyển về giao diện đầy đủ    