footer.main-footer
  .container
    //- .line
    .row
      .col-xs-12
        .row
          .col-xs-3
            h3.title-footer Kul News
            p.info-footer Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.
            p.info-footer Chịu trách nhiệm quản lý nội dung: Trang Lan Anh Phương.
          .col-xs-3
            h3.title-footer Đơn vị chủ quán
            p.info-footer CÔNG TY CP TRỰC TUYẾN CMN VIỆT NAM
            p.info-footer Địa chỉ: Số 549 Điện Biên Phủ, Phường 3, Quận 3, Tp Hồ Chí Minh.
            p.info-footer Điện thoại: 08 38335466
          .col-xs-3
            h3.title-footer Liên Hệ quảng cáo
            //- p.info-footer Liên hệ đặt quảng cáo:
            p.info-footer Mail: Ads@kul.vn
            p.info-footer MS Quỳnh My: 0934 862 882
            p.info-footer Skype: Quynhmy0802
            //- ul.link-extra
            //-   li
            //-     a.link-footer(href="#") Tuyển dụng
            //-   li
            //-     a.link-footer(href="#") Liên hệ và Quảng cáo
            //-   li
            //-     a.link-footer(href="#") Điều khoản sử dụng
            //-   li
            //-     a.link-footer(href="#") Chính sách về Quyền riêng tư

          .col-xs-3
            h3.title-footer theo dõi kul news
            .social-footer.widget-socialize
              a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
                .symbol
                  span
                .text-footer
                  p 1.1M
                  p Facebook
              a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
                .symbol
                  span
                .text-footer
                  p 60
                  p Google+
              a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="youtube" class="icon youtube" target="_blank")
                .symbol
                  span
                .text-footer
                  p 33.5k
                  p Youtube
              a(href="https://www.instagram.com/kulnews/" title="instagram" class="icon instagram" target="_blank")
                .symbol
                  span
                .text-footer
                  p 1.6k
                  p Instagram
.back-top
  .icon-scrolltop
    span
.mobile-change
  .link-mobile
    .thumb-logo
      img(src="images/icon/news.svg" alt="Kul News logo")
    p Bạn cần chuyển qua giao diện Mobile để có được những trải nghiệm tốt hơn trên Kul News
    a(href="index-mb.html") Chuyển sang giao diện Mobile