doctype html
html(lang="vi")
	include ./head.jade
	link(rel='stylesheet', href='css/jquery.fancybox.css')
	link(rel='stylesheet', href='css/jquery.fancybox-thumbs.css')
	body
		include ./header.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event
							h1 Đời sống
							ul.menu-cate
								each val in ['Nhịp Sống', 'Nhân Vật','Giới Trẻ','Xem - Ăn - Chơi','Sức Khỏe', 'Khám Phá','Góc Nhìn']
									li
										a(href="category-life.html")= val
						ul.menu-mini
							li
								h4 Game
							li.active
								a(href="#") Game online
							li
								a(href="#") Game Offline
							li
								a(href="#") eSports
							li
								a(href="#") Cosplay
		section.detail-main.page-wrap
			.container
				.row
					.col-xs-12
						.detail-news-center
							.cover-photo(style="background-image: url('images/game-speacal-01.jpg")
								.meta-photo
									h1.white-title Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn
									.author-photo
										span.like-g 1234
										span.views-g 4321
									.box-gs-score
										.gs-score.gs-score-large.score-9
											.gs-score_clip
												.gs-score_pie.gs-score_spinner
											.gs-score_clip.gs-score_clip2
												.gs-score_pie.gs-score_filler
											.gs-score_inner
												span 9	
							.summary-photo 
								p Không để người hâm mộ phải chờ đời thêm 1 giây phút nào, đúng như những gì đã hẹn trước thì Assassin's Creed Identity đã chính thức đặt chân tới nền tảng iOS vào 25/2 vừa qua. Với mục đích phát hành ít nhất 1 phiên bản thuộc series Assassin's Creed mỗi năm thì Ubisoft đã phải đau đầu, vật lộn để cân bằng giữa số lượng và chất lượng. Dĩ nhiên thì việc phát hành Assassin's Creed Identity đã được nghiên cứu rất kỹ để người chơi không phải phàn nàn, chê trách.
							main#lightgallery.main-article
								figure
									a(href="#")
										img(src="images/game-speacal-02.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									figcaption Trước hết, chúng ta cần phải khen ngợi đội ngũ phát triển Assassin's Creed Identity, họ đã xây dựng trò chơi với 3D tối tân nhất. Mọi chi tiết, cảnh vật trong game đều được thiết kế tỉ mỉ từ đổ bóng cho tới góc cạnh các công trình. Thậm chỉ cả quy luật ngày và đêm cũng được chăm chút không thua kém gì các phiên bản của game trên PC/ Console. Tuy nhiên, để chơi được game bạn cần phải sở hữu iPad 3 và iPhone 5 trở lên và trang bị hệ điều hành iOS 7 và 8.
								figure
									img(src="images/game-speacal-03.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Về lối chơi, Assassin's Creed Identity sẽ đưa người chơi vào những pha hành động nhập vai khác hoàn toàn so với lối chơi hành động lén lút như đã từng làm với dòng game Assassin's Creed. Game mobile này đưa người chơi đến với Thời Phục Hưng ở nước Ý như đã từng làm với Assassin's Creed 2 và Assassin's Creed Brotherhood. Đặc biệt trong Assassin's Creed Identity, người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình từ 4 lớp nhân vật là Berserker, Shadow Blade, Trickster và Thief.
								figure
									img(src="images/game-speacal-04.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Assassin's Creed Identity vẫn đi theo mô tuýp luyện cấp truyền thống đối với những trò chơi cùng thể loại trên di động. Game thủ có thể thu thập thêm kinh nghiệm thông qua những nhiệm vụ và các sự kiện mà hệ thống mang tới. Chính vì thế, dù có lựa chọn lớp nhân vật nào thì bạn vẫn có quyền đặt tay lên bộ kỹ năng đa dạng thể, phát triển qua quá trình tích lũy kinh nghiệm và lên cấp như một sản phẩm nhập vai thực thụ.
								figure
									img(src="images/game-speacal-05.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Cơ chế điều khiển trong game sẽ được tích hợp ngay trên màn hình và game thủ chỉ cần chạm vuốt để di chuyển và tấn công kẻ thù. Bạn có thể sử dụng Hidden Blade để hạ gục đối phương một cách âm thầm hay sử dụng các kỹ năng cận chiến nếu như bị phát hiện.
								figure
									img(src="images/game-speacal-06.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Tuy nhiên thì Assassin's Creed Identity đã mắc phải một điểm trừ nhỏ và sẽ khiến cho những game thủ phải cảm thấy khó chịu. Trò chơi không cho phép game thủ thoải mái di chuyển, bạn chỉ có thể khám phá thành phố trong một khu vực nhất định tùy vào từng nhiệm vụ. Có lẽ đây cũng là lý do dẫn tới việc tương tác giữa nhân vật với các bức tường, anh chàng sát thủ của chúng ta sẽ lựa chọn hình thức leo trò dù có thể đi bộ qua địa điểm chỉ định 1 cách dễ dàng.v
								figure
									img(src="images/game-speacal-07.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Nhìn chung, Assassin's Creed Identity vẫn nhận được những lời khen từ phía cộng đồng game thủ, đánh giá cao từ giới chuyên môn. Mặc dù những lỗi nhỏ có xuất hiện nhưng đó là điều hoàn toàn dễ hiểu vì chẳng có điều gì là hoàn hảo hết. Dù sao, chỉ có tải về và tự trải nghiệm bạn mới có thể cảm nhận được hết tất cả những gì thú vị mà trò chơi mang lại.
						.box-assess
							.avata-game
								img(src="images/avata-game.jpg" alt="Kul News Trang tin")
								span Assassin's Creed IV
							.row
								.col-sm-5
									strong.devision Ưu Điểm:
									.strong-point
										ul
											li Bối cảnh 3D tối tân nhất, giao diện đẹp, hoành tráng
											li Cốt truyện hấp dẫn, dẫn dắt kịch tính 
											li Assassin's Creed IV đưa người chơi nhập vai vào những pha hành động hấp dẫn.
											li Người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình
								.col-sm-4
									strong.devision.less Khuyết Điểm:
									.weak-point
										ul
											li Vẫn còn tồn tại kha khá lỗi cả về hình ảnh và gameplay
											li Thời lượng chơi tương đối ngắn
								.col-sm-3
									strong.devision.text-center Điểm Trung bình
									.box-gs-score
										.gs-score.gs-score-large.score-9
											.gs-score_clip
												.gs-score_pie.gs-score_spinner
											.gs-score_clip.gs-score_clip2
												.gs-score_pie.gs-score_filler
											.gs-score_inner
												span 9
						.share-likedbutton.share-center
							a(href="#")
								span.icon-minfb
								| Chia sẻ Facebook
						.tags-involve
							strong Từ khóa:
							a(href="#") du lịch
							a(href="#") phải đi hè này
							a(href="#") Sapa
							a(href="#") Hà Giang
							a(href="#") MinisoVietnam
						//- .icon-social-detail
						//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
						//- 	a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
						//- 	a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
						//- 	iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=154&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=550665205082229', width='200', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
						//- .post-comment
						//- 	.comment-total
						//- 		h3 Bình luận
						//- 	.comment-area
						//- 		.avat-image
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		form.comment-boxarea
						//- 			.area-comment
						//- 				textarea(placeholder='Bình luận của bạn...')
						//- 			.buttom-comment
						//- 				button.button-submit(type='submit') Đăng	
						//- 	.comment-section
						//- 		.avacm-img
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		.comment-boxarea
						//- 			span.comment-account Lee Cường
						//- 			p.comment-contain Chúng ta đề cao tinh thần nhân đạo, yêu chuộng hòa bình nhưng đối vs họ thì đụng vào tàu cá cướp hàng và phương tiện, vô nhân đạo khi thấy chúng ta gặp quy hiểm. Những ngư dân này khi về tới nhà suy nghi như thế nào về hành động của chính phủ họ đối với ngư dân VN nhỉ?
						//- 			.cmtsecont 
						//- 				span Trả lời
						//- 				span.alt-tab -
						//- 				span.icon-like
						//- 				span 346 Thích
						//- 			form.comment-boxsecond
						//- 				.area-comment
						//- 					textarea(placeholder='Phản hồi của bạn')
						//- 				.buttom-comment
						//- 					button.button-submit(type='submit') Đăng
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Vinh Nguyễn
						//- 					p.comment-contain Họ làm gì được biết cách mà chính phủ họ đối với ngủ dân VN mà suy nghĩ ))
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 2 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Trinh Sinh
						//- 					p.comment-contain Tôi và hàng triệu người dân việt nam rất vui khí nhận đựơc tin này rất mong những người làm nhiệm vụ thực thi trên biển hãy làm nhiều việc làm như thế để bảo vệ ngư trường biển đảo của Việt Nam.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 12 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Linh Nguyệt
						//- 					p.comment-contain Tôi tán thành cách xử lý của các đồng chí, chỉ cần đuổi thôi là họ cảm thấy nhục và phục rồi, cần chi dùng vũ lực.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 6 Thích
						//- 	.loadMore
						//- 		span Tải thêm bình luận
			.container
				.row
					.col-md-12
						.relate-title
							span Tin tức liên quan
					.col-xs-12
						.row.equal
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf3.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") "Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc với lời khuyên này!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf4.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Bàn ghế làm từ băng, không gian âm 10 độ C
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf5.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf6.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần một mục tiêu sống
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf7.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf8.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý
		include ./footer.jade
		script(src='js/jquery.fancybox.js')
		script(src='js/jquery.fancybox-thumbs.js')
		include ./script.jade