head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp
  link(rel='shortcut icon', href='images/k.ico', type='image/x-icon')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='app.css')
  script(src='js/jquery-2.1.4.min.js')