.close-menu
header.site-header.fixed
  .main-navigation.container-fluid
    .row
      .col-xs-3
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse")
            span.ico.icon-bar
            span.ico.icon-bar
            span.ico.icon-bar           
      .col-xs-6
         h1.logo-top-1
          a(href="index-mb.html", title="Tin tức, giải trí, xã hội") 
            img(src ="images/icon/kul-mb.svg", alt="Kul trang tin tức giới trẻ")
            span Kul News Tin tức, giải trí, xã hội
      .col-xs-3
        .search-box
          form.navbar-form.navbar-right
            span.glyphicon.glyphicon-search-show#search
              button.search-button#search-button
            span.glyphicon.glyphicon-remove-hide#close
              button.close#close-search
      .col-xs-12
        .box-search-input.search-group
          form(class="form-group" id='search-form')
            .input-group
              input(type="text" name="search" value class="form-control" placeholder="Nhập nội dung.." autofocus)
              span.search-mini
                button(type="submit" class="btn-search-mini" id ="search-icon" title="Tìm")
.btn-menu
  ul.nav.navbar-nav
    li.icon-video
      a(href="video-mb-news.html")
        |Video
    li.icon-life
      a(href="cate-mb-life.html")
        |Đời Sống
    li.icon-world
      a(href="cate-mb-life.html")
        |Thế giới
    li.icon-ent
      a(href="cate-mb-life.html")
        |Giải Trí
    li.icon-fas
      a(href="cate-mb-life.html")
        |Thời Trang
    li.icon-game
      a(href="cate-mb-life.html")
        |Game
    li.icon-sport
      a(href="cate-mb-life.html")
        |Thể Thao
    li.icon-techuvuv
      a(href="cate-mb-life.html")
        |Công Nghệ    
    li.icon-health
      a(href="cate-mb-life.html")
        |Sức khỏe
    li.icon-laydy
      a(href="cate-mb-life.html")
        |Phái Đẹp
    li.icon-laydy
      a(href="cate-mb-life.html")
        |Magazine
    li.icon-baby
      a(href="cate-mb-life.html")
        |Mẹ và bé
  .info-page
    span Kul News
    p Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.
    p Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.
    p.hotline Hot line: 0987 955 990
  