header.site-header.fixed.header
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        ul.nav.navbar-nav.nav-upright
          li.active.home-index
            a(href="index.html") Trang chủ
          li.dropdown
            a(href="video-news.html") Video
            ul.sub-menu
              li
                a(href="video-detail.html") Showbiz
              li
                a(href="video-detail.html") MV & Trailer
              li
                a(href="video-detail.html") Giải trí
              li
                a(href="video-detail.html") Hài
              li
                a(href="video-detail.html") Thời sự
          li.dropdown
            a(href="category-life.html") Đời Sống
            ul.sub-menu
              li
                a(href="category-life.html") Xã hội
                ul.menu_level_2
                  li
                    a(href="#") Tin Trong nước
                  li
                    a(href="#") Tin thế giới
              li
                a(href="category-life.html") Giới trẻ
              li
                a(href="category-life.html") Nhân vật
              li
                a(href="category-life.html") Khám phá
              li
                a(href="category-life.html") Ảnh & Video
              li
                a(href="category-life.html") Góc nhìn
          li.dropdown
            a(href="category-life.html") Tin thế giới      
          li.dropdown
            a(href="category-life.html") Giải Trí
            ul.sub-menu
              li
                a(href="category-life.html") Sao
                ul.menu_level_2
                  li
                    a(href="#") Sao Việt
                  li
                    a(href="#") Sao Quốc tế
              li
                a(href="category-life.html") Âm nhạc
              li
                a(href="category-life.html") Điện Ảnh
                ul.menu_level_2
                  li
                    a(href="#") Phim Việt
                  li
                    a(href="#") Phim Nước Ngoài
              li
                a(href="category-life.html") TV Show
          li.dropdown
            a(href="category-life.html") Thời Trang
            ul.sub-menu
              li
                a(href="category-life.html") Phái Mạnh
              li
                a(href="category-life.html") Fashion 360
              li
                a(href="category-life.html") Xu Hướng
                ul.menu_level_2
                  li
                    a(href="#") Bộ Sưu Tập
              li
                a(href="category-life.html") Thời Trang Sao
              li
                a(href="category-life.html") Phụ Kiện
          li.dropdown
            a(href="index-game.html") Game
            ul.sub-menu
              li
                a(href="category-life.html") Đánh giá game
              li
                a(href="category-life.html") Game trong nước
              li
                a(href="category-life.html") Game Nước ngoài
              li
                a(href="category-life.html") Esports
              li
                a(href="category-life.html") Clip Game Hay
              li
                a(href="category-life.html") Gift Code
          li.dropdown
            a(href="category-life.html") Thể Thao
            ul.sub-menu
              li
                a(href="category-life.html") Bóng Đá Việt Nam
              li
                a(href="category-life.html") Bóng đá thế giới
              li
                a(href="category-life.html") Các môn thể thao khác
              li
                a(href="category-life.html") AFF Suzuki Cup
          li.dropdown
            a(href="category-life.html") Công Nghệ
            ul.sub-menu
              li
                a(href="category-life.html") Tin Công Nghệ
              li
                a(href="category-life.html") Review
              li
                a(href="category-life.html") Thủ thuật
          li.dropdown
            a(href="category-life.html") Sức khỏe
            ul.sub-menu
              li
                a(href="category-life.html") Bạn cần biết
                ul.menu_level_2
                  li
                    a(href="#") Khỏe đẹp
                  li
                    a(href="#") Dinh dưỡng
              li
                a(href="category-life.html") Kiến Thức Giới Tính
              li
                a(href="category-life.html") Các bệnh thường gặp
          li.dropdown
            a(href="index-beauty.html") Phái Đẹp
            ul.sub-menu
              li
                a(href="index-beauty.html") Làm đẹp
              li
                a(href="index-beauty.html") Mẹ & Bé
              li
                a(href="index-beauty.html") Vào bếp
              li
                a(href="index-beauty.html") Khéo tay - DIY
              li
                a(href="index-beauty.html") Sống & yêu
                ul.menu_level_2
                  li
                    a(href="#") Bói vui
              li
                a(href="index-beauty.html") Video
              li
                a(href="index-beauty.html") Cộng Đồng
          li.dropdown
            a(href="index-beauty.html") Editor's Choice
            ul.sub-menu
              li
                a(href="index-beauty.html") Top 5
              li
                a(href="index-beauty.html") Insprite       
        .search-box
          form.navbar-form.navbar-right
            div(class="form-group" id='search-form')
              .input-group
                input(type="text" name="search" value class="form-control" placeholder="Nhập nội dung.." autofocus)
                span.search-mini
                  button(class="btn-search-mini" id ="search-icon" title="Tìm")
            span.glyphicon.glyphicon-search-show#search
              button.search-button#search-button
            span.glyphicon.glyphicon-remove-hide#close
              button.close#close-search             
        button.navbar-toggle.collapsed#btn-show-menu(type="button" data-toggle="collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar