.highlight-video
  .sub-title-left
    .border-top-sub
    h2.sidebar-right Video nổi bật
  .box-highlight-video
    a(href="#" class="highlight-video-glass")
    .video-img
      img(src="http://cdn.kul.vn/data/article/2016/07/20/0d54a21f80d7d3f9a2b12775c84a150f_640x360.jpg", alt="")
      span.icon-play-round-48
      .bg-bottom-video
    .highlight-video-title
      h3.title-main-5 Lâm Vỹ Dạ khóc nức nở trước nhận xét của Trường Giang, nhiều nghệ sĩ hài thấm thía