.main-righ
  .qc-sidebar
    span Ads 300 x250
  .highlight-video
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Video nổi bật
    .box-highlight-video
      a(href="#" class="highlight-video-glass")
      .video-img
        img(src="http://cdn.kul.vn/data/article/2016/07/20/0d54a21f80d7d3f9a2b12775c84a150f_640x360.jpg", alt="")
        span.icon-play-round-64
        .bg-bottom-video
      .highlight-video-title
        h3.title-main-5 Lâm Vỹ Dạ khóc nức nở trước nhận xét của Trường Giang, nhiều nghệ sĩ hài thấm thía
  .event-stream-news
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Theo dòng sự kiện
    .padding-event  
      .box-stream-info-top
        a(href="detail-life.html"  title= "Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ") 
          img(src="images/timeline.jpg", alt="Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ")
        h3.title-main-3
          a(href="detail-life.html") Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt "Găng tay đỏ"
        p.content-news Với sự đầu tư công phu và tham gia của dàn diễn viên trẻ sáng giá, buổi ra mắt Găng tay đỏ thu hút được sự tham gia đông đảo của giới chuyên môn và khán giả.
      ul.event-list
        li
          a(href="#") Bé Kim Thư đáng yêu cùng chú Trấn Thành ra mắt phim "Nắng"
        li
          a(href="#") MSI chính thức ra mắt các dòng laptop mới tại Việt Nam
        li
          a(href="#") Phụ nữ đa tình là "duyên" hay "nghiệt"?
        li
          a(href="#") 5 năm đi làm xa, rơi nước mắt khi thấy bầu ngực của vợ lấp ló sau áo 
  .hot-days
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Hot trong ngày
    .box-large-hnd
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/hots3.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/hots2.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Nổi tiếng là "trai hư", Justin Bieber đã lấy lòng của bố bạn gái thế nào?
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="images/hots1.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/hots4.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Gấu trúc khổng lồ đã biến mất trong Sách Đỏ
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/hots5.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Hà Nội: Xe khách lật trên cao tốc Pháp Vân - Cầu Giẽ, 11 người thương vong
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="images/hots6.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") iPhone 7 bất ngờ xuất hiện tại Việt Nam: Bỏ nút home cũ, bỏ jack tai nghe, chống nước   
  .qc-sidebarlong.scroll-fixed-right
    span Ads 300 x600 