.main-righ
  //- .qc-sidebar
  //-   img(src="images/icon/qc3002.jpg" alt="qctop")
  .event-stream-news.no-padding
    h3.title-slide-video.none-topmargin
      span
        i.play-circle
        | Video liên quan
    .box-large-vid
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/hots3.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
            span.icon-play-round-32
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường
          span.time-up 6:00 20/10/2016
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/hots2.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
            span.icon-play-round-32
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Nổi tiếng là "trai hư", Justin Bieber đã lấy lòng của bố bạn gái thế nào?
          span.time-up 6:00 20/10/2016
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="images/hots1.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như...
          span.time-up 6:00 20/10/2016
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/hots4.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
            span.mini-play
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Gấu trúc khổng lồ đã biến mất trong Sách Đỏ
          span.time-up 6:00 20/10/2016
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/hots5.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
            //- span.icon-play-round-32
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Hà Nội: Xe khách lật trên cao tốc Pháp Vân - Cầu Giẽ, 11 người thương vong
          span.time-up 6:00 20/10/2016
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="images/hots6.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") iPhone 7 bất ngờ xuất hiện tại Việt Nam: Bỏ nút home cũ, bỏ jack tai nghe, chống nước
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/hots3.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường
      .media.box-sm-vid
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/hots2.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Nổi tiếng là "trai hư", Justin Bieber đã lấy lòng của bố bạn gái thế nào?    