doctype html
html
  include ./head.jade
  body
    include ./header-game.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-xs-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-xs-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                  img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
                  span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-xs-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event.change-scroll
              h1 ĐỜI SỐNG
              ul.menu-cate
                each val in ['Giới trẻ', 'Nhịp sống','Xem - Ăn - Chơi', 'Nhân Vật']
                  li
                    a(href="cate-game.html")= val
    section.highlight-headnews
      .container-fluid
        .row
          .col-xs-6.padding-none
            .highlight-life(style="background-image:url('http://kul.vn/media/cache/thumbnail_album_first_img_desktop_fix/uploads/media/thumbnail/586b/01/thumbnail_16x9_-dsc0267.jpg')")
              a(href="#" title="Tổng hợp các kiểu tóc đẹp 2016 bạn gái nhất định phải thử")
              .tech-text
                //- span.tech-cate Tech Review
                h3 Sài Gòn ngộ lắm, 20 năm bắt gián vẫn nuôi được gia đình
                span.time-up 23:00 07/12/2016
          .col-xs-3.padding-none
            .highlight-life
              .highlight-item(style="background-image:url('http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5868/89/thumbnail_4x3_bestie-hanh-phuc-20161230235545.jpg')")
                a(href="#" title="Cách cắm hoa trong tách trà thật phong cách")
                .tech-text
                  //- span.tech-cate Tech New
                  h3 Sống trọ ở Sài Gòn, bạn làm gì khi bắt đầu một năm mới
                  span.time-up 23:00 07/12/2016          
              .highlight-item(style="background-image:url('http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/586a/76/thumbnail_4x3_cong-troi-5.jpg')")
                a(href="#" title="Dành thời gian vui đùa bên con yêu")
                .tech-text
                  //- span.tech-cate Tech Life
                  h3 Giới trẻ truy tìm tông tích của "cổng trời" như tiên cảnh trong MV mới của Sơn Tùng
                  span.time-up 23:00 07/12/2016
          .col-xs-3.padding-none
            .highlight-life
              .highlight-item(style="background-image:url('http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/586b/53/thumbnail_4x3_album-kulnews-nguoi-dan-di-di-lam-ngay-dau-nam-2.jpg')")
                a(href="#" title="Cách cắm hoa trong tách trà thật phong cách")
                .tech-text
                  //- span.tech-cate Tech New
                  h3 Ngày đi làm đầu năm 2017 của người dân Sài Gòn
                  span.time-up 23:00 07/12/2016
              .highlight-item(style="background-image:url('http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5869/c6/thumbnail_4x3_ong-chu-cho-nhan-vien-nghi-phep-tuy-thich-2.jpg')")
                a(href="#" title="Dành thời gian vui đùa bên con yêu")
                .tech-text
                  //- span.tech-cate Tech Life
                  h3 Sếp "nhà người ta" cho nhân viên nghỉ phép vô thời hạn, không trừ lương
                  span.time-up 23:00 07/12/2016
    section.content-life
      .container
        .row.equal
          .col-xs-12
            h3.life-highlight Giới trẻ
          .col-xs-6
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_430x240/uploads/media/thumbnail/586c/76/thumbnail_16x9_kul-news-chuyen-tinh-nhu-phim-han-quoc-2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-1
                a(href="detail.html")  "Ông bố của năm": Dàn cảnh đâm xe để cưới vợ cho con trai như phim Hàn
              p.content-news.life-bottom Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
          .col-xs-6
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_430x240/uploads/media/thumbnail/586b/53/thumbnail_16x9_album-kulnews-nguoi-dan-di-di-lam-ngay-dau-nam-2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-1
                a(href="detail.html")  Ngày đi làm đầu năm 2017 của người dân Sài Gòn
              p.content-news.life-bottom Sáng ngày 3/1, người dân Sài Gòn đã tấp nập bận rộn đi làm sau những ngày nghỉ Tết Dương lịch. Tuy nhiên, khác xa với mọi năm, đường Sài Gòn vẫn đông xe nhưng dẫn đến kẹt xe nghiêm trọng.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/586b/b4/thumbnail_16x9_tac-gia-chu-thoong-qua-doi-1.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Tác giả bộ truyện tranh gắn liền với tuổi thơ - Chú Thoòng qua đời
              p.content-news Thông tin ông Vương Gia Hy qua đời được công ty từng quảng bá và đưa bộ truyện tranh Chú Thoòng vào thị trường chính thức công bố.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/586b/6a/thumbnail_16x9_kul-news-anh-che-lac-troi-son-tung-5.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Cười té ghế với loạt ảnh chế "bá đạo" lấy cảm hứng từ MV "Lạc trôi" của Sơn Tùng
              p.content-news Có thể nói, cư dân mạng chính là những người đi tiên phong và bắt kịp xu hướng nhất, khi chỉ cần một sự kiện nổi bật, họ có thể biến hóa thành đa dạng ảnh chế khiến nhiều người không khỏi thích thú.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/5869/ea/thumbnail_16x9_chay-nha-o-quan-binh-thanh-1.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Sài Gòn: Đầu năm đã có cháy, thanh niên 19 tuổi tử vong
              p.content-news Sáng nay, ngọn lửa bùng tại một căn nhà trong hẻm trên đường Bạch Đằng - Quận Bình Thạnh thiêu rịu mọi tài sản trong nhà.
        .row.equal
          .col-xs-12
            h3.life-highlight Nhịp sống
          .col-xs-6
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_430x240/uploads/media/thumbnail/586c/be/thumbnail_16x9_tai-khoan-instagram-danh-cho-cac-tin-do-sanh-an-wrightkitchen-4.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-1
                a(href="detail.html")  5 tài khoản Instagram khiến các "tín đồ" ẩm thực mê mệt
              p.content-news.life-bottom Instagram không còn là nơi chỉ để chia sẻ tâm tư, tình cảm đơn thuần, mà giờ đây, nó trở thành một kênh thông tin mạnh mẽ giúp người dùng truyền tải những sở thích cá nhân đến với những con người có cùng đam mê trên khắp thế giới.
            ul.list-news
              li
                a(href="#", title="") Từ "vòng xuyến" trên biển chỉ dẫn giao thông gây nhầm tưởng là... đồ trang sức
              li
                a(href="#", title="") Mới ngày đầu năm, đã có người trúng Vietlott gần 49 tỷ
              li
                a(href="#", title="") Sa thải phi công lái máy bay khi say rượu
              li
                a(href="#", title="") Đường phố Sài Gòn lung linh đèn hoa trang trí rực rỡ chào năm mới
              li
                a(href="#", title="") Cho phép chiếu rạp phim 18+, người đẹp chụp ảnh khỏa thân từ 1/1/2017
          .col-xs-6.left-lifenone
            .beat-life
              .media
                .media-left
                  a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
                    img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5868/c7/thumbnail_16x9_kul-news-nen-lam-trong-nam-moi-6-copy.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 2017 rồi, các cặp đôi hãy làm ngay 5 việc này trong năm mới
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
                    img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
                    img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/5867/f2/thumbnail_16x9_-dsc6787-2.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Có một ngôi miếu 300 tuổi giữa dòng sông Sài Gòn
                  p.content-news Giữa mênh mông sông nước của dòng sông Sài Gòn, tọa lạc trên một cồn đất nhỏ, tách biệt hẳn với đất liền là một ngôi miếu đặc biệt, Phù Châu Miếu. Kiến trúc và vị trí đặc biệt của ngôi miếu này đã làm không ít
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
                    img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
        .row.equal
          .col-xs-12
            h3.life-highlight Xem - Ăn - Chơi
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/586b/b4/thumbnail_16x9_tac-gia-chu-thoong-qua-doi-1.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Tác giả bộ truyện tranh gắn liền với tuổi thơ - Chú Thoòng qua đời
              p.content-news Thông tin ông Vương Gia Hy qua đời được công ty từng quảng bá và đưa bộ truyện tranh Chú Thoòng vào thị trường chính thức công bố.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/586b/6a/thumbnail_16x9_kul-news-anh-che-lac-troi-son-tung-5.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Cười té ghế với loạt ảnh chế "bá đạo" lấy cảm hứng từ MV "Lạc trôi" của Sơn Tùng
              p.content-news Có thể nói, cư dân mạng chính là những người đi tiên phong và bắt kịp xu hướng nhất, khi chỉ cần một sự kiện nổi bật, họ có thể biến hóa thành đa dạng ảnh chế khiến nhiều người không khỏi thích thú.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/5869/ea/thumbnail_16x9_chay-nha-o-quan-binh-thanh-1.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Sài Gòn: Đầu năm đã có cháy, thanh niên 19 tuổi tử vong
              p.content-news Sáng nay, ngọn lửa bùng tại một căn nhà trong hẻm trên đường Bạch Đằng - Quận Bình Thạnh thiêu rịu mọi tài sản trong nhà.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/586b/b4/thumbnail_16x9_tac-gia-chu-thoong-qua-doi-1.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Tác giả bộ truyện tranh gắn liền với tuổi thơ - Chú Thoòng qua đời
              p.content-news Thông tin ông Vương Gia Hy qua đời được công ty từng quảng bá và đưa bộ truyện tranh Chú Thoòng vào thị trường chính thức công bố.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/586b/6a/thumbnail_16x9_kul-news-anh-che-lac-troi-son-tung-5.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Cười té ghế với loạt ảnh chế "bá đạo" lấy cảm hứng từ MV "Lạc trôi" của Sơn Tùng
              p.content-news Có thể nói, cư dân mạng chính là những người đi tiên phong và bắt kịp xu hướng nhất, khi chỉ cần một sự kiện nổi bật, họ có thể biến hóa thành đa dạng ảnh chế khiến nhiều người không khỏi thích thú.
          .col-xs-4
            .cate-second
              .second-img
                a.second-thumb(href="detail-life.html" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
                  img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/5869/ea/thumbnail_16x9_chay-nha-o-quan-binh-thanh-1.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
              h3.title-main-3
                a(href="detail.html")  Sài Gòn: Đầu năm đã có cháy, thanh niên 19 tuổi tử vong
              p.content-news Sáng nay, ngọn lửa bùng tại một căn nhà trong hẻm trên đường Bạch Đằng - Quận Bình Thạnh thiêu rịu mọi tài sản trong nhà.
        .row.equal
          .col-xs-12
            h3.border-except
          .col-xs-12.col-sm-12.col-md-8
            .life-megabig
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                     img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  span.speacific-name Xem - Ăn - Chơi
                  span.time-up 6:00 20/10/2016
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                     img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  span.speacific-name Giới trẻ
                  span.time-up 6:00 20/10/2016
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                     img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  span.speacific-name Nhịp sống
                  span.time-up 6:00 20/10/2016
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                     img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  span.speacific-name Nhân vật
                  span.time-up 6:00 20/10/2016
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                     img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  span.speacific-name Xem - Ăn - Chơi
                  span.time-up 6:00 20/10/2016
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                     img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  span.speacific-name Giới trẻ
                  span.time-up 6:00 20/10/2016
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
              .media
                .media-left
                  a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                     img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5867/8e/thumbnail_16x9_1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Ngày cuối năm và câu chuyện buồn của cô chủ với chú chó cưng chết vì tai nạn
                  span.speacific-name Nhịp sống
                  span.time-up 6:00 20/10/2016
                  p.content-news Một chuyện tình đẹp như phim Hàn Quốc với chi tiết chính bố ruột "chủ mưu" cho con dâu tương lai đâm xe vào con trai của mình khiến nhiều người thích thú.
          .hidden-xs.hidden-sm.col-md-4
            .qc-sidebarlong.scroll-fixed-right
              img(src="images/icon/qc600.jpg" alt="qc600")
          .padding
    include ./footer.jade
    include ./script.jade
    script(src='js/newyear.js')
    script(type='text/javascript').
        var summaries = $('.fixed');
        summaries.each(function(i) {
        var summary = $(summaries[i]);
        var next = summaries[i + 1];
        summary.scrollToFixed({
        limit: function() {
        var limit = 0;
        if (next) {
        limit = $(next).offset().top - $(this).outerHeight(true) - 10;
        } else {
        limit = $('.change-scroll').offset().top - $(this).outerHeight(true) - 10;
        }
        return limit;
        },
        zIndex: 999
        });
        });
        var summaries = $('.change-scroll');
        summaries.each(function(i) {
        var summary = $(summaries[i]);
        var next = summaries[i + 1];
        summary.scrollToFixed({
        marginTop: - 15,
        limit: function() {
        var limit = 0;
        if (next) {
        limit = $(next).offset().top - $(this).outerHeight(true) - 10;
        } else {
        limit = $('.main-footer').offset().top - $(this).outerHeight(true) - 10;
        }
        return limit;
        },
        zIndex: 999
        });
        });