doctype html
html
  include ./head.jade 
  body
    include ./header-game.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-tech.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event
              h1 Công Nghệ
              ul.menu-cate
                each val in ['Review', 'Thủ thuật','Tin Công Nghệ']
                  li
                    a(href="cate-game.html")= val
    section.highlight-kultech
      .container-fluid
        .row
          .col-xs-4.padding-none
            .highlight-tech
              .highlight-item
                a(href="#" title="Cách cắm hoa trong tách trà thật phong cách")
                img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5848/c9/thumbnail_4x3_cong-nghe-2016.jpg", alt="Cách cắm hoa trong tách trà thật phong cách")
                .tech-text
                  span.tech-cate Tech New
                  h3 Công cụ jailbreak sắp ra mắt, người dùng đừng vội nâng cấp iOS
                  span.time-up 23:00 07/12/2016          
              .highlight-item
                a(href="#" title="Dành thời gian vui đùa bên con yêu")         
                img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5846/ee/thumbnail_4x3_ios-10jb.jpg", alt="Dành thời gian vui đùa bên con yêu")
                .tech-text
                  span.tech-cate Tech Life
                  h3 Cách cắm hoa trong tách trà thật phong cách
                  span.time-up 23:00 07/12/2016
          .col-xs-4.padding-none
            .highlight-techcenter(style="background-image:url('http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5849/3a/thumbnail_4x3_youtube-rewind-bed-1481140613-640x560.jpg')")
              a(href="#" title="Tổng hợp các kiểu tóc đẹp 2016 bạn gái nhất định phải thử")
              .tech-text
                span.tech-cate Tech Review
                h3 Youtube Rewind 2016: Những trào lưu “triệu view” trong năm qua
                span.time-up 23:00 07/12/2016
          .col-xs-4.padding-none
            .highlight-tech
              .highlight-item
                a(href="#" title="Cách cắm hoa trong tách trà thật phong cách")
                img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5848/d1/thumbnail_4x3_iphone-1.jpg", alt="Cách cắm hoa trong tách trà thật phong cách")
                .tech-text
                  span.tech-cate Tech New
                  h3 Apple sẽ ra mắt màu sắc quyến rũ cho iPhone vào năm sau
                  span.time-up 23:00 07/12/2016
              .highlight-item
                a(href="#" title="Dành thời gian vui đùa bên con yêu")         
                img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5849/2a/thumbnail_4x3_app2016-3.jpg", alt="Dành thời gian vui đùa bên con yêu")
                .tech-text
                  span.tech-cate Tech Life
                  h3 Top 10 ứng dụng dành cho iPhone tốt nhất trên App Store trong năm 2016
                  span.time-up 23:00 07/12/2016
    section.content-tech
      .container
        .row
          .col-sm-8
            .title-cate-tech 
              h3 
                span Tin tức
            .block-list-tech
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-01.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo
                  p.content-news Trong các máy Galaxy Note 7 dùng chip Qualcomm Snapdragon 820, Samsung trang bị bộ 4 antenna bắt sóng 4x4 MIMO cực mạnh nhằm gia tăng khả năng...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-02.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Seagate giới thiệu ổ SSD 60TB, mức dung lượng khủng nhất thế giới
                  p.content-news Ổ SSD 15TB của Samsung đã trôi vào dĩ vãng khi đối thủ Seagate tung ra ổ SSD mới có dung lượng “khủng long” 60TB.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-03.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") iPhone 5s vẫn hoạt động tốt sau khi… rơi khỏi máy bay
                  p.content-news Một chiếc iPhone 5s rơi từ máy bay ở độ cao 760m xuống đất nhưng đã không hề hấn gì ngoại trừ vài vết trầy không đáng kể.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-04.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") MacBook Pro sẽ có nút nguồn trang bị cảm biến vân tay
                  p.content-news Bên cạnh thông tin trang bị một dải màn hình LED điều khiển cảm ứng, MacBook Pro mới được cho là sẽ có cảm biến vân tay Touch ID tích hợp trong nút nguồn.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-05.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Đánh giá Galax GeForce GTX 1070 EX OC: Sức mạnh lực sĩ trong thân hình người mẫu
                  p.content-news Không sở hữu tản nhiệt hầm hồ, GeForce GTX 1070 EX OC của Galax vẫn mang đến một sức mạnh tuyệt vời cùng sự ổn định các game thủ đều ao ước.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-06.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Đánh giá: SSD Plextor M7V - Hiệu năng khá, chi phí thấp, nhỏ gọn và mạnh mẽ.
                  p.content-news Không sở hữu tản nhiệt hầm hồ, GeForce GTX 1070 EX OC của Galax vẫn mang đến một sức mạnh tuyệt vời cùng sự ổn định các game thủ đều ao ước.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-07.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Đánh giá: Flash Plus 2 - Ghi điểm ở thiết kế kim loại và cảm biến vân tay
                  p.content-news Trong các máy Galaxy Note 7 dùng chip Qualcomm Snapdragon 820, Samsung trang bị bộ 4 antenna bắt sóng 4x4 MIMO cực mạnh nhằm gia tăng khả năng...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-08.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Cảm nhận: Cặp đôi chuột và bàn phím chơi game Cerberus
                  p.content-news Không sở hữu tản nhiệt hầm hồ, GeForce GTX 1070 EX OC của Galax vẫn mang đến một sức mạnh tuyệt vời cùng sự ổn định các game thủ đều ao ước.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-09.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Chi tiết Mitsubishi Outlander 2016 vừa ra mắt thị trường Việt
                  p.content-news Mitsubishi Outlander tại Việt Nam có giá bán từ 975 triệu đến 1,275 tỷ đồng, sở hữu một số ưu điểm trong dòng xe crossover như có 7 chỗ ngồi...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-10.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") 15 câu chuyện điên rồ nhất từng xảy ra khi Pokemon GO đến với thế giới này
                  p.content-news Game Pokemon GO, sau một tháng phát hành, đã có mặt hầu như trên toàn thế giới. Và chỉ trong một tháng qua, rất nhiều câu chuyện dở khóc dở cười...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-11.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Mở hộp Samsung Galaxy Note 7 siêu ngầu
                  p.content-news Game Pokemon GO, sau một tháng phát hành, đã có mặt hầu như trên toàn thế giới. Và chỉ trong một tháng qua, rất nhiều câu chuyện dở khóc dở cười...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-12.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Bạn được gì khi mua một chiếc điện thoại Vertu thuộc loại rẻ nhất?
                  p.content-news Game Pokemon GO, sau một tháng phát hành, đã có mặt hầu như trên toàn thế giới. Và chỉ trong một tháng qua, rất nhiều câu chuyện dở khóc dở cười...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-13.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") OnePlus 3 cho Galaxy S7 "ngửi khói" khi đua sạc nhanh
                  p.content-news Centenario là chiếc siêu xe giới hạn của hãng Lamborghini, được sản xuất để kỷ niệm 100 năm ngày sinh nhà sáng lập và có giá hơn 2 triệu USD.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-14.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Samsung khẳng định Galaxy S7 là điện thoại cao cấp có pin “trâu” nhất hiện nay
                  p.content-news Vào tháng 7 năm 2016, thương hiệu loa di động của Mỹ - DreamWave đã được phân phối chính hãng tại Việt Nam. Đây là thương hiệu loa mới nhưng các sản phẩm của hãng đã được tích hợp khá nhiều...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-15.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Quảng cáo Google Photos nhắm vào nỗi đau của người dùng iPhone 16GB
                  p.content-news Google Photos xoáy vào nỗi đau của người dùng iPhone dung lượng thấp để quảng cáo tính năng lưu ảnh trực tiếp lên "đám mây" của mình.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-16.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Chiêm ngưỡng vẻ đẹp siêu xe 2 triệu USD Lamborghini Centenario
                  p.content-news Centenario là chiếc siêu xe giới hạn của hãng Lamborghini, được sản xuất để kỷ niệm 100 năm ngày sinh nhà sáng lập và có giá hơn 2 triệu USD.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-17.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Thương hiệu loa di động Mỹ Dreamwave đổ bộ vào thị trường Việt Nam
                  p.content-news Vào tháng 7 năm 2016, thương hiệu loa di động của Mỹ - DreamWave đã được phân phối chính hãng tại Việt Nam. Đây là thương hiệu loa mới nhưng các sản phẩm của hãng đã được tích hợp khá nhiều...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-18.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Samsung khẳng định Galaxy S7 là điện thoại cao cấp có pin “trâu” nhất hiện nay
                  p.content-news Hãy quên FaceTime đi, và bắt đầu với hologram. Hãy thử tưởng tượng một cuộc gọi hologram trên điện thoại, với hình ảnh 3D của người gọi xuất hiện phía trên màn hình điện thoại sẽ thú vị ...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-19.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Nvidia sắp trình làng dòng GPU kiến trúc Pascal cho laptop
                  p.content-news Trong khi series 1080, 1070 và 1060 đang làm mưa làm gió thì người dùng laptop cũng sẽ không phải đợi lâu khi các mẫu GPU cho laptop sử dụng kiến trúc Pascal sẽ được Nvidia giới thiệu vào giữa tháng 8 này.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-20.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Superbook: Giải pháp độc đáo biến điện thoại Android thành laptop
                  p.content-news Superbook là dự án gọi vốn trên Kickstarter, với mục đích chế tạo một bộ phụ kiện có tác dụng biến chiếc điện thoại chạy Android của người dùng thành một laptop thực thụ.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-21.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Điện thoại thông minh sẽ được tích hợp công nghệ ảnh hologram
                  p.content-news Hãy quên FaceTime đi, và bắt đầu với hologram. Hãy thử tưởng tượng một cuộc gọi hologram trên điện thoại, với hình ảnh 3D của người gọi xuất hiện phía trên màn hình điện thoại sẽ thú vị ...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-22.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Uber TQ được đối thủ địa phương mua lại, tạo nên công ty trị giá 35 tỷ USD
                  p.content-news Uber bán mảng kinh doanh tại Trung Quốc cho đối thủ nội địa Didi Chuxing, tạo nên một công ty kinh doanh dịch vụ vận chuyển trên nền công nghệ trị giá đến 35 tỷ USD.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-23.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Gigabyte giới thiệu loạt bo mạch chủ X99 và Z170 Refresh
                  p.content-news Các mẫu bo mạch chủ dành cho game thủ Gigabyte X99/Z170 Refresh, được làm mới từ dòng X99 và Z170 đời đầu, trang bị các công nghệ mới nhất và hỗ trợ chơi game VR.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-24.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Chủ trang Kickass Torrent bị bắt nhờ manh mối do Apple cung cấp
                  p.content-news Chỉ vì hớ hênh dùng thông tin thật khi giao dịch trên iTunes, chủ trang Kickass Torrent khét tiếng Artem Vaulin đã bị Apple ghi lại thông tin và cung cấp đầy đủ cho cơ quan điều tra.
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-25.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Chết cười với những biển hiệu "bá đạo" trong siêu thị
                  p.content-news Đôi khi một tấm banner, một bảng quảng cáo, hoặc một thông tin sản phẩm nào đó bị sai, lại gây ra những hậu quả không hề nhỏ!
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-26.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Thử thách số hóa và sáng tạo ở ngân hàng khu vực Châu Á
                  p.content-news Với thông điệp “Đây chính là thời điểm lý tưởng để kết nối, thay đổi và đột phá”, Cisco Solutions Summit là một series các hội nghị về giải pháp công nghệ hàng đầu của Cisco tổ chức tại các quốc gia...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-27.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Facebook thử nghiệm phiên bản mới trên điện thoại bằng cách nào?
                  p.content-news Cứ trung bình 2 tuần Facebook lại tung ra bản cập nhật cho ứng dụng trên điện thoại một lần. Và với vô số thiết bị trên thị trường hiện nay, việc thử nghiệm trên các nền tảng khác nhau là một công việc...
              .media.box-mediatech
                .media-left
                  a.link-img(href="#" title="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                    img(src="images/kultech-28.jpg", alt="Có một tính năng hay của Galaxy Note 7 mà Samsung không quảng cáo")
                .media-body
                  h3.title-main-3
                    a.link-title.link-tech(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Dàn nhạc Star Wars với các nhạc công... ổ đĩa mềm và đĩa cứng cũ
                  p.content-news Dàn nhạc mang tên "Floppotron" của YouTuber Paweł Zadrożniak quy tụ... 64 ổ đĩa mềm, 8 ổ cứng và một số thiết bị tin học cũ, cùng hòa nhịp chơi bản nhạc nền phim Star Wars nổi tiếng.
            ul.paginations
              li.active
                a(href="#") 1
              li
                a(href="#") 2
              li
                a(href="#") 3
              li
                a(href="#") ...
              li
                a(href="#") 99
          .col-sm-4
            .block-highlight-tech
              .title-cate-tech 
                h3
                  span Tin nổi bật
              .box-large-detail
                .media.box-sm-hnd
                  .media-left
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
                      img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/5c/thumbnail_4x3_xa-sung.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Sau thất bại tại The Face, Mai Ngô quyết định bỏ nghề...
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  .media-left
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
                      img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5838/41/thumbnail_4x3_pixee-fox-3.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Bò King: Xứng danh "vua bò" bít tết Hà Nội
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  .media-left
                    a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
                      img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583b/d5/thumbnail_4x3_giang-sinh.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Bí quyết “níu kéo” những ngày cuối hè hiệu quả
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  .media-left
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
                      img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/06/thumbnail_4x3_rau-sach.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Tháng Mười – Quán café view Hồ Tây siêu đẹp cho...
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  .media-left
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
                      img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/5c/thumbnail_4x3_xa-sung.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Duy nhất hôm nay: Sẵn sàng "chiến" ngày hội mua sắm...
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  .media-left
                    a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
                      img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/583c/58/thumbnail_4x3_daohoa1.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Hà Lade xinh tươi đi làm đẹp tại thẩm mỹ viện nổi tiếng 
                    span.time-up 6:00 20/10/2016  
            .block-vdhot-tech
              .title-cate-tech 
                h3
                  span Video hot
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-39.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-40.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Cách đốt một que diêm bằng... một sợi dây thun
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-41.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small “Rụng tim” với Angry Birds phiên bản người
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-42.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Quảng cáo “Time” của Samsung Galaxy S7 nhấn mạnh khả năng sạc nhanh
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-43.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Lộ diện tai nghe EarPod dùng cổng Lightning hoạt động hoàn chỉnh
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-44.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Có bao nhiêu vũ khí huyền thoại xuất hiện trong đoạn clip này?
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-45.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Chân dung nhân vật Joker trong suốt 50 năm qua
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-46.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Màn xiếc ấn tượng kết hợp đi dây thăng bằng, mô tô bay và máy bay nhào lộn
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-47.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Trên tay smartphone Flash Plus 2
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-48.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Đoạn video này sẽ khiến bạn thỏa mãn hơn xem phim Fast & Furious
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-49.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Video “đập hộp” có một không hai: Chiếc ô tô Ford KA+
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-50.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Vui: Dragon Ball tái hiện với hơn... 200 phong cách hoạt hình khác nhau
                span.time-up 6:00 20/10/2016
              .box-vdhot-tech
                a.link-img.link-tech(href="#" title="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                .box-img
                  img(src="images/kultech-51.jpg", alt="Ảo giác “hack não” chuyển hình vuông sang tròn và ngược lại")
                  span.icon-play-round-48
                h3.title-small Video: 72 emoji mới sẽ xuất hiện trên phần mềm chat của bạn
                span.time-up 6:00 20/10/2016
    include ./footer.jade
    include ./script.jade