doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		.container-mobile
			section.block-highlight.margintop-65
				.slick-mobile
					.highlight-large
						a(href="detail-mb-life.html")
							img(src="images/slide1.jpg", alt="Cộng hòa Séc - Thiên đường du lịch lý tưởng ở châu Âu")
						.content-head
							h3.title-main-3
								a(href="detail-mb-life.html") Ngắm đại tiệc ánh sáng tại lễ khai mạc Olympic 2016
							p.description 6h00 sáng ngày 6/8 (giờ Việt Nam), Lễ khai mạc Olympic Rio 2016 đã được diễn ra tại SVĐ Maracana, Rio de Janeiro.
				.highligh-small
					.media
						h3.title-main-3
							a(href="detail-mb-life.html") 3 đường ở Sài Gòn bị cấm để thi công đường hoa Nguyễn Huệ
						.media-left
							.box-img-highlight
								a(href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
									img(src="http://kul.vn/media/cache/thumbnail_430x240/uploads/media/thumbnail/5880/22/thumbnail_16x9_kul-news-rung-thong-ban-ang-7.jpg", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
						.media-body
							p.description Đường Nguyễn Huệ, Mạc Thị Bưởi, Ngô Đức Kế cấm xe lưu thông từ 19/1 để thi công và phục vụ hoạt động của đường hoa, đường sách.
					.media
						h3.title-main-3
							a(href="detail-mb-life.html") Siêu mẫu Gisele Bundchen toả sáng tại Lễ khai mạc Olympic 2016
						.media-left
							.box-img-highlight
								a(href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
									img(src="http://kul.vn/media/cache/thumbnail_430x240/uploads/media/thumbnail/5881/ba/thumbnail_16x9_top-3-cxv-phien-ban-nghe-si-2016.jpg", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
						.media-body
							p.description Cựu siêu mẫu Victoria Secret Gisele Bundchen tự tin trình diễn catwalk trên đường băng dài nhất thế giới trong đêm khai mạc Olympic Rio (Brazil).
					.media
						h3.title-main-3
							a(href="detail-mb-life.html") Tuấn Hưng lên tiếng bênh vực Sơn Tùng về scandal đạo nhạc
						.media-left
							.box-img-highlight
								a(href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
									img(src="http://kul.vn/media/cache/thumbnail_430x240/uploads/media/thumbnail/5881/c2/thumbnail_16x9_kul-news-mang-luoi-sao-cho-dep-8.jpg", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
						.media-body
							p.description Giữa tâm bão về scandal MV mới của Sơn Tùng được cho là đạo nhạc. Ca sĩ Tuấn Hưng đã lên tiếng chia sẻ với đàn em...
			section.block-life.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-life
						a(href="cate-mb-life.html" title="Đời sống") Đời sống
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
							ul.sub-menu#sub-menu-01
								li 
									a(href="cate-mb-life.html") Nhịp Sống
								li
									a(href="cate-mb-life.html") Nhân Vật
								li
									a(href="cate-mb-life.html")  Giới Trẻ
								li
									a(href="cate-mb-life.html")  Xem-Ăn-Chơi
								li
									a(href="cate-mb-life.html")  Sức Khỏe
								li
									a(href="cate-mb-life.html")  Khám phá
				.life-large
					.box-img-life
						a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
							img(src="images/life1.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Cận cảnh khu ăn chơi số 1 Hong Kong: Lan Quế Phường
						p.description Lan Quế Phường (Lan Kwai Fong) là một trong những tụ điểm vui chơi giải trí được yêu thích nhất ở Hong Kong.
				//- .life-box
				//- 	.life-min
				//- 		.box-img-life
				//- 			a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
				//- 				img(src="images/life2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
				//- 		.content-head
				//- 			h3.title-main-4
				//- 				a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội
				//- 	.life-min
				//- 		.box-img-life
				//- 			a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
				//- 				img(src="images/life3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
				//- 		.content-head
				//- 			h3.title-main-4
				//- 				a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-02.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
					.media-body
						h3.title-main-4
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-03.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
					.media-body
						h3.title-main-4
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
			section.block-entertaiment.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-en
						a(href="cate-mb-life.html" title="Giải trí") Giải trí
					button.btn-sub-of-sub#btn-sub-of-sub-02
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-02
							li
								a(href="cate-mb-life.html") Sao Việt
							li
								a(href="cate-mb-life.html") Sao Á
							li
								a(href="cate-mb-life.html") Sao US-UK
							li
								a(href="cate-mb-life.html") Nhạc Việt Nam
							li
								a(href="cate-mb-life.html") Nhạc Châu Á
							li
								a(href="cate-mb-life.html") Nhạc US-UK
				.life-large
					.box-img-life
						a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
							img(src="images/star1.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Phía Hồ Quỳnh Hương tố Mỹ Tâm mắc bệnh ngôi sao
						p.description Chị gái kiêm quản lý và stylist của Hồ Quỳnh Hương đã có những chia sẻ khá gay gắt về Mỹ Tâm trên trang cá nhân và khiến dư luận đồng loạt “dậy sóng”.
				.life-box
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
								img(src="images/star2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")  Trang Pháp đánh ghen với MLee vì dám hôn Cường Seven
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
								img(src="images/star3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Ca khúc mới của Sơn Tùng M-TP có đáng bị cho là "đạo nhạc"?
			section.block-tv.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-tv-shows
						a(href="cate-mb-life.html" title="TV Shows") TV Shows
				.life-large
					.box-img-life
						a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
							img(src="images/tv1.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Trịnh Thăng Bình yêu cầu thí sinh không được hát giống Noo Phước Thịnh
						p.description Điều kiện “khó hiểu” mà nam giám khảo đặt ra khiến nhiều khán giả vô cùng thắc mắc.
				.life-box
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
								img(src="images/tv2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Loạt khoảnh khắc "tình hơn chữ tình" của Thanh Hằng và Hà Đỗ
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
								img(src="images/tv3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Trấn Thành tuyên bố: “Dẹp Hari đi, giờ chỉ còn Ngọc Trinh thôi!” 
			section.block-movie.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-movie
						a(href="cate-mb-life.html" title="Điện ảnh") Điện ảnh
					button.btn-sub-of-sub#btn-sub-of-sub-03
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-03
							li 
								a(href="cate-mb-life.html") Phim Việt
							li
								a(href="cate-mb-life.html") Phim Châu Á
							li
								a(href="cate-mb-life.html") Phim US-UK
				.life-large
					.box-img-movie-lg
						a(href="detail-mb-life.html" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
							img(src="images/phim1.jpg", alt="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng") "Suicide Squad" tạo kỷ lục với doanh thu 140 triệu USD trong ngày mở 
						p.description Vượt qua những bài bình luận chê trách từ giới chuyên môn, "Suicide Squad" đã trở thành "Killing Friday" trong ngày công chiếu đầu tiên.
				.life-box
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
								img(src="images/phim2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Hứa Vĩ Văn già dặn, Andera trở lại xinh đẹp sau scandal
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
								img(src="images/phim4.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Thần Sấm sẽ để tóc ngắn trong "Thor: Ragnarok"
			section.block-fashion.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-fashion
						a(href="cate-mb-life.html") Thời trang
					button.btn-sub-of-sub#btn-sub-of-sub-04
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-04
							li 
								a(href="cate-mb-life.html") Làm đẹp
							li
								a(href="cate-mb-life.html") Xu hướng
							li
								a(href="cate-mb-life.html") Thời trang sao
							li
								a(href="cate-mb-life.html") Bộ sưu tập
				.life-large
					.box-img-movie-lg
						a(href="detail-mb-life.html" title="Gợi ý những mẫu sneaker cực chất đi chơi mùa Trung Thu")
							img(src="images/fas1.jpg", alt="Gợi ý những mẫu sneaker cực chất đi chơi mùa Trung Thu")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng") Gợi ý những mẫu sneaker cực chất đi chơi mùa Trung Thu
						p.description Những mẫu sneaker mới trong bộ sưu tập Thu - Đông 2016 này sẽ giúp bạn có được buổi dạo chơi Trung Thu ngọt ngào và lãng mạn vào mùa thu năm nay.
				.life-box
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="5 lý do đáng yêu để các cô gái sở hữu chiếc lắc chân")
								img(src="images/fas2.jpg", alt="5 lý do đáng yêu để các cô gái sở hữu chiếc lắc chân")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="5 lý do đáng yêu để các cô gái sở hữu chiếc lắc chân") 5 lý do đáng yêu để các cô gái sở hữu chiếc lắc chân
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Đẳng cấp hàng hiệu từ MV thời trang Keep Me In Love của Hồ Ngọc Hà")
								img(src="images/fas3.jpg", alt="Đẳng cấp hàng hiệu từ MV thời trang Keep Me In Love của Hồ Ngọc Hà")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Đẳng cấp hàng hiệu từ MV thời trang Keep Me In Love của Hồ Ngọc Hà") Đẳng cấp hàng hiệu từ MV thời trang Keep Me In Love của Hồ Ngọc Hà
			section.block-women.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-women
						a(href="cate-mb-life.html" title="Phái đẹp") Phái đẹp
					button.btn-sub-of-sub#btn-sub-of-sub-05
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-05
							li 
								a(href="cate-mb-life.html") Horoscope
							li
								a(href="cate-mb-life.html") Cẩm nang yêu
							li
								a(href="cate-mb-life.html") Góc chia sẽ
							li
								a(href="cate-mb-life.html") Couple Stories
				.life-large
					.box-img-movie-lg
						a(href="detail-mb-life.html" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
							img(src="images/big1.jpg", alt="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng") Học Ngọc Quyên công thức giảm 2kg/tuần cực thần kỳ từ vỏ chanh
						p.description Mới đây cô nàng siêu mẫu đã chia sẻ một công thức giảm cân cực độc đáo từ vỏ chanh và gừng cực dễ làm giúp giảm cân vèo vèo.
				.life-box
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
								img(src="images/sma1.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Dịch vụ 45.000 USD cho một liều thuốc "đặc trị" chồng ngoại tình
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
								img(src="images/sma3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Hẹn hò nhiều người cùng lúc: Kẻ hào hứng, người tính toán
			section.block-tech.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-tech
						a(href="cate-mb-life.html" title="Phái đẹp") Công nghệ
					button.btn-sub-of-sub#btn-sub-of-sub-06
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-06
							li 
								a(href="cate-mb-life.html") Sản phẩm mới
							li
								a(href="cate-mb-life.html") Tin công nghệ
							li
								a(href="cate-mb-life.html") Di động
				.life-large
					.box-img-tech
						a(href="detail-mb-life.html"  title="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?")
							img(src="images/te5.jpg", alt="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?") Hướng dẫn cách chơi Pokémon GO dành cho người mới
						p.description Hướng dẫn cách tải về, cài đặt game Pokemon Go trên di động, cũng như các bước đầu tiên để bạn bắt đầu cuộc phiêu lưu trong thế giới kỳ ảo này.
				.life-box
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
								img(src="images/te1.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Lại thêm trang web báo Sinh viên Việt Nam bị hacker tấn công
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
								img(src="images/te3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Tesla Minibus sẽ được ra mắt vào giữa năm 2017
			section.block-vehicles.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-vehicles
						a(href="cate-mb-life.html" title="Phái đẹp") Xe
					button.btn-sub-of-sub#btn-sub-of-sub-07
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-07
							li 
								a(href="cate-mb-life.html") Ô tô
							li
								a(href="cate-mb-life.html") Xe máy
				.life-large
					.box-img-life
						a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
							img(src="images/xe1.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Xe ga và xe số nên chọn loại xe nào phù hợp
						p.description Tìm hiểu kỹ ưu, nhược điểm của hai loại xe ga và số sẽ giúp người tiêu dùng lựa chọn được chiếc xe phù hợp.
				.life-box
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
								img(src="images/xe2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Top 10 xế sang tiết kiệm kinh tế nhất hiện nay
					.life-min
						.box-img-life
							a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
								img(src="images/xe3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
						.content-head
							h3.title-main-4
								a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Độc đáo xe điện hiệu suất cao Valene Black Mamba			
			section.block-sport.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-sport
						a(href="cate-mb-life.html" title="Phái đẹp") Thể thao
					button.btn-sub-of-sub#btn-sub-of-sub-08
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-08
							li 
								a(href="cate-mb-life.html") Trong nước
							li
								a(href="cate-mb-life.html") Quốc tế
							li
								a(href="cate-mb-life.html") Chuyện hậu trường
				.life-large
					.box-img-life
						a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
							img(src="images/s1.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
					.content-head
						h3.title-main-3
							a(href="detail-mb-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Kỷ lục thế giới đầu tiên tại Olympic 2016
						p.description Hôm qua (5/8), Ở nội dung môn bắn cung, VĐV Kim Woo-jin (Hàn Quốc) đã lập lỷ lục thế giới đầu tiên tại Thế vận hội Rio de Janeiro với màn thi đấu xuất sắc.
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-02.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
					.media-body
						h3.title-main-3
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-03.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
					.media-body
						h3.title-main-3
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
			section.block-video.margintop-15
				.box-title-fixed.menu-bottom
					h2.title-main-2.bg-video
						a(href="video-mb-news.html" title="Phái đẹp") Video
					button.btn-sub-of-sub#btn-sub-of-sub-09
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub
						ul.sub-menu#sub-menu-09
							li 
								a(href="video-cate-mb.html") Showbiz
							li
								a(href="video-cate-mb.html") MV & Trailer
							li
								a(href="video-cate-mb.html") Giải Trí
							li
								a(href="video-cate-mb.html") Hài
							li
								a(href="video-cate-mb.html") Thời sự
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-02.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
								span.icon-play-32
					.media-body
						h3.title-main-3
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-03.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
								span.icon-play-32
					.media-body
						h3.title-main-3
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-04.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
								span.icon-play-32
					.media-body
						h3.title-main-3 
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
				.video-news-small.media
					.media-left
						.box-play-img
							a(href="#")
								img(src="images/video-05.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
								span.icon-play-32
					.media-body
						h3.title-main-3
							a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
		include ./footer-mb.jade
		include ./script-mb.jade