doctype html
html
  include ./head.jade 
  body
    link(rel='stylesheet', href='css/slick.css')
    link(rel='stylesheet', href='css/slick-theme.css')
    include ./header-game.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-game.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event.change-scroll
              h1 Game
              ul.menu-cate
                each val in ['Game Online', 'Game Offline','eSports','Cosplay']
                  li
                    a(href="cate-game.html")= val
    section.cate-main-life
      .container-fluid
        .row
          .col-sm-6.col-md-3
            .box-hl-game(style="background-image:url('http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/5851/12/thumbnail_1x1_diem-mat-danh-sach-game-ps4-khien-game-thu-pc-phai-ganh-ti-3.png')")
              a.link-game.img-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              .box-glass
                h3 Mãn nhãn với tuyến nhân vật mới của Warcraft 3
                span.name-hl Game Online
                span.time-up 6:00 20/10/2016
          .col-sm-6.col-md-3
            .box-hl-game(style="background-image:url('http://kul.vn/media/cache/thumbnail_games/uploads/media/thumbnail/5852/0c/thumbnail_1x1_1.jpg')")
              a.link-game.img-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              .box-glass
                h3 Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo
                span.name-hl Game Online
                span.time-up 6:00 20/10/2016
          .col-sm-6.col-md-3
            .box-hl-game(style="background-image:url('http://kul.vn/media/cache/thumbnail_games/uploads/media/thumbnail/5852/11/thumbnail_1x1_chengwei-pan-final3.jpg')")
              a.link-game.img-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              .box-glass
                h3 Trải nghiệm phiên bản 3D với game bắn súng Trải nghiệm phiên bản 3D với game bắn súng
                span.name-hl Game Offtline
                span.time-up 6:00 20/10/2016
          .col-sm-6.col-md-3
            .box-hl-game(style="background-image:url('http://kul.vn/media/cache/thumbnail_games/uploads/media/thumbnail/5851/18/thumbnail_1x1_thumbnail-3.jpg')")
              a.link-game.img-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              .box-glass
                h3 Màn cosplay đẹp mắt dựa trên tựa game Warhammer
                span.name-hl Cosplay
                span.time-up 6:00 20/10/2016
      .container
        .row
          .col-sm-12
            .name-tech
              h2.name Tin Mới
            .block-slide-tech
              .item
                .img-game
                  a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                  img(src="images/kulgame-06.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                  .box-glass
                    h3 Màn cosplay đẹp mắt dựa trên tựa game Warhammer
                    span.time-up 6:00 20/10/2016
              .item
                .img-game
                  a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                  img(src="images/kulgame-07.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                  .box-glass
                    h3 Cao thủ tốc dộ với game Need For Speed
                    span.time-up 6:00 20/10/2016
              .item
                .img-game
                  a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                  img(src="images/kulgame-08.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                  .box-glass
                    h3 Top game online đứng đầu bảng xếp hạng tháng 9 trên Android
                    span.time-up 6:00 20/10/2016
              .item
                .img-game
                  a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                  img(src="images/kulgame-09.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                  .box-glass
                    h3 Chùm ảnh Cosplay Overwatch và Liên Minh Huyền Thoại cực chất
                    span.time-up 6:00 20/10/2016
              .item
                .img-game
                  a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                  img(src="images/kulgame-07.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                  .box-glass
                    h3 Top game online đứng đầu bảng xếp hạng tháng 9 trên Android
                    span.time-up 6:00 20/10/2016
          .col-sm-8
            .game-online
              .name-tech
                h2.name Game Trong Nước
              .top-online
                .big-online
                  a.link-game(href="#" title="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                    img(src="images/kulgame-30.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  h3.title-main-3
                    a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") MU Legends "rục rịch" chuẩn bị ra mắt phên bản quốc tế
                .big-online
                  a.link-game(href="#" title="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                    img(src="images/kulgame-31.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  h3.title-main-3
                    a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Những game online hay sắp ra mắt game thủ Việt trong tháng 10
              .bottom-online
                .media
                  .media-left
                    a(href="#" title="Những game online này sẽ hâm nóng làng game những ngày cuối tháng 09")
                      img(src="images/kulgame-10.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  .media-body
                    h3.title-main-4
                      a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Những game online này sẽ hâm nóng làng game những ngày cuối tháng 09
                    span.time-up 6:00 20/10/2016
                .media
                  .media-left
                    a(href="#" title="Những game online này sẽ hâm nóng làng game những ngày cuối tháng 09")
                      img(src="images/kulgame-12.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  .media-body
                    h3.title-main-4
                      a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Những điều cần biết về Heroes of Incredible Tales trong bản cập nhật mới
                    span.time-up 6:00 20/10/2016
                .media
                  .media-left
                    a(href="#" title="Những game online này sẽ hâm nóng làng game những ngày cuối tháng 09")
                      img(src="images/kulgame-13.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  .media-body
                    h3.title-main-4
                      a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Chán ghét đánh đấm, bắn súng bạo lực, đây là những game online dành cho bạn
                    span.time-up 6:00 20/10/2016
                .media
                  .media-left
                    a(href="#" title="Những game online này sẽ hâm nóng làng game những ngày cuối tháng 09")
                      img(src="images/kulgame-14.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  .media-body
                    h3.title-main-4
                      a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Những game online này sẽ hành hạ máy tính của bạn, nhưng chơi rất "sướng"
                    span.time-up 6:00 20/10/2016
                .media
                  .media-left
                    a(href="#" title="Những game online này sẽ hâm nóng làng game những ngày cuối tháng 09")
                      img(src="images/kulgame-15.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  .media-body
                    h3.title-main-4
                      a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Những game online Trung Quốc này sẽ khiến bạn há hốc mồm vì chúng quá đẹp
                    span.time-up 6:00 20/10/2016
                .media
                  .media-left
                    a(href="#" title="Những game online này sẽ hâm nóng làng game những ngày cuối tháng 09")
                      img(src="images/kulgame-16.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  .media-body
                    h3.title-main-4
                      a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Đây là những game online tuyệt hay cần phải chơi thử ngay khi có cơ hội
                    span.time-up 6:00 20/10/2016

            .game-offline
              .name-tech
                h2.name ESPORTS
              .block-offline
                .big-offline.big-lf
                  a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên")
                    img(src="images/kulgame-17.jpg" alt="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên")
                  h3.title-main-3
                    a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên") Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên
                  p.content-news Sau thành công từ tựa game 7554, nay HikerGames đã chính thức ra mắt tới người chơi dự án game tiếp theo của mình mang tên gọi là Toy Odyssey.
                  ul.list-news
                    li
                      a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên") Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên
                    li
                      a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên")  Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới
                    li
                      a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên") Metal Gear Survive trình diễn lối chơi ấn tượng tại Tokyo Game Show 2016
                .big-offline.big-rt
                  .media 
                    .media-left
                      a(href="#" title="Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới")
                        img(src="images/kulgame-18.jpg" alt="Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới")
                    .media-body
                      h3.title-main-4
                        a.link-game(href="#" title="Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới") Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới
                      span.time-up 6:00 20/10/2016
                  .media
                    .media-left
                      a(href="#" title="Metal Gear Survive trình diễn lối chơi ấn tượng tại Tokyo Game Show 2016")
                        img(src="images/kulgame-19.jpg" alt="Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới")
                    .media-body
                      h3.title-main-4
                        a.link-game(href="#" title="Metal Gear Survive trình diễn lối chơi ấn tượng tại Tokyo Game Show 2016") Metal Gear Survive trình diễn lối chơi ấn tượng tại Tokyo Game Show 2016
                      span.time-up 6:00 20/10/2016
                  .media
                    .media-left
                      a(href="#" title="Serious Sam chuẩn bị tái ngộ game thủ trên Steam bằng phiên bản VR")
                        img(src="images/kulgame-20.jpg" alt="Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới")
                    .media-body
                      h3.title-main-4
                        a.link-game(href="#" title="Serious Sam chuẩn bị tái ngộ game thủ trên Steam bằng phiên bản VR") Serious Sam chuẩn bị tái ngộ game thủ trên Steam bằng phiên bản VR
                      span.time-up 6:00 20/10/2016
                  .media
                    .media-left
                      a(href="#" title="Serious Sam chuẩn bị tái ngộ game thủ trên Steam bằng phiên bản VR")
                        img(src="images/kulgame-16.jpg" alt="Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới")
                    .media-body
                      h3.title-main-4
                        a.link-game(href="#" title="Serious Sam chuẩn bị tái ngộ game thủ trên Steam bằng phiên bản VR") Serious Sam chuẩn bị tái ngộ game thủ trên Steam bằng phiên bản VR
                      span.time-up 6:00 20/10/2016
          .col-sm-4
            //- .qc-sidebar
            //-   img(src="images/icon/qc3002.jpg" alt="qc300")
            .day-start
              .name-tech
                h2.name Lịch ra mắt Game
              .box-start(style="background-image:url('http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5863/6e/thumbnail_16x9_thumbnail.jpg')")
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ đầu 2017")
                .box-glass
                  h3 Gamepro
                  span.time-start Địa chỉ: Âu Dương Lân Quân Tân Bình
                .triangle-time
                  p Tặng
                  p 10 giờ chơi
              .box-start(style="background-image:url('http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5863/6e/thumbnail_16x9_thumbnail.jpg')")
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ đầu 2017")
                .box-glass
                  h3 Gamepro
                  span.time-start Địa chỉ: Âu Dương Lân Quân Tân Bình
              .box-start(style="background-image:url('http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5863/6e/thumbnail_16x9_thumbnail.jpg')")
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ đầu 2017")
                .box-glass
                  h3 Gamepro
                  span.time-start Địa chỉ: Âu Dương Lân Quân Tân Bình
              .box-start(style="background-image:url('http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5863/6e/thumbnail_16x9_thumbnail.jpg')")
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ đầu 2017")
                .box-glass
                  h3 Gamepro
                  span.time-start Địa chỉ: Âu Dương Lân Quân Tân Bình
            .hot-game
              .name-tech
                h2.name Tin Hot
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-22.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-23.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Game khủng MU Legend chuẩn bị mở cửa bản quốc tế, tiếp tục 'show hàng'
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-24.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Cùng soi loạt ảnh Việt hóa mới của game online vũ đạo Hotsteps
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-25.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Thiết Giáp Hùng Binh - Game 3D chiến trường đồ họa khủng, hỗ trợ cả VR
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-26.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Tổng hợp loạt ảnh cosplay cực đẹp và chất ngày cuối tuần
                  span.time-up 6:00 20/10/2016
              //- .media
              //-   .media-left
              //-     a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-       img(src="images/kulgame-27.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-   .media-body
              //-     h3.title-main-5
              //-       a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Đây là những game online nhập vai không thể lờ đi trong tháng 10
              //-     span.time-up 6:00 20/10/2016
              //- .media
              //-   .media-left
              //-     a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-       img(src="images/kulgame-28.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-   .media-body
              //-     h3.title-main-5
              //-       a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Chán game online Việt Nam, thi hãy đăng ký chơi ngay những game miễn phí này
              //-     span.time-up 6:00 20/10/2016
              //- .media
              //-   .media-left
              //-     a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-       img(src="images/kulgame-29.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-   .media-body
              //-     h3.title-main-5
              //-       a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Ngỡ ngàng với cô gái cosplay Hanzo trong Overwatch vừa gợi cảm vừa cực ngầu
              //-     span.time-up 6:00 20/10/2016
          .col-sm-12
            .name-tech
              h2.name Đánh giá Game
            .list-flex
              .box-flex
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                img(src="images/kulgame1-02.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-gs-score
                  .gs-score.gs-score-large.score-8
                    .gs-score_clip
                      .gs-score_pie.gs-score_spinner
                    .gs-score_clip.gs-score_clip2
                      .gs-score_pie.gs-score_filler
                    .gs-score_inner
                      span 8
                .box-glass
                  h3 Heavenly Sword Game
                  span.like
                  span.view
                .sapo-hover
                  h4 The gameplay of Heavenly Sword resembles a martial arts title focused
              .box-flex
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ đầu 2017")
                img(src="images/kulgame1-03.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-gs-score
                  .gs-score.gs-score-large.score-2
                    .gs-score_clip
                      .gs-score_pie.gs-score_spinner
                    .gs-score_clip.gs-score_clip2
                      .gs-score_pie.gs-score_filler
                    .gs-score_inner
                      span 2
                .box-glass
                  h3 Revelation (CN) Shows Futuristic Weapon Skins
                  span.like
                  span.view
                .sapo-hover
                  h4 The gameplay of Heavenly Sword resembles a martial arts title focused
              .box-flex
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                img(src="images/kulgame1-04.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-gs-score
                  .gs-score.gs-score-large.score-3
                    .gs-score_clip
                      .gs-score_pie.gs-score_spinner
                    .gs-score_clip.gs-score_clip2
                      .gs-score_pie.gs-score_filler
                    .gs-score_inner
                      span 3
                .box-glass
                  h3 Aion Game
                  span.like
                  span.view
                .sapo-hover
                  h4 The gameplay of Heavenly Sword resembles a martial arts title focused, resembles a martial arts title focused
              .box-flex
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                img(src="images/kulgame1-05.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-gs-score
                  .gs-score.gs-score-large.score-6
                    .gs-score_clip
                      .gs-score_pie.gs-score_spinner
                    .gs-score_clip.gs-score_clip2
                      .gs-score_pie.gs-score_filler
                    .gs-score_inner
                      span 6
                .box-glass
                  h3 Sandbox MMORPG SamuTale Early Access Key Giveaway
                  span.like
                  span.view
                .sapo-hover
                  h4 The gameplay of Heavenly Sword resembles 
              .box-flex
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                img(src="images/kulgame1-06.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-gs-score
                  .gs-score.gs-score-large.score-5
                    .gs-score_clip
                      .gs-score_pie.gs-score_spinner
                    .gs-score_clip.gs-score_clip2
                      .gs-score_pie.gs-score_filler
                    .gs-score_inner
                      span 5
                .box-glass
                  h3 Warhammer Age Of Reckoning Game
                  span.like
                  span.view
                .sapo-hover
                  h4 The gameplay of Heavenly Sword resembles The gameplay of Heavenly Sword resembles The gameplay of Heavenly Sword resembles 
              .box-flex
                a.link-game(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
                img(src="images/kulgame1-07.jpg" alt="Metal Gear Rising Revengeance: Bản nâng cấp hoàn hảo")
                .box-gs-score
                  .gs-score.gs-score-large.score-9
                    .gs-score_clip
                      .gs-score_pie.gs-score_spinner
                    .gs-score_clip.gs-score_clip2
                      .gs-score_pie.gs-score_filler
                    .gs-score_inner
                      span 9
                .box-glass
                  h3 Assassins Creed Game
                  span.like
                  span.view
                .sapo-hover
                  h4 The gameplay of Heavenly Sword resembles a martial
            //- .block-video-game
            //-   .video-col.big-video-game
            //-     a.link-game(href="#" title="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
            //-     .box-img-video
            //-       img(src="images/kulgame-33.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
            //-       span.icon-play-round-64
            //-       .box-glass
            //-         h3 Top game online đứng đầu bảng xếp hạng tháng 9 trên Android
            //-   .video-col.list-video-game
            //-     .media
            //-       .media-left
            //-         a(href="#" title="LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016")
            //-           img(src="images/kulgame-25.jpg" alt="LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016")
            //-           span.icon-play-round-32
            //-       .media-body
            //-         h3.title-main-5
            //-           a.link-game(href="#" title="LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016") LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016
            //-         span.time-up 6:00 20/10/2016
            //-     .media
            //-       .media-left
            //-         a(href="#" title="LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016")
            //-           img(src="images/kulgame-26.jpg" alt="LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016")
            //-           span.icon-play-round-32
            //-       .media-body
            //-         h3.title-main-5
            //-           a.link-game(href="#" title="Mùa giải mới của làng DOTA 2 thế giới chính thức mở màn") Mùa giải mới của làng DOTA 2 thế giới chính thức mở màn
            //-         span.time-up 6:00 20/10/2016
            //-     .media
            //-       .media-left
            //-         a(href="#" title="Cross Eternal - Tuyệt đỉnh MMO-ARPG lấy cảm hứng từ Zombie")
            //-           img(src="images/kulgame-27.jpg" alt="Cross Eternal - Tuyệt đỉnh MMO-ARPG lấy cảm hứng từ Zombie")
            //-           span.icon-play-round-32
            //-       .media-body
            //-         h3.title-main-5
            //-           a.link-game(href="#" title="Cross Eternal - Tuyệt đỉnh MMO-ARPG lấy cảm hứng từ Zombie") Cross Eternal - Tuyệt đỉnh MMO-ARPG lấy cảm hứng từ Zombie
            //-         span.time-up 6:00 20/10/2016
            //-     .media
            //-       .media-left
            //-         a(href="#" title="LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016")
            //-           img(src="images/kulgame-28.jpg" alt="LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016")
            //-           span.icon-play-round-32
            //-       .media-body
            //-         h3.title-main-5
            //-           a.link-game(href="#" title="Nguồn gốc các chủng tộc giả tưởng trong phim ảnh và video game: Rồng") Nguồn gốc các chủng tộc giả tưởng trong phim ảnh và video game: Rồng
            //-         span.time-up 6:00 20/10/2016
          .col-sm-12.col-md-8
            .block-esports
              .name-tech
                h2.name GAME QUỐC TẾ
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/kulgame-38.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Chỉnh sửa "bí ẩn" của Riot trong phiên bản 6.19, ít người biết nhưng cực kỳ quan trọng nếu dùng được
                  p.content-news Những thay đổi nhỏ này tưởng chừng đơn giản, nhưng trong một số trường hợp, nó có thể thay đổi cục diện trận đấu trong tích tắc. Liên Minh Huyền Thoại phiên bản 6.19 đã chính thức cập bến máy chủ Việt Nam trong tuần qua
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/kulgame-39.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Một trong 10 nhân vật có ảnh hưởng nhất thế giới năm 2012 đã chính thức đầu tư vào DOTA 2
                  p.content-news Theo thông báo mới nhất từ đội DOTA 2 Vici Gaming, họ vừa nhận được một khoản đầu tư đặc biệt đến từ Jeremy Lin, một trong những vận động viên bóng rổ xuất sắc nhất hiện nay của NBA.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/kulgame-40.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Không phải Illuminate, Mana Leak mới là kỹ năng khiến KotL trở thành hero khó chịu nhất DOTA 2
                  p.content-news Lối chơi quấy rối bằng Mana Leak đã đưa Keeper of the Light gia nhập hàng ngũ những vị tướng harass khó chịu bậc nhất DOTA 2. Lối chơi quấy rối bằng Mana Leak đã đưa Keeper of the Light ...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/kulgame-41.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Overwatch: Thèm khát chiến thắng, hãy thử sức với 5 vị tướng sở hữu tỉ lệ chiến thắng cao nhất trên toàn thế giới
                  p.content-news Cùng đến với 5 vị tướng sở hữu tỉ lệ chiến thắng cao nhất Overwatch và sơ lược về cách chơi để bạn có thể giành được chiến thắng một cách dễ dàng trong tựa game này. Overwatch cũng như bất kì tựa game eSport nào khác...
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/kulgame-42.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Vì sao LMHT bị chê không hay bằng DOTA 2 nhưng vẫn có lượng người chơi đông hơn gấp 7, 8 lần?
                  p.content-news Bất chấp việc lối chơi luôn bị so sánh là không hay bằng DOTA 2, tuy nhiên lượng người chơi khủng cũng đủ để khẳng định thành công không thể bàn cãi của Liên Minh Huyền Thoại.
              .media
                .media-left
                  a(href="detail-life.html" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                    img(src="images/kulgame-43.jpg", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
                .media-body
                  h3.title-main-3
                    a(href="detail-life.html") Liên Minh Huyền Thoại: Chính thức ra mắt 4 trang phục Vệ Binh Tinh Tú năm 2016 - Đẹp đến từng centimet!
                  p.content-news ItWasOwen tiếp tục thể hiện tại sao anh chàng này được coi là Thánh Dự tại Reddit. Vảo rạng sáng nay, Riot Games chính thức công bố những trang phục siêu khủng Vệ Binh Tinh Tú của năm 2016.
            .game-offline
              .name-tech
                h2.name Clip hay
              .list-video
                .item-video
                  .glass-box-vd
                    img(src="images/video-12.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-32
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
                .item-video
                  .glass-box-vd
                    img(src="images/video-18.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-32
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu
                .item-video
                  .glass-box-vd
                    img(src="images/video-20.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-32
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-21.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-32
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây
                .item-video
                  .glass-box-vd
                    img(src="images/video-22.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-32
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!
                .item-video
                  .glass-box-vd
                    img(src="images/video-19.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-32
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết
                .item-video
                  .glass-box-vd
                    img(src="images/video-23.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Fan bất ngờ với trailer "khủng" của "Bộ Bộ Kinh Tâm" phiên bản Hàn
                .item-video
                  .glass-box-vd
                    img(src="images/video-24.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Bộ phim đặc biệt được chuyển thể từ mối tình đẹp của tổng thống Obama và vợ
          .col-sm-12.col-md-4
            .hot-game
              .name-tech
                h2.name GiftCode 
              .media
                .media-left
                  a(href="#" title="Mừng Closed Beta, Phong Thần Chi Nộ tặng Vipcode Đát Kỷ")
                    img(src="images/kulgame1-16.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Mừng Closed Beta, Phong Thần Chi Nộ tặng Vipcode Đát Kỷ") Mừng Closed Beta, Phong Thần Chi Nộ tặng Vipcode Đát Kỷ
              .media
                .media-left
                  a(href="#" title="Thiếu nhà phát triển, nạn hack tràn lan, liệu Xuất Kích Online có đủ sức sống sót?")
                    img(src="images/kulgame1-17.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Thiếu nhà phát triển, nạn hack tràn lan, liệu Xuất Kích Online có đủ sức sống sót?") Thiếu nhà phát triển, nạn hack tràn lan, liệu Xuất Kích Online có đủ sức sống sót?
              .media
                .media-left
                  a(href="#" title="Mừng Closed Beta, Phong Thần Chi Nộ tặng Vipcode Đát Kỷ")
                    img(src="images/kulgame1-18.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Mừng Closed Beta, Phong Thần Chi Nộ tặng Vipcode Đát Kỷ") Khai mở S128, Thần Kiếm 3D tặng ngay loạt Giftcode giá trị cùng các ưu đãi.
              .media
                .media-left
                  a(href="#" title="Mừng Closed Beta, Phong Thần Chi Nộ tặng Vipcode Đát Kỷ")
                    img(src="images/kulgame1-19.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Mừng Closed Beta, Phong Thần Chi Nộ tặng Vipcode Đát Kỷ") Tặng 200 VIP Code Ngạo Kiếm Vô Song mừng phiên bản mới ngày 14/9
              .media
                .media-left
                  a(href="#" title="SohaPlay tặng 300 Giftcode Tiếu Ngạo Tây Du nhân dịp mở máy chủ mới")
                    img(src="images/kulgame1-20.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="SohaPlay tặng 300 Giftcode Tiếu Ngạo Tây Du nhân dịp mở máy chủ mới") SohaPlay tặng 300 Giftcode Tiếu Ngạo Tây Du nhân dịp mở máy chủ mới
              .media
                .media-left
                  a(href="#" title="Thế Giới Hoàn Mỹ tặng 300 code nhân dịp mở máy chủ Tru Tiên ")
                    img(src="images/kulgame1-21.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Thế Giới Hoàn Mỹ tặng 300 code nhân dịp mở máy chủ Tru Tiên ") Thế Giới Hoàn Mỹ tặng 300 code nhân dịp mở máy chủ Tru Tiên
    include ./footer.jade
    script(src='js/slick.min.js')
    include ./script.jade
    script(src='js/slide-show.js')
    script(type='text/javascript').
        var summaries = $('.fixed');
        summaries.each(function(i) {
        var summary = $(summaries[i]);
        var next = summaries[i + 1];
        summary.scrollToFixed({
        limit: function() {
        var limit = 0;
        if (next) {
        limit = $(next).offset().top - $(this).outerHeight(true) - 10;
        } else {
        limit = $('.change-scroll').offset().top - $(this).outerHeight(true) - 10;
        }
        return limit;
        },
        zIndex: 999
        });
        });
        var summaries = $('.change-scroll');
        summaries.each(function(i) {
        var summary = $(summaries[i]);
        var next = summaries[i + 1];
        summary.scrollToFixed({
        marginTop: - 15,
        limit: function() {
        var limit = 0;
        if (next) {
        limit = $(next).offset().top - $(this).outerHeight(true) - 10;
        } else {
        limit = $('.main-footer').offset().top - $(this).outerHeight(true) - 10;
        }
        return limit;
        },
        zIndex: 999
        });
        });