doctype html
html(lang="vi")
  head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp
  link(rel='shortcut icon', href='images/k.ico', type='image/x-icon')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='app.css')
  script(src='js/jquery-2.1.4.min.js')
  body
    include ./header-index.jade
    section.hot-news
      .container
        //- .sticky-right
        //-   img(src="images/icon/160s.jpg", alt="")
        //- .sticky-left
        //-   img(src="images/icon/160s2.jpg", alt="")
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row 
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  h1 
                    a(href='index.html' title='Kul News Trang tin')
                      img(src="images/icon/kul.svg" alt="Kul News Trang tin")
                      span Kul News Tin tức, giải trí, xã hội
                  canvas#xmas
                  span.xmas-hat
              .hidden-xs.hidden-sm.col-md-8.col-lg-8
                //- .qc-top
                //-   img(src="images/icon/qc728.jpg" alt="qctop")
                .news-baner
                  .box-news.media
                    .media-left
                      a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
                        img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
                    .media-body
                      h3.title-top
                        a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng
                  .box-news.media
                    .media-left
                      a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
                        img(src="images/nn1.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
                    .media-body
                      h3.title-top
                        a(href="detail-life.html") Người mẹ nghèo mang rau lên thành phố, bị con gái xua đuổi
                  .box-news.media
                    .media-left
                      a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
                        img(src="images/nn3.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
                    .media-body
                      h3.title-top
                        a(href="detail-life.html") Phương Thanh vội vã tới bệnh viện thăm Minh Thuận
            .view-more-event
              h2 Đáng chú ý
              ul.menu-cate
                each val in ['Obama', 'Cá chết','Mì cay','Euro 2016','Bầu cử tổng thống Mỹ']
                  li
                    a(href="category-life.html")= val
    section.total-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-9.col-lg-9.main-left.width-7
            .top-headernews
              .row
                .col-xs-4.highlight-left
                  //- .name-highlight
                  //-   h2 Tin nổi bật
                  //-   span
                  .box-highlight-left
                    h3.title-main-3 
                      a(href="detail-life.html") Gareth Bale gây náo loạn tại Real Madrid
                    .media.topmargin-fix
                      .media-body
                        p.content-news Gareth Bale đang muốn khẳng định vị thế tại Real Madrid khi yêu cầu...
                      .media-right
                        a.thumb-highlight(href="detail-life.html")
                          img(src="http://kul.vn/media/cache/thumbnail_100x75/uploads/media/thumbnail/5851/12/thumbnail_4x3_fotorcreated.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")    
                  .box-highlight-left
                    h3.title-main-3
                      a(href="detail-life.html") Người mẹ nghèo mang rau lên thành phố, bị...
                    .media.topmargin-fix
                      .media-body
                        p.content-news Muốn đẹp hơn, sang chảnh hơn, điều đó không sai. Thế nhưng, vì chạy...
                      .media-right
                        a.thumb-highlight(href="detail-life.html")
                          img(src="http://kul.vn/media/cache/thumbnail_100x75/uploads/media/thumbnail/5851/16/thumbnail_4x3_dam-vinh-hung-bat-khoc-vi-duoc-tang-nhan-kim-cuong-1-1481690300695.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
                  .box-highlight-left
                    h3.title-main-3
                      a(href="detail-life.html") Phương Thanh vội vã tới bệnh viện thăm Minh Thuận
                    .media.topmargin-fix
                      .media-body
                        p.content-news Nữ ca sĩ Phương Thanh lặng lẽ cùng người bạn thân tới bệnh viện...
                      .media-right
                        a.thumb-highlight(href="detail-life.html")
                          img(src="http://kul.vn/media/cache/thumbnail_100x75/uploads/media/thumbnail/5851/27/thumbnail_4x3_kul-news-bo-anh-cuoi-cua-cap-doi-dong-tinh-7.jpg", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
                  .box-highlight-left
                    .magazine-thumb
                      a(href="#", title="")
                      img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/5810/a9/thumbnail_16x9_bi-quyet-hanh-phuc-cua-mark-va-priscilla-1.jpg", alt="")
                      span Editor's Choice
                    h3.title-main-3
                      a(href="detail-life.html") Phương Thanh vội vã tới bệnh viện thăm Minh Thuận                 
                .col-xs-8
                  .box-highlight-right
                    a.thumb-center(href="detail-life.html")
                      img(src="http://kul.vn/media/cache/resolve/thumbnail_430x240/uploads/media/thumbnail/5841/2c/thumbnail_16x9_1.png", alt="Phố lồng đèn Lương Nhữ Học rực rỡ vào mùa Trung thu")
                    h3.title-main-1 
                      a(href="detail-life.html") 
                        span.live-icon
                        | Trực tiếp MAMA 2016: Chương trình thảm đỏ bắt đầu
                    p.content-news Thông tin từ Công ty cổ phần Vận tải đường sắt Sài Gòn cho biết, vẫn còn 100.000 vé tàu cho tất cả các chặng.
                  .box-highlight-right-1
                    .media.under-center
                      .media-body
                        h3.title-main-3
                          a(href="detail-life.html") Chung kết The Face Việt Nam: Từ kỳ vọng cho đến thất vọng cùng cực
                        p.content-news Đêm chung kết The Face - Gương mặt thương hiệu 2016 là chương trình được rất nhiều người mong chờ sau khi trải qua 11 tập thử thách được phát sóng tập thử thách được phát sóng tập thử thách được phát sóng
                      .media-right
                        a.thumb-bottom(href="detail-life.html")
                          img(src="http://kul.vn/media/cache/resolve/thumbnail_300x225/uploads/media/thumbnail/5850/c5/thumbnail_4x3_cach-giat-va-phoi-quan-ao-trong-ngay-mua.jpg", alt="Chung kết The Face Việt Nam: Từ kỳ vọng cho đến thất vọng cùng cực")
                    .media.under-center
                      .media-body
                        h3.title-main-3
                          a(href="detail-life.html") Chung kết The Face Việt Nam: Từ kỳ vọng cho đến thất vọng cùng cực
                        p.content-news Đêm chung kết The Face - Gương mặt thương hiệu 2016 là chương trình được rất nhiều người mong chờ sau khi trải qua 11 tập thử thách được phát sóng tập thử thách được phát sóng tập thử thách được phát sóng
                      .media-right
                        a.thumb-bottom(href="detail-life.html")
                          img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5851/6d/thumbnail_4x3_kul-news-christmas-food-1.jpeg", alt="Chung kết The Face Việt Nam: Từ kỳ vọng cho đến thất vọng cùng cực")
                  //- ul.list-news.none-borderlist
                  //-   li
                  //-     a(href="#") Bé Kim Thư đáng yêu cùng chú Trấn Thành ra mắt phim "Nắng"
                  //-   li
                  //-     a(href="#") MSI chính thức ra mắt các dòng laptop mới tại Việt Nam
                  //-   li
                  //-     a(href="#") Phụ nữ đa tình là "duyên" hay "nghiệt"?
                  //-   li
                  //-     a(href="#") 5 năm đi làm xa, rơi nước mắt khi thấy bầu ngực...
                  //-   li
                  //-     a(href="#") Thổ Nhĩ Kỳ: Đánh bom kép 15 người thiệt mạng...  
          .hidden-xs.hidden-sm.col-md-3.col-lg-3.width-3
            .main-righ
              .total-side
                .media.box-sm-hnd
                  //- .media-left
                  //-   a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
                  //-     img(src="http://kul.vn/media/cache/thumbnail_110x110/uploads/media/thumbnail/5846/72/thumbnail_1x1_no-lon-can-nha-5-tang-o-sai-gon-1.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Sau thất bại tại The Face, Mai Ngô quyết định bỏ nghề...
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  //- .media-left
                  //-   a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
                  //-     img(src="http://kul.vn/media/cache/thumbnail_110x110/uploads/media/thumbnail/584b/7f/thumbnail_1x1_bong-hong-lai-2.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Bò King: Xứng danh "vua bò" bít tết Hà Nội
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  //- .media-left
                  //-   a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
                  //-     img(src="http://kul.vn/media/cache/thumbnail_110x110/uploads/media/thumbnail/584c/ac/thumbnail_1x1_4.png", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Bí quyết “níu kéo” những ngày cuối hè hiệu quả
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  //- .media-left
                  //-   a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
                  //-     img(src="http://kul.vn/media/cache/thumbnail_110x110/uploads/media/thumbnail/584b/bb/thumbnail_1x1_an-cap-ao-len-tang-con-vao-ngay-sinh-nhat-1.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Tháng Mười – Quán café view Hồ Tây siêu đẹp cho...
                    span.time-up 6:00 20/10/2016
                .media.box-sm-hnd
                  //- .media-left
                  //-   a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
                  //-     img(src="http://kul.vn/media/cache/thumbnail_110x110/uploads/media/thumbnail/584b/7e/thumbnail_1x1_nguoi-dan-tra-lai-23-trieu-dong-1.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
                  .media-body.most-views
                    a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Duy nhất hôm nay: Sẵn sàng "chiến" ngày hội mua sắm...
                    span.time-up 6:00 20/10/2016
              .qc-leftstation
                img(src="images/icon/qc3002.jpg")
    section.life-vid
      .container
        .row
          .col-xs-12
            .sub-title-left.bottom-margin10
                .border-top-sub
                h2.album-videotits  Video & Hình Ảnh
            .top-hightnews.padding-fixed
              .box-video
                .box-info-video.video-margin
                  a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    img(src="http://image.mp3.zdn.vn/content/e/0/e06d061a77a7bde916b8a91163029d41_1476104705.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    span.icon-play-round-48
                  h3.title-main-4
                    a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Happy Camp: Phạm Băng Băng, Quách Kính Minh Lâm Doãn, Vương Nguyên, Trần Học Đông
                .box-info-video.video-margin
                  a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    img(src="http://image.mp3.zdn.vn/content/d/3/d3ace03dc72794af51ba13f2695e8a90_1476012995.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    span.icon-play-round-48
                  h3.title-main-4
                    a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Giọng Hát Việt Nhí 2016: Tập 12 - Kết Quả Liveshow 4 - The Voice Kids - Giọng Hát Việt Nhí 2016
                .box-info-video.video-margin
                  a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    img(src="http://image.mp3.zdn.vn/content/c/8/c8bda4550707d496170f5f2673765a65_1475751258.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    span.icon-play-round-48
                  h3.title-main-4
                    a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") TED Talks: Airbnb Thiết Kế Niềm Tin Như Thế Nào? - Joe Gebbia
                .box-info-video.video-margin
                  a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    img(src="http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/584d/58/thumbnail_16x9_phan-manh-quynh.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    span.icon-play-round-48
                  h3.title-main-4
                    a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Màn trở lại ấn tượng của Phan Mạnh Quỳnh tại "Sing My Song" bằng hit "Con tim tan vỡ"
        .row
          .col-xs-2.col-fix-2.fix-grid-2
            .sub-title-left.scroll-to-fixed
                .border-top-sub
                h2 
                  a(href="category-life.html") Đời sống
                p 
                  a(href="category-life.html") Xã hội
                p 
                  a(href="category-life.html") Giới trẻ
                p
                  a(href="category-life.html") Nhân vật
                p
                  a(href="category-life.html") Khám phá
                p
                  a(href="detai7l-life.html") Ảnh & Video
                p
                  a(href="category-life.html") Góc nhìn
          .col-xs-10.fix-grid-10
            .top-hightnews
              .row
                .col-xs-4
                  .life-news
                    .life-big
                      .life-thumb
                        a(href="#")
                          img(src="http://kul.vn/media/cache/thumbnail_100x75/uploads/media/thumbnail/5850/36/thumbnail_4x3_may-in-mini-cho-tin-do-chup-anh-di-dong-4.jpg", alt="")
                      h3.title-main-3
                        a(href="#") Bất chấp lũ lụt, chú rể "đưa nàng về dinh" bằng thuyền thúng
                      p.content-news Thông tin từ Công ty cổ phần Vận tải đường sắt Sài Gòn cho biết, vẫn còn 100.000 vé tàu cho tất cả các chặng.
                    ul.life-list
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="images/sheep.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") 3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584d/8c/thumbnail_16x9_untitled-2.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") Nhìn lại 10 chủ đề tâm điểm của Facebook trong năm 2016
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584b/e9/thumbnail_16x9_harper-beckham-11.jpg", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") Công chúa nhà Beckham đón Giáng sinh sớm cùng gia đình
                .col-xs-4
                  .life-news
                    .life-big
                      .life-thumb
                        a(href="#")
                          img(src="http://kul.vn/media/cache/thumbnail_100x75/uploads/media/thumbnail/5850/c3/thumbnail_4x3_eixd-mat-moc-tai-san-bay-6.jpg", alt="")
                      h3.title-main-3
                        a(href="#") Bất chấp lũ lụt, chú rể "đưa nàng về dinh" bằng thuyền thúng
                      p.content-news Thông tin từ Công ty cổ phần Vận tải đường sắt Sài Gòn cho biết, vẫn còn 100.000 vé tàu cho tất cả các chặng.
                    ul.life-list
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="images/sheep.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") 3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584d/8c/thumbnail_16x9_untitled-2.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") Nhìn lại 10 chủ đề tâm điểm của Facebook trong năm 2016
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584b/e9/thumbnail_16x9_harper-beckham-11.jpg", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") Công chúa nhà Beckham đón Giáng sinh sớm cùng gia đình
                .col-xs-4
                  .life-news
                    .life-big
                      .life-thumb
                        a(href="#")
                          img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5850/26/thumbnail_4x3_13.jpg", alt="")
                      h3.title-main-3
                        a(href="#") Bất chấp lũ lụt, chú rể "đưa nàng về dinh" bằng thuyền thúng
                      p.content-news Thông tin từ Công ty cổ phần Vận tải đường sắt Sài Gòn cho biết, vẫn còn 100.000 vé tàu cho tất cả các chặng.
                    ul.life-list
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="images/sheep.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") 3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584d/8c/thumbnail_16x9_untitled-2.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") Nhìn lại 10 chủ đề tâm điểm của Facebook trong năm 2016
                      li
                        .media.media-life
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584b/e9/thumbnail_16x9_harper-beckham-11.jpg", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                          .media-body
                            a(href="detail-life.html") Công chúa nhà Beckham đón Giáng sinh sớm cùng gia đình
        .row
          .col-xs-2.col-fix-2.fix-grid-2
            .sub-title-left.scroll-to-fixed
                .border-top-sub
                h2 
                  a(href="category-life.html") Thế giới
                p 
                  a(href="category-life.html") Bộ Ảnh
                p 
                  a(href="category-life.html") Câu chuyện
          .col-xs-10.fix-grid-10
            .top-worlds
              .row.equal
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/584f/b1/thumbnail_4x3_kul-news-thi-tran-mua-dong-2.jpeg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Thích thú với không khí Giáng sinh quanh năm của thị trấn độc nhất thế giới
                  p.content-news Tại thị trấn nhỏ này, những ánh đèn lung linh của đêm Giáng sinh sẽ được thắp sáng cả năm cũng như giai điệu Noel vui tươi...
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/584e/07/thumbnail_4x3_nha-moi-cua-david-beckham-3.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Cận cảnh ngôi biệt thự đang được gia đình Beckham để mắt đến
                  p.content-news Sau khi thông tin vợ chồng nhà Beckham có ý định đổi chỗ ở bị lộ ra, một số ngôi nhà đã được liệt vào danh sách. Đặc biệt,...
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5850/b7/thumbnail_4x3_cong-bo-lich-nghi-tet-nguyen-dan-2017.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") TP.HCM: Học sinh được nghỉ Tết Nguyên đán 14 ngày
                  p.content-news Lịch nghỉ Tết Nguyên đán của học sinh phổ thông TP.HCM năm nay bằng năm ngoái, bắt đầu từ ngày 23/1/2017 (26 tháng Chạp)...
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/584f/53/thumbnail_4x3_kul-news-nhung-trang-web-gia-mao-1.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Điểm thi ngành ngân hàng tăn giảm không rõ ràng nguồn gốc
                  p.content-news Sau khi thông tin vợ chồng nhà Beckham có ý định đổi chỗ ở bị lộ ra, một số ngôi nhà đã được liệt vào danh sách. Đặc biệt,...
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/584f/c8/thumbnail_4x3_dai-gia-hoang-kieu-ban-trai-tin-don-ngoc-trinh-kulnews.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Người yêu tin đồn của Ngọc trinh: Tỷ phú top 400 nước Mỹ, đã từng có 2 đời vợ
                  p.content-news "Bạn trai tin đồn" của Ngọc Trinh sở hữu khối lượng tài sản lên tới 3,7 tỷ USD và được xếp vào top 400 tỷ phú giàu nhất nước Mỹ.
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    img(src="http://kul.vn/media/cache/thumbnail_300x225/uploads/media/thumbnail/5850/fd/thumbnail_4x3_skv17497.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") EXID xuất hiện đầy thân thiện và giản dị khiến fan Việt ấn tượng
                  p.content-news Xuất hiện tại sân bay Tân Sơn Nhất, các cô gái EXID đã khiến người hâm mộ như vỡ òa bởi những cử chỉ đáng yêu, thân thiện của nhóm nhạc.
                //- .box-info-life 
                //-   .media.media-life
                //-     .media-left
                //-       a(href="detail-life.html")
                //-         img.media-object(src="images/sheep.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                //-     .media-body
                //-       h3.min-sub
                //-         a(href="detail-life.html") 3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!
                //- .box-info-life       
                //-   .media.media-life
                //-     .media-left
                //-       a(href="detail-life.html")
                //-         img.media-object(src="images/qua.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                //-     .media-body
                //-       h3.min-sub
                //-         a(href="detail-life.html") Soi quà tặng năm học mới từ xưa đến nay khác biệt như thế nào
                //- .box-info-life                
                //-   .media.media-life
                //-     .media-left
                //-       a(href="#")
                //-         img.media-object(src="images/nga.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                //-     .media-body
                //-       h3.min-sub
                //-         a(href="#") Mỹ phẩm Nga – Xu hướng mỹ phẩm được phái đẹp "săn lùng"
                //- .box-info-life        
                //-   .media.media-life
                //-     .media-left
                //-       a(href="#")
                //-         img.media-object(src="images/couple.png", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                //-     .media-body
                //-       h3.min-sub
                //-         a(href="#") Cận cảnh cuộc sống sang chảnh của 4 cậu ấm, cô chiêu giàu có bậc nhất Malaysia
        .row
          .col-xs-2.col-fix-2.fix-grid-2
            .sub-title-left.scroll-to-fixed
                .border-top-sub
                h2 
                  a(href="category-life.html") Giải trí
                p 
                  a(href="category-life.html") Sao
                p 
                  a(href="category-life.html") Âm nhạc
                p
                  a(href="category-life.html") Điện Ảnh
                p
                  a(href="category-life.html") TV Show
          .col-xs-10.fix-grid-10
            .top-entertain
              .box-life
                .box-info-life
                  a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    img(src="http://kul.vn/media/cache/resolve/thumbnail_300x225/uploads/media/thumbnail/5850/90/thumbnail_4x3_song-ji-hyo-kim-joong-kook-roi-running-man-3.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                  h3.title-main-3
                    a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Song Ji Hyo và Kim Joong Kook xác nhận rời chương trình "Running Man"
                  //- p.content-news Sau Kang Gary, hai thành viên khác của "Running Man" là Song Ji Hyo và Kim Joong Kook đã quyết định thông báo rời khỏi chương trình.
                  //- ul.list-news
                  //-   li
                  //-     a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên") Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên
                  //-   li
                  //-     a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên")  Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới
                  //-   li
                  //-     a.link-game(href="#" title="Đánh giá Toy Odyssey - Đẹp và chất ngay cái nhìn đầu tiên") Metal Gear Survive trình diễn lối chơi ấn tượng tại Tokyo Game Show 2016
                .box-info-life
                  .row.equal
                    .col-xs-6.box-info-entertain
                      a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584f/d9/thumbnail_16x9_nha-trang-ngap-lut-nghiem-trong-3.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                      h3.title-main-3.height-entertain
                        a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Nha Trang: Ngập nặng do mưa lớn, tê liệt vì sạt lở nghiêm trọng
                      //- p.content-news Trong không khí náo nức của ngày khai trường 5/9, các bạn học sinh trong khắp các trường học trên địa bàn thành phố HCM đã bắt đầu
                    .col-xs-6.box-info-entertain
                      a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                        img(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/5850/c8/thumbnail_16x9_dam-vinh-hung-to-ma-no-nan-1.png", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                      h3.title-main-3.height-entertain
                        a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Đàm Vĩnh Hưng nghẹn ngào chia sẻ tình cảnh kiệt quệ vì trả nợ cho mẹ...
                      //- p.content-news Không quản ngại đường xa, các chiến sĩ trong đội hỗ trợ nhân dân lao đi trong đêm hỗ trợ nhóm bạn trẻ gặp nạn. 
                    .col-xs-6.box-info-entertain
                      a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                        img(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/5850/be/thumbnail_16x9_lee-min-ho-hoa-ban-trai-ly-tuong-lee-kwang-soo-xo-xac-4.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                      h3.title-main-3.height-entertain
                        a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") EXID tự tin khoe mặt mộc, lên đường đến Việt Nam
                      //- p.content-news Trong không khí náo nức của ngày khai trường 5/9, các bạn học sinh trong khắp các trường học trên địa bàn thành phố HCM đã bắt đầu
                    .col-xs-6.box-info-entertain
                      a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                        img(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/5850/c3/thumbnail_16x9_eixd-mat-moc-tai-san-bay-6.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                      h3.title-main-3.height-entertain
                        a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Lee Min Ho hóa đầu bếp đẹp trai, Lee Kwang Soo xơ xác trong phim mới
                      //- p.content-news Không quản ngại đường xa, các chiến sĩ trong đội hỗ trợ nhân dân lao đi trong đêm hỗ trợ nhóm bạn trẻ gặp nạn. 
              .row.equal
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                    img(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/5850/05/thumbnail_16x9_untitled-1.png", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Thích thú với không khí Giáng sinh quanh năm của thị trấn...
                  p.content-news Tại thị trấn nhỏ này, những ánh đèn lung linh của đêm Giáng sinh sẽ được thắp sáng cả năm cũng như giai điệu Noel vui tươi...
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    img(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584b/e9/thumbnail_16x9_harper-beckham-11.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Cận cảnh ngôi biệt thự đang được gia đình Beckham để mắt đến
                  p.content-news Sau khi thông tin vợ chồng nhà Beckham có ý định đổi chỗ ở bị lộ ra, một số ngôi nhà đã được liệt vào danh sách. Đặc biệt,...
                .col-xs-4.box-info-triple
                  a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                    img(src="http://kul.vn/media/cache/thumbnail_110x65/uploads/media/thumbnail/584e/19/thumbnail_16x9_london-ngap-7.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") 
                  h3.title-main-3.height-hidden
                    a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") TP.HCM: Học sinh được nghỉ Tết Nguyên đán 14 ngày
                  p.content-news Lịch nghỉ Tết Nguyên đán của học sinh phổ thông TP.HCM năm nay bằng năm ngoái, bắt đầu từ ngày 23/1/2017 (26 tháng Chạp)...
    section.main-news
      .container
        .row
          .padding
          .col-xs-12
            .row
              .col-xs-2.col-fix-left
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="category-life.html") Thời trang
                  p 
                    a(href="category-life.html") Làm đẹp
                  p 
                    a(href="category-life.html") Xu hướng
                  p
                    a(href="category-life.html") Thời trang sao
                  p
                    a(href="category-life.html") Bộ sưu tập
              .col-xs-10.fix-divide-right
                .row
                  .col-xs-3.col-sm-6.col-md-3.col-lg-3
                    .box-content-fashion
                      a(href="detail-life.html" title="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
                        img(src="images/fa2.jpg", alt="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
                      h3.title-main-4
                        a(href="detail-life.html") Phối thun trắng đơn điệu thành sành điệu như các Idols Hàn Quốc
                  .col-xs-3.col-sm-6.col-md-3.col-lg-3
                    .box-content-fashion
                      a(href="detail-life.html" title="Hoàng Thùy đẹp ma mị trong BST mới")
                        img(src="images/fa1.jpg", alt="Hoàng Thùy đẹp ma mị trong BST mới")
                      h3.title-main-4
                        a(href="detail-life.html") 6 bí quyết mặc đồ giúp bạn ăn gian chiều cao
                  .col-xs-3.col-sm-6.col-md-3.col-lg-3
                    .box-content-fashion
                      a(href="detail-life.html" title="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
                        img(src="images/fa4.jpg", alt="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
                      h3.title-main-4
                        a(href="detail-life.html") Nắm 5 mẹo nhỏ sau, bạn sẽ tự tin hơn rất nhiều khi mặc quần short
                  .col-xs-3.col-sm-6.col-md-3.col-lg-3
                    .box-event
                      .trend-event
                        span Xu hướng / Sự kiện
                      .fashion-event
                        .thumbnails
                          a(href="detail-life.html", title="4 màu son tươi tắn nhẹ nhàng bạn có thể yên tâm diện đi học mà không sợ thày cô giám thị soi")
                            img(src="images/cool.jpg", alt="4 màu son tươi tắn nhẹ nhàng bạn có thể yên tâm diện đi học mà không sợ thày cô giám thị soi")
                        h3.title-main-4
                          a(href="detail-life.html") 4 màu son tươi tắn nhẹ nhàng bạn có thể yên tâm diện đi học mà không sợ thày cô...
                        ul.event-list
                          li
                            a(href="#") Mix đồ cực "cool" cùng áo phông cho hè năng động
                          li
                            a(href="#") Street style trông "sướng cả mắt" vì ngập tràn xu hướng hot của giới trẻ 2 miền  
                .line.adjust-margin
          .col-xs-12
            .row
              .col-xs-2.col-fix-left
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="category-life.html") Game
                  p
                    a(href="category-life.html") Đánh giá game
                  p
                    a(href="category-life.html") Game trong nước
                  p
                    a(href="category-life.html") Game Nước ngoài
                  p
                    a(href="category-life.html") Esports
                  p
                    a(href="category-life.html") Clip Game Hay
                  p
                    a(href="category-life.html") Gift Code
              .col-xs-10.fix-divide-right.content-tech-main
                .row
                  .col-xs-8.col-sm-7.col-md-8.col-lg-8.right-padding.game-big
                    .row
                      .col-xs-8.col-sm-12.col-md-8.col-lg-8.right-padding
                        .game-bigthumb(style="background-image:url('http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/5851/12/thumbnail_1x1_diem-mat-danh-sach-game-ps4-khien-game-thu-pc-phai-ganh-ti-3.png')")
                          a.light-title(href="detail-life.html", title="Kỹ sư có công đưa máy Mac sang dùng chip Intel bị từ chối công việc tại Apple Store")
                          .thumb-title 
                            h3 LMHT: Riot Games tặng người chơi trang phục 'hiếm nhất quả đất' cực độc đáo và phá cách
                      .col-xs-4.hidden-sm.col-md-4.col-lg-4.left-padding
                        .side-thumb(style="background-image:url('http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/5851/12/thumbnail_1x1_diem-mat-danh-sach-game-ps4-khien-game-thu-pc-phai-ganh-ti-3.png')")
                          a.light-title(href="detail-life.html", title="Cooler Master cho ra mắt Case khủng với thiết kế độc đáo và phá cách")
                          .thumb-title 
                            h3 Nóng bỏng mắt cùng bộ cảnh cosplay siêu đẹp đầu tuần
                  .col-xs-4.col-sm-5.col-md-4.col-lg-4.left-padding.game-min
                    .side-games
                      a(href="detail-life.html", title="")
                      img(src="images/game4.jpg", alt='Cooler Master cho ra mắt Case khủng với thiết kế độc đáo và phá cách')  
                      .thumb-title 
                        h3 Đắng lòng thanh niên mất trắng tài khoản Siêu Thần LOL cấp 35 vì tội... lười
                    .side-games
                      a(href="detail-life.html", title="")
                      img(src="images/game5.jpg", alt='Cooler Master cho ra mắt Case khủng với thiết kế độc đáo và phá cách')
                      .thumb-title 
                        h3 Siêu phẩm HIT chính thức đạt 5 triệu lượt tải trên toàn thế giới
                .line           
          //- .col-xs-12
          //-   .row
          //-     .col-xs-2.col-fix-left
          //-       .sub-title-left.scroll-to-fixed
          //-         .border-top-sub
          //-         h2
          //-           a(href="category-life.html") Phái đẹp
          //-         p 
          //-           a(href="category-life.html") Horoscope
          //-         p 
          //-           a(href="category-life.html") Cẩm nang yêu
          //-         p
          //-           a(href="category-life.html") Góc chia sẻ 
          //-         p
          //-           a(href="category-life.html") Couple stories
          //-     .col-xs-10.fix-divide-right
          //-       .row
          //-         .col-xs-3.col-sm-6.col-md-3.col-lg-3
          //-           .box-content-women
          //-             a(href="detail-life.html" title="5 mẹo đơn giản đá bay mùi cơ thể")
          //-               img(src="images/women-01.png", alt="5 mẹo đơn giản đá bay mùi cơ thể")
          //-             h3.title-main-5
          //-               a(href="detail-life.html" title="5 mẹo đơn giản đá bay mùi cơ thể") 5 mẹo đơn giản đá bay "mùi cơ thể"
          //-             .box-women-small
          //-               h3.title-main-5
          //-                 a(href="detail-life.html" title="Cái nắm tay cuối cùng của cặp vợ chồng bệnh tật trước lúc ra đi") Cái "nắm tay cuối cùng" của cặp vợ chồng bệnh tật trước lúc ra đi
          //-               h3.title-main-5
          //-                 a(href="detail-life.html" title="Mưa ngày cưới, hạnh phúc hay đau thương?") Mưa ngày cưới, hạnh phúc hay đau thương?
          //-               h3.title-main-5
          //-                 a(href="detail-life.html" title="Hé lộ tính cách phụ nữ qua đôi gò bồng đào") Hé lộ tính cách phụ nữ qua đôi "gò bồng đào"
          //-         .col-xs-3.col-sm-6.col-md-3.col-lg-3
          //-           .box-content-women
          //-             a(href="detail-life.html" title="Thứ Năm (19/5): Song Ngư được bạn bè mến mộ")
          //-               img(src="images/women-02.png", alt="women-01")
          //-             h3.title-main-5
          //-               a(href="detail-life.html" title="Thứ Năm (19/5): Song Ngư được bạn bè mến mộ") Thứ Năm (19/5): Song Ngư được bạn bè mến mộ
          //-             .box-women-small
          //-               h3.title-main-5
          //-                 a(href="detail-life.html" title="Tặng con gái góc bếp yêu không tưởng từ vật dụng cũ") Tặng con gái góc bếp "yêu không tưởng" từ vật dụng cũ
          //-               h3.title-main-5
          //-                 a(href="detail-life.html" title="3 cách ứng xử khôn ngoan giúp quan hệ cha vợ - con rể thêm gắn kết") 3 cách ứng xử khôn ngoan giúp quan hệ "cha vợ - con rể" thêm gắn kết
          //-               h3.title-main-5
          //-                 a(href="detail-life.html" title="5 chiến lược phòng ngự của phụ huynh khi... hè tới") 5 "chiến lược" phòng ngự của phụ huynh khi... hè tới
          //-         .col-xs-3.col-sm-6.col-md-3.col-lg-3
          //-           .box-content-women
          //-             a(href="detail-life.html" title="3 lý do khiến các đôi đường ai nấy đi khi vào Đại học")
          //-               img(src="images/women-03.png", alt="women-01")
          //-             h3.title-main-5
          //-               a(href="detail-life.html") 3 lý do khiến các đôi "đường ai nấy đi" khi vào Đại học
          //-             .box-women-small
          //-               h3.title-main-5
          //-                 a(href="detail-life.html") 4 hành động "nhỏ xíu" giúp hâm lửa các cặp đôi lâu năm
          //-               h3.title-main-5
          //-                 a(href="detail-life.html") Làm sao để nắm tay nhau đi qua những "ngày thất nghiệp"?
          //-               h3.title-main-5
          //-                 a(href="detail-life.html") Con gái, đôi khi hãy là một kẻ khờ xinh đẹp
          //-         .col-xs-3.col-sm-6.col-md-3.col-lg-3
          //-           .box-content-women
          //-             a(href="detail-life.html" title="Đoán tính cách con gái qua chiếc áo lót yêu thích")
          //-               img(src="images/women-04.png", alt="women-01")
          //-             h3.title-main-5
          //-               a(href="detail-life.html") Đoán tính cách con gái qua "chiếc áo lót" yêu thích
          //-             .box-women-small
          //-               h3.title-main-5
          //-                 a(href="detail-life.html") Hé lộ tính cách phụ nữ qua đôi "gò bồng đào"
          //-               h3.title-main-5
          //-                 a(href="detail-life.html") 5 chòm sao nữ có nguy cơ "ế đến tận thế"
          //-               h3.title-main-5
          //-                 a(href="detail-life.html") 5 tướng phụ nữ dễ " làm người thứ ba"
          //-       .line
          .col-xs-12
            .row
              .col-xs-2.col-fix-left
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="category-life.html") Thể thao
                  p
                    a(href="category-life.html") Bóng Đá Việt Nam
                  p
                    a(href="category-life.html") Bóng đá thế giới
                  p
                    a(href="category-life.html") Các môn thể thao khác
                  p
                    a(href="category-life.html") AFF Suzuki Cup
              .col-xs-10.fix-divide-right.content-tech-main
                .row
                  .col-xs-8.col-sm-12.col-md-8.col-lg-8.right-padding
                    .row
                      .col-xs-8.right-padding.tablet-big
                        .tech-bigthumb(style="background-image:url('http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/5851/12/thumbnail_1x1_diem-mat-danh-sach-game-ps4-khien-game-thu-pc-phai-ganh-ti-3.png')")
                          a.light-title(href="detail-life.html", title="Kỹ sư có công đưa máy Mac sang dùng chip Intel bị từ chối công việc tại Apple Store")
                          .thumb-title 
                            h3 Thủ môn U-16 Triều Tiên té "mềm mại" cố tình thua vì sợ gặp Iraq?
                      .col-xs-4.left-padding.tablet-min
                        .side-thumb(style="background-image:url('http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/5851/12/thumbnail_1x1_diem-mat-danh-sach-game-ps4-khien-game-thu-pc-phai-ganh-ti-3.png')")
                          a.light-title(href="detail-life.html", title="Cooler Master cho ra mắt Case khủng với thiết kế độc đáo và phá cách")
                          .thumb-title 
                            h3 VTVCab chính thức có bản quyền Champions League 2016/17
                  .col-xs-4.hidden-sm.col-md-4.col-lg-4.left-padding
                    .sidebar-hot
                      //- .sidebar-title
                      //-   span Tin nổi bật
                      .tech-newlist
                        .media.media-tech
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://www.richmondhillsoccer.com/pub/images/BAF%201.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                          .media-body
                            h3.min-sub
                              a(href="detail-life.html") Highlights Dortmund 3-1 Freiburg
                        .media.media-tech
                          .media-left
                            a(href="detail-life.html")
                              img.media-object(src="http://static.independent.co.uk/s3fs-public/styles/readmore_card/public/thumbnails/image/2015/10/24/17/Beauden%20Barrett.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                          .media-body
                            h3.min-sub
                              a(href="detail-life.html") Toulouse 2-0 PSG: "Gã khổng lồ té ngã"
                        ul.event-list
                          li
                            a(href="detail-life.html") Ronaldo tiếp tục nổ súng trong chiến thắng 6 sao của Bồ Đào Nha
                          li
                            a(href="detail-life.html") "Bom tấn" Paul Pogba nã "đại bác", Pháp hạ gục Hà Lan
                          li
                            a(href="detail-life.html") Chân dung thần đồng lọt vào tầm ngắm của Man Utd
                .line
        .row
          .col-xs-8.col-sm-12.col-md-8.col-lg-8.main-left
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="category-life.html") Công Nghệ
                  p
                    a(href="category-life.html") Tin Công Nghệ
                  p
                    a(href="category-life.html") Review
                  p
                    a(href="category-life.html") Thủ thuật
              .col-xs-10
                .top-hightnews
                  .box-life
                    .box-info-life
                      a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                        img(src="http://www.opb.org/images/fetch/c_limit,g_center,h_1000,q_90,w_640/https%3A//media.npr.org/assets/img/2016/09/14/ap_16211641325045-5e3370dc652169aba6bcbf47fd83244e1acca075.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                      h3.title-main-3
                        a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Samsung chính thức ngưng bán Galaxy Note 7 trên toàn cầu
                      p.content-news Không chỉ vậy, các chương trình đổi Galaxy Note 7 mới cũng bị ngưng và Samsung khuyên người nên tắt máy không dùng, cho đến khi cuộc điều tra nguyên nhân cháy nổ hoàn tất.
                    .box-info-life
                      a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                        img(src="http://images2.itechpost.com/data/images/full/14864/geforce_gtx_1080_fe_07.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                      h3.title-main-3
                        a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Microsoft sẽ tổ chức một sự kiện lớn vào ngày 26/10
                      p.content-news Sự kiện sắp tới của Microsoft sẽ nói đến chiến lược phát triển cho hệ điều hành Windows 10, cũng như có thể sẽ có một vài thiết bị phần cứng chạy Windows được giới thiệu, đáng chú ý là máy tính Surface PC.
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="detail-life.html")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/screen-shot-2016-10-10-at-10-35-34-1476070553140-331-0-1114-1252-crop-1476070592896.png", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                        .media-body
                          h3.min-sub
                            a(href="detail-life.html") Chỉ sau 2 tuần sử dụng, iPhone đen bóng đã "tàn phai nhan sắc"
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="detail-life.html")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/1476081077658-179-25-1068-1448-crop-1476081094013.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="detail-life.html") Đi tìm bí quyết sở hữu ảnh selfie độc đáo cùng OPPO
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="#")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/800samsung-phone-2-800x450-1476068609836-1476070983956-0-61-360-636-crop-1476070997392.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="#") Ác mộng cũng đã đến, báo Hàn đưa tin Samsung tạm ngừng sản xuất Galaxy Note7
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="#")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/samsung-1476057764513-48-0-434-618-crop-1476057779375.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="#") Đây là tính năng Samsung sẽ "sao chép" iPhone cho Samsung Galaxy S8     
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="category-life.html") Sức khỏe
                  p 
                    a(href="category-life.html") Bạn cần biết
                  p
                    a(href="category-life.html") Kiến Thức Giới Tính
                  p 
                    a(href="category-life.html") Các bệnh thường gặp
              .col-xs-10
                .top-hightnews
                  .box-life
                    .box-info-life
                      a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                        img(src="https://vinamilk.com.vn/sua-chua-vinamilk/wp-content/themes/vinamilk-sua-chua/images/pl3_xuhuong/mb_1.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                      h3.title-main-3
                        a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Làm đúng việc vào đúng thời điểm để tuổi thọ tăng vèo vèo
                      p.content-news.fix-bottom Mỗi một thói quen sinh hoạt đều góp phần không nhỏ vào chất lượng cuộc sống của bạn đấy nhé!
                    .box-info-life
                      .media.media-star
                        .media-left
                          a(href="#")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/ava-1476175774822-2-0-704-1124-crop-1476175783402.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="#") Quy tắc nhất định phải biết để phòng tránh các căn bệnh vùng kín
                      .media.media-star
                        .media-left
                          a(href="#")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/tumblr-oaqc3kb2d91spqhdqo4-1280-1476001551941-153-0-543-625-crop-1476002204530.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="#") Giã từ thân hình “cò hương” với chế độ ăn uống tăng cân trong 1 tuần
                      .media.media-star
                        .media-left
                          a(href="detail-life.html")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/ava2-1475980792205-0-0-375-600-crop-1475981362425.jpg", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                        .media-body
                          h3.min-sub
                            a(href="detail-life.html") Đánh răng, rửa mặt, gội đầu... cần làm thế nào, dùng bao nhiêu là đủ?
                      .media.media-star
                        .media-left
                          a(href="detail-life.html")
                            img.media-object(src="http://kenh14cdn.com/zoom/180_112/2016/tumblr-oel84wrasp1spqhdqo7-r1-1280-1475934120153-74-149-603-995-crop-1475934163025.png", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="detail-life.html") 14 loại thực phẩm các chuyên gia dinh dưỡng khuyên người khó ngủ nên ăn
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="category-life.html") Phái Đẹp
                  p
                    a(href="category-life.html") Làm đẹp
                  p
                    a(href="category-life.html") Mẹ & Bé
                  p
                    a(href="category-life.html") Vào bếp
                  p
                    a(href="category-life.html") Khéo tay - DIY
                  p
                    a(href="category-life.html") Sống & yêu
                  p
                    a(href="category-life.html") Video
                  p
                    a(href="category-life.html") Cộng Đồng
              .col-xs-10
                .top-hightnews.border-none
                  .box-life
                    .box-info-life
                      a.thumb-life(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                        img(src="https://s-media-cache-ak0.pinimg.com/originals/65/b4/3d/65b43d8a9f7fe7c6b994479be55cca00.jpg", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                      h3.title-main-3
                        a(href="detail-life.html" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Xu hướng make-up thời thượng của các sao thế giới hiện nay
                      p.content-news Sang trọng, đẹp mộc mạc và quý phái, đó là những tiêu chí được đặt lên hàng đầu trong phong cách làm đẹp của các nàng
                    .box-info-life
                      a.thumb-life(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                        img(src="http://monngondelam.info/wp-content/uploads/2015/11/M%C3%B3n-ngon-m%E1%BB%97i-ng%C3%A0y-2015-Th%E1%BB%8Bt-B%C3%B2-Cu%E1%BB%99n-N%E1%BA%A5m-Kim-Ch%C3%A2m9.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                      h3.title-main-3
                        a(href="detail-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Cách làm món sườn nướng cay kiểu nhật tuyệt cú mèo
                      p.content-news Sự kết hợp giữa phần thịt sườn béo ngậy và hương vị thanh thanh của dấm đen thật tuyệt vời, hôm nay chúng ta sẽ vào bếp khám phá món sườn nướng cay kiểu nhật nào
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="detail-life.html")
                            img.media-object(src="http://kenh14cdn.com/zoom/230_144/2016/ava-1476036603317-0-0-500-800-crop-1476036953340.jpg", alt="3 cánh đồng nuôi cừu ở Việt Nam, tới đây chụp kiểu gì cũng có ảnh xinh!")
                        .media-body
                          h3.min-sub
                            a(href="detail-life.html") Kiểu xu hướng thời trang mới của các nàng
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="detail-life.html")
                            img.media-object(src="http://kenh14cdn.com/zoom/230_144/2016/ulzzang-1-1476114290036-0-0-431-690-crop-1476114303006.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="detail-life.html") Những cô nàng "Lừa Tình" cả thiên hạ bằng nghệ thuật trang điểm
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="#")
                            img.media-object(src="http://kenh14cdn.com/zoom/230_144/2016/1476036722648-88-0-688-960-crop-1476036737513.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="#") SevenFriday ra mắt Pop-up Store tại Sài Gòn
                    .box-info-life
                      .media.media-life
                        .media-left
                          a(href="#")
                            img.media-object(src="http://kenh14cdn.com/zoom/230_144/2016/ava-1476025024082-0-0-500-800-crop-1476025061117.jpg", alt="Hàng nghìn người dân đổ về TP.HCM sau nghỉ lễ 2/9")
                        .media-body
                          h3.min-sub
                            a(href="#") Mẫu Việt thế hệ mới: "Dị biệt" là một trào lưu vượt trội
          .hidden-xs.hidden-sm.col-md-4.col-lg-4
            .qc-sidebar
              img(src="images/icon/qc300.jpg" alt="qc300")
            .video-news.scroll-fixed-video
              .sub-title-left
                .border-top-sub
                h2
                  a(href="detail-life.html") Video
              .box-main-video
                .box-play
                  a(href="detail-life.html" class="hover-box-video" title= "Hot boy Việt kiều đẹp trai, thông minh chinh phục cả Bằng Kiều và Thu Minh")
                  .box-img-video
                    img(src="images/video-01.png", class="img-video-large" alt="Hot boy Việt kiều đẹp trai, thông minh chinh phục cả Bằng Kiều và Thu Minh")
                    span.icon-play-round-64
                  .box-text-video
                    h3.link-bottom-video Hot boy Việt kiều đẹp trai, thông minh chinh phục cả Bằng Kiều và Thu Minh
                .media.side-vids
                  a(href="detail-life.html" class="hover-box-video " title= "Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
                  .media-left
                    img(src="images/video-02.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
                    span.icon-play-round-48
                  .media-body
                    h3 Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt
                .media.side-vids
                  a(href="detail-life.html" class="hover-box-video" title= "Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi đanh đá nhất của đội Đức Thịnh")
                  .media-left
                    img(src="images/video-03.png", alt="Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi đanh đá nhất của đội Đức Thịnh")
                    span.icon-play-round-48
                  .media-body
                    h3 Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi "đanh đá" nhất của đội Đức Thịnh
                .media.side-vids
                  a(href="detail-life.html" class="hover-box-video" title= "Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn") 
                  .media-left
                    img(src="images/video-04.png", alt="Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn")
                    span.icon-play-round-48
                  .media-body
                    h3 Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
                .media.side-vids
                  a(href="detail-life.html" class="pull-left" title= "Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh")
                  .media-left
                    img(src="images/video-05.png", alt="Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh")
                    span.icon-play-round-48
                  .media-body
                    h3 Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh               
    include ./footer.jade
    script(src='js/jquery-scrolltofixed.js')
    script(src='js/xmas.js')
    script(src='js/main.js')
    