doctype html
html
  include ./head.jade 
  body
    include ./header-beauty.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-beauty.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
                  canvas#xmas
                  span.xmas-hat
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event.change-scroll
              h1 Phái đẹp
              ul.menu-cate
                each val in ['Làm Đẹp', 'Mẹ & Bé', 'Vào bếp', 'Khéo tay','Sống & Yêu', 'Video', 'Cộng Đồng']
                  li
                    a(href="category-life.html")= val
    section.highlight-beauty
      .container-fluid
        .row
          .col-sm-6.col-md-4.item-element
            .beauty-highlight(style="background-image:url('http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/5839/b6/thumbnail_16x9_cach-lam-banh-kem-bo-lac-khong-can-lo-nuong.png')")
              a(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              .box-beauty
                span.beauty-cate Beauty & Trend
                h3 7 loại phấn má chất lượng nhưng giá cực yêu
                span.time-up 6:00 20/10/2016
          .col-sm-6.col-md-4.item-element
            .beauty-highlight(style="background-image:url('http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/5839/b6/thumbnail_16x9_cach-lam-banh-kem-bo-lac-khong-can-lo-nuong.png')")
              a(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              .box-beauty
                span.beauty-cate Tip & Made
                h3 Chọn tóc đẹp cho những ngày cuối năm
                span.time-up 6:00 20/10/2016
          .col-sm-6.col-md-4.item-element
            .beauty-highlight(style="background-image:url('http://kul.vn/media/cache/thumbnail_325x155/uploads/media/thumbnail/5839/b6/thumbnail_16x9_cach-lam-banh-kem-bo-lac-khong-can-lo-nuong.png')")
              a(href="#" title="Top những game nhập vai ấn tượng rất được mong chờ   đầu 2017")
              .box-beauty
                span.beauty-cate Love & Life
                h3 Tẩy trang môi: Câu chuyện chưa bao giờ cũ
                span.time-up 6:00 20/10/2016
    section.content-beauty
      .container
        .row
          .col-sm-9.col-md-7
            .block-health-beauty
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Làm Đẹp
                .line-cate
              .media.box-media
                .media-left
                  a(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                    img(src="images/health-beauty-01.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có
                  p.content-news Dưỡng da mặt tự nhiên với những nguyên liệu sẵn có đang là xu hướng làm đẹp của chị em phụ nữ. Hãy cùng bài viết khám phá 7 cách dưỡng da thú vị này nhé.
              .media.box-media
                .media-left
                  a(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                    img(src="images/health-beauty-02.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Dù bạn có là cô nàng đỏng đảnh đến mấy, cũng phải chào thua với 3 kiểu tóc cô dâu này") Dù bạn có là cô nàng đỏng đảnh đến mấy, cũng phải chào thua với 3 kiểu tóc cô dâu này
                  p.content-news Hẳn là cô gái nào cũng mong muốn mình trở thành cô dâu thật xinh đẹp và đặc biệt nhất trong ngày cưới. Với những kiểu tóc đơn giản, dễ làm mà sang trọng nhất dưới đây.
              .media.box-media
                .media-left
                  a(href="#" title="Top 5 thỏi son sang chảnh bạn gái nào cũng nhất định phải có")
                    img(src="images/health-beauty-03.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có") Top 5 thỏi son sang chảnh bạn gái nào cũng nhất định phải có
                  p.content-news Nếu như trước kia màu son lì đậm màu khiến nhiều người e ngại vì sợ tạo cho mình vẻ ngoài già dặn thì giờ đây, chính nét cá tính đặc biệt ấy lại chinh phục mọi phong cách trang điểm
              .media.box-media
                .media-left
                  a(href="#" title="Kiểu tóc đẹp nhất 2016 khiến bạn trở nên trẻ trung và quyến rũ hơn")
                    img(src="images/health-beauty-04.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Kiểu tóc đẹp nhất 2016 khiến bạn trở nên trẻ trung và quyến rũ hơn") Kiểu tóc đẹp nhất 2016 khiến bạn trở nên trẻ trung và quyến rũ hơn
                  p.content-news Mái tóc đẹp là một trong những yếu tố quan trọng tạo nên sắc đẹp của người phụ nữ. Chính vì vậy, phụ nữ ngày nay rất quan tâm đến mái tóc của mình.
              .media.box-media
                .media-left
                  a(href="#" title="Đi tìm xu hướng thời trang lên ngôi trong năm 2016 gây sốt cộng đồng mạng")
                    img(src="images/health-beauty-05.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Đi tìm xu hướng thời trang lên ngôi trong năm 2016 gây sốt cộng đồng mạng") Đi tìm xu hướng thời trang lên ngôi trong năm 2016 gây sốt cộng đồng mạng
                  p.content-news Váy trễ vai gợi cảm, trang phục sequin lộng lẫy, váy hoa nổi bật... là một trong những xu hướng thời trang lên ngôi trong năm 2016.
              .media.box-media
                .media-left
                  a(href="#" title="3 sai lầm “chết người” của phụ nữ khi chăm sóc vùng kín")
                    img(src="images/health-beauty-06.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="3 sai lầm “chết người” của phụ nữ khi chăm sóc vùng kín") 3 sai lầm “chết người” của phụ nữ khi chăm sóc vùng kín
                  p.content-news Chăm sóc thế nào cho vùng kín của mình luôn khỏe mạnh để sẵn sàng đón nhận thiên chức làm vợ, làm mẹ trong tương lai, là điều bạn gái nên biết...
              .media.box-media
                .media-left
                  a(href="#" title="Những công dụng chữa bệnh bất ngờ từ cây sả mang lại")
                    img(src="images/health-beauty-07.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những công dụng chữa bệnh bất ngờ từ cây sả mang lại") Những công dụng chữa bệnh bất ngờ từ cây sả mang lại
                  p.content-news Cây sả là loại cỏ sống lâu năm, mọc thành bụi cao 0,8 đến 1m. Lá hẹp dài giống lá lúa, hai mặt lá giáp nhám, khi bóc vỏ ra có mùi thơm của chanh.
              .media.box-media
                .media-left
                  a(href="#" title="Đi bộ dưới nắng gắt buổi trưa có thật sự tốt cho sức khỏe?")
                    img(src="images/health-beauty-08.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Đi bộ dưới nắng gắt buổi trưa có thật sự tốt cho sức khỏe?") Đi bộ dưới nắng gắt buổi trưa có thật sự tốt cho sức khỏe?
                  p.content-news Theo nghiên cứu mới của khoa học, ánh nắng gay gắt buổi trưa hè không hẳn đã có hại cho sức khỏe mà còn mang đến những lợi ích bất ngờ .
              .media.box-media
                .media-left
                  a(href="#" title="15 tư thế Yoga buổi sáng cho ngày mới tràn đầy năng lượng")
                    img(src="images/health-beauty-09.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="15 tư thế Yoga buổi sáng cho ngày mới tràn đầy năng lượng") 15 tư thế Yoga buổi sáng cho ngày mới tràn đầy năng lượng
                  p.content-news Nếu có quá ít thời gian rảnh vào buổi sáng, bạn có thể thử 1 vài động tác thôi cũng đủ giúp tràn đầy sức sống chào đón ngày mới tươi đẹp.
              .media.box-media
                .media-left
                  a(href="#" title="Bí quyết làm đẹp từ nguyên liệu đơn giản của người đẹp Song Hye Kyo")
                    img(src="images/health-beauty-10.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Bí quyết làm đẹp từ nguyên liệu đơn giản của người đẹp Song Hye Kyo") Bí quyết làm đẹp từ nguyên liệu đơn giản của người đẹp Song Hye Kyo
                  p.content-news Song Hye Kyo ngoài tài năng đóng phim còn nổi tiếng là một trong những mĩ nhân có vẻ đẹp tự nhiên nhất xứ Hàn, cô có khuôn mặt mộc đẹp nổi bật, làn da không tì vết.
            .block-mum-baby
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Mẹ & bé
                .line-cate
              .top-cate-beauty
                .top-cate-small
                  .box-img
                    a(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                      img(src="images/mum-baby-01.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3
                    a.link-beauty(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết") 10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết
                .top-cate-small
                  .box-img
                    a(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                      img(src="images/mum-baby-02.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3 
                    a.link-beauty(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết") Đây là lý do vì sao bố mẹ cần cho con đi ngủ trước 9 giờ tối
              .media.box-media
                .media-left
                  a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
                    img(src="images/mum-baby-03.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả") Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả
                  p.content-news Dưỡng da mặt tự nhiên với những nguyên liệu sẵn có đang là xu hướng làm đẹp của chị em phụ nữ. Hãy cùng bài viết khám phá 7 cách dưỡng da thú vị này nhé.
              .media.box-media
                .media-left
                  a(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/mum-baby-04.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”
                  p.content-news Các bậc phụ huynh luôn cố gắng lo chu toàn cho con trẻ từ việc nhỏ đến việc lớn và thường xuyên từ chối sự giúp đỡ của trẻ...
              .media.box-media
                .media-left
                  a(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan")
                    img(src="images/mum-baby-05.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan") Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan
                  p.content-news Có con gái thật tuyệt nhưng nuôi dạy con gái, đặc biệt là nuôi dưỡng tâm hồn lại là một thử thách không nhỏ đối với cha mẹ.
              .media.box-media
                .media-left
                  a(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con")
                    img(src="images/mum-baby-06.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con") 6 mối nguy hại từ internet có thể hủy hoại cuộc đời con
                  p.content-news Sai lầm lớn của nhiều bậc phụ huynh là cho con tiếp cận sớm với internet vì nó sẽ làm ảnh hưởng tới nhân cách của trẻ
              .media.box-media
                .media-left
                  a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
                    img(src="images/mum-baby-07.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những câu cha mẹ thường nói làm tổn thương con sâu sắc") Những câu cha mẹ thường nói làm tổn thương con sâu sắc
                  p.content-news Nếu biết rằng những lời nói của mình dù trong lúc vô tình đã làm tổn thương con đến mức này, có lẽ bố mẹ đã không bao giờ đối xử với con như thế
              .media.box-media
                .media-left
                  a(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ")
                    img(src="images/mum-baby-08.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ") 10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ
                  p.content-news Đối với trẻ mà nói, thói quen sử dụng máy điều hòa không thỏa đáng của bố mẹ không những khiến cơ thể bé khó chịu...
              .media.box-media
                .media-left
                  a(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu")
                    img(src="images/mum-baby-09.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu") Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu
                  p.content-news Đừng quá lo lắng nhưng cũng đừng tự tin quá mức dù bạn đã đọc không ít tài liệu hướng dẫn chăm con nhỏ. Bởi vì không có đứa trẻ nào giống đứa trẻ nào
              .media.box-media
                .media-left
                  a(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết")
                    img(src="images/mum-baby-10.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết") 8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết
                  p.content-news Khi dạy con tự lập, một trong những khó khăn lớn nhất của bố mẹ là các con không hợp tác, không nghe lời hay phớt lờ sự “phân công” 
              .media.box-media
                .media-left
                  a(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi")
                    img(src="images/mum-baby-11.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi") 6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi
                  p.content-news Khi mang thai, phụ nữ nên tránh mặc quần áo quá chật, xịt nước hoa quá nồng, sử dụng mỹ phẩm tràn lan... để khỏi ảnh hưởng đến thai nhi trong bụng mẹ.
              .media.box-media
                .media-left
                  a(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú")
                    img(src="images/mum-baby-12.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú") Những loại hoa quả không nên ăn nhiều khi cho con bú
                  p.content-news Nuôi con bằng sữa mẹ là điều thuận theo tự nhiên, sữa mẹ cũng rất lành tính, không hề gây hại cho trẻ sơ sinh, tuy nhiên không phải là không có những nguyên tắc cho bé bú.
            //- .block-man
            //-   .title-cate-beauty
            //-     h2.title-cate
            //-       a.link-beauty(href="#") Phái mạnh
            //-     .line-cate
            //-   .top-cate-beauty
            //-     .top-cate-small  
            //-       .box-img
            //-         a(href="#" title="20 cử chỉ đẹp của cánh mày râu khiến chị em yêu điên cuồng")
            //-           img(src="images/man-01.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
            //-       h3.title-main-3 
            //-         a.link-beauty(href="#" title="20 cử chỉ đẹp của cánh mày râu khiến chị em yêu điên cuồng") 20 cử chỉ đẹp của cánh mày râu khiến chị em yêu điên cuồng
            //-     .top-cate-small 
            //-       .box-img
            //-         a(href="#" title="Đàn ông mặc sơmi luôn mang một sức hút khó cưỡng đối với phái nữ")
            //-           img(src="images/man-02.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
            //-       h3.title-main-3 
            //-         a.link-beauty(href="#" title="Đàn ông mặc sơmi luôn mang một sức hút khó cưỡng đối với phái nữ") Đàn ông mặc sơmi luôn mang một sức hút khó cưỡng đối với phái nữ
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
            //-         img(src="images/man-03.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả") Tình yêu là “liều thuốc” có thể làm con trai thay đổi những gì?
            //-       p.content-news Tình yêu là phép diệu kỳ duy nhất có thể làm thay đổi mọi thứ, từ ngoại hình đến tính cách một con người. Con trai khi yêu có thể thay đổi những gì?
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
            //-         img(src="images/man-04.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Những nơi đàn ông một khi đã đến là không muốn về?
            //-       p.content-news Nơi có những phụ nữ xinh đẹp nhất thế giới hoặc nơi tình một đêm được coi như tập quán truyền thống là những điểm đến thường khiến số đông nam giới tò mò.
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan")
            //-         img(src="images/man-05.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan") 6 cách làm trắng da dành cho nam giới hay nhất 2016
            //-       p.content-news Ngày nay, nhu cầu làm đẹp và sở hữu làn da trắng sáng không chỉ là ở phái nữ mà còn rất được quan tâm ở các đáng mày râu
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con")
            //-         img(src="images/man-06.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con") Những cô nàng hớp hồn phái mạnh ngay lần đầu gặp
            //-       p.content-news Mỗi người đàn ông lại có một gu khác nhau về phụ nữ. Song có một số mẫu phụ nữ mà tất cả phái mạnh đều thừa nhận họ có sức hút hơn cả những cô nàng có vẻ ngoài xinh đẹp.
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
            //-         img(src="images/man-07.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="Những câu cha mẹ thường nói làm tổn thương con sâu sắc") Nhà bếp và đàn ông “chuẩn men” có liên quan đến nhau không?
            //-       p.content-news Chuyện bếp núc nó ra làm sao chúng ta ai cũng biết cả? Thế thì Đàn ông và Bếp núc thì liên quan cái gì? Đàn ông dũng cảm là thằng đàn ông dám vỗ ngực:”Để anh!”
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ")
            //-         img(src="images/man-08.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ") Những triết lí trong giày tây và tất trắng của nam giới
            //-       p.content-news Lần đầu tiên đi mua giày Tây, tôi quyết tâm lựa chọn với ý nghĩ chắc từ nay sẽ trở thành một anh chàng thật là công sở
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu")
            //-         img(src="images/man-09.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu") Mẫu túi được phái mạnh yêu thích nhất đầu năm 2016
            //-       p.content-news Thời gian gần đây túi xách không còn là phụ kiện được săn lùng bởi riêng phái nữ nữa. Nam giới cũng có nhu cầu làm đẹp, nhu cầu tạo phong cách thời trang.
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết")
            //-         img(src="images/man-10.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết") Bí quyết chăm sóc sức khỏe các quý ông nên biết để thực hiện
            //-       p.content-news Cải thiện sức khỏe là rất cần thiết cho đàn ông. Do đó, đàn ông cần phải nắm bắt kiến ​​thức tổng quát về việc chăm sóc y tế cơ bản.
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi")
            //-         img(src="images/man-11.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi") Nghệ thuật bắt cá nhiều tay cho các chàng đã được chứng minh
            //-       p.content-news Những anh chàng có thể tán tỉnh tất cả các cô gái trong bàn tiệc và nếu các bạn gái chính thức của anh ta quyết định đi chơi cùng nhau, ta sẽ cần phải gọi taxi 7 chỗ.
            //-   .media.box-media
            //-     .media-left
            //-       a(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú")
            //-         img(src="images/man-12.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
            //-     .media-body
            //-       h3.title-main-3
            //-         a.link-beauty(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú") Hướng dẫn sử dụng Bao Cao Su an toàn cho các quý ông
            //-       p.content-news Để ngăn ngừa mang thai ngoài ý muốn và các bệnh lây truyền qua đường tình dục, bạn cần biết cách sử dụng bao cao su một cách an toàn.
            .block-share
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Sống & Yêu
                .line-cate
              .top-cate-beauty
                .top-cate-small   
                  .box-img
                    a(href="#" title="Ngay ngày đầu làm vợ tôi đã nhận được cú sốc đau đớn")
                      img(src="images/share-01.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3 
                    a.link-beauty(href="#" title="Ngay ngày đầu làm vợ tôi đã nhận được cú sốc đau đớn") Ngay ngày đầu làm vợ tôi đã nhận được cú sốc đau đớn
                .top-cate-small          
                  .box-img
                    a(href="#" title="Phải làm sao khi bố muốn tái hôn với bạn thân nhất của tôi?")
                      img(src="images/share-02.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3 
                    a.link-beauty(href="#" title="Phải làm sao khi bố muốn tái hôn với bạn thân nhất của tôi?") Phải làm sao khi bố muốn tái hôn với bạn thân nhất của tôi?
              .media.box-media
                .media-left
                  a(href="#" title="Bài trị chồng tòm tem ‘mạo hiểm’ và cao tay của một chị vợ")
                    img(src="images/share-03.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả") Bài trị chồng tòm tem ‘mạo hiểm’ và cao tay của một chị vợ
                  p.content-news Em và chồng lấy nhau được 5 năm, có đứa con trai bụ bẫm lên 3, đang định đẻ thêm đứa nữa thì xảy ra chuyện lão chồng nhà em cặp bồ, mà ả bồ của lão có ai khác...
              .media.box-media
                .media-left
                  a(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/share-04.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") “Với chị, chồng giờ chỉ là cái quần cũ, chị tặng em”
                  p.content-news Cái tin chồng phản bội như một đòn giáng mạnh vào tôi. Tôi sững sờ, rồi đau đớn và tự nhốt mình trong hàng ngàn câu hỏi “vì sao?”
              .media.box-media
                .media-left
                  a(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan")
                    img(src="images/share-05.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan") Màn đấu trí cân sức của vợ, cô bồ và cuộc đụng độ tay tư không thể ngờ
                  p.content-news Biết chồng có bồ - một cô ả lả lơi và cũng rất đáo để, chị Xuân đau đầu vô cùng. Khổ một nỗi, chị còn muốn giữ chồng, giữ bố cho 2 con...
              .media.box-media
                .media-left
                  a(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con")
                    img(src="images/share-06.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con") Phát hiện vợ tôi đang “chơi cờ” với người đàn ông khác…
                  p.content-news Vợ tôi biết chơi cờ tướng. Chuyện này tôi biết từ khi mới quen nàng. Thế nhưng lâu lắm rồi, tôi chẳng thấy nàng chơi. Đơn giản vì tôi thì không biết chơi môn thể dục...
              .media.box-media
                .media-left
                  a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
                    img(src="images/share-07.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những câu cha mẹ thường nói làm tổn thương con sâu sắc") “Một tháng cô kiếm được bao nhiêu đồng mà đòi giữ tôi…?”
                  p.content-news Mặc cho Linh gào khóc Lâm vẫn quyết ra đi, Linh càng cố van nài Lâm càng dứt khoát, anh quát mạnh vào tai Linh “Thế là đủ rồi, tôi không muốn sống cuộc sống khổ...
              .media.box-media
                .media-left
                  a(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ")
                    img(src="images/share-08.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ") Bao năm giữ gìn cho bạn gái, cuối cùng cô ấy “mất” với bạn học chỉ vì say rượu
                  p.content-news Nhìn bạn gái bật khóc tôi vừa thương vừa giận. Bao năm yêu nhau, tôi giữ gìn cho cô ấy, để rồi giờ đây cô ấy bị người ta hại...
              .media.box-media
                .media-left
                  a(href="#" title="Khóc không ra nước mắt vì cuộc hôn nhân tôi đã dùng cả tính mạng để đánh đổi")
                    img(src="images/share-09.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu") Khóc không ra nước mắt vì cuộc hôn nhân tôi đã dùng cả tính mạng để đánh đổi
                  p.content-news Để lấy được anh, tôi đã phải tự nhốt mình trong phòng, không ăn uống gì suốt 2 ngày khiến bố mẹ sợ xanh mặt đồng ý.
              .media.box-media
                .media-left
                  a(href="#" title="Vừa bước vào lễ đường mọi người vỗ tay nhiệt tình còn cô dâu sửng sốt ngã quỵ")
                    img(src="images/share-10.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết") Vừa bước vào lễ đường mọi người vỗ tay nhiệt tình còn cô dâu sửng sốt ngã quỵ
                  p.content-news Giây phút ấy Linh còn nhớ như in, nụ cười cô rạng rỡ, tiếng vỗ tay dồn dập hân hoan của mọi người chào đón cặp đôi uyên ương
              .media.box-media
                .media-left
                  a(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi")
                    img(src="images/share-11.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi") ‘Làm mẹ đơn thân tuổi 15, đời tôi rẽ sang hướng khác’
                  p.content-news "Tôi làm mẹ năm 15 tuổi. Các bạn háo hức bước vào cấp ba cũng là lúc tôi lầm lũi ở nhà chờ ngày sinh con gái", bạn Thúy Diệu tâm sự về vấp ngã đầu đời của mình.
              .media.box-media
                .media-left
                  a(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú")
                    img(src="images/share-12.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú") Ngay ngày đầu tiên của tuần trăng mật, chồng đã khiến tôi cay đắng, khủng hoảng
                  p.content-news Nếu tôi không tình cờ phát hiện ra thì hai người có đưa nhau lên giường hay không?  Anh và tôi quen nhau khi anh được thuyên chuyển đến cơ quan tôi.
          .col-sm-3.col-md-3
            .block-cooker
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Vào bếp
                .line-cate
              .box-handy-add             
                .box-img
                  a(href="#" title="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                    img(src="images/cooker-01.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ") 5 thực đơn salad cho bữa tối giảm cân hoàn hảo
                  span.time-up 23:00 07/12/2016
              .box-handy-add             
                .box-img
                  a(href="#" title="Tự làm băng đô hoa xinh xắn dự tiệc chỉ trong 10 phút")
                    img(src="images/cooker-02.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Tự làm băng đô hoa xinh xắn dự tiệc chỉ trong 10 phút") Cách làm bánh mì ngọt bơ sữa đơn giản tại nhà cho tháng rằm
                  span.time-up 23:00 07/12/2016
              .box-handy-add         
                .box-img
                  a(href="#" title="Làm vòng tay handmade nhiều màu sắc phong cách cho bạn")
                    img(src="images/cooker-03.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Làm vòng tay handmade nhiều màu sắc phong cách cho bạn") Cách làm ếch kho tiêu thơm ngon đậm đà cho bữa cơm gia đình
                  span.time-up 23:00 07/12/2016
              .box-handy-add           
                .box-img
                  a(href="#" title="Cách làm món chân gà chiên mắm tỏi ngon như quán")
                    img(src="images/cooker-04.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Cách làm món chân gà chiên mắm tỏi ngon như quán") Cách làm món chân gà chiên mắm tỏi ngon như quán
                  span.time-up 23:00 07/12/2016
              .box-handy-add        
                .box-img
                  a(href="#" title="Cách làm món thịt ba chỉ nướng hẹ sốt cay mang phong cách Hàn")
                    img(src="images/cooker-05.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Cách làm món thịt ba chỉ nướng hẹ sốt cay mang phong cách Hàn") Cách làm món thịt ba chỉ nướng hẹ sốt cay mang phong cách Hàn
              .box-handy-add         
                .box-img
                  a(href="#" title="Cách làm nước ép trái cây giúp giảm cân hiệu quả")
                    img(src="images/cooker-06.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Cách làm nước ép trái cây giúp giảm cân hiệu quả") Cách làm nước ép trái cây giúp giảm cân hiệu quả
              .box-handy-add       
                .box-img
                  a(href="#" title="Cách làm phở gà thơm ngon mang phong cách Hà Nội ")
                    img(src="images/cooker-07.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Cách làm phở gà thơm ngon mang phong cách Hà Nội ") Cách làm phở gà thơm ngon mang phong cách Hà Nội 
              .box-handy-add              
                .box-img
                  a(href="#" title="Cách làm topokki món ngon hàn quốc trong nháy mắt")
                    img(src="images/cooker-08.png", alt="Cách làm topokki món ngon hàn quốc trong nháy mắt")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Cách làm topokki món ngon hàn quốc trong nháy mắt") Cách làm topokki món ngon hàn quốc trong nháy mắt
              .box-handy-add
                .box-img
                  a(href="#" title="Trang trí nhà bằng vỏ chai ốc biển độc đáo")
                    img(src="images/cooker-09.png", alt="Công thức bánh su chiên vị oreo dễ thế này không làm thì phí")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Trang trí nhà bằng vỏ chai ốc biển độc đáo") Công thức bánh su chiên vị oreo dễ thế này không làm thì phí
              //- .box-handy-add
              //-   a.link-beauty(href="#" title="8 ý tưởng độc đáo giúp trang trí nhà từ đĩa CD đã cũ")
              //-   .box-img
              //-     img(src="images/cooker-10.png", alt="Những món canh ngon dễ làm trong mùa đông")
              //-   h3.title-main-3 Những món canh ngon dễ làm trong mùa đông
            .block-handy
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Khéo tay
                .line-cate
              .box-handy-add
                .box-img
                  a.link-beauty(href="#" title="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                    img(src="images/handy-01.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ") Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ
                  span.time-up 23:00 07/12/2016
              .box-handy-add        
                .box-img
                  a(href="#" title="Tự làm băng đô hoa xinh xắn dự tiệc chỉ trong 10 phút")
                    img(src="images/handy-02.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Tự làm băng đô hoa xinh xắn dự tiệc chỉ trong 10 phút") Tự làm băng đô hoa xinh xắn dự tiệc chỉ trong 10 phút
              .box-handy-add    
                .box-img
                  a(href="#" title="Làm vòng tay handmade nhiều màu sắc phong cách cho bạn")
                    img(src="images/handy-03.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Làm vòng tay handmade nhiều màu sắc phong cách cho bạn") Làm vòng tay handmade nhiều màu sắc phong cách cho bạn
              .box-handy-add
                .box-img
                  a(href="#" title="Tổng hợp những ý tưởng tái chế bóng đèn đáng yêu và hay ho dành cho bạn")
                    img(src="images/handy-04.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Tổng hợp những ý tưởng tái chế bóng đèn đáng yêu và hay ho dành cho bạn") Tổng hợp những ý tưởng tái chế bóng đèn đáng yêu và hay ho dành cho bạn
              .box-handy-add       
                .box-img
                  a.link-beauty(href="#" title="Tự tay làm khung ảnh lưu niệm cực dễ thương")
                    img(src="images/handy-05.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3  
                  a.link-beauty(href="#" title="Tự tay làm khung ảnh lưu niệm cực dễ thương") Tự tay làm khung ảnh lưu niệm cực dễ thương
              .box-handy-add      
                .box-img
                  a(href="#" title="Cách làm vòng handmade đuổi bắt giấc mơ")
                    img(src="images/handy-06.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Cách làm vòng handmade đuổi bắt giấc mơ") Cách làm vòng handmade đuổi bắt giấc mơ
              .box-handy-add      
                .box-img
                  a(href="#" title="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                    img(src="images/handy-07.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ") Mách bạn cách làm album ảnh handmade cực ý nghĩa tặng bạn bè
              .box-handy-add           
                .box-img
                  a(href="#" title="Làm hoa hồng trang trí bằng giấy thật xinh")
                    img(src="images/handy-08.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Làm hoa hồng trang trí bằng giấy thật xinh") Làm hoa hồng trang trí bằng giấy thật xinh
              .box-handy-add
                .box-img
                  a(href="#" title="Trang trí nhà bằng vỏ chai ốc biển độc đáo")
                    img(src="images/handy-09.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
                h3.title-main-3 
                  a.link-beauty(href="#" title="Trang trí nhà bằng vỏ chai ốc biển độc đáo") Trang trí nhà bằng vỏ chai ốc biển độc đáo
              //- .box-handy-add
              //-   a.link-beauty(href="#" title="8 ý tưởng độc đáo giúp trang trí nhà từ đĩa CD đã cũ")
              //-   .box-img
              //-     img(src="images/handy-10.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
              //-   h3.title-main-3 8 ý tưởng độc đáo giúp trang trí nhà từ đĩa CD đã cũ       
            //- .block-divine
            //-   .title-cate-beauty
            //-     h2.title-cate
            //-       a.link-beauty(href="#") Bói vui
            //-     .line-cate
            //-   .box-handy-add             
            //-     .box-img
            //-       a(href="#" title="Lý do khiến mối tình đầu của 12 chòm sao tan vỡ")
            //-       img(src="images/divine-01.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Lý do khiến mối tình đầu của 12 chòm sao tan vỡ") Lý do khiến mối tình đầu của 12 chòm sao tan vỡ
            //-   .box-handy-add          
            //-     .box-img
            //-       a(href="#" title="5 tướng trời ban giàu sang phú quý muôn đời")
            //-         img(src="images/divine-02.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="5 tướng trời ban giàu sang phú quý muôn đời") 5 tướng trời ban giàu sang phú quý muôn đời
            //-   .box-handy-add    
            //-     .box-img
            //-       a(href="#" title="Gọi tên nụ hôn kẹo ngọt  của 12 chòm sao")
            //-         img(src="images/divine-03.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Gọi tên nụ hôn kẹo ngọt  của 12 chòm sao") Gọi tên nụ hôn kẹo ngọt  của 12 chòm sao
            //-   .box-handy-add
                
            //-     .box-img
            //-       a(href="#" title="Ngày sinh tiết lộ như thế nào về tài lộc và cách bạn tiêu tiền")
            //-         img(src="images/divine-04.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Ngày sinh tiết lộ như thế nào về tài lộc và cách bạn tiêu tiền") Ngày sinh tiết lộ như thế nào về tài lộc và cách bạn tiêu tiền
            //-   .box-handy-add      
            //-     .box-img
            //-       a(href="#" title="Người phụ nữ có khuôn mặt thế nào dễ được đàn ông lựa chọn")
            //-         img(src="images/divine-05.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Người phụ nữ có khuôn mặt thế nào dễ được đàn ông lựa chọn") Người phụ nữ có khuôn mặt thế nào dễ được đàn ông lựa chọn
            //-   .box-handy-add
            //-     .box-img
            //-       a(href="#" title="Bói vui về tình yêu Ngày chúng mình gặp nhau")
            //-         img(src="images/divine-07.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Bói vui về tình yêu Ngày chúng mình gặp nhau") Bói vui về tình yêu Ngày chúng mình gặp nhau
            //-   .box-handy-add    
            //-     .box-img
            //-       a(href="#" title="Top cung hoàng đạo khiến bạn gái khổ sở khi yêu")
            //-         img(src="images/divine-08.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Top cung hoàng đạo khiến bạn gái khổ sở khi yêu") Top cung hoàng đạo khiến bạn gái khổ sở khi yêu
            //-   .box-handy-add 
            //-     .box-img
            //-       a(href="#" title="Đoán tính cách bạn trai qua cách dùng Facebook")
            //-         img(src="images/divine-09.png", alt="Cách làm topokki món ngon hàn quốc trong nháy mắt")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Đoán tính cách bạn trai qua cách dùng Facebook") Đoán tính cách bạn trai qua cách dùng Facebook
            //-   .box-handy-add
            //-     .box-img
            //-       a(href="#" title="Tìm hiểu tật xấu khó bỏ của 12 con giáp mà bạn không đoán trước được ")
            //-         img(src="images/divine-10.png", alt="Công thức bánh su chiên vị oreo dễ thế này không làm thì phí")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Tìm hiểu tật xấu khó bỏ của 12 con giáp mà bạn không đoán trước được ") Tìm hiểu tật xấu khó bỏ của 12 con giáp mà bạn không đoán trước được 
            //-   .box-handy-add
            //-     .box-img
            //-       a(href="#" title="Đàn ông tuổi nào bất chấp tất cả phản bội tình cảm?")
            //-         img(src="images/divine-11.png", alt="Những món canh ngon dễ làm trong mùa đông")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Đàn ông tuổi nào bất chấp tất cả phản bội tình cảm?") Đàn ông tuổi nào "bất chấp tất cả" phản bội tình cảm?
            //-   .box-handy-add
            //-     .box-img
            //-       a(href="#" title="Top 10 con giáp sẽ là thanh mai trúc mã của nhau suốt đời")
            //-       img(src="images/divine-06.png", alt="Những món canh ngon dễ làm trong mùa đông")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Top 10 con giáp sẽ là thanh mai trúc mã của nhau suốt đời") Top 10 con giáp sẽ là thanh mai trúc mã của nhau suốt đời
            //-   .box-handy-add 
            //-     .box-img
            //-       a(href="#" title="Lý do khiến mối tình đầu của 12 chòm sao tan vỡ")
            //-         img(src="images/divine-01.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="Lý do khiến mối tình đầu của 12 chòm sao tan vỡ") Lý do khiến mối tình đầu của 12 chòm sao tan vỡ
            //-   .box-handy-add
            //-     .box-img
            //-       a(href="#" title="5 tướng trời ban giàu sang phú quý muôn đời")
            //-         img(src="images/divine-02.png", alt="Tự làm lọ hoa nhắn nhủ lời yêu từ que kem gỗ")
            //-     h3.title-main-3 
            //-       a.link-beauty(href="#" title="5 tướng trời ban giàu sang phú quý muôn đời") 5 tướng trời ban giàu sang phú quý muôn đời
          .col-sm-2.hiden-sm-beauty
            .block-video-beauty
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Video
                .line-cate
              .box-handy-add
                a.video-link(href="#" title="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                .box-img
                  img(src="images/video-hot-beauty-01.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử
              .box-handy-add
                a.video-link(href="#" title="Cách làm vòng tay handmade đẹp, đơn giản nhất có thể")
                .box-img
                  img(src="images/video-hot-beauty-02.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Cách làm vòng tay handmade đẹp, đơn giản nhất có thể
              .box-handy-add
                a.video-link(href="#" title="Xua tan phiền muộn ngay tức thì: Em bé vừa tắm vừa... nhún mông theo nhạc")
                .box-img
                  img(src="images/video-hot-beauty-03.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Xua tan phiền muộn ngay tức thì: Em bé vừa tắm vừa... "nhún mông" theo nhạc
              .box-handy-add
                a.video-link(href="#" title="Cùng làm món miến trộn tôm thịt ngon đến miếng cuối cùng")
                .box-img
                  img(src="images/video-hot-beauty-04.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Cùng làm món miến trộn tôm thịt ngon đến miếng cuối cùng
              .box-handy-add
                a.video-link(href="#" title="Soi kiểu cách ăn uống “bá dạo” của 12 cung hoàng đạo mà bạn chưa biết")
                .box-img
                  img(src="images/video-hot-beauty-05.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Soi kiểu cách ăn uống “bá dạo” của 12 cung hoàng đạo mà bạn chưa biết
              .box-handy-add
                a.video-link(href="#" title="Những khoảnh khắc đẹp và đáng yêu giữa bé và thú cưng")
                .box-img
                  img(src="images/video-hot-beauty-06.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Những khoảnh khắc đẹp và đáng yêu giữa bé và thú cưng
              .box-handy-add
                a.video-link(href="#" title="Chiếc chụp đèn quả khóm từ chai nước suối và những chiếc muỗng")
                .box-img
                  img(src="images/video-hot-beauty-07.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Chiếc chụp đèn quả khóm từ chai nước suối và những chiếc muỗng
              .box-handy-add
                a.video-link(href="#" title="Hướng dẫn cách làm trắng da tự nhiên từ mặt nạ sữa chua tai nhà")
                .box-img
                  img(src="images/video-hot-beauty-08.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Hướng dẫn cách làm trắng da tự nhiên từ mặt nạ sữa chua tai nhà
              .box-handy-add
                a.video-link(href="#" title="Tập thể hình thế nào để giảm cân, giảm mỡ bụng hiệu quả và nhanh nhất?")
                .box-img
                  img(src="images/video-hot-beauty-09.png", alt="Tập thể hình thế nào để giảm cân, giảm mỡ bụng hiệu quả và nhanh nhất?")
                  span.icon-play-round-32
                h3.title-small Cách làm quá dễ món bánh mì nướng muối ớt đang hot nhất Sài Gòn
              .box-handy-add
                a.video-link(href="#" title="Cách làm quá dễ món bánh mì nướng muối ớt đang hot nhất Sài Gòn")
                .box-img
                  img(src="images/video-hot-beauty-10.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Cách làm quá dễ món bánh mì nướng muối ớt đang hot nhất Sài Gòn
              .box-handy-add
                a.video-link(href="#" title="Cách làm tóc đẹp đơn giản cho bạn gái - 2 kiểu trong 5 phút")
                .box-img
                  img(src="images/video-hot-beauty-11.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Cách làm tóc đẹp đơn giản cho bạn gái - 2 kiểu trong 5 phút
              .box-handy-add
                a.video-link(href="#" title="Cách làm món súp bí đỏ kem tươi cho bữa sáng đầy năng lượng")
                .box-img
                  img(src="images/video-hot-beauty-12.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Cách làm món súp bí đỏ kem tươi cho bữa sáng đầy năng lượng
              .box-handy-add
                a.video-link(href="#" title="Hướng dẫn cách làm mặt nạ khoai tây trị mụn, dưỡng da trắng hồng")
                .box-img
                  img(src="images/video-hot-beauty-13.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Hướng dẫn cách làm mặt nạ khoai tây trị mụn, dưỡng da trắng hồng
              .box-handy-add
                a.video-link(href="#" title="Hướng dẫn cách làm món đậu phụ nhúng mắm hành cho ông xã nhậu chơi")
                .box-img
                  img(src="images/video-hot-beauty-14.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Hướng dẫn cách làm món đậu phụ nhúng mắm hành cho ông xã nhậu chơi
              .box-handy-add
                a.video-link(href="#" title="Bí quyết kẻ mắt nước đơn giản cho người mới trang điểm")
                .box-img
                  img(src="images/video-hot-beauty-15.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Bí quyết kẻ mắt nước đơn giản cho người mới trang điểm
              .box-handy-add
                a.video-link(href="#" title="Nếu biết điều này chắc chắn bạn sẽ không hối hận vì để mặt mộc")
                .box-img
                  img(src="images/video-hot-beauty-16.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
                  span.icon-play-round-32
                h3.title-small Nếu biết điều này chắc chắn bạn sẽ không hối hận vì để mặt mộc
            //- .block-vdnew-beauty
            //-   .title-cate-beauty
            //-     h2.title-cate
            //-       a.link-beauty(href="#") Video hot
            //-     .line-cate
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Những màu tóc nhuộm đậm chất Tây làm cho làn da thêm trắng sáng")
            //-     .box-img
            //-       img(src="images/video-news-beauty-01.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Những màu tóc nhuộm đậm chất Tây làm cho làn da thêm trắng sáng
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Cách làm vòng tay handmade đẹp, đơn giản nhất có thể")
            //-     .box-img
            //-       img(src="images/video-news-beauty-02.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Mách bạn tuyệt chiêu giúp bé yêu thích và học giỏi môn toán
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Xua tan phiền muộn ngay tức thì: Em bé vừa tắm vừa... nhún mông theo nhạc")
            //-     .box-img
            //-       img(src="images/video-news-beauty-03.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Sửng sốt cô bé lớp 5 dạy trang điểm khiến dân mạng ngả mũ
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Cùng làm món miến trộn tôm thịt ngon đến miếng cuối cùng")
            //-     .box-img
            //-       img(src="images/video-news-beauty-04.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Ngỡ ngàng chứng kiến bạn gái không thể giữ mình trước trai lạ
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Soi kiểu cách ăn uống “bá dạo” của 12 cung hoàng đạo mà bạn chưa biết")
            //-     .box-img
            //-       img(src="images/video-news-beauty-05.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Hướng dẫn tạo dáng hoa kem bơ cực kì đơn giản cho bạn yêu món ngọt
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Những khoảnh khắc đẹp và đáng yêu giữa bé và thú cưng")
            //-     .box-img
            //-       img(src="images/video-news-beauty-06.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Trong 7 ngày giúp đẩy lùi mụn, da trắng sáng ngay tại nhà
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Chiếc chụp đèn quả khóm từ chai nước suối và những chiếc muỗng")
            //-     .box-img
            //-       img(src="images/video-news-beauty-07.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Bối rối khi ăn bánh tráng cuốn? Đây là cách bạn nên bắt đầu
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Hướng dẫn cách làm trắng da tự nhiên từ mặt nạ sữa chua tai nhà")
            //-     .box-img
            //-       img(src="images/video-news-beauty-08.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small 7 bước trang điểm vẫn giữ nét tự nhiên cho da từ Hàn Quốc
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Tập thể hình thế nào để giảm cân, giảm mỡ bụng hiệu quả và nhanh nhất?")
            //-     .box-img
            //-       img(src="images/video-news-beauty-09.png", alt="Tập thể hình thế nào để giảm cân, giảm mỡ bụng hiệu quả và nhanh nhất?")
            //-       span.icon-play-round-32
            //-     h3.title-small Mẹo hay: 8 cách làm đẹp với vỏ trái cây có thể bạn chưa biết
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Cách làm quá dễ món bánh mì nướng muối ớt đang hot nhất Sài Gòn")
            //-     .box-img
            //-       img(src="images/video-news-beauty-10.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Áp dụng bài tập 5 phút mỗi ngày để có vòng eo mà mọi cô gái ao ước
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Cách làm tóc đẹp đơn giản cho bạn gái - 2 kiểu trong 5 phút")
            //-     .box-img
            //-       img(src="images/video-news-beauty-11.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Uống món sinh tố này 3 lần/ngày đảm bảo vòng 1 sẽ no tròn
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Cách làm món súp bí đỏ kem tươi cho bữa sáng đầy năng lượng")
            //-     .box-img
            //-       img(src="images/video-news-beauty-12.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Hướng dẫn cách làm kem chuối Merino mát lạnh mùa hè
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Hướng dẫn cách làm mặt nạ khoai tây trị mụn, dưỡng da trắng hồng")
            //-     .box-img
            //-       img(src="images/video-news-beauty-13.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Học tập đầu bếp Sơn Nga cách làm gỏi gà nức tiếng Sài Gòn
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Hướng dẫn cách làm món đậu phụ nhúng mắm hành cho ông xã nhậu chơi")
            //-     .box-img
            //-       img(src="images/video-news-beauty-14.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Hướng dẩn cách chọn bơ sáp ngon cực đơn giản có lợi cho sức khỏe
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Bí quyết kẻ mắt nước đơn giản cho người mới trang điểm")
            //-     .box-img
            //-       img(src="images/video-news-beauty-15.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Hướng dẫn cách làm sữa gạo Hàn Quốc thơm ngon đẹp da
            //-   .box-handy-add
            //-     a.video-link(href="#" title="Nếu biết điều này chắc chắn bạn sẽ không hối hận vì để mặt mộc")
            //-     .box-img
            //-       img(src="images/video-news-beauty-16.png", alt="Phát cuồng vì mẫu móng vẻ hình pokemon cựu đáng yêu mà bạn nên thử")
            //-       span.icon-play-round-32
            //-     h3.title-small Bạn sẽ tiết kiệm một khoản tiền nếu sở hữu bí quyết làm đẹp này
            .block-forum
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Cộng Đồng
                .line-cate
              ul.forum-beauty
                li
                  a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?
                li
                  a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới
                li
                  a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Tâm sự chung mà nàng dâu nào cũng mong mẹ chồng hiểu!
                li
                  a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Con gài à! Đọc đi để biết bản chất thật sự của đàn ông rồi tự yêu lấy mình
                li
                  a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Ăn gì để tăng cân? Những thực phẩm giúp tăng cân nhanh chóng
                //- li
                //-   a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Đá người yêu 5 năm để cưới anh chàng mới quen nhưng đêm tân hôn cô gái phải khóc thét?
                //- li
                //-   a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Có cách nào giúp mẹ chồng em thay đổi thói quen dùng thớt?
                //- li
                //-   a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Phương pháp chữa bệnh bệnh U xơ cổ tử cung như thế nào là hiệu quả?
                //- li
                //-   a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Tưởng bạn gái hiền lành, ai ngờ là chúa chổm vì nghiện lô đề
                //- li
                //-   a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới
                //- li
                //-   a.link-beauty(href="#" title="Trị mụn bằng dầu dừa hiệu quả đến bất ngờ, bạn đã biết chưa?") Những việc nhỏ nhưng đủ chứng tỏ anh ấy là người chồng soái ca
                //- li
                //-   a.link-beauty(href="#" title="Làm thế nào để “chống lại” sự mất cân bằng nội tiết tố ở nữ giới") Tôi hoàn toàn chết lặng khi thấy chồng ôm ấp bạn trai của mình
    include ./footer.jade
    include ./script.jade
    script(src='js/xmas.js')
    script(src='js/addon.js')