.involve-news-detail
	.col-xs-2.col-fix-2
		.sub-title-left
			.border-top-sub
			h2
				a(href="#") Tin liên quan	
	.col-xs-10.fix-left-right
		.box-lg-invol
			.box-invol
				.box-img-invol
					a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						img(src="images/n1.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
				h3
					a(href="#") Tàu lực lượng bảo vệ bờ biển Nhật Bản sẽ thăm Đà Nẵng
			.box-invol
				.box-img-invol
					a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						img(src="images/n2.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
				h3
					a(href="#") Nhà máy sô đa xả thải chui làm cá chết trắng kênh
			.box-invol
				.box-img-invol
					a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						img(src="images/n3.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
				h3
					a(href="#") Trộm tiêu lộng hành ở Tây Nguyên
			.box-invol
				.box-img-invol
					a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						img(src="images/n4.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
				h3
					a(href="#") Tông chết người, kéo xác nạn nhân bỏ bên đường rồi chạy
