.container-mobile
	.involve-det-mb
		.sub-title-left
			h2 Tin liên quan
		.box-sm-invol.media
			a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
			.media-left
				.box-img-cate
					img(src="images/detail-10.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
			.media-body
				h3.title-cate-4 Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
		.box-sm-invol.media
			a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
			.media-left
				.box-img-cate
					img(src="images/hot-news-day-03.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
			.media-body
				h3.title-cate-4 Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch
		.box-sm-invol.media
			a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
			.media-left
				.box-img-cate
					img(src="images/hot-news-day-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
			.media-body
				h3.title-cate-4 Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama
		.box-sm-invol.media
			a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
			.media-left
				.box-img-cate
					img(src="images/hot-news-day-05.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
			.media-body
				h3.title-cate-4 Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội
	.involve-det-mb
		.sub-title-left
			h2.more-border Đời sống				
	.life-box
		.life-min.adjust-margin
			.box-img-life
				a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
					img(src="images/life2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
			.content-head
				h3.title-main-4
					a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội
		.life-min.adjust-margin
			.box-img-life
				a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
					img(src="images/life3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
			.content-head
				h3.title-main-4
					a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.
		.life-min.adjust-margin
			.box-img-life
				a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
					img(src="images/life2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
			.content-head
				h3.title-main-4
					a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội
		.life-min.adjust-margin
			.box-img-life
				a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
					img(src="images/life3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
			.content-head
				h3.title-main-4
					a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.
		.life-min.adjust-margin
			.box-img-life
				a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
					img(src="images/life2.jpg", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
			.content-head
				h3.title-main-4
					a(href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội
		.life-min.adjust-margin
			.box-img-life
				a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
					img(src="images/life3.jpg", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
			.content-head
				h3.title-main-4
					a(href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.						
	.involve-det-mb
		.sub-title-left
			h2.more-border Giải trí
	.highligh-small.third-detail
		.media
			h3.title-main-3
				a(href="detail-mb-life.html") Hướng dẫn cách chơi Pokémon GO dành cho người mới
			.media-left
				.box-img-highlight
					a(href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
						img(src="images/minslide1.jpg", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
			.media-body
				p.description Pokémon GO đã chính thức được phát hành và với gameplay đơn giản nhưng bắt người chơi phải vận động một cách hoàn toàn...
		.media
			h3.title-main-3
				a(href="detail-mb-life.html") Siêu mẫu Gisele Bundchen toả sáng tại Lễ khai mạc Olympic 2016
			.media-left
				.box-img-highlight
					a(href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
						img(src="images/minslide2.jpg", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
			.media-body
				p.description Cựu siêu mẫu Victoria Secret Gisele Bundchen tự tin trình diễn catwalk trên đường băng dài nhất thế giới trong đêm khai mạc Olympic Rio (Brazil).
		.media
			h3.title-main-3
				a(href="detail-mb-life.html") Tuấn Hưng lên tiếng bênh vực Sơn Tùng về scandal đạo nhạc
			.media-left
				.box-img-highlight
					a(href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
						img(src="images/minslide3.jpg", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
			.media-body
				p.description Giữa tâm bão về scandal MV mới của Sơn Tùng được cho là đạo nhạc. Ca sĩ Tuấn Hưng đã lên tiếng chia sẻ với đàn em...		
		.media
			h3.title-main-3
				a(href="detail-mb-life.html") Hướng dẫn cách chơi Pokémon GO dành cho người mới
			.media-left
				.box-img-highlight
					a(href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
						img(src="images/minslide1.jpg", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
			.media-body
				p.description Pokémon GO đã chính thức được phát hành và với gameplay đơn giản nhưng bắt người chơi phải vận động một cách hoàn toàn...		
							
		

