.main-righ
  .qc-sidebar
    img(src="images/icon/qc3002.jpg" alt="qc300")
  //- .highlight-video
  //-   .sub-title-left
  //-     .border-top-sub
  //-     h2.sidebar-right Video nổi bật
  //-   .box-highlight-video
  //-     a(href="#" class="highlight-video-glass")
  //-     .video-img
  //-       img(src="http://cdn.kul.vn/data/article/2016/07/20/0d54a21f80d7d3f9a2b12775c84a150f_640x360.jpg", alt="")
  //-       span.icon-play-round-64
  //-       .bg-bottom-video
  //-     .highlight-video-title
  //-       h3.title-main-5 Lâm Vỹ Dạ khóc nức nở trước nhận xét của Trường Giang, nhiều nghệ sĩ hài thấm thía
  .hot-eventlist
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Tiêu điểm trong ngày
    .padding-event  
      .box-stream-info-top
        a.thumb-eventhot(href="detail-life.html"  title= "Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ") 
          img(src="images/rac1.jpg", alt="Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ")
        h3.title-main-3
          a(href="detail-life.html") TP.HCM đóng bãi rác nghìn tỷ, Đa Phước độc quyền
        p.content-news Việc đóng cửa bãi chôn lấp số 3 Phước Hiệp ở Củ Chi, dồn rác cho Đa Phước dấy lên nghi ngờ về việc TP.HCM tạo thế độc quyền cho Đa Phước.
      .relate-event
        .media.box-sm-hnd.border-none
          .media-left
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
              img(src="images/rac3.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
          .media-body
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Cháy "núi" rác Đa Phước, khói bụi bay khắp nội ô Sài Gòn
        .media.box-sm-hnd.border-none
          .media-left
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
              img(src="images/rac2.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
          .media-body
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Dấu hiệu bất thường trong xử lý rác ở Đa Phước
    .padding-event.top-eventlist
      .box-stream-info-top
        a.thumb-eventhot(href="detail-life.html"  title= "Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ") 
          img(src="images/relate3.jpg", alt="Hàng loạt mỹ nhân Việt đọ sắc tại buổi ra mắt Găng tay đỏ")
        h3.title-main-3
          a(href="detail-life.html") Sau The Face, Miss Ngôi sao Thời trang mới là ngôi vị giới trẻ phát cuồng?
        p.content-news The Face vừa kết thúc, các tín đồ thời trang ngay lập tức chuyển sự mong đợi của mình vào việc tìm kiếm đại diện thương hiệu cho một tựa game vô cùng đình đám - Ngôi sao Thời trang 360mobi.
      .relate-event
        .media.box-sm-hnd.border-none
          .media-left
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
              img(src="images/relate2.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
          .media-body
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Ai cũng đều muốn có người yêu vừa đẹp vừa hài hước như 3 cặp đôi này!
        .media.box-sm-hnd.border-none
          .media-left
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
              img(src="images/relate1.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
          .media-body
            a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Bí kíp vàng giúp con khởi đầu “vạn sự như ý” vào năm học mới
  .hot-days
    .sub-title-left
      .border-top-sub
      h2.sidebar-right Xem nhiều nhất
    .box-large-hnd
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/read1.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Sau thất bại tại The Face, Mai Ngô quyết định bỏ nghề người mẫu?
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/read2.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Bò King: Xứng danh "vua bò" bít tết Hà Nội
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="images/read3.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Bí quyết “níu kéo” những ngày cuối hè hiệu quả
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/read4.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Tháng Mười – Quán café view Hồ Tây siêu đẹp cho những tâm hồn hoài cổ
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/read5.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Duy nhất hôm nay: Sẵn sàng "chiến" ngày hội mua sắm trên di động Shopee 9.9
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="images/read6.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Hà Lade xinh tươi đi làm đẹp tại thẩm mỹ viện nổi tiếng
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") 
            img(src="images/read1.jpg", alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường")
        .media-body
          a(href="detail-life.html" title= "Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường") Sau thất bại tại The Face, Mai Ngô quyết định bỏ nghề người mẫu?
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") 
            img(src="images/read2.jpg", alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?")
        .media-body
          a(href="detail-life.html" title= "Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?") Bò King: Xứng danh "vua bò" bít tết Hà Nội
      .media.box-sm-hnd
        .media-left
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") 
            img(src="images/read3.jpg", alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị")
        .media-body
          a(href="detail-life.html" title= "Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị") Bí quyết “níu kéo” những ngày cuối hè hiệu quả    
  .qc-sidebarlong.scroll-fixed-right
    img(src="images/icon/qc600.jpg" alt="qc600")