section.list-cate-beauty
  .container
    .row
      .col-xs-12
        .header-logo
          h1 
            a(href='index.html' title='Kul News Trang tin')
              span Tin tức, giải trí, xã hội
        ul.cate-beauty
          each val in ['Khỏe & đẹp', 'Khéo tay','Vào bếp','Mẹ và bé','Phái mạnh', 'Bói vui','Góc chia sẽ','Video','Diễn đàn']
            li
              a.link-beauty(href="category-life.html")= val