section.list-cate-tech
  .container
    .row
      .col-xs-12
        .header-logo
          h1 
            a.link-tech(href='index.html' title='Kul News Trang tin')
              span Tin tức, giải trí, xã hội
        ul.cate-tech
          li
            a.link-tech(href="#" title="tin tức") Tin tức
              span
          li
            a.link-tech(href="#" title="Đánh giá") Đánh giá
              span
          li
            a.link-tech(href="#" title="Đời sống công nghệ") Đời sống công nghệ
              span
          li
            a.link-tech(href="#" title="Video") Video
              span
