doctype html
html
  include ./head.jade 
  body
    include ./header-beauty.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-beauty.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event
              h1 Phái đẹp
              ul.menu-cate
                each val in ['Làm Đẹp', 'Mẹ & Bé', 'Vào bếp', 'Khéo tay','Sống & Yêu', 'Video', 'Cộng Đồng']
                  li
                    a(href="category-life.html")= val
                //- a.show-cate(href="#") Show
                //- a.hide-cate(href="#") Hide
    section.main-cate-beauty
      .container
        .row
          .col-sm-8
            .block-mum-baby
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Mẹ & bé
                .line-cate
              .top-cate-beauty
                .top-cate-small
                  .box-img
                    a(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                      img(src="images/mum-baby-01.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3
                    a.link-beauty(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết") 10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết
                .top-cate-small
                  .box-img
                    a(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                      img(src="images/mum-baby-02.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3 
                    a.link-beauty(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết") Đây là lý do vì sao bố mẹ cần cho con đi ngủ trước 9 giờ tối
              .media.box-media
                .media-left
                  a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
                    img(src="images/mum-baby-03.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả") Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả
                  p.content-news Dưỡng da mặt tự nhiên với những nguyên liệu sẵn có đang là xu hướng làm đẹp của chị em phụ nữ. Hãy cùng bài viết khám phá 7 cách dưỡng da thú vị này nhé.
              .media.box-media
                .media-left
                  a(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/mum-baby-04.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”
                  p.content-news Các bậc phụ huynh luôn cố gắng lo chu toàn cho con trẻ từ việc nhỏ đến việc lớn và thường xuyên từ chối sự giúp đỡ của trẻ...
              .media.box-media
                .media-left
                  a(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan")
                    img(src="images/mum-baby-05.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan") Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan
                  p.content-news Có con gái thật tuyệt nhưng nuôi dạy con gái, đặc biệt là nuôi dưỡng tâm hồn lại là một thử thách không nhỏ đối với cha mẹ.
              .media.box-media
                .media-left
                  a(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con")
                    img(src="images/mum-baby-06.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con") 6 mối nguy hại từ internet có thể hủy hoại cuộc đời con
                  p.content-news Sai lầm lớn của nhiều bậc phụ huynh là cho con tiếp cận sớm với internet vì nó sẽ làm ảnh hưởng tới nhân cách của trẻ
              .media.box-media
                .media-left
                  a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
                    img(src="images/mum-baby-07.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những câu cha mẹ thường nói làm tổn thương con sâu sắc") Những câu cha mẹ thường nói làm tổn thương con sâu sắc
                  p.content-news Nếu biết rằng những lời nói của mình dù trong lúc vô tình đã làm tổn thương con đến mức này, có lẽ bố mẹ đã không bao giờ đối xử với con như thế
              .media.box-media
                .media-left
                  a(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ")
                    img(src="images/mum-baby-08.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ") 10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ
                  p.content-news Đối với trẻ mà nói, thói quen sử dụng máy điều hòa không thỏa đáng của bố mẹ không những khiến cơ thể bé khó chịu...
              .media.box-media
                .media-left
                  a(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu")
                    img(src="images/mum-baby-09.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu") Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu
                  p.content-news Đừng quá lo lắng nhưng cũng đừng tự tin quá mức dù bạn đã đọc không ít tài liệu hướng dẫn chăm con nhỏ. Bởi vì không có đứa trẻ nào giống đứa trẻ nào
              .media.box-media
                .media-left
                  a(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết")
                    img(src="images/mum-baby-10.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết") 8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết
                  p.content-news Khi dạy con tự lập, một trong những khó khăn lớn nhất của bố mẹ là các con không hợp tác, không nghe lời hay phớt lờ sự “phân công” 
              .media.box-media
                .media-left
                  a(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi")
                    img(src="images/mum-baby-11.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi") 6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi
                  p.content-news Khi mang thai, phụ nữ nên tránh mặc quần áo quá chật, xịt nước hoa quá nồng, sử dụng mỹ phẩm tràn lan... để khỏi ảnh hưởng đến thai nhi trong bụng mẹ.
              .media.box-media
                .media-left
                  a(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú")
                    img(src="images/mum-baby-12.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú") Những loại hoa quả không nên ăn nhiều khi cho con bú
                  p.content-news Nuôi con bằng sữa mẹ là điều thuận theo tự nhiên, sữa mẹ cũng rất lành tính, không hề gây hại cho trẻ sơ sinh, tuy nhiên không phải là không có những nguyên tắc cho bé bú.
              ul.paginations
                li.active
                  a(href="#") 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") ...
                li
                  a(href="#") 99
          .col-sm-4
            .qc-sidebar
              img(src="images/icon/qc3002.jpg" alt="qc300")
            .block-vdhigh-beauty
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Tin nổi bật
                .line-cate
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-32.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Bệnh ung thư phổi gia tăng ở phụ nữ và tiến triển rất nhanh khi còn trẻ
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-33.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Lý do oái oăm biến mông cong thành mông lép chị em cần tránh
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-34.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Ngỡ ngàng với hình xăm hoa lá đẹp tới mức nín thở
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-35.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Những điều bạn tưởng là sexy nhưng với chàng là ác mộng
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-32.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Bệnh ung thư phổi gia tăng ở phụ nữ và tiến triển rất nhanh khi còn trẻ
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-33.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Lý do oái oăm biến mông cong thành mông lép chị em cần tránh
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-34.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Ngỡ ngàng với hình xăm hoa lá đẹp tới mức nín thở
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-35.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Những điều bạn tưởng là sexy nhưng với chàng là ác mộng      
    include ./footer.jade
    include ./script.jade