doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		section.search-mb.page-wrap
			.container-mobile
				form.box-search-ct
					.input-group
						input.input-kw.form-control(type="text" placeholder="Nhập từ khóa..")
						span.input-group-btn
							button.btn-search-form.btn.btn-default(type ="submit")
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-03.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 "Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-04.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-05.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-06.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-07.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đường thẳng không phải là con đường... nhanh nhất!
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-08.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Tai bạn có dấu hiệu này thì hãy thật cẩn thận
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-09.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-10.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả
				ul.paginations
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") ...
					li
						a(href="#") 99
		include ./footer-mb.jade
		include ./script-mb.jade