.col-xs-2
	.sub-title-left
		.border-top-sub
		h2
			a(href="category-life.html") Công nghệ
		p
			a(href="category-life.html") Sản phẩm mới
		p
			a(href="category-life.html") Tin công nghệ
		p
			a(href="category-life.html") Di động
.col-xs-10.fix-left-right
	.box-lg-adv
		.box-adv
				.box-sm-invol-detail.adv-news
					.box-img-invol
						a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
							img(src="images/tech1.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
					h3
						a(href="#") Hơn 20 game online Việt đóng cửa trong mùa hè 2016
		.box-adv
				.box-sm-invol-detail.adv-news
					.box-img-invol
						a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
							img(src="images/tech2.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
					h3
						a(href="#") Chủ trang Kickass Torrent bị bắt nhờ manh mối do Apple
		.box-adv
				.box-sm-invol-detail.adv-news
					.box-img-invol
						a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
							img(src="images/tech3.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
					h3
						a(href="#") Trải nghiệm: Thử tài chụp ảnh đen trắng của Huawei P9
		.box-adv
				.box-sm-invol-detail.adv-news
					.box-img-invol
						a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
							img(src="images/tech4.jpg", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
					h3
						a(href="#") Bị nhốt hơn nửa tiếng đồng hồ chỉ vì Pokemon Go chỉ sai đường