doctype html
html
  include ./head-mb.jade
  body
    include ./header-mb.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-xs-12.col-lg-12
            .recruit-banner
              .recruit-logo
                span Tuyển dụng
              .recruit-quote
                p Để đáp ứng nhu cầu mở rộng nội dung và tăng cường hoạt động, Kul.vn hiện đang có nhu cầu tuyển dụng các vị trí sau:
    section.recruitment-section.first-job#first
      .container
        .row
          .col-xs-12
            .recruit-require
              h3 Phóng viên giải trí
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Kỹ năng viết tốt (văn phong rõ ràng, mạch lạc, có khả năng xử lý văn bản thô)
              p Có kiến thức cơ bản về giới giài trí trong nước và quốc tế
              p Có kỹ năng tìm kiếm, tổng hợp thông tin về nghệ sĩ, diễn viên, chương trình truyền hình trong nước và quốc tế
              p Nhanh nhẹn, chủ động, có trách nhiệm, có tinh thần học hỏi
          .col-xs-12
            .recruit-images
              img(src="images/icon/music.png", alt="")    
    section.recruitment-section.second-job#second
      .container
        .row
          .col-xs-12
            .recruit-require
              h3 Phóng Viên Thể Thao
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Đam mê, yêu thích và hiểu biết về lĩnh vực thể thao, đặc biệt là bóng đá.
              p Đã có kinh nghiệm làm việc liên quan đến thể thao.
              p Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.
              p Năng động, sáng tạo, chịu được áp lực công việc lớn.
              p Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.
          .col-xs-12
            .recruit-images
              img(src="images/icon/sportstar.png", alt="")    
    section.recruitment-section.third-job#third
      .container
        .row
          .col-xs-12
            .recruit-require
              h3 Phóng Viên Phái Đẹp
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Đam mê, yêu thích và hiểu biết về lĩnh vực liên quan tới phái đẹp, phụ nữ: Làm đẹp, thẩm mỹ, sức khỏe, chăm sóc mẹ và bé...
              p Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.
              p Năng động, sáng tạo, chịu được áp lực công việc lớn.
              p Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.
          .col-xs-12
            .recruit-images
              img(src="images/icon/makeuptool.png", alt="")
    section.recruitment-section.fourth-job#fourth
      .container
        .row.equal
          .col-xs-12
            .recruit-require
              h3 Kul Cộng Tác Viên
              p.peoples Số lượng: Không giới hạn
              h4 Yêu cầu:
              p Đam mê, yêu thích, có khả năng viết về tất cả các lĩnh vực đang có trên Kul.vn.
              p Sử dụng lưu loát, thành thạo tiếng Việt. Văn phong ổn.
              p Có ngôn từ, câu chữ mạch lạc, trong sáng. Có tư duy logic tốt, đam mê, tác phong nhanh nhẹn.
              p Các bài viết được gửi trực tiếp vào Email của Ban biên tập, sẽ được kiểm duyệt trước khi đăng.
              p Không sao chép, xào từ những trang khác.
              p Có tính kiên trì, chịu khó, yêu thích và đam mê nghề báo, am hiểu về các lĩnh vực kể trên và nắm được thị hiếu độc giả.
              p Khả năng tư duy, tìm kiếm, học hỏi nhanh, khả năng làm việc nhóm tốt
          .col-xs-12
            .recruit-require
              h4 Quyền lợi:
              p Thời gian linh hoạt. Kul News chỉ yêu cầu CTV thực hiện đúng yêu cầu, bài viết chất lượng, có tính sáng tạo.
              p Mức thu nhập dựa vào khối lượng công việc đã hoàn thành, cụ thể là hưởng nhuận bút theo bài. Nhuận bút được tính theo chất lượng bài viết, loại bài viết  (dịch/ viết, tổng hợp; dạng tin, bài hay bài ảnh...); lượng view (thông qua công cụ đếm)...
              p Có cơ hội trở thành nhân viên chính thức, làm việc trong môi trường thân thiện, hoà đồng, chuyên nghiệp.
          .col-xs-12
            .recruit-require
              h4 Ưu tiên:
              p Ứng viên làm việc và Cộng tác viết bài thuộc các lĩnh vực trên cho các báo mạng, trang thông tin, tạp chí chuyên ngành.
              p Sinh viên ngành báo chí có khả năng viết bài thuộc mọi lĩnh vực, ứng viên có hiểu biết lĩnh vực: Truyền thông, thương hiệu, tổ chức sự kiện
              p Biết cách sắp xếp ý, trình bày bài viết, có ý tưởng sáng tạo.
          .col-xs-12
            .recruit-images
              img(src="images/icon/collaborators.png", alt="")    
    footer.recruit-footer#fifth
      .blank-shadow
      .container
        .row
          .col-xs-12
            .recruit-send
              p.email-address CV xin gửi về Email banbientap@kul.vn
              p.require-title Tiêu đề bắt đầu bằng "[ Tuyển dụng Kul.vn ]..."
          .col-xs-12
            .recruit-send
              p.phone-call Số điện thoại liên lạc: 0838335466
              p.homepage Địa chỉ trang chủ chính thức: Kul.vn
    include ./script.jade
    script(src='js/tuyendung.js')