doctype html
html(lang="vi")
	include ./head.jade
	body
		//- link(rel='stylesheet', href='css/slick.css')
		//- link(rel='stylesheet', href='css/slick-theme.css')
		//- link(rel='stylesheet', href='css/CustomScrollbar.css')
		include ./header-video.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/moment4.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event
							h3 Video
							ul.menu-cate
								li
									a(href="category-life.html") Showbiz
								li
									a(href="category-life.html") MV & trailer
								li
									a(href="category-life.html") Giải trí
								li
									a(href="category-life.html") Hài
								li.active
									a(href="category-life.html") Thời sự
		section.detail-video
			.container
				.row
					.col-xs-8.col-sm-12.col-md-8.col-lg-8
						.box-video-img
							iframe(src="https://www.youtube.com/embed/iNJdPyoqt8U" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.box-video-title
							h1.title-cate-1 Những điều ít ai biết về lực sĩ cử tạ Lê Văn Công - Người giành tấm HCV Paralympic 2016
							p.time-post-news
								span
									i.icon-calendar
									| 07:52 08/06/2016
							p.content-news Anh đã vượt bao gian khó, theo đuổi đam mê rồi cuối cùng phá vỡ hàng loạt kỉ lục thế giới đem về huy chương vàng và vinh quang cho Việt Nam
						.cate-video-large.fix-margin
							h3.title-slide-video 
								span
									i.play-circle
									| Video liên quan
							.list-video
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-12.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-18.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-20.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-21.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-22.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-19.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết
								//- .item-video-md
								//- 	.glass-box-vd
								//- 		img(src="images/video-23.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
								//- 		span.icon-play-round-48
								//- 	.slide-info-small
								//- 		h3.title-cate-5.list-bottom
								//- 			a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Fan bất ngờ với trailer "khủng" của "Bộ Bộ Kinh Tâm" phiên bản Hàn
								//- .item-video-md
								//- 	.glass-box-vd
								//- 		img(src="images/video-24.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
								//- 		span.icon-play-round-48
								//- 	.slide-info-small
								//- 		h3.title-cate-5.list-bottom
								//- 			a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Bộ phim đặc biệt được chuyển thể từ mối tình đẹp của tổng thống Obama và vợ
					.col-xs-4.hidden-sm.col-md-4.col-lg-4.none-left-pad
						include ./hot-news-video.jade
					.padding
		include ./footer.jade
		include ./script.jade