doctype html
html(lang="vi")
	include ./head.jade
	body
		include ./header-video.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-video.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event
							h1 Video
							ul.menu-cate
								each val in ['Showbiz', 'MV&trailer','Giải trí','Hài','Thời sự']
									li
										a(href="video-category.html")= val
		section.main-video
			.container
				.row
					.col-xs-8.col-sm-12.col-md-8.col-lg-8.right-borders
						.row
							.col-xs-12
								.cate-video-large
									h3.title-slide-video
										a(href="video-category.html")
											i.play-circle 
											| Showbiz
									.list-video-lg
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
												img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
												span.icon-play-round-48
											h3.title-main-1
												a(href="video-detail.html" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh") Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
												img(src="images/video-11.png", alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
												span.icon-play-round-48
											h3.title-main-1
												a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
										.list-vd-sm
											.list-video
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-12.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-13.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-14.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Dương Cẩm Lynh, Khởi My tiết lộ về hậu trường đáng sợ của "Mặt nạ máu"
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-15.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn
							.col-xs-12
								.cate-video-large
									h3.title-slide-video
										a(href="video-category.html")
											i.play-circle  
											| MV & Trailer
									.list-video-lg
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-18.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
											h3.title-main-1
												a(href="video-detail.html" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh") Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-19.png", alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											h3.title-main-1
												a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết
										.list-vd-sm
											.list-video
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-20.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-21.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-22.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-23.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Fan bất ngờ với trailer "khủng" của "Bộ Bộ Kinh Tâm" phiên bản Hàn
							.col-xs-12
								.cate-video-large
									h3.title-slide-video
										a(href="video-category.html") Giải Trí
									.list-video-lg
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-26.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
											h3.title-main-1
												a(href="video-detail.html" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh") Cậu bé Hồ Văn Cường hát cảm xúc bài 'Sa mưa giông'
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-27.png", alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											h3.title-main-1
												a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Màn vừa đánh trống vừa diễn xiếc của nghệ sĩ đường phố gây kinh ngạc cho đám đông
										.list-vd-sm
											.list-video
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-28.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Biểu cảm khó đỡ của Hoà Minzy khi ăn vụng bất chấp hình tượng
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-29.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cặp trai tài gái sắc chi 400 triệu sang Thái Lan, Hàn Quốc quay MV tình yêu
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-30.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") "Sau tất cả" cực chất trước phần trình diễn của nhóm người bí ẩn
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-31.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Ngỡ ngàng với 8 mĩ nam Kpop sở hữu "mặt học sinh, thân hình phụ huynh"
							.col-xs-12
								.cate-video-large
									h3.title-slide-video
										a(href="video-category.html") Hài
									.list-video-lg
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-34.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
											h3.title-main-1
												a(href="video-detail.html" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh") "Hội quán tiếu lâm": Cười té ghế với Băng Di và Hoài Linh với tiểu phẩm "Ca sĩ phòng trà"
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-35.png", alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											h3.title-main-1
												a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Vợ Chồng Son: Nhờ nghịch dại chồng cưới được vợ xinh
										.list-vd-sm
											.list-video
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-36.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Video: Quá vui sướng vì trúng số, nhân viên văn phòng không ngần ngại "tè" thẳng vào mặt sếp mình
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-37.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Tâm sự của cô gái "căm hận" mùa hè với những lí do khiến ai cũng phải gật đầu đồng ý
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-38.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cú sút Penalty kinh hoàng nhất Thế Giới
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-39.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Suboi đặt câu hỏi cho Tổng thống Obama bằng cách đọc rap trước khi ông rời Việt Nam
							.col-xs-12
								.cate-video-large
									h3.title-slide-video
										a(href="video-category.html") Thời Sự
									.list-video-lg
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-42.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
											h3.title-main-1
												a(href="video-detail.html" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh") Màn sút luân lưu căng não giữa Argentina - Chile, Messi sút hỏng luân lưu
										.item-video-lg
											.box-video-large
												a(href="video-detail.html" class="video-glass" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
													span.icon-play-round-48
												img(src="images/video-43.png", alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											h3.title-main-1
												a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Trộm hiên ngang vào nhà bẻ khóa chiếc SH chỉ 3s trong mùa EURO
										.list-vd-sm
											.list-video
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-44.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Côn đồ chém chủ quán, nhân viên ném chai bia chống trả ở Bến Lức Long An
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-45.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Phi Sơn lập siêu phẩm nã đại bác sau pha phối hợp đá phạt dị
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-46.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những hình ảnh đầu tiên của chiếc máy bay Casa dưới đáy đại dương
												.item-video.vd-sm-sub
													.glass-box-vd
														a(href="video-detail.html" title=" Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
															img(src="images/video-47.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
															span.icon-play-round-32
													.slide-info-small
														h3.title-cate-5
															a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những bí mật được cựu CIA Mỹ chia sẻ đạt gần 70 triệu lượt xem sau 1 tuần		
					.col-xs-4.hidden-sm.col-md-4.col-lg-4
						.qc-sidebar
							img(src="images/icon/qc3002.jpg" alt="qc")
						.qc-sidebarlong.scroll-fixed-right
							img(src="images/icon/qc600.jpg" alt="qc")
					.padding
		include ./footer.jade
		include ./script.jade