doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		section.video-mb-news.page-wrap
			.container-mobile
				.box-title-fixed
					h2.title-main-2.bg-video Showbiz
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
						ul.sub-menu#sub-menu-01
							li
								a(href="#") Showbiz
							li
								a(href="#") MV & Trailer
							li
								a(href="#")  Giải trí
							li
								a(href="#")  Hài
							li
								a(href="#")  Thời sự
					.back-link
						a(href="video-mb-news.html")
							span
				.box-top-video
					.fixed-video-top
						iframe(width="560" height="315" src="https://www.youtube.com/embed/ORfM1q3BWYI" frameborder="0" allowfullscreen)
					h1.title-cate-3
						a(href="#") Cò trắng bay rợp trời Ninh Bình trong bom tấn 'Kong: Skull Island'
					p.description Teaser đầu tiên của bom tấn quay tại Việt Nam hé lộ cảnh sắc hoành tráng của Quảng Bình, Hạ Long và tuyến nhân vật chính trong phim.
					.share-likedbutton.share-center
						a(href="#")
							span.icon-minfb
							| Chia sẻ Facebook
					//- .icon-social-detail
					//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
					//- 		span
					//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
					//- 		span
					//- 	a(href="#" title="envelope" class="icon envelope" target="_blank")
					//- 		span
					//- 	a(href="https://www.google.com" title="pinterest" class="icon pinterest" target="_blank")
					//- 		span
					//- 	a(href="#" title="instagram" class="icon twitter" target="_blank")
					//- 		span
					//- 	iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
				.box-large-video
					h2.title-lg-video
						a(href="#") Video liên quan
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
		include ./footer-mb.jade
		include ./script-mb.jade