doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		section.video-mb-news.page-wrap
			.container-mobile
				.box-title-fixed
					h1.title-main-2.bg-video Showbiz
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
						ul.sub-menu#sub-menu-01
							li
								a(href="#") Showbiz
							li
								a(href="#") MV & Trailer
							li
								a(href="#")  Giải trí
							li
								a(href="#")  Hài
							li
								a(href="#")  Thời sự
					.back-link
						a(href="video-mb-news.html")
							span
				//- .box-top-video
				//- 	.row.fixed-video-top
				//- 		iframe(src="https://www.youtube.com/embed/YAbI4w95cTE" frameborder="0" allowfullscreen)
				//- 	h3.title-cate-3
				//- 		a(href="#") Cò trắng bay rợp trời Ninh Bình trong bom tấn 'Kong: Skull Island'
				//- 	p.description Teaser đầu tiên của bom tấn quay tại Việt Nam hé lộ cảnh sắc hoành tráng của Quảng Bình, Hạ Long và tuyến nhân vật chính trong phim.
				//- 	.icon-social-detail
				//- 		a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
				//- 			span
				//- 		a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
				//- 			span
				//- 		a(href="#" title="envelope" class="icon envelope" target="_blank")
				//- 			span
				//- 		a(href="https://www.google.com" title="pinterest" class="icon pinterest" target="_blank")
				//- 			span
				//- 		a(href="#" title="instagram" class="icon twitter" target="_blank")
				//- 			span
				//- 		iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
				//- 	.post-comment
				//- 		.comment-total
				//- 			h3 Bình luận
				//- 		.comment-area
				//- 			.avat-image
				//- 				img(src="images/bava2.jpg" alt="avata")
				//- 			form.comment-boxarea
				//- 				.area-comment
				//- 					textarea(placeholder="Bình luận của bạn...")
				//- 				.buttom-comment
				//- 					button.button-submit(type="submit") Đăng
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/bava2.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account Nguyen Minh Tuan 
				//- 				p.comment-contain Hoành tráng quá, nhất định phải đến rạp xem bộ phim này
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 346 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/bava3.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account Quang Bùi 
				//- 					p.comment-contain Hình như thiếu mấy con khủng long với mấy con quái vật nhỏ nữa bác :D
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span 6 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/ava2.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account đỗ thành
				//- 					p.comment-contain yes hoàng tráng thiệt , xếp gạch hóng bản cam hay mini HD !!
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span 2 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/ava1.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account Vtuyen
				//- 					p.comment-contain Rất tuyệt vời. Rất hoành tráng. Ngày rạp khởi chiếu bộ phim này ko thể bỏ qua được.
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span Thích
				//- 			.loadMore-second Hiển thị thêm bình luận
				//- 				span.caret
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/avagirly.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account vietnam discover
				//- 				p.comment-contain Việt nam thô sơ thế, nhưng với điện anh Hollywood thì thật hùng vĩ và tự hào, quyết tâm dành tiền từ bây giờ để xem phim bom tấn
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 12 Thích
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/bava1.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account dinh hai pham
				//- 				p.comment-contain Vé xem phim rẻ mà bạn, nếu ít tiền có thể mua loại vé tầm 50k ở những giờ vắng khách, quá rẻ cho một sản phẩm giải trí hoành tráng.
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 3 Thích
				//- 		.loadMore Tải thêm bình luận
				.box-large-video
					//- h2.title-lg-video
					//- 	a(href="#") Showbiz
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-15.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-16.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video "Đại Úy" Song Joong Ki tái hiện màn hất điện thoại khiến 4500 fans hò hét
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-17.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cao Thái Sơn dốc hết tài sản làm MV "khủng" nhất sự nghiệp
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-15.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-16.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video "Đại Úy" Song Joong Ki tái hiện màn hất điện thoại khiến 4500 fans hò hét
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-17.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cao Thái Sơn dốc hết tài sản làm MV "khủng" nhất sự nghiệp
					ul.paginations
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") ...
						li
							a(href="#") 99
		include ./footer-mb.jade
		include ./script-mb.jade