doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		section.video-mb-news.page-wrap
			.container-mobile
				.box-title-fixed
					h1.title-main-2.bg-video Video
					button.btn-sub-of-sub#btn-sub-of-sub-01
							span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
						ul.sub-menu#sub-menu-01
							li
								a(href="video-cate-mb.html") Showbiz
							li
								a(href="video-cate-mb.html") MV & Trailer
							li
								a(href="video-cate-mb.html")  Giải trí
							li
								a(href="video-cate-mb.html")  Hài
							li
								a(href="video-cate-mb.html")  Thời sự
				//- .box-top-video
				//- 	.fixed-video-top
				//- 		iframe(src="https://www.youtube.com/embed/YAbI4w95cTE" frameborder="0" allowfullscreen)
				//- 	h3.title-cate-3
				//- 		a(href="#") Cò trắng bay rợp trời Ninh Bình trong bom tấn 'Kong: Skull Island'
				//- 	p.description Teaser đầu tiên của bom tấn quay tại Việt Nam hé lộ cảnh sắc hoành tráng của Quảng Bình, Hạ Long và tuyến nhân vật chính trong phim.
				//- 	.icon-social-detail
				//- 		a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
				//- 			.social-round
				//- 				span
				//- 		a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
				//- 			.social-round
				//- 				span
				//- 		a(href="https://plus.google.com/u/0/110833293141518607946/" title="envelope" class="icon envelope" target="_blank")
				//- 			.social-round
				//- 				span
				//- 		a(href="https://www.google.com" title="pinterest" class="icon pinterest" target="_blank")
				//- 			.social-round
				//- 				span
				//- 		a(href="#" title="twitter" class="icon twitter" target="_blank")
				//- 			.social-round
				//- 				span
				//- 		iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
				//- 	.post-comment
				//- 		.comment-total
				//- 			h3 Bình luận
				//- 		.comment-area
				//- 			.avat-image
				//- 				img(src="images/bava2.jpg" alt="avata")
				//- 			form.comment-boxarea
				//- 				.area-comment
				//- 					textarea(placeholder="Bình luận của bạn...")
				//- 				.buttom-comment
				//- 					button.button-submit(type="submit") Đăng
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/bava2.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account Nguyen Minh Tuan 
				//- 				p.comment-contain Hoành tráng quá, nhất định phải đến rạp xem bộ phim này
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 346 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/bava3.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account Quang Bùi
				//- 					p.comment-contain Hình như thiếu mấy con khủng long với mấy con quái vật nhỏ nữa bác :D
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span 2 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/ava2.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account đỗ thành
				//- 					p.comment-contain yes hoàng tráng thiệt , xếp gạch hóng bản cam hay mini HD !!
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span 2 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/ava1.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account Vtuyen
				//- 					p.comment-contain Rất tuyệt vời. Rất hoành tráng. Ngày rạp khởi chiếu bộ phim này ko thể bỏ qua được.
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span 2 Thích
				//- 			.loadMore-second Hiển thị thêm bình luận
				//- 				span.caret
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/avagirly.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account vietnam discover
				//- 				p.comment-contain Việt nam thô sơ thế, nhưng với điện anh Hollywood thì thật hùng vĩ và tự hào, quyết tâm dành tiền từ bây giờ để xem phim bom tấn
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 346 Thích
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/bava1.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account dinh hai pham
				//- 				p.comment-contain Vé xem phim rẻ mà bạn, nếu ít tiền có thể mua loại vé tầm 50k ở những giờ vắng khách, quá rẻ cho một sản phẩm giải trí hoành tráng.
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 346 Thích
				//- 		.loadMore Tải thêm bình luận
				//- 	.video-hot
				//- 		h3.title-video-hot Video Hot
				//- 		.media
				//- 			a(href="#" title="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 			.media-left
				//- 				.box-img-video
				//- 					img(src="images/video-040.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 					span.icon-play-48
				//- 			.media-body
				//- 				h3.title-box-video Học tập bí quyết mặc đẹp ngất ngây của "phiên dịch viên" Dương Mịch
				//- 		.media
				//- 			a(href="#" title="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 			.media-left
				//- 				.box-img-video
				//- 					img(src="images/video-050.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 					span.icon-play-48
				//- 			.media-body
				//- 				h3.title-box-video Sự thật về những hố sâu tử thần bất ngờ xuất hiện giữa đường
				//- 		.media
				//- 			a(href="#" title="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 			.media-left
				//- 				.box-img-video
				//- 					img(src="images/video-06.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 					span.icon-play-48
				//- 			.media-body
				//- 				h3.title-box-video Truy bắt nhóm đối tượng dùng "thuốc mê" để nạn nhân tự nguyện "nộp" tiền
				//- 		.media
				//- 			a(href="#" title="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 			.media-left
				//- 				.box-img-video
				//- 					img(src="images/video-07.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
				//- 					span.icon-play-48
				//- 			.media-body
				//- 				h3.title-box-video Ngắm vẻ đẹp không tuổi, như vừa 20 của hot vlogger An Nguy
				.box-large-video
					h2.title-lg-video 
						a(href="video-cate-mb.html") Showbiz
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-15.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-16.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video "Đại Úy" Song Joong Ki tái hiện màn hất điện thoại khiến 4500 fans hò hét
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-17.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cao Thái Sơn dốc hết tài sản làm MV "khủng" nhất sự nghiệp
				.box-large-video
					h2.title-lg-video 
						a(href="video-cate-mb.html") MV & Trailer
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-18.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-20.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-21.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-22.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-19.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-23.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Fan bất ngờ với trailer "khủng" của "Bộ Bộ Kinh Tâm" phiên bản Hàn
				.box-large-video
					h2.title-lg-video 
						a(href="video-cate-mb.html") Giải trí
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-26.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cậu bé Hồ Văn Cường hát cảm xúc bài 'Sa mưa giông'
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-28.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Biểu cảm khó đỡ của Hoà Minzy khi ăn vụng bất chấp hình tượng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-29.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cặp trai tài gái sắc chi 400 triệu sang Thái Lan, Hàn Quốc quay MV tình yêu
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-30.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video "Sau tất cả" cực chất trước phần trình diễn của nhóm người bí ẩn
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-27.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Màn vừa đánh trống vừa diễn xiếc của nghệ sĩ đường phố gây kinh ngạc cho đám đông
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-31.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Ngỡ ngàng với 8 mĩ nam Kpop sở hữu "mặt học sinh, thân hình phụ huynh"
				.box-large-video
					h2.title-lg-video 
						a(href="video-cate-mb.html") Hài
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-34.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video "Hội quán tiếu lâm": Cười té ghế với Băng Di và Hoài Linh với tiểu phẩm "Ca sĩ phòng trà"
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-36.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Video: Quá vui sướng vì trúng số, nhân viên văn phòng không ngần ngại "tè" thẳng vào mặt sếp mình
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-37.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Tâm sự của cô gái "căm hận" mùa hè với những lí do khiến ai cũng phải gật đầu đồng ý
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-38.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cú sút Penalty kinh hoàng nhất Thế Giới
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-35.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Vợ Chồng Son: Nhờ nghịch dại chồng cưới được vợ xinh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-39.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Suboi đặt câu hỏi cho Tổng thống Obama bằng cách đọc rap trước khi ông rời Việt Nam
				.box-large-video
					h2.title-lg-video 
						a(href="video-cate-mb.html") Thời sự
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-42.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Màn sút luân lưu căng não giữa Argentina - Chile, Messi sút hỏng luân lưu
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-44.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Côn đồ chém chủ quán, nhân viên ném chai bia chống trả ở Bến Lức Long An
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-45.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Phi Sơn lập siêu phẩm nã đại bác sau pha phối hợp đá phạt dị
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-46.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những hình ảnh đầu tiên của chiếc máy bay Casa dưới đáy đại dương
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-43.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Trộm hiên ngang vào nhà bẻ khóa chiếc SH chỉ 3s trong mùa EURO
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-47.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những bí mật được cựu CIA Mỹ chia sẻ đạt gần 70 triệu lượt xem sau 1 tuần
				
		include ./footer-mb.jade
		include ./script-mb.jade