doctype html
html(lang="vi")
	include ./head.jade
	body
		//- link(rel='stylesheet', href='css/slick.css')
		//- link(rel='stylesheet', href='css/slick-theme.css')
		//- link(rel='stylesheet', href='css/CustomScrollbar.css')
		include ./header-video.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-video.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event
							h1 Video
							ul.menu-cate
								li
									a(href="category-life.html") Showbiz
								li
									a(href="category-life.html") MV & trailer
								li
									a(href="category-life.html") Giải trí
								li
									a(href="category-life.html") Hài
								li.active
									a(href="category-life.html") Thời sự
		section.detail-video
			.container
				.row
					.col-xs-8.col-sm-12.col-md-8.col-lg-8.right-borders
						.cate-video-large
							h3.title-slide-video 
								span Showbiz
							.list-video
								.item-video
									.glass-box-vd
										a(href="video-detail.html", title="")
											img(src="images/video-12.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video
									.glass-box-vd
										img(src="images/video-18.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu
								.item-video
									.glass-box-vd
										img(src="images/video-20.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới
								.item-video
									.glass-box-vd
										img(src="images/video-21.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây
								.item-video
									.glass-box-vd
										img(src="images/video-22.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!
								.item-video
									.glass-box-vd
										img(src="images/video-19.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết
								.item-video
									.glass-box-vd
										img(src="images/video-23.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Fan bất ngờ với trailer "khủng" của "Bộ Bộ Kinh Tâm" phiên bản Hàn
								.item-video
									.glass-box-vd
										img(src="images/video-24.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Bộ phim đặc biệt được chuyển thể từ mối tình đẹp của tổng thống Obama và vợ
								.item-video
									.glass-box-vd
										img(src="images/video-25.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cặp đôi "Bên Nhau Trọn Đời" kết hợp hoành tráng cùng Lee Min Ho trong phim mới
								.item-video
									.glass-box-vd
										img(src="images/video-26.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cậu bé Hồ Văn Cường hát cảm xúc bài 'Sa mưa giông'
								.item-video
									.glass-box-vd
										img(src="images/video-28.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Biểu cảm khó đỡ của Hoà Minzy khi ăn vụng bất chấp hình tượng
								.item-video
									.glass-box-vd
										img(src="images/video-29.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cặp trai tài gái sắc chi 400 triệu sang Thái Lan, Hàn Quốc quay MV tình yêu
								.item-video
									.glass-box-vd
										img(src="images/video-30.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") "Sau tất cả" cực chất trước phần trình diễn của nhóm người bí ẩn
								.item-video
									.glass-box-vd
										img(src="images/video-31.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Ngỡ ngàng với 8 mĩ nam Kpop sở hữu "mặt học sinh, thân hình phụ huynh"
								.item-video
									.glass-box-vd
										img(src="images/video-32.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Xin lỗi nếu làm ai đó bật khóc khi nghe bài hát này!
								.item-video
									.glass-box-vd
										img(src="images/video-33.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Thanh niên nghịch dại cắt cây nắp ấm và cái kết đắng
								.item-video
									.glass-box-vd
										img(src="images/video-37.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Tâm sự của cô gái "căm hận" mùa hè với những lí do khiến ai cũng phải gật đầu đồng ý
								.item-video
									.glass-box-vd
										img(src="images/video-38.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cú sút Penalty kinh hoàng nhất Thế Giới
								.item-video
									.glass-box-vd
										img(src="images/video-35.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Vợ Chồng Son: Nhờ nghịch dại chồng cưới được vợ xinh
								.item-video
									.glass-box-vd
										img(src="images/video-39.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Suboi đặt câu hỏi cho Tổng thống Obama bằng cách đọc rap trước khi ông rời Việt Nam
								.item-video
									.glass-box-vd
										img(src="images/video-40.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hoài Linh "tố" các nghệ sĩ sống ảo, làm từ thiện chỉ để PR bản thân
								.item-video
									.glass-box-vd
										img(src="images/video-41.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") "Chủ nợ" Nam Thư rủ rê Huỳnh Lập và Lê Dương Bảo Lâm cùng "phá án"
								.item-video
									.glass-box-vd
										img(src="images/video-42.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Màn sút luân lưu căng não giữa Argentina - Chile, Messi sút hỏng luân lưu
								.item-video
									.glass-box-vd
										img(src="images/video-44.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Côn đồ chém chủ quán, nhân viên ném chai bia chống trả ở Bến Lức Long An
								.item-video
									.glass-box-vd
										img(src="images/video-45.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Phi Sơn lập siêu phẩm nã đại bác sau pha phối hợp đá phạt dị
								.item-video
									.glass-box-vd
										img(src="images/video-43.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Trộm hiên ngang vào nhà bẻ khóa chiếc SH chỉ 3s trong mùa EURO
								.item-video
									.glass-box-vd
										img(src="images/video-47.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những bí mật được cựu CIA Mỹ chia sẻ đạt gần 70 triệu lượt xem sau 1 tuần
								.item-video
									.glass-box-vd
										img(src="images/video-32.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những bí mật được cựu CIA Mỹ chia sẻ đạt gần 70 triệu lượt xem sau 1 tuần
								.item-video
									.glass-box-vd
										img(src="images/video-49.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video
									.glass-box-vd
										img(src="images/video-42.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
								.item-video
									.glass-box-vd
										img(src="images/video-43.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Dương Cẩm Lynh, Khởi My tiết lộ về hậu trường đáng sợ của "Mặt nạ máu"
								.item-video
									.glass-box-vd
										img(src="images/video-44.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video
									.glass-box-vd
										img(src="images/video-45.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
								.item-video
									.glass-box-vd
										img(src="images/video-46.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Dương Cẩm Lynh, Khởi My tiết lộ về hậu trường đáng sợ của "Mặt nạ máu"
								.item-video
									.glass-box-vd
										img(src="images/video-42.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
								.item-video
									.glass-box-vd
										img(src="images/video-43.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Dương Cẩm Lynh, Khởi My tiết lộ về hậu trường đáng sợ của "Mặt nạ máu"			
								.item-video
									.glass-box-vd
										img(src="images/video-12.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video
									.glass-box-vd
										img(src="images/video-18.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu
								.item-video
									.glass-box-vd
										img(src="images/video-20.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới
								.item-video
									.glass-box-vd
										img(src="images/video-21.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây
								.item-video
									.glass-box-vd
										img(src="images/video-22.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!
								.item-video
									.glass-box-vd
										img(src="images/video-19.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết
								.item-video
									.glass-box-vd
										img(src="images/video-23.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Fan bất ngờ với trailer "khủng" của "Bộ Bộ Kinh Tâm" phiên bản Hàn
								.item-video
									.glass-box-vd
										img(src="images/video-24.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Bộ phim đặc biệt được chuyển thể từ mối tình đẹp của tổng thống Obama và vợ
								.item-video
									.glass-box-vd
										img(src="images/video-25.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cặp đôi "Bên Nhau Trọn Đời" kết hợp hoành tráng cùng Lee Min Ho trong phim mới
								.item-video
									.glass-box-vd
										img(src="images/video-26.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cậu bé Hồ Văn Cường hát cảm xúc bài 'Sa mưa giông'
								.item-video
									.glass-box-vd
										img(src="images/video-28.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Biểu cảm khó đỡ của Hoà Minzy khi ăn vụng bất chấp hình tượng
								.item-video
									.glass-box-vd
										img(src="images/video-29.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cặp trai tài gái sắc chi 400 triệu sang Thái Lan, Hàn Quốc quay MV tình yêu
								.item-video
									.glass-box-vd
										img(src="images/video-30.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") "Sau tất cả" cực chất trước phần trình diễn của nhóm người bí ẩn
								.item-video
									.glass-box-vd
										img(src="images/video-31.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Ngỡ ngàng với 8 mĩ nam Kpop sở hữu "mặt học sinh, thân hình phụ huynh"
								.item-video
									.glass-box-vd
										img(src="images/video-32.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Xin lỗi nếu làm ai đó bật khóc khi nghe bài hát này!
								.item-video
									.glass-box-vd
										img(src="images/video-33.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Thanh niên nghịch dại cắt cây nắp ấm và cái kết đắng
								.item-video
									.glass-box-vd
										img(src="images/video-37.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Tâm sự của cô gái "căm hận" mùa hè với những lí do khiến ai cũng phải gật đầu đồng ý
								.item-video
									.glass-box-vd
										img(src="images/video-38.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cú sút Penalty kinh hoàng nhất Thế Giới
								.item-video
									.glass-box-vd
										img(src="images/video-35.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Vợ Chồng Son: Nhờ nghịch dại chồng cưới được vợ xinh
								.item-video
									.glass-box-vd
										img(src="images/video-39.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Suboi đặt câu hỏi cho Tổng thống Obama bằng cách đọc rap trước khi ông rời Việt Nam
								.item-video
									.glass-box-vd
										img(src="images/video-40.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hoài Linh "tố" các nghệ sĩ sống ảo, làm từ thiện chỉ để PR bản thân
								.item-video
									.glass-box-vd
										img(src="images/video-41.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") "Chủ nợ" Nam Thư rủ rê Huỳnh Lập và Lê Dương Bảo Lâm cùng "phá án"
								.item-video
									.glass-box-vd
										img(src="images/video-42.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Màn sút luân lưu căng não giữa Argentina - Chile, Messi sút hỏng luân lưu
								.item-video
									.glass-box-vd
										img(src="images/video-44.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Côn đồ chém chủ quán, nhân viên ném chai bia chống trả ở Bến Lức Long An
								.item-video
									.glass-box-vd
										img(src="images/video-45.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Phi Sơn lập siêu phẩm nã đại bác sau pha phối hợp đá phạt dị
								.item-video
									.glass-box-vd
										img(src="images/video-43.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Trộm hiên ngang vào nhà bẻ khóa chiếc SH chỉ 3s trong mùa EURO
								.item-video
									.glass-box-vd
										img(src="images/video-47.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những bí mật được cựu CIA Mỹ chia sẻ đạt gần 70 triệu lượt xem sau 1 tuần
								.item-video
									.glass-box-vd
										img(src="images/video-32.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những bí mật được cựu CIA Mỹ chia sẻ đạt gần 70 triệu lượt xem sau 1 tuần
								.item-video
									.glass-box-vd
										img(src="images/video-49.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video
									.glass-box-vd
										img(src="images/video-42.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
								.item-video
									.glass-box-vd
										img(src="images/video-43.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Dương Cẩm Lynh, Khởi My tiết lộ về hậu trường đáng sợ của "Mặt nạ máu"
								.item-video
									.glass-box-vd
										img(src="images/video-44.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video
									.glass-box-vd
										img(src="images/video-45.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
								.item-video
									.glass-box-vd
										img(src="images/video-46.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Dương Cẩm Lynh, Khởi My tiết lộ về hậu trường đáng sợ của "Mặt nạ máu"
								.item-video
									.glass-box-vd
										img(src="images/video-42.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
								.item-video
									.glass-box-vd
										img(src="images/video-43.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
										span.icon-play-round-32
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="video-detail.html" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Dương Cẩm Lynh, Khởi My tiết lộ về hậu trường đáng sợ của "Mặt nạ máu"						
							.div
								ul.paginations
									li.active
										a(href="#") 1
									li
										a(href="#") 2
									li
										a(href="#") 3
									li
										span ...
									li
										a(href="#") 99
					.col-xs-4.hidden-sm.col-md-4.col-lg-4
						.qc-sidebar
							img(src="images/icon/qc3002.jpg" alt="qc")
						.qc-sidebarlong.scroll-fixed-right
							img(src="images/icon/qc600.jpg" alt="qc")
					.padding
		include ./footer.jade
		include ./script.jade