doctype html
html
  include ./head.jade 
  body
    link(rel='stylesheet', href='css/slick.css')
    link(rel='stylesheet', href='css/slick-theme.css')
    include ./header-game.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-game.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event
              h1 Game
              ul.menu-cate
                each val in ['Clip Game Hay']
                  li
                    a(href="cate-game.html")= val
    section.cate-main-life
      .container
        .row
          .col-sm-8
            .game-online
              .top-online
                .big-online
                  a.link-game(href="#" title="Nhanh tay tải miễn phí siêu phẩm đối kháng DEAD OR ALIVE 5 Last Round")
                    img(src="images/video-game-02.jpg" alt="Nhanh tay tải miễn phí siêu phẩm đối kháng DEAD OR ALIVE 5 Last Round")
                  h3.title-main-3
                    a.link-game(href="#" title="Nhanh tay tải miễn phí siêu phẩm đối kháng DEAD OR ALIVE 5 Last Round") Nhanh tay tải miễn phí siêu phẩm đối kháng DEAD OR ALIVE 5 Last Round
                .big-online
                  a.link-game(href="#" title="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                    img(src="images/video-game-03.jpg" alt="MMOFPS Heroes & Generals đã chính thức ra mắt trên Steam")
                  h3.title-main-3
                    a.link-game(href="#" title="Màn cosplay đẹp mắt dựa trên tựa game Warhammer") Những game online hay sắp ra mắt game thủ Việt trong tháng 10
              .list-video
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-04.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cơ hội tốt cho game thủ Việt chiến Bless - Game online bom tấn từ Hàn Quốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-05.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những điều cần biết về Heroes of Incredible Tales trong bản cập nhật mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-06.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Chỉ mất 10 bát phở để được chơi game online hay tuyệt đỉnh Rainbow VVVVvviviSiegeQuốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-07.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Game đỉnh Mirage: Arcane Warfare đã mở cửa thử nghiệm lần đầu tại VN
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-08.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") MU Legend chính thức cho đăng ký Closed Beta bản tiếng Anh, mở cửa tháng 1
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-09.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Theo dõi đoạn trailer giới thiệu lối chơi Echo of Souls phiên bản điện thoại tuyệt
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-10.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những game online sau đây sẽ đưa game thủ trải nghiệm chiến trường rực 
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-11.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hotsteps tung trailer cực đẹp, sẵn sàng ra mắt lần đầu tiên tại Việt Nam
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-12.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Lộ diện tựa game MMOFPS Xuất Kích của hãng VTC Game
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-13.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những điều cần biết về Heroes of Incredible Tales trong bản cập nhật mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-14.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cơ hội tốt cho game thủ Việt chiến Bless - Game online bom tấn từ Hàn Quốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-15.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những điều cần biết về Heroes of Incredible Tales trong bản cập nhật mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-16.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Game khủng MU Legend chuẩn bị mở cửa bản quốc tế, tiếp tục 'show hàng
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-17.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Star Citizen trình làng lối chơi bắn súng ấn tượng trong trailer mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-18.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Metal Gear Survive trình diễn lối chơi ấn tượng tại Tokyo Game Show 2016Quốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-19.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Serious Sam chuẩn bị tái ngộ game thủ trên Steam bằng phiên bản VR
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-20.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") LMHT: SKT T1 chính thức lên đường sang Mỹ tham dự CKTG 2016
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-21.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mùa giải mới của làng DOTA 2 thế giới chính thức mở màn
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-22.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Chỉnh sửa "bí ẩn" của Riot trong phiên bản 6.19, ít người biết nhưng cực kỳ 
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-23.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những điều cần biết về Heroes of Incredible Tales trong bản cập nhật mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-24.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Overwatch: Thèm khát chiến thắng, hãy thử sức với 5 vị tướng sở hữu tỉ lệ giớiQuốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-25.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Siêu phẩm MU Legend của Webzen hé lộ ngày ra mắt thử nghiệm toàn cầu
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-26.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Lộ diện tựa game MMOFPS Xuất Kích của hãng VTC Game NamQuốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-27.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Peria Chronicles phải phát triển lại từ đầu vì phát sinh quá nhiều lỗi lớn
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-28.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Liên Minh Huyền Thoại: Chính thức ra mắt 4 trang phục Vệ Binh Tinh Tú năm 2016 - Đẹp đến từng centimet!
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-29.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những điều cần biết về Heroes of Incredible Tales trong bản cập nhật mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-30.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Cơ hội tốt cho game thủ Việt chiến Bless - Game online bom tấn từ Hàn Quốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-31.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những điều cần biết về Heroes of Incredible Tales trong bản cập nhật mới
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-32.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những game online này sẽ hành hạ máy tính của bạn, nhưng chơi rất FFFSS“"sướng"Quốc
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-33.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Đây là những game online tuyệt hay cần phải chơi thử ngay khi có cơ hội
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-34.jpg" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những game online này sẽ hâm nóng làng game những ngày cuối tháng 9
                .item-video
                  .glass-box-vd
                    img(src="images/video-game-35.jpg" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
                    span.icon-play-round-48
                  .slide-info-small
                    h3.title-cate-5.list-bottom
                      a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Những game online Trung Quốc này sẽ khiến bạn há hốc mồm vì chúng quá đẹp
                ul.paginations
                  li.active
                    a(href="#") 1
                  li
                    a(href="#") 2
                  li
                    a(href="#") 3
                  li
                    a(href="#") ...
                  li
                    a(href="#") 99
          .col-sm-4
            .qc-sidebar
              img(src="images/icon/qc3002.jpg" alt="qc300")
            .hot-game
              .name-tech
                h2.name Tin Hot
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-22.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-23.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Game khủng MU Legend chuẩn bị mở cửa bản quốc tế, tiếp tục 'show hàng'
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-24.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Cùng soi loạt ảnh Việt hóa mới của game online vũ đạo Hotsteps
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-25.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Thiết Giáp Hùng Binh - Game 3D chiến trường đồ họa khủng, hỗ trợ cả VR
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-26.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Tổng hợp loạt ảnh cosplay cực đẹp và chất ngày cuối tuần
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-27.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Đây là những game online nhập vai không thể lờ đi trong tháng 10
                  span.time-up 6:00 20/10/2016
              .media
                .media-left
                  a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                    img(src="images/kulgame-28.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
                .media-body
                  h3.title-main-5
                    a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Chán game online Việt Nam, thi hãy đăng ký chơi ngay những game miễn phí này
                  span.time-up 6:00 20/10/2016
              //- .media
              //-   .media-left
              //-     a(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-       img(src="images/kulgame-29.jpg" alt="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim")
              //-   .media-body
              //-     h3.title-main-5
              //-       a.link-game(href="#" title="Đạo diễn Captain America: Civil War nói về việc tại sao không ai chết trong bộ phim") Ngỡ ngàng với cô gái cosplay Hanzo trong Overwatch vừa gợi cảm vừa cực ngầu
              //-     span.time-up 6:00 20/10/2016
            //- .qc-sidebarlong.margin-qc.qc-sidebarlong.scroll-fixed-game
            //-   span Ads 300 x600 

    include ./footer.jade
    script(src='js/slick.min.js')
    include ./script.jade
    script(src='js/slide-show.js')