.involve-news-detail
	.col-xs-2.col-fix-2
		.sub-title-left
			.border-top-sub
			h2
				a(href="#") Phái đẹp
			p
				a(href="#") Horoscope
			p
				a(href="#") Cẩm nang yêu
			p
				a(href="#") Góc chia sẻ 
			p
				a(href="#") Couple stories
					
	.col-xs-10.fix-left-right
		.row
			.col-xs-3
				.box-lg-adv
					.box-sm-invol-detail
						.box-img-invol
							a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
								img(src="images/women-01.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						p
							a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
						p.time-post-news
							span.glyphicon.glyphicon-time
							span 08/06/2016
					p.item-invol-detail
						a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
					p.time-post-news
							span.glyphicon.glyphicon-time
							span 08/06/2016
			.col-xs-3
				.box-lg-adv
					.box-sm-invol-detail
						.box-img-invol
							a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
								img(src="images/women-02.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						p
							a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
						p.time-post-news
							span.glyphicon.glyphicon-time
							span 08/06/2016
					p.item-invol-detail
						a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
					p.time-post-news
							span.glyphicon.glyphicon-time
							span 08/06/2016
			.col-xs-3
				.box-lg-adv
					.box-sm-invol-detail
						.box-img-invol
							a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
								img(src="images/women-03.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						p
							a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
						p.time-post-news
							span.glyphicon.glyphicon-time
							span 08/06/2016
					p.item-invol-detail
						a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
					p.time-post-news
							span.glyphicon.glyphicon-time
							span 08/06/2016
			.col-xs-3
				.box-lg-adv
					.box-sm-invol-detail
						.box-img-invol
							a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
								img(src="images/women-04.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
						p
							a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
						p.time-post-news
							span.glyphicon.glyphicon-time
							span 08/06/2016
					p.item-invol-detail
						a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
					p.time-post-news
						span.glyphicon.glyphicon-time
						span 08/06/2016
