.col-xs-12
  .row
    .col-xs-2.col-fix-divide-left-large2
      .sub-title-left.scroll-to-fixed
        .border-top-sub
        h2
          a(href="#") Phái đẹp
        p 
          a(href="#") Horoscope
        p 
          a(href="#") Cẩm nang yêu
        p
          a(href="#") Góc chia sẻ 
        p
          a(href="#") Couple stories
    .col-xs-10.col-fix-divide-right-large
      .row
        .col-xs-3
          .box-content-women
            a(href="#" title="5 mẹo đơn giản đá bay mùi cơ thể")
              img(src="images/women-01.png", alt="5 mẹo đơn giản đá bay mùi cơ thể")
            p
              a(href="#") 5 mẹo đơn giản đá bay "mùi cơ thể"
            p
              a(href="#") Cái "nắm tay cuối cùng" của cặp vợ chồng bệnh tật trước lúc ra đi
            p
              a(href="#") Mưa ngày cưới, hạnh phúc hay đau thương?
            p
              a(href="#") Hé lộ tính cách phụ nữ qua đôi "gò bồng đào"
        .col-xs-3
          .box-content-women
            a(href="#" title="Thứ Năm (19/5): Song Ngư được bạn bè mến mộ")
              img(src="images/women-02.png", alt="women-01")
            p
              a(href="#") Thứ Năm (19/5): Song Ngư được bạn bè mến mộ
            p
              a(href="#") Tặng con gái góc bếp "yêu không tưởng" từ vật dụng cũ
            p
              a(href="#") 3 cách ứng xử khôn ngoan giúp quan hệ "cha vợ - con rể" thêm gắn kết
            p
              a(href="#") 5 "chiến lược" phòng ngự của phụ huynh khi... hè tới
        .col-xs-3
          .box-content-women
            a(href="#" title="3 lý do khiến các đôi đường ai nấy đi khi vào Đại học")
              img(src="images/women-03.png", alt="women-01")
            p
              a(href="#") 3 lý do khiến các đôi "đường ai nấy đi" khi vào Đại học
            p
              a(href="#") 4 hành động "nhỏ xíu" giúp hâm lửa các cặp đôi lâu năm
            p
              a(href="#") Làm sao để nắm tay nhau đi qua những "ngày thất nghiệp"?
            p
              a(href="#") Con gái, đôi khi hãy là một kẻ khờ xinh đẹp
        .col-xs-3
          .box-content-women
            a(href="#" title="Đoán tính cách con gái qua chiếc áo lót yêu thích")
              img(src="images/women-04.png", alt="women-01")
            p
              a(href="#") Đoán tính cách con gái qua "chiếc áo lót" yêu thích
            p
              a(href="#") Hé lộ tính cách phụ nữ qua đôi "gò bồng đào"
            p
              a(href="#") 5 chòm sao nữ có nguy cơ "ế đến tận thế"
            p
              a(href="#") 5 tướng phụ nữ dễ " làm người thứ ba"