doctype html
html(lang="vi")
  head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp
  link(rel='shortcut icon', href='images/k.ico', type='image/x-icon')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='app.css')
  script(src='js/jquery-2.1.4.min.js')
  body
    include ./header-index.jade
    section.year-end
      .yearend-banner
    section.year-end-total
      .container
        .row
          .col-md-8
            .media.year-end-block
              .media-left
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/584e/55/thumbnail_1x1_thumbnail.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .media-body
                a.year-end-cate(href="#", title="") Giải trí
                h3.title-main-3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau với tốc độ chóng mặt.
          .col-md-4
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
        .row
          .col-md-12
            .year-mini
              .row
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
        .row
          .col-md-12
            .year-mini
              .row
                .col-md-6
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  
                .col-md-6
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
        .row
          .col-md-12
            .year-mini
              .row
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
    include ./footer.jade
    script(src='js/jquery-scrolltofixed.js')
    script(src='js/main.js')