doctype html
html(lang="vi")
  include ./head-mb.jade
  body
    include ./header-mb.jade
    section.year-end
      .yearend-banner
    section.year-mobile
      .container-fluid
        .row
          .col-md-12
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
    include ./script-mb.jade