$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$border1pxwhite: 1px solid #fff;
$boldtext: 600;
$colortext:#222;

.time-post{
	border-bottom:$border1px;
	padding-bottom: 5px;
    margin-bottom: 8px;
	p {
	    color: #777;
    	margin-bottom: 0;
    	font-size: 14px;
    	font-family: $title;
    	i {
    		margin-right: 5px;
    	}
	}
}
.title-detail-01{
	font-size: 32px;
	font-family: $notoserif;
	font-weight: 700;
	line-height:1.2;
	letter-spacing: -1px;
    margin: 0 0 15px;
}
.content-wrapper {
    padding: 25px;
    background: #fff;
}
.detail-news-center {
	.cont-descripe{
	    font-weight: bold;
	    margin-top:10px;
	}
	h2, h3 {
		font-family: $notoserif;
		font-size:20px;
		margin-top:0;
		margin-bottom:15px;
	}
	p {
		font-family:$notoserif;
	    font-size: 18px;
	    color: #222;
	    line-height: 1.8;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    clear: both;
	    width: 100%;
	    margin: 10px 0;
	    img {
	    	display: block;
	    	margin:30px auto;
	    	max-width: 100%;
	    }
	    a {
    		display: initial;
    		font-size:16px;
    		font-family: $notoserif;
    		border-bottom:1px dotted #333;
    		color:#337ab7;
    	}
	}
	figure {
		margin: 10px 0;
	    padding-top: 5px;
	    text-align: center;
	    img {
	    	max-width: 100%;
	    }
	}
	figcaption {
		text-align: center;
	    display: block;
	    color: #666;
	    font-family: $title;
	    font-size: 14px;
        padding: 5px 0 0;
        width: 80%;
    	margin: 0 auto;
	}
	ul {
		li {
			font-family: $notoserif;
			font-size: 16px;
			margin-bottom:5px;
		}
	}
	p.source-link {
		a {
			color: #555;
			border:none;
			font-style:italic;
			font-size: 10px;
			position:relative;
			padding-left:15px;
		}
		a:before {
			content:"";
			position:absolute;
			top:2px;
			left:0;
			background:url('images/icon/unlink.svg');
			background-size:10px 10px;
			width:10px;
			height:10px;
		}
	}
}
.img-detail-center {
	margin: 15px 0 10px;
    padding-top: 5px;
    text-align: center;
}
.img-detail-mid {
	margin: 15px 0 10px;
    padding-top: 5px;
    text-align: center;
    img {
    	width:auto;
    }
}
.content-video {
	margin: 15px 0 15px;
    padding-top: 5px;
    text-align: center;
    iframe {
    	margin:0 auto;
    }
}
.cover-photo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 480px;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    .meta-photo {
    	position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    padding: 70px 20px 10px;
	    text-align: center;
	    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
    }
    .box-gs-score{
    	margin-left: -25px;
    	position: relative;
    	left: 50%;
    	margin-top: 10px;
    }
}
.white-title {
    font-size: 32px;
    font-family: $notoserif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 0 0 10px;
    color:#fff;
}
.like-g{
		width: 17px;
		height: 17px;
		background: url(images/icon/tim.png) no-repeat;
	}
.views-g{
	background: url(images/icon/eye.png) no-repeat;
	width: 24px;
	height: 14px;
}
.author-photo {
    margin-top: 10px;
    color: #fff;
    font-size:12px;
    font-family: $notoserif;
    span {
    	margin-right:5px;
    }
    span:last-child {
    	margin-right:0px;
    }
    .author-name {
    	color:#fff;
    	font-weight: bold;
    }
    .like-g{
    	padding-left: 20px;
    }
    .views-g{
    	padding-left: 27px;
    }
}
.summary-photo {
    margin: 15px auto;
    width: 70%;
    p {
    	font-family: $notoserif;
	    font-size: 16px;
	    color: #222;
	    line-height: 1.5;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    clear: both;
	    width: 100%;
	    margin: 0 0 15px;
    }
}
.main-article {
	/* img {
		margin:10px 0;
	} */
	p {
		font-family: $notoserif;
	    font-size: 16px;
	    color: #222;
	    line-height: 1.5;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    clear: both;
	    margin: 15px auto;
    	width: 70%;
    	text-align: left;
	}
	/* figcaption {
		font-family: $notoserif;
	    font-size: 14px;
	    color: #222;
	    line-height: 1.5;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    clear: both;
	    margin: 15px auto;
    	width: 70%;
    	text-align: left;
	} */
	.box-keyword {
		max-width: 663px;
		margin:15px auto;
		.media-left {
			img {
				margin:0;
			}
		}
		.content-news {
			width:100%;
		}
	}
	ul {
		margin: 15px auto;
	    width: 70%;
	    text-align: left;
	    padding-left: 20px;
	}
}
.name-ad-speacial {
	text-align: right;
	span {
	    font-weight: 700;
	    padding-bottom: 10px;
	    padding-top: 20px;
	    font-family: $title;
	    display: block;
	    font-size: 18px;
	}
}
.icon-social-detail{
	/* border-bottom:$border1px; */
	padding-bottom:5px;
	a{
		display: inline-block;
		width: 25px;
	  	height: 25px;
		border-radius: 50px;
		text-align: center;
		padding: 8px 8px 0;
	    margin-right: 5px;
	    transition:.3s ease-in-out;
	    background-image: url(images/icon/sprite-v1.png);
	}
	iframe {
    top: -2px;
    border-left: 1px solid #d2d2d2 !important;
    padding-left: 10px;
	position: relative;
	}
}
	.facebook{
		background-color: #3067a3;
		background-position: -250px -21px;
	}
	.facebook:hover {
		background-color: #244e7c;
	}
	.google{
		background-color: #e15440;
		background-position: -272px -21px;
	}
	.google:hover {
		background-color: #ce3620;
	}
	.envelope{
		background-color: #767676;
		background-position: -345px -21px;
	}
	.envelope:hover {
		background-color: #5d5d5d;
	}
	.pinterest{
		background-color: #d44b40;
		background-position: -322px -21px;
	}
	.pinterest:hover {
		background-color: #cf3427;
	}
	.instagram{
		background-color: #028ECC;
		background-position: -303px -26px;
	}
	.instagram:hover {
		background-color: #0076B4;
	}
	.youtube{
		background-color: #ff3d33;
		background-position: -255px -26px;
	}
	.youtube:hover {
		background-color: #cf3427;
	}
	.twitter{
		background-color: #03b3ee;
		background-position: -253px -71px;
	}
	.twitter:hover {
		background-color: #028dbc;
	}
.box-detail-left{
	padding-bottom: 700px;
	padding-top:10px;
	img{
		width: 100%;
		margin-bottom: 5px;
	}
	a {
		font-weight: $boldtext;
	}
}
.box-detail-left:last-child{
	padding-bottom: 0;
}
.name-ad-post{
	text-align:right;
	span{
		font-weight: 700;
		padding-bottom: 15px;
		padding-top: 20px;
		font-family:$title;
	}
}
.bor-box-detail{
	border-right: $border1px;
	.img-detail-center{
		img{
			width: 100%;
		}
		span{
			text-align: center;
			display: block;
			padding-bottom: 10px;
			color: #666;
			font-family: $title;
			font-size: 14px;
			padding-top: 5px;
		}
	}
}

.box-assess{
	 background: #000;
	 position: relative;
	 padding: 30px;
	 margin-top: 100px;
	 .strong-point {
	 	ul {
	 		padding-left: 25px;
	 		li {
	 			color: #fff;
				font-family: $title;
				list-style-type: none;
				position: relative;
				margin-top: 10px;
	 		}
	 		li:before {
	 			content:url('images/icon/cong.png');
	 			width: 16px;
				height: 16px;
				position: absolute;
				left: -25px;
				top: 3px;
	 		}
	 	}
	 }
	 .weak-point {
	 	ul {
	 		padding-left: 25px;
	 		li {
	 			color: #fff;
				font-family: $title;
				list-style-type: none;
				position: relative;
				margin-top: 10px;
	 		}
	 		li:before {
	 			content:url('images/icon/tru.png');
	 			width: 16px;
				height: 16px;
				position: absolute;
				left: -25px;
				top: 3px;
	 		}
	 	}
	 }
	 .gs-score-large{
	  width: 100px;
	  height: 100px;
	  margin: 0 auto;
	 }
	 
	 .gs-score_inner{
	  span{
	   position: absolute;
	   top: 10%;
	   left: 0;
	   right: 0;
	   bottom: 0;
	  }
	 }
	 .gs-score-large.score-10 .gs-score_clip2, 
	 .gs-score-large.score-9 .gs-score_clip2, 
	 .gs-score-large.score-8 .gs-score_clip2, 
	 .gs-score-large.score-7 .gs-score_clip2, 
	 .gs-score-large.score-6 .gs-score_clip2{
	  clip: rect(0, 100px, 100px, 50px);
	 }
	 .gs-score-large .gs-score_inner{
	  top: 10px;
	    bottom: 10px;
	    left: 10px;
	    right: 10px;
	  font-size: 45px;
	 }
	 .avata-game{
	  position: absolute;
	    margin-top: -95px;
	    span{
		     font-weight: 700;
		     margin-left: 10px;
		     font-family: $title;
	    }
	    img {
	    	width:85px;
	    }
	 }
	 strong{
	  color: #fff;
	 }
	 .devision{
	  text-transform: uppercase;
	  font-size: 18px;
	  margin-bottom: 15px;
	  display: block;
	  margin-top: 5px;
	  font-family: $title;
	 }
	 .less{
	  color: #ed1f24;
	 }
}

.tags-involve{
    clear: both;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    strong {
    	font-family: $title;
    	font-weight: bold;
    	margin-right:10px;
    }
	a {
		color: #666;
		font-weight: 100;
		font-size:13px;
		margin-right: 5px;
	    transition: all .2s ease-in-out;
	    display: inline-block;
	    margin-bottom:5px;
	}
	a:after {
		content:",";
	}
	a:last-child:after {
		content: "";
	}
}

.detail-main-right{
	.highlight-video{
		.box-highlight-video {
			a{
					width: 100%;
				    height: 100%;
				    position: absolute;
				}
			.video-img{
				
				span.icon-play{
					background-image: url("images/play-icon-48.png");
					top: 35%;
					left: 42%;
					width:48px;
					height:48px;
				}
				.bg-bottom-video{
					height: 50px;
				}
			}
		}
		.box-highlight-video:hover span.icon-play {
			background-position:0px -50px;
		}
		.highlight-video-title{
		  bottom: 8px;
	    height: 38px;
	    overflow: hidden;
		}
	}
	.box-sm-hnd{
		h3{
			margin-bottom: 0;
		}
	}
}
.video-center-detail{
	background: #000;
	padding: 15px;
	.video-detail-left{
		padding-left: 0;
		.big-vid {
			position:relative;
		
		}
		a.link-vid{
			width: 100%;
		    height: 100%;
		    position: absolute;
		    z-index:99;
		}

		.big-vid:hover span {
			background-position: -160px -171px;
		}
		.video-detail-img{
			position: relative;
			img{
				width: 100%;
			}
		}
		.video-detail-title{
			h4{
				color: #fff;
				font-family:$title;
				font-weight: $boldtext;
				font-size:15px;
				margin:0;
				line-height: 1.4;
			}
		}
	}
	.video-detail-right{
		padding-right: 0;
		.media{
			position:relative;
			
		}
		.media-left {
			position:relative;
		}
		img{
			width: 104px;
		}
		h4.head-mini{
			color: #fff;
			font-family:$title;
			font-weight: $boldtext;
			font-size:15px;
			line-height: 1.4;
			margin: 0;
		}
		.media:hover span {
			background-position: -37px -204px;
		}
		.link-mini {
			width:100%;
			height:100%;
			position:absolute;
			z-index:99;
			top:0;
			right:0;
			}
	}
}
.involve-news-detail{
	padding-top: 15px;
}
.relate-title {
	margin-top:30px;
    margin-bottom: 15px;
	span {
		font-family: $title;
		font-size:18px;
		text-transform: uppercase;
	    padding: 5px 10px 3px;
	    background: #eaeaea;
	    border-left: 3px solid #cb0000;
	}
}
/* .box-element {
	display:flex;
	flex-wrap:wrap;
} */

.equal {
 display: flex;
 flex-wrap: wrap;
}

.equal > div[class*='col-'] {  
 display: flex;
 flex-direction: column;
}
.box-invol{
	margin-bottom: 15px;
	.title-main-5 {
		margin-top: 5px;
		a {
		  font-size: 15px;
          display: block;
          line-height: 1.4;
          font-family: $notoserif;
          font-weight: bold;
		}
	}
	span.time-up {
		color:#b1b1b1;
		margin-top:8px;
	}
	/* flex:25% 0; */
	.time-post-news{
		padding-left: 10px;
	}
	h3{
		margin:0;
		line-height: .99;
		overflow: hidden;
		// height: 66px;
		a {
		    font-weight: 400;
		    display: block;
		    line-height: 1.4;
		    margin-top: 5px;
		}
	}
	p.item-invol-detail{
		border-top: $border1px;
		padding-top: 15px;
	}
	.adv-news:last-child {
		border-top:$border1px;
		padding-top:10px;
		margin-top:10px;
	}
	.adv-news {
		.box-img-invol {
			margin-bottom:8px;
		}
		h3 {
			padding:0px;
			margin-top:0px;
		}		
		p.time-post-news {
			padding:0px;
			margin-top:20px;
		}
	}
}
.box-lg-adv{
	display: flex;
}
.share-center{
	width: 50%;
}
.share-likedbutton {
	margin:10px auto 5px;
	a {
		display: block;
		background-color: rgb(67, 104, 210);
		padding:6px 10px 10px;
		text-align: center;
		color:#fff;
	    font-size: 13px;
		span.icon-minfb {
		    width: 20px;
		    height: 20px;
		    background-image: url(images/icon/sprite-v1.png);
		    background-position: -250px -21px;
		    display: inline-block;
	        position: relative;
		    top: 3px;
		    right: 2px;
		}
	}
	a:hover, a:focus {
	  color:#fff;
	  background:#3653a8;
 	}
}
.box-adv{
	padding-bottom: 10px;
	width: 1000px;
	margin-left: 10px;
	margin-right: 10px;
	h3{
		padding:10px;
		margin:0;
		line-height: 1;
		a {
			font-weight:$boldtext;
		}
	}
	p.item-invol-detail{
		border-top: $border1px;
		padding-top: 15px;
	}
	.adv-news:last-child {
		margin-bottom:10px;
		margin-top:10px;
	}
	.adv-news {
		.box-img-invol {
			margin-bottom:8px;
		}
		h3 {
			padding:0px;
			margin-top:0px;
		}		
		p.time-post-news {
			padding:0px;
			margin-top:20px;
		}
	}
}
p.time-post-news{
		font-family: $title;
    padding: 5px 0;
    margin: 0;
    .icon-calendar{
		background: url("images/icon/sprite-v1.png");
		background-position: -407px -27px;
		}
		.icon-cmt{
			background: url("images/icon/sprite-v1.png");
			background-position: -380px -27px;
		}
		.icon-views{
			background: url("images/icon/sprite-v1.png");
			background-position: -437px -27px;
		}
		i{
			width: 15px;
	    height: 15px;
	    margin-right: 4px;
	    display: inline-block;
	    position: relative;
	    top: 2px;
		}
		span {
			margin-right: 15px;
		    font-size: 12px;
		    color: #999;
		}
		span:last-child {
			margin-right: 0px;
		}
	.border-near {
		margin:0px 6px;
	}
}
.fix-left-right{
	padding-left: 0;
}
.box-img-invol{
	height: 141px;
    overflow: hidden;
	img{
		width: 100%;
	}
}
.tech-center-detail{
	background: #ECECEC;
	padding-top: 15px;
	margin-top: 15px;
}
.width-fixmax {
	width: 57%;
    
}
.width-fixmin {
	width: 26.3%;
}
.author-post {
	margin-bottom:5px;
	span {
		font-weight: 700;
	    font-family: $title;
	    font-size:18px;
	}
}

/*Comment Section*/
.post-comment {
	width:100%;
	margin-top:10px;
}
.comment-total {
	padding-bottom :5px;
}
.comment-total h3 {
	display:table-cell;
	width:1%;
	font-family:$title;
}
.comment-total .comment-sort {
	display:table-cell;
	width:1%;
	text-align: right;
}
.comment-area {
	margin-top:15px;
}
.avat-image {
	float:left;
	overflow: hidden;
}
.avat-image img {
	width:48px;
	height:48px;
}
.comment-boxarea {
	margin-left:60px;
}
.comment-boxarea textarea {
	width: 100%;
	height: 70px;
	outline: none;
	padding: 6px 9px;
	overflow: hidden;
	display: block;
	resize: none;
	box-sizing: border-box;
	border-bottom:none;
	border:1px solid #ccc;
	border-bottom: 0px solid transparent;
}
.comment-boxsecond {
	margin-left:0px;
	display:none;
}
.comment-boxsecond textarea {
	width: 100%;
	height: 70px;
	outline: none;
	padding: 6px 9px;
	overflow: hidden;
	display: block;
	resize: none;
	box-sizing: border-box;
	border-bottom:none;
	border:1px solid #ccc;
	border-bottom: 0px solid transparent;
}
.buttom-comment {
	padding: 5px 10px;
	border: 1px solid #ccc;
	text-align: right;
	background: #f6f7f8;
	margin-top: -1px;
}
.button-submit {
	color: #fff;
	background-color: #cb0000;
	padding: 2px 5px;
    border: 1px solid #cb0000;
	display: inline-block;
	text-align: center;
	font-weight: $boldtext;
	box-shadow:none;
	font-family:$title;
	outline:none;
}
.comment-section {
	margin-top:15px;
	border-bottom: $border1px;
    margin-bottom: 10px;
}
.comment-boxarea .comment-account {
	color:#3b5998;
	font-weight: $boldtext;
	font-family:$title;

}
.comment-boxarea .comment-contain {
	margin-top:5px;
	margin-bottom:5px;
	font-family: $title;
}
.avacm-img {
	float:left;
	overflow: hidden;
	margin-top:4px;
}
.avacm-img img {
	width:48px;
	height:48px;
}
.comment-second {
	margin-left:60px;
	margin-top: 10px;
    display: block;
    margin-bottom: 15px;
}
.section-second:last-child {
	border-bottom:0px solid transparent;
}
.cmtsecont {
	margin-right:5px;
	position: relative;
	display: inline-block;
	font-family:$title;
	span {
		font-size:13px;
		color:#3b5998;
		cursor:pointer;
		i {
			margin-right:5px;
		}
	}
	.alt-tab {
		cursor:default;
		margin:0px 6px;
	}
}
.date-cmt {
	margin-left:0px;
	font-size:14px;
	color:#9a9a9a;
}
.date-cmtnd {
	font-size:14px;
	color:#9a9a9a;
}
.more-comment {
	margin-left:5px;flex: 0 49%;
	padding:5px;
	background:#f6f7f8;
}
.more-comment a {
	color:#3b5998;
	font-weight: bold;
	font-size:14px;
}
.more-comment img {
	width:12px;
}
.totol-seccmt {
	padding:5px;
	text-align: center;
	background:#627aad;
	color:#fff;
	font-size:14px;
}
.social-like {
	border-bottom: 1px solid #d2d2d2;
    margin-bottom: 8px;
}
.video-detail-title {
	margin-top:10px;
	font-weight:$boldtext;
	font-family:$title;
}
.category-datetime {
	.life {
		padding:3px 10px;
		background:#cb0000;
		text-align: center;
		color:#fff;
		margin-right:10px;
		font-size:12px;
		font-family: $title;
	}
	.date {
		color:#999;
		font-size:12px;
		font-family: $title;
		padding-left:18px;
		position:relative;
	}
	.date:before {
	    display: block;
		width: 15px;
		height: 15px;
		background: url(images/icon/sprite-v1.png) -544px -320px no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}
}
.content-block-info {
   background: rgb(221, 242, 248);
   padding: 20px 30px;
}
.box-img-big {
	img {
		width: 100%;
	}
}
.relate-margin-first {
	margin:15px 0 10px;
	h2 {
		a {
			text-transform: uppercase !important;
		}
	}
}
.relate-margin {
	margin:25px 0 10px;
	h2 {
		a {
			text-transform: uppercase !important;
		}
	}
}
.third-relate {
	margin-bottom:20px;
	img {
		width:220px;
	}
	.title-main-3 {
		margin-top:-2px;
		a {
			font-family: $notoserif;
		}
	}
	.content-news {
		margin-bottom:0;
	}
}
.box-keyword {
	margin:15px 0;
	background:#eaeaea;
	.media-body {
	    padding: 10px 15px 10px 5px;
	}
	.media-left {
		img {
			width:200px;
		}
	}
	h3.title-main-3 {
		margin-top: -2px;
	    margin-bottom: 5px;
	    a {
	    	font-family: $title;
	    	font-size: 16px;
	    }
	}
	.content-news {
		margin-top:0;
		margin-bottom: 0;
	    font-size: 13px;
	    font-family: Helvetica, Arial, sans-serif;
	    color: #777;
	    line-height:1.42857143;
	}
}
.author-name {
	font-size:12px;
	font-family:$title;
	font-weight:bold;
	color:#777;
	margin-right:10px;
	text-transform:uppercase;
}
.bottom-consider {
	span.time-up {
		color:#b1b1b1;
		margin-top:8px;
	}
	h3.title-main-3 {
		a {
			font-family:$notoserif;
			font-size:16px;
			line-height: 1.4;
		}
	}
}
.hot-days {
	h3.title-main-3 {
		a {
			font-family:$notoserif;
		    font-size: 16px;
    		line-height: 1.4;
		}
	}
}
.most-views {
	a {
		font-family:$notoserif;
		font-weight: bold;
		font-size:15px;
		line-height: 1.4;
	}
	span.time-up {
		color:#b1b1b1;
		margin-top:8px;
	}
}
.big-block {
	h3.title-main-3 {
		a {
			font-family: $notoserif;
		}
		span.time-up {
			color:#b1b1b1;
			margin-top:8px;
		}
	}
}
#break-top {
	.box-large-detail {
		.media-left {
			img {
				width:80px;
			}
		}
	}
}
.transform {
	width:100% !important;
	left:0 !important;
	text-align:center;
}
#squal-fix {
	.media-star {
		img {
			width:100px;
		}
	}
}
@media only screen and(max-width: 1024px){
	.box-lg-invol{
		 flex-flow: row wrap;
	}
	.box-img-invol{
		height: auto;
	}
	.box-invol{
		flex: 0 49%;
		margin-bottom: 20px;
	}
	.box-invol:nth-child(odd){
    margin-right: 1%;
    margin-left: 0;
	}
	.box-invol:nth-child(even){
		margin-left: 1%;
		margin-right: 0;
	}
	.ipad-top {
		.media {
			img {
				width:90px;
			}	
		}
	}
}