$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 600;
$colortext:#343434;

/*beat-life*/
.highlight-life {
    height: 500px;
    overflow: hidden;
    position: relative;
    background-size:cover;
    img {
      width: 100%;
    }
    .time-up {
      position: absolute;
      bottom: 15px;
      color: #fff;
      left: 12px;
    }
}
.highlight-life {
  .highlight-item {
    height:250px;
    background-size:cover;
  }
}
.life-highlight {
  font-family: $title;
  font-size:20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color:#343434;
  font-weight: bold;
  background:url("images/icon/line-partway.png") 0 25px no-repeat;
}
.life-bottom {
  margin-bottom:15px;
}
.beat-life {
  .media
    .media-left {
      img {
        width:215px;
      }
    }
}
.left-lifenone {
  padding-left:0;
}
.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-style: preserve-3d;
  overflow: hidden;
}
.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url('images/icon/hoamai.png') no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
}
.beat-life {
  .media-body {
      h3.title-main-3 {
        margin-top:-3px;
      }
      p.content-news {
        margin-top:10px;
      }
    }
}
.life-megabig {
  .media {
    .media-left {
      img {
        width:300px;
      }
    }
    .media-body {
      h3.title-main-3 {
        margin-top:-3px;
      }
      span.time-up {
        color: #b1b1b1;
        display: inline-block;
        margin-top:5px;
      }
      span.speacific-name {
        display: inline-block;
        padding: 5px 10px;
        background: #cb0000;
        color: #fff;
        font-family: Arial;
        font-size: 9px;
        text-transform: uppercase;
        margin-right: 10px;
      }
      p.content-news {
        margin-top:10px;
      }
    }
  }
}
.highlight-life:hover h3 {
  text-shadow: 1px 1px 10px #fff;
}
.border-except {
    background: #cb0000;
    margin-bottom: 25px;
    height: 2px;
}
@media (max-width:768px) {
  .beat-life .media-body p.content-news {
    display: none;
  }
  .highlight-life {
    height:300px;
  }
  .highlight-life .highlight-item {
    height:150px;
  }
  .tech-text h3 {
    font-size:15px;
  }
  .highlight-item .time-up {
    display: none;
  }
  .highlight-item .tech-text {
    padding-bottom:10px;
  }
  .highlight-item .tech-text h3 {
    font-size:15px;
  }
  .beat-life .media .media-left img {
    width: 190px;
  }
}