$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 600;
$colortext:#222;

.title-cate-1{
	display: inline-block;
	margin-top: 0px;
	padding-right: 5px;
	font-size: 25px;
	line-height:1.3;
	font-family:$title;
	font-weight:bold;
	a{
		font-size: 20px;
		font-weight: 500;
	}
}
.title-cate-2{
	display: inline-block;
	margin-top: 8px;
	font-size: 16px;
	a{
		font-size: 14px;
		font-weight: 500;
		padding: 4px ;
	}
}
.title-cate-3{
	margin-top: 10px;
	font-size: 22px;
	font-weight: $boldtext;
	line-height: 1.2;
	a{
		font-size: 22px;
		text-decoration: none;
	}
}
.title-cate-4{
	margin-top: 0px;
	font-size: 20px;
	font-weight: $boldtext;
	a{
		font-size: 18px;
		text-decoration: none;
	}
}
.title-cate-5{
	margin-top: 0px;
	font-size: 18px;
	font-weight: $boldtext;
	margin-bottom:0px;
	a{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    display: block;
	}
}
.cate-top-left{
	padding-left: 0;
	margin-bottom: 10px;
    margin-top: -15px;
	li{
		display: inline-block;
		list-style-type: none;
		a{
			text-decoration: none;
			color: #666666;
			font-size: 13px;
			font-family: $title;
		}
		span{
			padding: 0 3px;
		}
	}
}
.box-cate-large-life{
	
	img{
		width: 100%;
	}
	p{
		margin-bottom: 15px;
	}
}
.box-cate-small-life {
	border-top: $border1px;
	padding-top: 15px;
	.media-left {
		img {
			width:200px;
		}
	}
	.media-body {
		p.content-news {
			margin-bottom:0;
		}
	}
	.title-main-3 {
		margin-top:-2px;
	}
}
ul.paginations{
	text-align: center;
    padding-left: 0;
    display: block;
    margin: 25px auto 0;
	li{
		display: inline-block;
	    list-style-type: none;
	    background:#dcdcdc;
	    margin-right:5px;
	    transition: all .2s ease-in-out;
	    span {
	    	padding: 1px 10px;
	    	background:#dcdcdc;
	    }
	}
	li.active{
		background: #cb0000 !important;
		a{
			color: #fff;
		}
		a:hover{
			color: #fff;
		}
	}
	li{
		a{
			color: #3a3a3c;
		    padding: 5px 10px;
		}
	}
	li:hover{
		background: #333;
		a{
			color: #fff;
		}
	}
}

.cate-highlight-news{
	.highlight-center{
	    margin-bottom: 15px;
		p{
			padding-top: 5px;
		}
		a{
			margin-top:5px;
			font-size: 14px;
		    line-height: 1.3;
		    display: block;
		}
	}
	.highlight-thumb {
		margin-bottom:5px;
		img {
			width:100%;
		}
	}
}

.cate-main-right{
	.highlight-video{
		span.icon-play{
				  background-image: url("images/icon/play-icon-48.png");
					width:48px;
					height:48px;
				}
				.bg-bottom-video{
					height: 50px;
				}
		.box-highlight-video:hover span.icon-play {
			background-position:0px -50px;
		}
		.highlight-video-title{
			  bottom: 8px;
		    height: 38px;
		    overflow: hidden;
		}
	}
	.box-sm-hnd{
		h3{
			height: 64px;
			overflow: hidden;
			margin-bottom: 0;
		}
	}
}
.cate-main-left{
	border-right: $border1px;
}
.cate-main-right{
	border-left: $border1px;
}
.search-main-right{
	border-left: $border1px;
}
.line-top-cate{
	border-top: $border1px;
	padding: 15px 0;
	.involve-news-detail{
		padding-top: 0;
	}
}
.box-video-img {
	iframe {
		width:100%;
		height:410px;
	}
}
.menu-mini{
  padding-left: 0;
  margin-top: -5px;
  li:first-child{
    border-left: 3px solid #cb0000;
    background: #eceeed;
    h4{
      font-size: 13px;
    }
  }
  li{
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    position: relative;
    padding: 0 10px;
    height: 28px;
    h4{
      margin: 0;
      padding: 8px 0 0;
      font-family: $title;
      font-size: 15px;
    }
    a {
    	font-size:13px;
    }
  }
  li.active {
  	a {
  		color:#ed1f24;
  	}
  }
  li:after{
    content: "/";
    position: absolute;
    left: 100%;
    top: 0;
    border-right: 20px solid transparent;
    border-bottom: 0;
    border-left: 0;
    z-index: 1;
  }
  li:first-child:after {
  	content:"";
  }
  li:nth-child(1):after{
    border-top: 28px solid #eceeed;
  }
  li:last-child:after {
  	content:"";
  }
}
.second-thumb {
	display:block;
}
/* video news */
.video-content-top{
	position: relative;
	.box-video-img{
		position: relative;
		width: 705px;
		height: 385px;
		background-color: rgb(82, 82, 82);
		position: relative;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	.box-video-img:hover{
		span{
			opacity: 1;
		}
	}
	.stop-auto-play{
		position: absolute;
		border: none;
		outline: none;
		background: #eee;
		padding: 4px 12px;
		bottom: -32px;
		left: 2px;
	}
	.stop-auto-play:hover{
		background: #cb0000;
		color: #fff;
	}
	.auto-next{
		position: relative;
		padding: 50px 0 0 60px;
	}
	.box-icon, .play-circle{
		position: absolute;
	}
	.play-circle{
		z-index: 2;
		a{
			display: block;

		}
	}
	svg{
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 64px;
    height: 64px;}
  .icon-play{
		width: 64px;
		height: 64px;
		position: relative;
  }
  .circle_animation {
	  stroke-dasharray: 220;
	  stroke-dashoffset: 220;
	  stroke-width: 3px;
	  stroke: #fff;
	  transition: all 1s linear;
}
.list_suggest{
	position: absolute;
	bottom: 25px;
	left: 60px;
}
.list-sug-sm{
	width: 100%;
	padding: 0;

}
.list-sug-item{
	  width: 30%;
    list-style-type: none;
    position: relative;
    display: inline-block;
    padding-right: 13px;
    a{
    	height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    }
    img{
    	width: 100%;
    }
}
.title-img-sug{
	  height: 36px;
    overflow: hidden;
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    line-height: 1.3;
    font-family: $title;
}
.box-img-sug{
	position: relative;
}
.title-suggest{
	color: #fff;
	font-size: 14px;
	font-family: $title;
}
.list-sug-item{
	.icon-play-round-32{
		display: none;
	}
}
.list-sug-item:hover .icon-play-round-32{
	display: block;
}
.auto-next-title{
		position: absolute;
		padding: 10px 0 0 90px;
		z-index: 1;
		p{
			margin: 0;
		color: #fff;
		font-family: $title;
		}
}
.replay{
	position: absolute;
    right: 20px;
    top: 20px;
    background: #444;
    padding: 3px 8px;
    cursor: pointer;
    color: #fff;
    i{
    	margin-right: 5px;
    }
}
.replay:hover{
	background: #cb0000;
}
.circle_animation1 {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    bottom: 6px;
    left: 1px;
    display: none;
}
	
	.box-video-title{
			overflow: auto;
			position: relative;
			width: 100%;
			height: 385px;
			-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
		.title-cate-3{
			margin-top: 0;
			margin-bottom: 5px;
			a{
				font-weight: $boldtext;
			}
		}
		.time-post-news{
			margin-bottom: 0;
		}
		.content-news{
			margin-bottom: 15px;
		}
		.icon-social-detail{
			text-align: left;
			border-top: $border1px;
			padding-top: 10px;
		}
	}
}
.post-comment{
	   width: 100%;
    margin-top: 10px;
    .cmtsecont{
  			  margin-right: 5px;
			    position: relative;
			    display: inline-block;
			    font-family: $title;
    			span{
    				  font-size: 13px;
					    color: #3b5998;
					    cursor: pointer;
    				i{
    					margin-right: 5px;
    				}

    			}
    			.alt-tab{
    				  cursor: default;
   						margin: 0px 6px;
    			}
    			.icon-like{
    				  background-image: url("images/icon/sprite-v1.png");
					    background-repeat: no-repeat;
					    width: 18px;
					    height: 15px;
					    background-position: -314px -75px;
					    display: inline-block;
					    margin-right: 2px;
    			}
    		}
    		.comment-boxarea{
    		  margin-left: 60px;
    		.area-comment{
    			textarea{
    				  width: 100%;
					    height: 70px;
					    outline: none;
					    padding: 6px 9px;
					    overflow: hidden;
					    display: block;
					    resize: none;
					    box-sizing: border-box;
					    border-bottom: none;
					    border: 1px solid #ccc;
					    border-bottom: 0px solid transparent;
    			}
    		}
    		.buttom-comment{
    			    padding: 5px 10px;
					    border: 1px solid #ccc;
					    text-align: right;
					    background: #f6f7f8;
					    margin-top: -1px;
    			.button-submit{
					    color: #fff;
					    background-color: #cb0000;
					    padding: 2px 5px;
					    border: 1px solid #cb0000;
					    display: inline-block;
					    text-align: center;
					    font-weight: 600;
					    box-shadow: none;
					    font-family: $title;
					    outline: none;
    			}
    		}
    	}
    	.add-cmt{
    		display: none;
    	}
    .comment-total{
    	h3{
    		  display: table-cell;
			    width: 1%;
			    font-family: $title;
    	}
    }
    .comment-area{
    	   	margin-top: 15px;
    	.avat-image{
    		 	float: left;
    			overflow: hidden;
    		img{
    			width: 48px;
   				height: 48px;
    		}
    	}
    }
    .comment-section{
    	margin-top: 15px;
	    margin-bottom: 10px;
	    border-bottom: $border1px;
	    padding-bottom: 15px;
    	.avacm-img{
				float: left;
		    overflow: hidden;
		    margin-top: 4px;
    		img{
					width: 48px;
					height: 48px;
    		}
    	}
    	.comment-boxarea{
    		margin-left: 60px;
    		.comment-account{
			    color: #3b5998;
			    font-weight: 600;
			    font-family: $title;
    		}
    		.comment-contain{
					margin-top: 5px;
			    margin-bottom: 5px;
			    font-family: $title;
    		}
    		
    	}
    	.comment-second{
    		margin-left: 60px;
		    margin-top: 10px;
		    margin-bottom: 15px;
		    .section-second{
		    	border-bottom: 0px solid transparent;
		    }
    	}
    	.loadMore-second{
    		margin-left: 60px;
		    margin-top: 10px;
		    cursor: pointer;
		    background: #EEE ;
		    padding: 5px;
		    color: #3b5998;
		    font-family: $title;
		    font-weight: $boldtext;
		    span{
		    	margin-left: 5px;
		    }
    	}
    }
    .loadMore{
	    border: 1px solid #3b5998;
		color: #3b5998;
		cursor: pointer;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		font-weight: 400;
		margin: 10px auto;
		padding: 5px;
		text-align: center;
		transition: .3s ease-in-out;
		    span{
		    	margin-left: 5px;
		    }
    	}
    .loadMore:hover {
    	background:#3b5998;
    	color:#fff;
    }
}
.cate-video-large {
	.title-slide-video {
		margin-bottom:0;
		margin-top:0;
	}
}
.title-slide-video{
	font-weight: $boldtext;
	font-family: $title;
	span {
		color: #343434;
		padding: 8px 25px 0;
		font-size: 16px;
		display: inline-block;
		position:relative;
		text-transform: uppercase;
	}
	a {
		color: #343434;
		padding: 8px 25px 0;
		font-size: 16px;
		display: inline-block;
		position:relative;
		text-transform: uppercase;
	}
	a:hover, a:focus {
		color:#343434;
	}
}
.play-circle {
    position: absolute;
    top: 6px;
    left: 0;
    border: 2px solid #ed1f24;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.play-circle:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ed1f24;
}
.slide-video {
	margin-bottom:30px;
}
.medium-slider{
	display:flex;
	.slick-prev, .slick-next{
	    top: -12%;
	    font-size: 0;
	    background-repeat: no-repeat;
	    width: 20px;
	    height: 20px;
    	opacity: .8;
    	transition: all .3s ease-in-out;
	}
	.slick-prev:hover, .slick-next:hover{
		opacity: 1;
	}
	.slick-prev{
		right: 25px;
    background-image: url("images/icon/sprite-v1.png");
    background-position: -268px -213px;
	}
	.slick-next{
		right: 0px;
    background-image: url("images/icon/sprite-v1.png");
    background-position: -297px -213px;
	}
	.slick-prev:before, .slick-next:before{
		font-size: 0;
	}
	.item{
		margin-right:20px;
		width:1000px;
		overflow: hidden;
		img{
			width: 100%;
		}
		.slide-info{
			h3{
				font-size: 16px;
				line-height: 1.4;
				margin-top: 5px;
				margin-bottom: 0;
				a{
					font-weight: $boldtext;
			    font-size: 15px;
				  line-height: 1.3;
				  display: block;
				}
			}
		}
		.glass-large{
			position: relative;
			.icon-play-round:hover{
				opacity: 1;
			}
		}
	}
	.item:hover{
			.icon-play-round-48{
				background-position:-92px -188px;
			}
	}
	.slick-slide{
		outline: none;
	}
}
.cate-video-large{
	.number-page-cate {
		margin: 10px auto 0;
		display: block;
		float: none;
		text-align: center;
		padding: 0;
	}
}
.hot-eventlist {
	margin-bottom:35px;
}
.box-stream-info-top {
	.thumb-eventhot {
		display: block;
		margin-bottom:5px;
	    position:relative;
	}
	img {
		width:100%;
	}
}
.border-none {
	border:none !important;
}
.top-eventlist {
	margin-top:20px;
}
.bottom-consider {
	margin-bottom:20px;
}
h2.sapo {
  font-weight: bold;
  margin-top: 10px;
  font-family: $notoserif;
  font-size: 16px;
  color: #222;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
  width: 100%;
  margin-bottom:15px;
}
.relate-more {
	border:$border1px;
	text-align:center;
	margin-top:13px;
	a {
		display: block;
		font-size:14px;
	}
}
.border-none:nth-child(2) {
	border:none !important;
	margin-top:5px;
}
.relate-event {
	margin-top:5px;
	padding-top:10px;
	border-top:$border1px;
}
.title-video-other{
	font-size: 22px;
	font-family: $notoserif;
	font-weight: $boldtext;
	text-transform: uppercase;
	display: inline-block;
    background: #f7f7f7;
    padding-right: 4px;
    margin-top: 0;
    a{
    	font-size: 22px;
    	font-family: $title;
    }
}
.line-border{
	height: 11px;
    border-bottom: 4px solid#dcdcdc;
    border-top: 4px solid #dcdccc;
    z-index: -1;
    margin-top: -26px;
}
.box-video-large{
	padding-top: 8px;
	position:relative;
	width: 100%;
	.video-glass{
		width: 100%;
		height: 92%;
		position: absolute;
	}
	img{
		width: 100%;
	}
	.icon-play-round-48 {
		opacity: 0;
		transition:.2s ease-in-out;
	}
}
.item-video-lg:hover {
	.box-video-large{
		.icon-play-round-48{
			 opacity: 1;
		}
	}
}
.title-box-video-large{
	margin-top: 5px;
	margin-bottom: 0;
		a{
			font-family: $title;
			font-size: 20px;
			font-weight: $boldtext;
		}
}
.list-video{
	display: flex;
  margin: 10px -8px 0;
  flex-flow: row wrap;
}
.item-video{
      flex: 25% 0;
    padding: 0 10px;
}
.glass-box-vd {
	.icon-play-round-32 {
		opacity: 0;
		transition:.2s ease-in-out;
	}
	.icon-play-round-48 {
		opacity: 0;
		transition:.2s ease-in-out;
	}
}
.item-video:hover {
	.glass-box-vd {
		.icon-play-round-32 {
			opacity: 1;
		}
	}
}
.item-video-md:hover {
	.glass-box-vd {
		.icon-play-round-48 {
			opacity: 1;
		}
	}
}
.item-video-md {
	flex: 33.33333% 0;
    padding: 0 10px;
    margin-bottom: 10px;
}
.list-video-lg{
	display: flex;
  margin: 0 -8px 20px;
  flex-flow: row wrap;
}
.item-video-lg{
	flex: 50% 0;
	padding: 0 10px;
	margin-bottom:10px;
}
.main-video{
	.list-video{
	margin: 0;
}
}
.glass-box-vd{
	position: relative;
	img{
		width: 100%;
	}
	a{
		display: block;
	}
	.icon-play-round:hover{
		opacity: 1;
	}
}
/* .glass-box-vd:hover{
	.icon-play-round-32{
		background-position: -37px -204px;
	}
	.icon-play-round-48{
		 background-position: -92px -188px;
	}
} */
.slide-info-small{
	h3{
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 15px;
		line-height: 1.4;
		a{
			font-weight: $boldtext;
			font-family: $notoserif;
			line-height: 1.4;
		}
	}
}
.second-img {
	img {
		width:100%;
	}
}
/* search-main */
.search-main{
	.cate-main-right{
		border: 0;
		height: auto;	
	}

}

.bor-line-add{
	border-left: $border1px;
}
.box-search-ct{
	margin-bottom: 15px;
	input{
		box-shadow: none;
		border: $border1px;
		height: 45px;
	}
	input:focus{
		border-color: #cb0000;
		box-shadow: none;
	}
	span{
		background: #cb0000;
		padding: 0 18px;
		cursor: pointer;
	}
	button{
		background: url(images/icon/sprite-v1.png);
    background-position: -292px -316px;
    width: 20px;
    height: 20px;
		border-radius: 0;
    box-shadow: none;
    border: none;
    outline: none;
	}
	.glyphicon-search:focus,.glyphicon-search:active, .glyphicon-search:hover, .glyphicon-search:active.focus{
		color: #fff;
    border: none;
    outline: none;
	}
}
.none-topmargin {
	margin-top:-8px;
}
.box-sm-vid {
	.media-left {
		span.icon-play-round-32 {
			opacity: 0;
			transition:.2s ease-in-out;
		}
	}
}
.box-sm-vid:hover {
	.media-left {
		span.icon-play-round-32 {
			opacity: 1;
		}
	}
}
/* end search main */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1119px) {
	.glass-box-vd{
		height: 110px;
	}

}
@media(max-width: 1024px){
	.list-vd-sm{
		height: 195px;
		overflow: hidden;
	}
	.item-video{
		flex: 25% 0;
	}
	.video-content-top{
		.media-body, .media-left, .media-right{
			display: block ;
		}
		.media-body{
			width: auto;
			margin-top: 15px;
		}
	}
	.slide-video{
		.medium-slider{
		 .item{
			 	img{
			 		width: 202px;
			 	}
		 	} 
		}
	}
}
.no-padding {
	padding-top:0px !important;
}
.top-mainvid {
	margin-top:30px;
}
.right-borders {
	border-right:$border1px;
}
.list-bottom {
	margin-bottom:15px !important;
}
.cate-keyword {
	font-size:20px;
	font-family:$title;
	color:#333;
	margin-bottom:-10px;
	text-transform:uppercase;
}
.bigcate-result {
	img {
		width:300px;
	}
	.title-main-3 {
		margin-top:-2px;
	}
}
.hidden-home {
  font-size: 11px !important;
  background: #ed1f24;
  color: #fff;
  padding: 6px 10px 5px;
  margin-right: 15px;
  text-transform: uppercase;
  display: none;
}
.hidden-home:hover {
	color:#fff;
}
/* end video news */