.live-feeds {
    margin-top: 20px;
}
.feeds-header {
    margin-bottom: 10px;
    width: 100%;
    background: #f1f1f1;
    list-style-type: none;
    padding: 8px 7px;
    display: block;
    font-size: 14px;
    color: #ed1f24;
}

.feeds-header-right {
    float: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-top: 2px;
    cursor: pointer;
    position:relative;
    padding-left: 20px
}
span.live-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #343434;
    font-weight: bold;
    position:relative;
    padding-left:36px;
}
span.live-title:before {
    content:'';
    background:url('images/icon/livestream.png') center center no-repeat;
    position:absolute;
    top: -3px;
    left: 0;
    background-size: 33px;
    width: 32px;
    height: 18px;
}
.feeds-header-right:before {
    content: '';
    background:url('images/icon/ajax-loader.gif') center center no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 0;
}
.feeds-tooltip {
    width: 100%;
    background: #f1f1f1;
    list-style-type: none;
    display: block;
    font-size: 14px;
    border-top:2px solid #ed1f24;
}

.feeds-tooltip .feeds-tooltip-left {
    display: inline-block;
}

.feeds-tooltip .feeds-tooltip-left a {
    color: #333;
    display: inline-block;
    padding: 8px 10px;
    border-right: 1px solid #e1e1e1;
    position:relative;
}
.feeds-tooltip .feeds-tooltip-left a:hover {
    color: #ed1f24;
}
.feeds-tooltip .feeds-tooltip-left a.all {
    padding-left:25px;
}
.feeds-tooltip .feeds-tooltip-left a.highlight {
    padding-left:25px;
}
.feeds-tooltip .feeds-tooltip-left a.album-only {
    padding-left:30px;
}
.feeds-tooltip .feeds-tooltip-left a.clip-only {
    padding-left:30px;
}
.feeds-tooltip .feeds-tooltip-left a.all:before {
    content:'';
    background:url('images/icon/clock.svg') center center no-repeat;
    background-size: 11px;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 11px;
    left: 8px;
}
.feeds-tooltip .feeds-tooltip-left a.highlight:before {
    content:'';
    background:url('images/icon/star.svg') center center no-repeat;
    background-size: 12px;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 10px;
    left: 6px;
}
.feeds-tooltip .feeds-tooltip-left a.album-only:before {
    content:'';
    background:url('images/icon/picture.svg') center center no-repeat;
    background-size: 14px;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 11px;
    left: 9px;
}
.feeds-tooltip .feeds-tooltip-left a.clip-only:before {
    content:'';
    background:url('images/icon/video-camera.svg') center center no-repeat;
    background-size: 14px;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 10px;
    left: 9px;
}
.feeds-tooltip .feeds-tooltip-left .active{
    color: #ed1f24;
    background: #fff;
}

.feeds-tooltip .feeds-tooltip-right {
    display: inline-block;
    float: right;
    margin-top: 8px;
}
.feeds-tooltip .feeds-tooltip-right a {
    color: #333;
    padding: 10px;
    border-left: 1px solid #e1e1e1;
}
.feeds-tooltip .feeds-tooltip-right a:hover {
    color:#ed1f24;
}
.feeds-tooltip .feeds-tooltip-right .active{
    color: #ed1f24;
    background:#fff;
}

.feeds-list {
    padding: 0;
}
.feeds-list .block {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
.feeds-list .block:first-child {
    margin-top:15px;
}
.feeds-list .block:not(:first-child) .time {
    margin-top: 34px;
}
.feeds-list .block:not(:first-child) .content {
    padding-top:30px;
}
.feeds-list .block:not(:first-child) .content strong:before {
    top: 36px;
}
.feeds-list .block.highlight-feed {
    /* border-top-color: #0a68b4; */
}
.highlight-feed .time {
    margin-top: 9px !important;
}
.highlight-feed .content {
    background: #eaeaea;
    padding-top: 5px !important;
    padding-right: 15px;
}
.highlight-feed .content strong:before {
    top: 12px !important;
}
.feeds-list .block .time {
    width: 8%;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}
.time span {
    background:#777;
    color:#fff;
    padding:3px 5px 2px;
    position: relative;
    width: 40px;
    display: block;
    top: -3px;
    text-align: center;
}
.time span:after {
    content: '';
    position: absolute;
    top: 6px;
    right: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #777;
}
.feeds-list .block .content {
    width: 91.3%;
    display: inline-block;
    position: relative;
    padding-left:15px;
    border-left:1px solid #ed1f24;
}
.content strong:before {
    content:'';
    background: url(images/icon/red-dot-hi.png) center center no-repeat;
    background-size: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 7px;
    left: -6px;
}
.block .highlight {
    color: red;
}
.block.highlight-feed {
    /* background-color: #f7f8f9; */
}
.red-card {
    margin-top:12px;
    background:url('images/icon/redcard.png') center center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 3px;
}
.yellow-card {
    margin-top:12px;
    background:url('images/icon/yellowcard.png') center center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 3px;
}
.soccer-goal {
    margin-top:12px;
    background:url('images/icon/goalscore.png') center center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 3px;
}
.time-over {
    margin-top:12px;
    background:url('images/icon/over.png') center center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 3px;
}
.corner_kick {
    margin-top:12px;
    background:url('images/icon/corner-kick.png') center center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 3px;
}
.penalty_kick {
    margin-top:12px;
    background:url('images/icon/panalty.svg') center center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 3px;
}
.change_player {
    margin-top:12px;
    background:url('images/icon/63271-200.png') center center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 3px;
}
.live-sport .time {
    width:6% !important;
}
.live-sport .content {
    width:93.3% !important;
}