$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 600;
$colortext:#343434;

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Serif'), local('NotoSerif'), url(fonts/noto-serif.woff) format('woff');
}
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(fonts/noto-serif-bold.woff) format('woff');
}

body{
  font-family: $notoserif;
  background: #f7f7f7;
}

* {
  text-rendering: geometricPrecision;
}
/* sum */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: static;
    }
img{
  height: auto;
}
section{
  clear: both;
}
.hot-news-top{
  margin-top: 50px;
  margin-bottom: 10px;
  height: 45px;
  overflow: hidden;
  display: none
  a{
    padding-right: 50px;
  }
  .hot{
    color: #fff;
    background: #cb0000;
    margin-left: 10px;
    border-radius: 0;
    text-transform: uppercase;
    padding: 4px;
  }
}
.hot-news {
  margin-top:55px;
}
.qc-top {
  float: right;
  position:relative;
  z-index: 100 !important;
  span {
    color: #343434;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 95px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    font-size: 16px;
  }
  img {
    max-width: 100%;
  }
}
.qc-sidebar {
  width: 300px;
  // height: 250px;
  overflow: hidden;
  position:relative;
  margin: 0 auto;
  margin-bottom: 20px;
  z-index: 100 !important;
  img {
    max-width: 100%;
  }
}
.qc-leftstation {
  width: 300px;
  // height: 250px;
  overflow: hidden;
  position:relative;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 100 !important;
  img {
    max-width: 100%;
  }
}
.qc-sidebarlong {
  width: 300px;
  // height: 600px;
  position:relative;
  margin: 0 auto;
  z-index: 100 !important;
  span {
    color: #343434;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    font-size: 16px;
  }
  img {
    max-width: 100%;
  }
}
.qc-minside {
  width: 160px;
  // height: 600px;
  position:relative;
  margin: 0 auto;
  span {
    color: #343434;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 72px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    font-size: 16px;
  }
  img {
    max-width: 100%;
  }
}
.header-logo {
  margin-top:20px;
  margin-bottom:15px;
  text-align: center;
  height:60px;
  position: relative;
  display: inline-block;
  h1 {
    margin:0;
    img {
      width:110px;
    }
  }
  a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  img {
    margin-top:6px;
    width:280px;
  }
  span{
      text-indent: -9999px;
      position: absolute;
    }
}
.logo-sub{
  p{
    text-align: center;
    font-family: $title;
  }
  .days-pre{
    margin-right: 20px;
    span {
      color:#cb0000;
    }
    a{
      color: #cb0000;
    }
    .line-space {
      margin:0 10px;
      color:#222;
    }
  }
}
.fix-margin {
  margin-top:25px;
}
.box-large-detail {
  margin-top:15px;
}
.view-more-event{
    clear: both;
    border-top: 3px #222 solid;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 0;
    margin: 15px 0;
    background:#f7f7f7;
    z-index: 9999 !important;
    transition: .3s ease-in-out;
    h2{
      color: #ed1f24;
    }
    h1,h2,h3 {
      font-size: 14px;
      font-weight: bold;
      font-family: $title;
      padding-right: 10px;
      margin: 0 10px 0 0;
      border-right: 1px solid #b1b1b1;
      position: relative;
      top: 1px;
      display: inline-block;
      text-transform:uppercase;
    }
    a {
      font-size:14px;
    }
}
.clear{
  clear: both;
}
.site-header{
    background: #343434;
    height: 43px;
    color: #fff;
    /* transition:.3s ease-in-out; */
    border-top: 3px solid #ed1f24;
}
.light-nav {
  background:#f7f7f7;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.2);
}
.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
 a{
  text-decoration: none;
  color: $colortext;
  transition: all .2s ease-in-out;
  font-family: $title;
  font-size: 14px;
  }
  a:hover, a:focus{
    color: #ed1f24;
    outline: none;
    text-decoration: none;
  }
  .main-left{
    border-right: $border1px;
  }
p.content-news{
  font-size: 13px;
  font-family:  $title;
  color: #444;
}
.topmargin-fix {
  margin-top:0px;
}
.title-main-1{
  margin-bottom: 8px;
  margin-top:5px;
  a{
    font-size: 20px;
    font-weight: $boldtext;
    line-height: 1.3;
    display: block;
    font-family: $notoserif;
  }
}
.title-main-2{
  margin-top: 10px;
  line-height:1.2;
  font-size: 23px;
  a{
    font-size: 23px;
    font-weight: $boldtext;
    
  }
}
.title-main-3{
  margin-bottom: 5px;
  margin-top:5px;
  line-height: 1.4;
  a{
    font-size: 16px;
    font-weight: $boldtext;
    display: block;
    font-family: $notoserif;
  }
}
.title-main-4{
  margin-bottom: 5px;
  margin-top:5px;
  line-height: 1.4;
  a{
    font-size: 15px;
    font-weight: $boldtext;
    display: block;
    font-family: $notoserif;
  }
}
.title-main-5{
  margin: 0;
  font-size: 15px;
  line-height: 1.3;
  font-family: $title;
}
// .event-top {
//   padding: 0;
//   margin: 0; 
// }
// .event-top li {
//   display: inline-block;
//   list-style: none;
//   padding: 0px 25px 0 0; 
// }
// .event-top a {
//   text-decoration: none;
//   font-size: 13px;
//   color: #000;
//   font-weight: normal;
//   transition: all 0.3s ease-in-out;
//   font-family: Arial, Helvetica, sans-serif;
//   margin-bottom: 10px; 
// }
// .event-top a:hover {
//   color: #cb0000; 
// }
.menu-cate{
  padding: 0;
  margin:0;
  display: inline-block;
  li{
     display: inline-block;
     list-style: none;
        padding-right: 35px;
        position: relative;
  }
  li:before {
    content: '.';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -24px;
    right: 10px;
    color: #cb0000;
    font-size: 30px;
  }
  li.active {
    a {
      color:#ed1f24;
    }
  }
  a{
    text-decoration: none;
    font-size: 11px;
    color: #666;
    font-weight: normal;
    transition: all 0.3s ease-in-out;
    font-family: $title;
    display: block;
    text-transform:uppercase;
  }
  a:hover{
    color: #ed1f24;
  }
  li.name-cate {
    padding-right: 15px;
    h1 {
      font-size:18px;
      font-weight:bold;
      font-family: $title;
      padding-right:15px;
      margin:0;
      border-right:1px solid #b1b1b1;
      position: relative;
      top: 1px;
    }
  }
  li.name-cate:before {
    content:'';
  }
  li:last-child:before {
    content:'';
  }
}
.event-title{
    font-size: 16px ;
    font-family: $title;
    color: #ed1f24;
    font-weight: bold;
    text-decoration: none;
}
.main-right{
  h2{
    margin-top: 10px;
    a{
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 10px 0;
      }
  }
}
.box-cate-large-life {
  a.big-cate {
    display: block;
    margin-bottom:8px;
  }
  .title-main-1 {
    margin-bottom:8px;
  }
}
.sub-title-left{
    h2{
       margin-top: 0px;
       margin-bottom:5px;
      a{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 10px 0 5px;
        display: block;
      }
    }
    h2.sidebar-right {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 8px 0 10px;
        font-family: $title;
    }
    a{
      text-decoration: none;
      font-size: 14px;
      text-transform:capitalize;
      color: #000;
      transition: all .22s ease-in-out;
      font-weight: 500;
      font-family: $title;
    }
    a:hover{
      color: #e52d30;
    }
    p{
      margin-bottom: 5px;
    }
}
.sub-cate{
    h2{
       margin-top: 0px;
       margin-bottom:5px;
       font-size: 16px;
      a{
          font-size: 14px;
          text-transform: capitalize;
          margin: 0px 0 5px;
          font-family: Helvetica, Arial, sans-serif;
          color: #fff;
          display: inline-block;
          background: #cb0000;
          padding: 10px;
          text-transform: uppercase;
      }
    }
}
.border-top-sub{
  border-top: 4px solid #222;
  width: 30px;
}
.line{
  clear: both;
  margin: 20px;
  border-top: 1px solid #d5d5d5;
}
.line-1{
   clear: both;
    margin: 15px 0;
    border-top: 1px solid #d5d5d5;
  }
.padding{
  clear: both;
  padding: 10px;
}
.fix-divide-right{
  .line{
    margin-left: 0;
    margin-right: 0;
  }
}
.main-left{
  border-right: $border1px;
}

/* end sum */
/* header */
ul.navbar-nav{
  text-align: center;
  margin: 0 auto;
  li{
    height: 40px;
    position:relative;    
    transition: .3s ease-in-out;
    display: block;
  }
  li:hover {
    background: #ed1f24;
  }
  li.active {
    background: #ed1f24;
  }
 li.main-menu-home{
    width: 90px;
    height: 72px;
    margin: -10px 13px 0 10px;
    background: #cb0000;
  }
  li.home-index {
    a {
      background: url("images/icon/sprite-v1.png") center center no-repeat;
      background-position: -502px -247px;
      width: 42px;
      height: 40px;
      text-indent: -9999px;
      transition: none !important;   
    }
  }
  li.home-index:hover {
    background: #ed1f24;
  }
}
ul.light-element {
  li.home-index {
    a {
      background-position: -473px -247px;
    }
  }
  li.active > a{
    color:#fff;
    background-position: -502px -247px;
  }
}
.caret {
  margin-left:5px;
}
.navbar-nav > li > a{
  color: #fff;
  padding: 10px 15px;
  font-weight: normal;
  font-family: $title;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 11px;
}
.navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar-nav > li > a:focus {
  background:transparent;
}
ul.sub-menu li.active {
  a {
    color:#fff;
  }
}
ul.menu_level_2 li.active {
  a {
    color:#fff !important;
  }
}
ul.sub-menu li:hover .menu_level_2 {
  opacity: 1;
  visibility: visible;
  display: block;
}
li.active-menu > a:focus {
  background:transparent;
}
ul.navbar-nav li:hover ul.sub-menu{
  visibility: visible;
  opacity: 1;
  display: block;
}
ul.sub-menu{
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 170px;
  background-color: #efefef;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 40px;
  left: 0;
  text-align: left;
  padding: 0;
  border-top: 0px solid transparent;
  box-shadow: 0px 2px 8px 0px #d3d3d3;
  outline: none;
  li.menu-header a{
    text-transform: uppercase;
    background: #ddd ;
    font-weight: bold;
  }
  li{
    height: auto;
  }
  li:hover {
    background:#ed1f24;
    a {
      color:#fff;
    }
  }
  li a{
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-family: $title;
    display: block;
    position:relative;
}
  li>a:focus, li>a:hover{
    transition: 0.22s;
    color:#fff;
  }
}

.menu_level_2 {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 170px;
  background-color: #efefef;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  top: 0;
  left: 170px;
  text-align: left;
  padding: 0;
  border-top: 0 solid transparent;
  box-shadow: 0 2px 8px 0 #d3d3d3;
  outline: 0;
  li {
    a {
      color:#222 !important;
    }
  }
  li:hover a {
    color:#fff !important;
  }
}
.search-box{
  position: relative;
  padding-right: 10px;
  .navbar-right{
    padding-left: 100px;
  }
   
  .search-button{
    background: url(images/icon/sprite-v1.png);
    background-position: -292px -317px;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .close{
    background: url(images/icon/sprite-v1.png);
    background-position: -455px -316px;
    width: 21px;
    height: 21px;
    padding: 0;
    position: absolute;
     top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  span.glyphicon{
    position: absolute;
    background: #343434;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  span.glyphicon-scrool{
    background: #f7f7f7;
  }
  .glyphicon-remove-show{
    transform: scale(1);
    background: #000 !important;
  }
  .glyphicon-remove-hide{
    transform: scale(0);
    background: #000;
  }
  .glyphicon-search-show{
    transform: scale(1);
  }
   .glyphicon-search-hide{
    transform: scale(0);
  }
  span{
    transition:  all .4s ease-in-out;
  }
  button{
    border: none;
    outline: none;
  }
 
  .search-out{
    background: #f7f7f7 !important;
  }
  span:hover{
      background: #000;
  }
  .event-scrool{
     background-position: -292px -336px;
  }

  .search-mini{
     position: absolute;
      background: #222;
      width: 34px;
      height: 34px;
      top: 0;
      right: 0;
  }
  .search-mini:hover{
    background: #cb0000;
  }
  .btn-search-mini{
      background: url(images/icon/sprite-v1.png);
      background-position: -292px -316px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
  }
  .form-group { 
    width: 280px;
    background: #000;
    height: 54px;
    right: 0px;
     top: 0;
      position: absolute;
      z-index: -1;
      opacity: 0;
      transition: all .2s ease-in-out;
    input{
      background: #000;
      color: #fff;
      border: 1px solid #cb0000;
    }
    input:hover, input:active, input:focus{
      border: 1px solid #cb0000;
    }
    
  }
  .form-group-change{
    top: 40px ;
    opacity: 1;
    visibility: visible;
  }
  .input-group{
    position: absolute;
    right: 5px;
    top: 11px;
    width: 260px;
    font-family: $title;
  }
  input.form-control{
    outline: none;
    box-shadow: none;
    width: 84% !important;
  }
  /* input.form-control:focus{
    z-index: 2;
  } */
}



/* end header */
/* new highlight */

.highlight-right{
  border-left: $border1px;
}
.highlight-left{
  border-right: $border1px;
}
.box-highlight-left:first-child{
  .title-main-3 {
    margin-top:0;
  }
  p{
     height: auto;
  }
  border-top: none; 
  padding-top: 0;
}
.box-highlight-left{
  border-top: $border1px;
  padding-top: 8px;
  position:relative;
  p.content-news {
    min-height: 80px;
  }
  .thumb-highlight {
    display: block;
    height:77px;
    overflow: hidden;
  }
  .title-main-1{
    margin-top: 0px;
  }
  img{
    width: 100px;
    margin-top: 3px;
  }
}
.magazine-thumb {
  position:relative;
  margin-top:5px;
  a{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 100;
  }
  span {
    position: absolute;
    background: #ed1f24;
    bottom: 10px;
    left: 10px;
    color: #fff;
    z-index: 50;
    padding: 5px;
    display: block;
    font-size: 10px;
    font-family: $title;
    text-transform:uppercase;
  }
  img {
    width: 100%;
  }
  h3.magazine-title {
    position:absolute;
    width:100%;
    bottom:0;
    font-size:15px;
    line-height: 1.4;
    font-family: $title;
    padding:40px 10px 10px;
    color:#fff;
    margin:0;
    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
  }
}
.top-hightnews {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.top-hightnews2 {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 15px;
    padding-bottom: 0;
}
.top-worlds {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
}
.top-entertain {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}
.under-center {
  h3.title-main-3 {
    margin-top:-3px;
  }
  p.content-news {
    margin-bottom:0;
  }
}
.under-center:last-child {
  border-top:1px solid #dcdcdc;
  padding-top:15px;
}
.box-highlight-right-1 {
  margin-top:15px;
}
.box-highlight-right {
  border-bottom:$border1px;
  margin-bottom:10px;
  a.thumb-center {
    display: block;
  }
  .title-main-1 {
    margin-top:10px;
  }
}
.box-highlight-right-1 {
  .thumb-bottom {
    display: block;
  }
  .title-main-1 {
    margin-top:10px;
  }
}
.highlight-right .box-highlight-right:nth-child(2){
  border-top: $border1px; 
}
.name-highlight{
  margin-bottom: 2px;
    h2{
    font-size: 15px;
    text-transform: uppercase;
    font-family: $notoserif;
    float: left;
    padding-right: 5px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
  }
  span{
    background: url("images/icon/sprite-v1.png") no-repeat;
    background-position: -342px -72px;
    height: 20px;
    display: inline-block;
    width: 20px;
  }
}
.box-highlight-left,
.box-highlight-left-1{
  clear: both;
}
.box-highlight-right,.box-highlight-right-1{
  img{
    width: 100%;
  }
  .media-right{
    img{
      width: 150px;
    }
  }
  .line{
    margin: 0;
  }
}

/* end new highlight */
/* new light */
.box-life{
  display: flex;
  flex-flow: row wrap;
}

.box-info-life{
    flex: 0 50%;
    -webkit-box-flex:0;
  a.thumb-life {
    display:block;
    position:relative;
  }
  h3{
    display: block;
    margin-top: 8px;
    margin-bottom:5px;
  }
  img{
    width: 100%;
  }
}
.box-info-triple{
    /* flex: 0 33.33%;
    -webkit-box-flex:0; */
  a.thumb-life {
    display:block;
    position:relative;
  }
  h3{
    display: block;
    margin-top: 8px;
    margin-bottom:8px;
  }
  img{
    width: 100%;
  }
  p.content-news {
    padding-bottom:10px;
  }
}
.box-info-entertain {
  a.thumb-life {
    display:block;
    position:relative;
  }
  h3{
    display: block;
    margin-top: 4px;
    margin-bottom: 13px;
  }
  img{
    width: 100%;
  }
  p.content-news {
    padding-bottom:10px;
  }
}
.life-lf{
  a.thumb-life {
    display:block;
    position:relative;
  }
  h3{
    display: block;
    margin-top: 8px;
    margin-bottom:5px;
  }
  img{
    width: 100%;
  }
}
.life-rt{
  padding-left: 0;
  .item-thumb{
    img{
      width: 100%;
    }
  }
  .item-life{
    list-style-type: none;
    border-bottom: $border1px;
     h4{
      margin: 8px 0;
       a{
        font-size: 14px;
        display: block;
        line-height: 1.4;
      }
    }
  }
  .item-life:last-child{
    border-bottom: none;
  }
}
.media-life {
  margin-top:10px;
  padding-top:10px;
  margin-bottom:5px;
  img {
    width:110px;
  }
  .media-body {
    a {
      display: block;
      margin-top:-3px;
      line-height: 1.4;
    }
  }
}
.box-video{
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
  .box-info-video{
    flex: 0 25%;
    -webkit-box-flex:0;
    padding: 0 10px;
    h3.title-main-4 {
      a {
        font-weight: 300;
      }
    }
    .title-main-5 {
      margin-top: 5px;
      a {
          font-size: 14px;
          display: block;
          line-height: 1.4;
      }
    }
  }
  .box-info-video:hover{
    .icon-play-round-48{
        background-position: -92px -188px;
    }
  }
  img{
    width: 100%;
  }
  a.thumb-life {
    display:block;
    position:relative;
  }
  h3{
    display: block;
    margin-top: 6px;
    margin-bottom:0;
  }
}


.media-star {
  margin-top:10px;
  padding-top:10px;
  img {
    width:110px;
  }
  .media-body {
    a {
      display: block;
      margin-top:-3px;
      line-height: 1.4;
    }
  }
}
.video-margin {
  margin-bottom:15px;
}
.min-sub {
  margin:0 !important;
}
.fix-bottom {
  margin-bottom:0px;
}
.media-star:first-child {
  border-top:none;
  padding-top:0;
}
.box-info-life:nth-child(odd){
  padding-right: 10px;
}
.box-info-life:nth-child(even){
  padding-left: 10px;
}
.border-none {
  margin-bottom:0;
  border:none;
  padding-bottom:0;
}
/* end new light */
/* fashion new */
.box-content-fashion{
  img{
    width: 100%;
    margin-bottom: 3px;
  }
}
.trend-event {
  background:#343434;
  text-align: center;
  padding:5px 0;
  span {
    font-family: $title;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.fashion-event {
  padding:10px;
  border-left:$border1px;
  border-right:$border1px;
  border-bottom:$border1px;
  background: #fff;
  .thumbnails {
    a {
      display: block;
    }
  }
  .event-list {
    border-top:$border1px;
    padding-top:5px;
    padding-left: 18px;
    margin: 0;
    li {
      color: #ed1f24;
      a {
        display: block;
        font-size: 13px;
        margin-bottom: 7px;
      }
    }
    li:last-child {
      a {
        margin-bottom:0px;
      }
    }
  }
}
.thumbnails {
  img {
    width:100%;
  }
}
/* end fashion new */

/* women */
  .box-content-women{
    background: #fff;
    border:$border1px;
    img{
      width: 100%;
    }
    a{
      font-weight: $boldtext;
      line-height: 1.4;
    }
    h3{
        border-top: 1px solid #dcdcdc;
        padding: 10px;
        height: 54px;
        overflow: hidden;
        margin-bottom: 10px;

    }
  }
/* end women */
/* tech */
.game-bigthumb {
  position:relative;
  height:320px;
  overflow: hidden;
  background-size:cover;
  img {
    width:100%;
  }
}
.tech-bigthumb {
  position:relative;
  height:320px;
  overflow: hidden;
  background-size:cover;
  img {
    width:100%;
  }
}
.side-thumb {
  position:relative;
  height:320px;
  overflow: hidden;
  background-size:cover;
  img {
    width:100%;
  }
}
a.light-title {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
}
.thumb-title {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:130px;
  background: rgba(17, 17, 17, 0);
    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
  h3 {
    padding:5px 10px;
    margin:0;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    font-family: $title;
    font-size:18px;
    line-height: 1.3;
    color:#fff;
  }
}
.right-padding-10{
  padding-right:10px;
}
.left-padding-10{
  padding-left:10px;
}
.right-padding {
  padding-right:5px;
}
.left-padding {
  padding-left:5px;
}
.margin-td{
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-t{
  margin-top: 15px;
}
.both-padding {
  padding-left:5px;
  padding-right:5px;
}
.sidebar-title {
  padding: 0 0 2px;
  span {
    font-family: $title;
    color: #343434;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    position:relative;
    padding-left:25px;
  }
  span:before {
    display: block;
    width: 20px;
    height: 20px;
    background: url(images/icon/sprite-v1.png) -516px -319px no-repeat;
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
  }
}
.media-tech {
  margin-top: 2px;
  padding-top: 10px;
  img {
    width:110px;
  }
  .media-body {
    a {
      display: block;
      margin-top: -3px;
      line-height: 1.3;
    }
  }
}
.media-tech:first-child {
  border-top:0px solid transparent;
}
.sidebar-hot {
  height: 320px;
  overflow: hidden;
  border: $border1px;
  background: #fff;
}
.tech-newlist {
  padding: 0 10px 10px;
  background:#fff;
  .event-list {
    border-top: 1px solid #dcdcdc;
    padding-top: 6px;
    padding-left: 18px;
    margin-top: 13px;
    li {
      color: #ed1f24;
      a {
        display: block;
        margin-bottom: 7px;
      }
    }
  }
}
/* end tech */
/* video news */
  span.icon-play-64{
    background-image: url("images/icon/sprite-v1.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 64px;
    height: 64px;
    background-position: -376px -176px;
  }
  /* begin */
  .icon-play-round-64{
    background-image: url("images/icon/sprite-v1.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0;top: 0;bottom: 0;right: 0;
    margin: auto;
    opacity: 1;
    background-position: -160px -105px;
  }
  .icon-play-round-64:hover{
    background-position: -160px -171px;
  }
  .thumb-eventhot:hover > .icon-play-round-64 {
    background-position: -160px -171px;
  }
  .icon-play-round-48{
    background-image: url("images/icon/sprite-v1.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 1;
    background-position: -92px -138px;
    left: 0;top: 0;bottom: 0;right: 0;
    margin: auto;
    cursor: pointer;
  }
  /* .icon-play-round-48:hover {
    background-position: -92px -188px;
  } */
  .icon-play-round-32{
  background-image: url("images/icon/sprite-v1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  background-position: -37px -171px;
  left: 0;top: 0;bottom: 0;right: 0;
  margin: auto;
  }
  /* .icon-play-round-32:hover{
    background-position: -37px -204px;
  } */
.side-games {
  width: 100%;
  height: 155px;
  background: #fff;
  position:relative;
  overflow: hidden;
  a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
  }
  img {
    width:100%;
  }
}
.side-games:first-child {
  margin-bottom: 10px;
}
  /* end */
.video-news{
  .pull-left{
    img{
      width: 100%;
    }
  }
  .link-bottom-video{
    clear: both;
    margin-top: 10px;
    margin-bottom:0;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    font-family: $title;
    font-weight: $boldtext;
  }
  .media {
    padding-top: 15px;
    border-top: 1px solid #777;
    clear: both;
    img{
      width: 146px;
    }
  }
  
  .box-play,.box-play1,.box-img-video{
    position: relative;
  }
  .img-video-large{
    width: 100%;
  }
  .box-play{
    a.hover-box-video{
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0;
    }
  }
  .box-play:hover{
     span.icon-play-round-64{
        background-position: -160px -171px;
     }
  }
  .box-main-video{
    padding: 10px;
    background: #222;
    a{
      color: #fff;
    }
  }
}
.side-vids {
  position:relative;
  a {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  .media-left {
    position:relative;
    height:82px;
    overflow: hidden;
  }
  .media-body {
    h3 {
      font-size:15px;
      line-height: 1.4;
      font-family: $title;
      font-weight: $boldtext;
      color:#fff;
      margin:0;
    }
  }
}

.side-vids:hover span.icon-play-round-48 {
  background-position:-92px -188px;
}
/* end video new */
/* main-right */
.search-input{
    border: none;
    height: 42px;
    width: 100%;
    border: 1px solid #fff;

    transition: all 0.3s ease-in-out;
}


.search-input:focus{
    border: $border1px;
    box-shadow: none;
    outline: none !important;
}
.search-btn{
    color: #fff;
    padding: 10px 30px;
    border-radius: 0;
    margin-left: -5px;
    background: #a1a1a1;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    top: 0px;
    right: 0;
    transition: all .3s ease-in-out;
    font-family: $title;
}
.search-btn:hover{
  background: #cecece;
}
.highlight-video{
  // padding-top: 15px;
  img{
    width: 100%;
  }
  .bg-bottom-video{
    position: absolute;
    z-index: 1;
    height: 50px;
    background: #000;
    opacity: .7;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    color: #fff;
    cursor: pointer;
  }
}
.box-highlight-video{
  position: relative;
   a{
    position: absolute;
    display: block;
    width: 100%;
    height: 216px;
    z-index: 10;
    }
  .highlight-video-title{
    cursor: pointer;
    position: absolute;
    bottom:0;
    z-index: 1;
    overflow: hidden;
  }
   h3{
      color: #fff;
      padding: 80px 10px 8px;
      font-weight: $boldtext;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
    }
}
.box-highlight-video:hover{
  span.icon-play-round-64 {
    background-position:  -160px -171px;
  }
  span.icon-play-round-48 {
    background-position:  -92px -188px;
  }
  
} 
.hot-days {
  margin-bottom:35px;
}
.form-control {
  border-radius:0px;
}
.box-highlight-video:hover {
  a{
    opacity: 1;
  }
  
  span.icon-play{
    opacity: 1
  }
} 
/* event-stream */
.padding-event {
  padding:10px;
  background:#fff;
  border:$border1px;
}
.event-stream-news{
  clear:both;
  margin-bottom: 25px;
  .box-stream-info-top{
    border-bottom: $border1px;
    padding-bottom:3px;
    margin-bottom:10px;
    img{
      width: 100%;
    }
  
  }
  .event-list {
    padding-left:18px;
    margin:0;
    li {
      color:#ed1f24;
      a {
        display: block;
        font-size:13px;
        margin-bottom:5px;
      }
    }
  }
}
/* end even-stream */
/* hot-news-day */
.box-large-hnd{
  padding: 10px;
  background:  #fff;
  border: 1px solid #e9e9e9;
}
.box-large-vid {
  /* padding: 10px;
  background:  #fff;
  border: 1px solid #e9e9e9; */
}
.box-sm-vid {
  padding-top: 5px;
  margin-top: 10px;
  .media-left {
    a {
      display: block;
      position:relative;
    }
  }
  /* .media-left:hover{
      .icon-play-round-32{
      background-position: -37px -204px;
    }
  } */
  img {
    width:150px;
  }
  .media-body {
    a {
      display: block;
      margin-top: -3px;
      line-height: 1.4;
      font-weight: bold;
    }
    span.time-up {
      color:#b1b1b1;
      margin-top:8px;
    }
  }
}
.box-sm-vid:first-child{
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.box-sm-hnd{
  padding-top: 5px;
  margin-top: 10px;
  img {
    width:90px;
  }
  .media-body {
    a {
      display: block;
      margin-top: -3px;
      line-height: 1.4;
    }
  }
}
.box-sm-hnd:first-child{
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
/* end hot-new-day */
/*end main-right  */
/* game noob */
.img-title-left{
    position: relative;
  span{
    background-image: url("images/icon/sprite-v1.png");
    position: absolute;
    width: 165px;
  }
  .logo-gn{
    background-position: -22px -254px;
    height: 45px;
  }
  .logo-tn{
    background-position: -202px -252px;
    height: 52px;
  }
}
.box-large-gamenoob{
  padding: 15px 0 15px;
  margin: 15px 0 !important;
  border-bottom: $border1px;
  border-top: $border1px;
  .img-large-noob{
    width: 272px;
    height: 155px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .title-main-3{
    margin-top: 0;
    font-size: 20px;
  }
  p{
    margin-bottom: 0;
    height: 82px;
    overflow: hidden;
  }
}
.headnews-relate {
  padding-left:20px;
  margin-top:15px;
  margin-bottom:15px;
  li {
    
  }
  a {
    display:block;
    font-weight:$boldtext;
    font-size:13px;
    position:relative;
    margin-bottom: 5px;
  }
  
}
.box-small-gamenoob{
 .img-noob{
    width: 100%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  margin-left: -10px;
  margin-right: -10px;
  .noob-sm{
    width: 20%;
    padding: 0 10px;
    float: left;
    display: block;
    h3{
      padding-top: 10px;
      a {
        font-weight: $boldtext;
        line-height: 1.4;
      }
    }
  }
}
/* end game noob */
/* tn game */
.box-tngame{
  padding: 0 0 15px;
  margin: 0 0 15px !important;
  border-bottom: $border1px;
  .img-large-tngame{
    width: 299.58px;
    height: 155px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .title-main-3{
    margin-top: 0;
    font-size: 20px;
  }
  p{
    margin-bottom: 0;
    height: 82px;
    overflow: hidden;
  }
}
.box-small-tngame{
  margin-left: -10px;
  margin-right: -10px;
  .img-tn-game{
    width: 100%;
    height: 64px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .tn-game-sm{
    width: 20%;
    padding-left: 10px;
    float: left ;
    padding-right: 10px;
    display: block;
    h3{
      height: 94px;
      overflow: hidden;
      padding-top: 10px;
      margin-bottom: 0;
      a {
        line-height: 1.4;
        font-weight: $boldtext;
      }
    }
  }
}
/* end tn-game */
/* footer */
ul.link-extra {
  margin:0;
  padding:0;
  li {
    display: block;
    a {
      font-size: 13px;
      color: #fff;
      display: block;
      margin-bottom: 10px;
      padding-left:15px;
      position:relative;
    }
    a:before {
      content:'';
      background:url("images/icon/sprite-v1.png") center center no-repeat;
      background-position: -464px -259px;
      width:15px;
      height:15px;
      position:absolute;
      top:0;
      left:0;
    }
  }
}
.main-footer{
  margin-top: 30px;
  font-family: $notoserif;
  padding-bottom:10px;
  padding-top: 5px;
  font-size: 13px;
  background: #343434;
  .col-xs-3:first-child p{
    padding-right:  40px;
  }
  p{
    color: #eaeaea;
    font-family: $title;
    font-size:12px;
    line-height:1.6;
  }
  a{
    font-size: 13px;
    color: #fff;
    display: block;
    margin-bottom: 5px;
  }
  h3{
    text-transform: uppercase;
    font-size: 16px;
    font-family: $title;
    color:#fff;
    border-bottom:2px solid #ed1f24;
    padding-bottom: 5px;
    margin-bottom: 8px;
  }
 
}
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.widget-socialize{
  .icon{
        color: #222;
        width: 48%;
        display: block;
        float: left;
        margin: 0 1.6% 4px 0;
  }
  .icon{
    background: inherit;
  }
  .text-footer{
        overflow: hidden;
        p{
           color: #fff;
           margin-bottom: 0;
        }
        p:first-child{
          font-size: 24px;
         
        }
        p:last-child{
          font-size: 12px;
        }
  }
  .symbol{
    display: block;
    float: left;
    text-align: center;
    padding: 8px;
    color: #fff;
    margin-right: 8px;
    span{
      background: url(images/icon/sprite-v1.png);
      width: 35px;
      height: 35px;
      display: block;
    }
   
  }
  .facebook{
    .symbol{
          background-color: #3b5998;
    }
    span{
         background-position: -30px -16px;
      }
  }
  .google{
    .symbol{
          background-color: #dd4b39;
    }
     span{
         background-position: -108px -16px;
      }
  }
  .youtube{
    .symbol{
          background-color: #dd4b39;
    }
     span{
        background-position: -176px -60px;
      }
  }
  .instagram{
    .symbol{
          background-color: #3f729b;
    }
     span{
         background-position: -159px -16px;
      }
  }

}
.box-video-title {
  padding:15px;
  background:#fff;
  border:$border1px;
  margin-top:-5px;
  .content-news {
    margin-bottom:0;
  }
  .title-cate-1 {
    margin-bottom:0;
    font-family: $notoserif;
    a {
      font-family: $notoserif;
      font-size:24px;
      display: block;
      line-height: 1.3;
    }
    
  }
}
/*Advertisement*/
.adv-big {
    width: 728px;
    height: 90px;
    border: 2px dashed #b1b1b1;
    margin: 0px auto;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    span {
      position: relative;
      top: 25%;
      color: #b1b1b1;
      font-size: 30px;
    }
}
.adv-bottom {
  width: 670px;
  height: 90px;
  border: 2px dashed #b1b1b1;
  margin: 0px auto;
  margin-top:20px;
  text-align: center;
  overflow: hidden;
  span {
    position: relative;
    top: 25%;
    color: #b1b1b1;
    font-size: 30px;
  }
}
.adv-right {
  width: 300px;
  height: 250px;
  border: 2px dashed #b1b1b1;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
  span {
      position: relative;
      top: 40%;
      color: #b1b1b1;
      font-size: 30px;
    }
}
.qc-content {
  width: 600px;
  height: 90px;
  border: 1px dashed #b1b1b1;
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
  span {
    position: relative;
    top: 25%;
    color: #b1b1b1;
    font-size: 30px;
  }
}
.border-leftside {
  border-left:$border1px;
}
/* end footer */
  .col-fix-divide-left-large2{
    width: 10.5%;
    padding-right: 0;
  }
  .col-fix-divide-right-large2{
    width: 89.5%;
  }
 .fix-divide-right{
    width: 88.89%;
  }
  .col-fix-left{
    width: 11.11%;
    padding-right: 0;
  }
  .col-fix-2{
    padding-right: 0;
  }
.back-top {
  position: fixed;
  z-index: 10;
  right: 15px;
  bottom: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 45px 45px;
  text-align: center;
  opacity: .8;
  cursor:pointer;
  span{
    background: url(images/icon/sprite-v1.png);
    background-position: -486px -316px;
    width: 25px;
    height: 20px;
    display: block;
  }
}
.back-top:hover {
  opacity: 1;
}
.back-top .icon-scrolltop {
  position: absolute;
  top: 11px;
  right: 10px;
}
.adv-fix {
  position: fixed;
  right:0;
  bottom:0;
  z-index: 999;
  width:300px;
  height:250px;
  border:2px dashed #b1b1b1;
  overflow: hidden;
  text-align:center;
  span {
    position: relative;
    top: 40%;
    color: #b1b1b1;
    font-size: 30px;
  }
}
.mobile-change {
  display: none;
  position:fixed;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  z-index:9999;
  background:#f7f7f7;
  .link-mobile {
    position:absolute;
    width:320px;
    height:210px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    .thumb-logo {
      text-align: center;
      margin-bottom:15px;
    }
    img {
      width:300px;
      margin-left:-2px;
    }
    p {
      font-family:$title;
      font-size: 18px;
      margin-bottom: 15px;
    }
    a {
      padding: 10px;
      border: 1px solid #d3d3d3;
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      background-color:#fff;
    }
  }
}
  @media screen and (max-width:1024px) {
  .col-fix-divide-left-large2{
    width: 16.5%;
    padding-right: 0;
  }
  .list-flex .box-flex {
    flex: 0 33.33% !important;
  }
  .qc-top {
    width:100%;
  }
  ul.sub-menu {
    display: none !important;
  }
  .col-fix-divide-right-large2{
    width: 83.5%;
  }
  .main-footer h3 {
    font-size:14px;
  }
  .right-padding {
    padding-right:5px;
  }
  .left-padding {
    padding-left:5px;
  }
  .tablet-big {
    width: 65%;
  }
  .tablet-min {
    width: 33.33%;
  }
  .main-left {
    border:none !important;
  }
  .col-fix-left{
        width: 16.11%;
  }
  .fix-divide-right {
      width: 83.89%;
  }
  .title-ipad {
    margin-top:-5px;
  }
  .box-content-fashion {
    h3 {
      height:42px;
      overflow: hidden;
      margin-bottom:10px;
    }
  }
  .tech-bigthumb {
    height: 290px;
  }
  .side-thumb {
    height:290px;
  }
  .game-big {
    width: 56%;
    overflow: hidden;
    margin-right: 5px;
  }
  .game-min {
    width: 43%;
  }
  .game-bigthumb {
    height:294px;
  }
  .side-games {
    height: 141px;
  }
  .video-content-top .media-left {
    padding-right:0;
  }
  .video-content-top .box-video-img {
    width:100%;
  }
  .icon-social-detail .social-round {
    margin-right:1px;
  }
  ul.light-element li.home-index a {
    background-position: -501px -247px;
  }
  .widget-socialize{
  .icon{
        margin: 0 1.6% 8px 0;
  }
  .text-footer{
    p:first-child{
      font-size: 14px;
    }
    p:last-child{
      font-size: 9px;
    }
  }
  .symbol{
    font-size: 22px;
    margin-right: 3px;
    padding: 1px;
  }
}
.navbar-nav{
  display: none;
}
.navbar-toggle{
    display: block;
    border-color: #fff;
    float: left;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 12px;
    height: 40px;
  .icon-bar{
    background: #fff;
  }
  .icon-bar-scroll{
    background: #000;
  }
}
/* .navbar-toggle:hover{
  background: #222;
} */
.search-box .form-group{
      margin-top: 0;
}
.nav>li>a:focus, .nav>li>a:hover{
      background-color: #111;
}
/* ul li:hover ul.sub-menu{
  visibility: visible;
  opacity: 0;
} */
.menu-cate li {
  padding-right: 20px;
}
.menu-cate li:before {
  right: 3px;
}
.qc-sidebar {
  width:100%;
}
.bor-box-detail {
  border:none;
}
.right-borders {
  border:none;
}
ul.navbar-nav{
  float: none;
  background: #222;
  display: none;
  position: absolute;
  top: 39px;
  width: 300px;
  li{
    float: none;
    text-align: left;
    a{
      color: #fff;
    }
    a:before{
      background-color: inherit;
    }
    a:hover{
      background-color: inherit;
    }
  }
  li.active:before{
    background-color: inherit;
  }
/*   .sub-menu{
    background: #333;
    left: 130px;
    top: 0;
    opacity: 1;
    visibility: visible;
    display: none;
  } */

  /* .sub-menu:after, .sub-menu:before {
    bottom: 0;
    left: 0;
    right: 100%;
    top: 45px;
  } */
 /*  .sub-menu:after {
    border-bottom-color: rgba(0,0,0,0);
    border-width: 9px;
    margin-left: -18px;
    border-right-color: #333;
    margin-top: -33px;
  }
  .sub-menu:before {
    border-bottom-color: rgba(0,0,0,0);
    border-width: 10px;
    margin-left: -20px;
    border-right-color: #333;
    margin-top: -34px;

  } */
}
}
.media, .media-left, .media-right, .media-body {
  overflow: visible;
}
.bottom-fixed {
  padding-bottom:0;
  margin-top:10px;
}
.sticky-right {
  position: absolute;
  width:160px;
  top:0px;
  right: 50%;
   margin: 0 -720px 0px auto; 
}
.sticky-left {
  position: absolute;
  width:160px;
  top:0px;
  margin-left: -175px;
}
.highlight-video {
  margin-bottom:20px;
}
.top-bannernews {
  .top-thumbnails {
    img {
      max-width: 100%;
    }
  }
  .top-titles {
    h3 {
      margin:0;
    }
    a {
      display: block;
      font-family:$title;
      font-size:13px;
      line-height: 1.3;
      margin-top:8px;
    }
  }
}
.album-videotits {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 8px 0 5px !important;
    display: block;
    font-family: $title;
}
.news-baner{
  display: flex;
  flex-flow: row wrap;
  background: #fff;
  padding: 10px;
  padding-right: 0;
  border: $border1px;
  margin-top:2px;
  .box-news{
    flex: 0 33.3333%;
    -webkit-box-flex: 0;
    margin-top: 0;
    padding-right: 15px;
    img{
      width: 100px;
    }
    h3{
      font-family: $title;
      margin: 0;
    }
    a{
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}
span.album-icon {
  background: url(images/icon/icon-image2.png) top center no-repeat;
  width: 15px;
  height: 14px;
  background-size: 14px auto;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 5px;
  opacity: .3;
}
span.live-icon {
  background: url(images/icon/livestream.png) top center no-repeat;
  background-size: 33px;
  width: 32px;
  height: 18px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
.life-vid {
  margin-top:25px;
}
.fix-grid-2 {
  width: 11.2%;
}
.fix-grid-10 {
  width: 88.8%;
}
.life-news {
  background: #fff;
  border: 1px solid #dcdcdc;
}
/* .life-news h3 {
  font-family: $title;
  font-weight: bold;
  font-size:14px;
  margin:0;
  display: block;
  text-align: center;
  padding:10px 5px;
  text-transform: uppercase;
} */
.life-big h3 {
  display: block;
  font-family: $notoserif;
  margin:0;
  font-size:16px;
  line-height: 1.4;
  font-weight: bold;
  padding:5px 10px 2px;
  height: 51px;
  overflow: hidden;
}
.life-thumb img {
  width:100%;
}
ul.life-list {
  margin:0;
  padding:0;
  li {
    display: block;
    border-top:1px solid #dcdcdc;
    .media-life {
      padding:10px;
      margin-bottom:0;
    }
  }
}
.bottom-border {
  border-bottom:1px solid #dcdcdc;
}
.padding-fixed {
  padding-bottom:5px;
}
.list-news li:last-child {
  margin-bottom:0;
}
.none-borderlist {
  border-top:none !important;
  padding-bottom:0 !important;
}
.bottom-margin10 {
  margin-bottom:10px;
}
.total-side {
  .media-left {
    img {
      width:85px;
    }
  }
  .box-sm-hnd {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
  }
  .box-sm-hnd:first-child {
    border-top:none;
    padding-top:0;
  }
}
.life-big {
  p.content-news {
    padding:5px 10px 0;
  }
}
.none-left-pad {
  padding-left:0;
}
.width-7 {
  width:70.3%;
}
.width-3 {
  width:29.7%;
}
.fire-title {
  margin-bottom:5px;
  span {
    font-family:$title;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
    color:#343434;
    position:relative;
  }
}
.height-hidden {
  height:44px;
  overflow: hidden;
}
.height-entertain {
  height:66px;
  overflow: hidden;
}
.header-logo #xmas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  pointer-events: none;
  top:0;
  left:0;
}
.header-logo .xmas-hat {
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: -5px;
  left: -15px;
  background: url(images/icon/hat.png) top center no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(-20deg);
}
span.mini-play { 
  position:absolute;
  bottom:0;
  left:0;
  background-image:url('images/icon/play-outline.png');
  background-size:15px;
  width:20px;
  height:20px;
  background-color:#000;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width:1280px) {
  .sticky-right, .sticky-left {
    display: none;
  }
}
@media screen and(min-width: 1025px){
    .light-element > li > a {
      color: #000;
    }
    .light-element > li:hover > a {
      color:#fff;
    }
  }
@media (max-width:768px) {
  .width-7 {
    width:100%;
  }
  .fix-grid-2 {
    width:16.11%;
  }
  .fix-grid-10 {
    width:83.89%;
  }
  ul.life-list {
    li {
      .media-left {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .mobile-change {
    display: block;
  }
}
/* bootstrap */
