$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 600;
$colortext:#343434;

/*Recruitment headquarter*/
.recruit-banner {
    text-align: center;
}
.recruit-logo {
    position: relative;
    display: inline-block;
    top: 20px;
    background: #f7f7f7;
    padding: 5px;
    span {
        position:absolute;
        bottom: -14px;
        right: -28px;
        width:100px;
        text-transform: uppercase;
        font-size:13px;
        font-weight: bold;
        background:#767676;
        color:#fff;
        text-align: center;
        padding:5px;
        font-family: $title;
    }
}
.recruit-quote {
    width:800px;
    padding:45px 100px 30px;
    margin:0 auto;
    background:#27a597;
    p {
        font-family: $title;
        font-size:16px;
        color:#fff;
        margin:0;
        position:relative;
    }
    p:before {
        content:'';
        background-image:url('images/icon/quoteicon.png');
        background-size: 15px;
        width: 15px;
        height: 15px;
        position: absolute;
        top: -5px;
        left: -15px;
    }
    p:after {
        content:'';
        background-image:url('images/icon/quoteicon.png');
        background-size: 15px;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: 0;
        right: -14px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}
.recruit-cate {
    img {
        max-width:100%;
    }
}
.recruit-option  {
    margin-top: 20px;
    text-align: center;
    border: 1px solid #dcdcdc;
    padding: 15px 10px 25px;
    position: relative;
    cursor: pointer;
    top:0;
    transition:all 0.3s ease-in-out;
    p {
        background:#767676;
        color:#fff;
        font-family: $title;
        font-size:13px;
        text-align: center;
        margin:0;
        text-transform:uppercase;
        padding: 5px;
        width: 222px;
        position: absolute;
        bottom: -15px;
        left: 13px;
    } 
    span.red-dots {
        position:absolute;
        top:-5px;
        left:50%;
        width:10px;
        height:10px;
        border-radius:50%;
        background:#ed1f24;
        box-shadow: 2px 2px #a1a1a1;
    }
}
.recruit-option:hover {
    top:-3px;
    box-shadow:3px 3px #dcdcdc;
}
.first-job {
    margin-top:40px;
    background:#a21241;
}
.second-job {
    background:#bd6315;
}
.third-job {
    background:#e853a5;
}
.fourth-job {
    background:#0666a7;
}
.recruitment-section {
    padding:40px 0;
}
.recruit-require {
    h3 {
        font-size:40px;
        font-family:$title;
        color:#fff;
        text-transform: capitalize;
        margin:0;
    }
    h4 {
        margin:0;
        font-size:25px;
        color:#fff;
        position:relative;
        font-family: $title;
        display: inline-block;
    }
    h4:before {
        content:'';
        position:absolute;
        width:100%;
        height:2px;
        background:#fff;
        bottom:0;
        left:0;
    }
    p {
        font-size:18px;
        font-family: $notoserif;
        color:#fff;
        padding-left:20px;
        margin:15px 0;
        position:relative;
    }
    p:before {
        content:'';
        background:url('images/icon/checkmate.png') top center no-repeat;
        background-size:13px 13px;
        width:13px;
        height:13px;
        position:absolute;
        top:5px;
        left:0;
    }
    p.peoples:before {
        background:url('images/icon/plus.png') top center no-repeat;
        background-size:16px 16px;
    }
}
.recruit-images {
    img {
        max-width: 100%;
    }
}
.collaborators {
    margin-top:70px;
}
.recuit-menu {
    text-align: center;
    padding: 0;
    li {
        display: inline-block;
        a {
            color: #fff;
            padding: 10px 15px;
            font-weight: 400;
            outline: 0;
            box-shadow: none;
            display: block;
        }
    }
    li.active {
        a.block-1 {
            background:#e74c3c;
        }
        a.block-2 {
            background:#bd6315;
        }
        a.block-3 {
            background:#e853a5;
        }
        a.block-4 {
            background:#0666a7;
        }
        a.block-5 {
            background:#e74c3c;
        }
    }
}
.recruit-header {
    background: #343434;
    height: 43px;
    color: #fff;
    border-top: 3px solid #ed1f24;
    .back-home {
        position:absolute;
        left:0;
        top:0;
        a {
            color: #fff;
            padding: 10px 15px;
            font-weight: bold;
            outline: 0;
            box-shadow: none;
            display: block;
            background:#ed1f24;
            position:relative;
            padding-left:40px;
        }
        a:before {
            content:'';
            background:url('images/icon/back-icon.png') top center no-repeat;
            background-size:20px;
            position:absolute;
            top: 10px;
            left: 0;
            width:50px;
            height:17px;
        }
    }
}
.recruit-footer {
    background-image:url('images/icon/bg.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position:center center;
    padding:40px 0;
    position:relative;
    .blank-shadow {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.5);
        z-index: 1;
    }
}
.recruit-send {
    z-index: 10;
    position:relative;
    p {
        position:relative;
        font-family: $title;
        color:#fff;
        font-size:20px;
        padding-top: 12px;
        padding-left: 55px;
    }
    p:before {
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:50px;
        height:50px;
    }
    .email-address {
        margin:0;
    }
    .email-address:before {  
        background:url('images/icon/red-send.png') center center no-repeat;  
    }
    .require-title {
        margin:20px 0 0;
    }
    .require-title:before {
        background:url('images/icon/wrting.png') center center no-repeat;
    }
    .phone-call {
        margin:0;
    }
    .phone-call:before {  
        background:url('images/icon/phonecall.png') center center no-repeat;  
    }
    .homepage {
        margin:20px 0 0;
    }
    .homepage:before {
        background:url('images/icon/linklive.png') center center no-repeat;
    }
}
@media screen and  (max-width:1000px) {
    .recruit-send p {
        font-size:18px;
    }
    .recruit-quote {
        width:100%;
    }
    .recruit-require h3 {
        font-size:30px;
    }
    .phone-call {
        margin:20px 0 0 !important;
    }
    .recruit-images img {
        margin-top:40px;
    }
    .recuit-menu li a {
        padding: 11px 15px;
    }
}