$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 400;
$colortext:#343434;
$boldcate: 700;


/*Kul Tech*/
.content-tech {
	margin-top:0;
}
 ul.cate-tech{
 	padding: 0;
 	text-align: center;
 	border-bottom: 3px solid #cb0000;
 	padding-bottom: 10px;
 	margin-bottom: 15px;
 	li{
 		display: inline-block;
 		margin-right: 15px;
 		text-transform: uppercase;
 		font-weight: 600;
 	}
 	span{
 		margin-left: 5px;
 	}
}
.box-rt-tech{
  position: relative;
	a{
		z-index: 9;
		width: 100%;
		height: 100%;
	}
	img{
  	width: 100%;
  }
  h3{
		position: absolute;
		padding: 10px;
		background: rgba(0,0,0,0.4);
		bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16px;
		color: #fff;
		width: 100%;
		height: 56px;
		overflow: hidden;
  }
}
.highlight-rt-tech{
	.box-rt-tech{
		margin-bottom: 15px;
	}
	h3{
		height: auto;
	}
}
.title-cate-tech{
  h3{
  	background: #000;
  	font-size: 16px;
  	margin-bottom:15px;
  }
  span{
	  	color: #ffffff;
	    text-transform: uppercase;
	    background: #cb0000;
	    padding: 7px 20px;
	    display: inline-block;
	    position: relative;
	    font-family: $title;
  }
  span:after{
  	content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 31px solid #cb0000;
    border-right: 20px solid transparent;
    border-bottom: 0;
    border-left: 0;
  }
}
.block-highlight-tech{
	h3.title-small{
		margin: 0;
		line-height: 1.3
	}
}
ul.number-page-tech{
	text-align: right;
	padding: 0;
	margin-top: 20px;
	li{
			display: inline-block;
	    list-style-type: none;
	    width: 25px;
	    padding: 3px;
	    height: 25px;
	    text-align: center;
	    margin: 5px 5px 0 0;
	    background: #cb0000;
	}
	li.active{
		background: #cb0000;
		a{
			color: #fff;
		}
		a:hover{
			color: #fff;
		}
	}
	li{
		a{
			color: #fff;
			text-decoration: none;
		}
		a:hover{
			color: #fff;
		}
	}
}
.block-vdhot-tech{
	.box-vdhot-tech{
		position: relative;
		margin-top: 20px;
		.title-medium{
			margin-top: 10px;
		}
		a{
			position: absolute;
			height: 100%;
			width: 100%;
			display: block;
			z-index: 99;
		}
		.box-img{
			position: relative;
		}
		img{
			width: 100%;
		}
		span.time-up {
		    color: #b1b1b1;
    		margin-top: 5px;
		}
	}
	.box-vdhot-tech:hover{
		span.icon-play-round-48{
			background-position: -92px -188px;
		}
	}
}
.padding-none {
	padding:0 !important;
}
.highlight-item {
    height: 250px;
    position: relative;
    overflow: hidden;
	img {
		width:100%;
	}
	.time-up {
    	position: absolute;
	    bottom: 15px;
	    color: #fff;
	    left: 12px;
    }
}
.highlight-item a, .highlight-techcenter a, .highlight-life a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.highlight-techcenter {
    height: 500px;
    overflow: hidden;
    position: relative;
    background-size:cover;
    img {
    	width: 100%;
    }
    .time-up {
    	position: absolute;
	    bottom: 15px;
	    color: #fff;
	    left: 12px;
    }
}
.tech-text {	
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 60px 10px 40px;
	background: rgba(17, 17, 17, 0);
    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
    h3 {
    	margin:0;
    	font-family: $title;
    	font-size: 19px;
    	line-height:1.4;
    	color: #FFF;
    	transition: .3s ease-in-out;
    }
}
span.tech-cate {
    margin: 20px auto;
    margin-bottom: 7px;
    color: #fff;
    display: inline-block;
    background: #cb0000;
    padding: 5px 8px;
    font-family: $title;
    font-size: 11px;
    text-transform: uppercase;
}
.box-mediatech {
	margin-top:20px;
	.media-left {
		img {
			width:250px;
		}
	}
	.media-body {
		h3.title-main-3 {
			margin-top:-2px;
		}
	}
}
.box-mediatech:first-child {
	margin-top:0;
}
@media (max-width:768px) {
	.highlight-techcenter {
		height:350px;
	}
	.highlight-item {
		height:175px;
	}
}