$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 400;
$colortext:#343434;
$boldcate: 700;

/* section.list-cate-beauty */
.list-cate-tab{
	.cate-top-left{
		margin-top: 0;
	}
}
ul.cate-beauty{
	padding-left: 0;
	padding-bottom: 5px;
	margin-top: 10px;
	border-bottom: 2px solid #dcdcdc;
	li{
		float: left;
    text-transform: uppercase;
    margin-right: 15px;
    padding-right: 25px;
    color: #CC66A4;
    padding-left: 10px;
	}
	li:first-child{
		list-style: none;
		padding-left: 0;
	}
	li:last-child{
		float: none;
		margin-right: 0;
    padding-right: 0;
	}
}
/* end section.list-cate-beauty */
/* section.highlight-beauty */

.col-fix-padding{
	padding: 0 10px 0 5px;
}
.highlight-lf-beauty {
	height:380px;
	overflow:hidden;
	position: relative;
}
.highlight-ct-beauty {
	height: 427px;
	overflow:hidden;
} 
.highlight-rt-beauty{
	height:380px;
	overflow:hidden;
	position: relative;
}
.highlight-lf-beauty a, .highlight-rt-beauty a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:99;
}

.highlight-lf-beauty{
	img{
		width: 100%;
	}
}
.padd-rightfix {
	padding-right:5px;
}
.padd-leftfix {
	padding-left:0;
}
.highlight-ct-beauty{
	.highlight-ct{
		height: 43.333%;
		position:relative;
		overflow: hidden;
		a {
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			z-index:99;
		}
		img{
			width: 100%;
		}
	}
	.highlight-ct:first-child{
		margin-bottom: 10px;
	}
}
.highlight-rt-beauty{
	img{
		width: 100%;
	}
}
.block-health-beauty {
	margin-bottom:20px;
}
.block-mum-baby {
	margin-bottom:20px;
}
.block-man {
	margin-bottom:20px;
}
.block-cooker {
	margin-bottom:20px;
}
.block-handy {
	margin-bottom:20px;
}
a.link-img-bor{
	width: 100%;
	height: 100%;
	background-size: cover;
  background-position: center;
  outline: 1px solid #FFF;
  outline-offset: -5px;
  position: relative;
  display: inline-block;
	}
a.link-img-bor:hover{
	outline: 1px solid #CC66A4;
	h3{
		color: #CC66A4;
	}
}
/* end section.highlight-beauty */
/* sum */
a.link-beauty{
	color: #333;
}
a.link-beauty:hover{
    color: #CC66A4;
}
 .title-cate-beauty{
 	position: relative;
 	a{
	    font-size: 20px;
	    font-weight: 700;
	    color: #CC66A4;
	    text-transform: uppercase;
 	}
 	h2{
 		font-size: 25px;
	    border-bottom: 2px solid #CC66A4;
	    display: inline-block;
	    padding-bottom: 5px;
	    margin-bottom: 0;
	    margin-top:0;
 	}
}
.box-media {
	margin-top:20px;
	.media-left {
		img {
			width:220px;
		}
	}
	.media-body {
		h3 {
			margin-top:-1px;
		}
	}
}
.line-cate{
  border: 1px solid #D3D3D3;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}
.title-medium{
	margin-top: 0px;
	font-size: 18px;
	a{
		font-size: 18px;
	}
}
.title-small{
	margin-top: 8px;
	font-size: 16px;
	font-weight: bold;
	font-family:$notoserif;
	line-height:1.4;
}
.det-beauty{
	font-size: 15px;
	margin-bottom: 5px;
	color: #666;
}
.top-cate-beauty{
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
    margin-bottom: -5px;
	.top-cate-small{
		flex: 0 50%;
	    -webkit-box-flex: 0;
	    position: relative;
	    img{
	    	width: 100%;
	    }
	    .title-medium{
	    	margin-top: 10px;
	    }
	}
	.top-cate-small:hover{
		.title-medium{
			color: #CC66A4;
		}
	}
	.top-cate-small:nth-child(odd){
		padding-right: 10px;
	}
	.top-cate-small:nth-child(even){
		padding-left: 10px;
	}
}
/* end sum */
/*  section.content-beauty */
.content-beauty{
	margin-top:20px;
	h3{
		color: #333;
		line-height: 1.3;
		font-family: $title;
		transition: all .2s ease-in-out;
	}
}
/* block handy */

.box-handy-add{
	position: relative;
	margin-top: 20px;
	.title-medium{
		margin-top: 10px;
	}
	.box-img{
		position: relative;
	}
	img{
		width: 100%;
	}
	a.video-link {
		position:absolute;
		width: 100%;
		height:100%;
		top:0;
		left:0;
		z-index: 99;
	}
	.title-small {
		font-family: $title;
	    font-size: 15px;
	    line-height: 1.4;
	    margin-top: 5px;
	}
	span.time-up {
	    color: #b1b1b1;
    	margin-top: 10px;
	}
}
.block-video-beauty {
	margin-bottom:20px;
}
.block-vdnew-beauty {
	margin-bottom:20px;
}
.box-handy-add:hover{
	.title-medium{
		color: #CC66A4;
}
	.title-small{
		color: #CC66A4;
	}
	.icon-play-round-32{
		background-position: -37px -204px;
	}
}
/* end block handy */
.forum-beauty{
	padding-left: 17px;
	li:first-child{
		margin-top: 10px;
	}
	li:last-child{
		border-bottom: 0;
	}
	li{
		color: #CC66A4;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: $border1px;
	
}	li {
		a {
			display: block;
		}
	}
}
/*  section.content-beauty */

/* cate-beauty */
.slider-for-beauty{
	a{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	img{
		width: 100%;
	}
	.glass-slide-beauty{
		position: absolute;
		bottom: 0;
		width: 100%;
	    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.77) 100%);
	    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.77) 100%);
	    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.77) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c4000000',GradientType=0 );
		h3{
			padding: 10px 10px 5px;
			color: #fff;
			transition: all .2s ease-in-out;
			font-size: 20px;
			font-family: $title;
		}
	}
	.slick-prev:before, .slick-next:before{
		color: transparent;
	}
	.slick-prev, .slick-next{
		display: block;
		top: 50%;
		z-index: 1;
		width: 32px;
		height: 50px;
		background-color: rgba(0,0,0,.5);
		background-image: url("images/icon/sprite-v1.png");
	}
	.slick-prev{
    left: 0;
    background-position: -455px -198px;
	}

	.slick-next{
    right: 0;
    background-position: -482px -198px;
	}
	.slick-prev:hover, .slick-next:hover{
		 background-color: rgba(0,0,0,.8);
	}
	.item{
		position: relative;
	}
	.item:hover{
		.glass-slide-beauty{

			// background: rgba(0,0,0,0.6);
		}
		
	}
}
.block-slider-beauty {
	margin-bottom:20px;
}
.slider-nav-beauty{
	margin: 10px 0 0;
	.item{
		outline: none;
		position: relative;
		cursor: pointer;
	}
	.item:hover{
		.glass-slide-beauty{
			// background: rgba(0,0,0,0.6);
		}
		
	}
	a{
		position: absolute;
    height: 100%;
    z-index: 6;
    width: 100%;
	}
	.img-slide-beauty{
		position: relative;
	}
	.img-slide-beauty, .glass-slide-beauty{
		width: 90%;
		margin: 0 auto;
	}
	img{
		width: 100%;
	}
	.glass-slide-beauty{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
	    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
	    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
		// background: rgba(0,0,0,0.4);
		z-index: 5;
		h3{
			padding: 10px;
			color: #fff;
			transition: all .2s ease-in-out;
			font-size: 16px;
			margin: 0;
		}
	}
}
/* block-handy-cate */
.name-cate-beauty{
	h2{
		// margin-bottom: 0px;
	}
	a{
		color: #CC66A4;
		font-size: 30px;
		display: block;
	}
}
.cate-big-beauty{
	display: flex;
	flex-flow: row wrap;
	margin: 0 -1%;
}
.box-cate-beauty{
	flex: 0 23%;
  	-webkit-box-flex: 0;
  	margin: 15px 1% 0;
	img{
		width: 100%;
	}
	h3{
		margin: 10px 0 5px;
		a{
			font-size: 16px;
			display: block;
			line-height: 1.3;
			font-weight: bold;
		}
	}
}
ul.number-page-beauty{
	text-align: center;
	padding: 0;
	margin-top: 20px;
	li{
			display: inline-block;
	    list-style-type: none;
	    width: 25px;
	    padding: 3px;
	    height: 25px;
	    text-align: center;
	    margin: 5px 5px 0 0;
	    background: #CC66A4;
	}
	li.active{
		background: #CC66A4;
		a{
			color: #fff;
		}
		a:hover{
			color: #fff;
		}
	}
	li{
		a{
			color: #fff;
			text-decoration: none;
		}
		a:hover{
			color: #fff;
		}
	}
}

/* end block-handy-cate */
.block-vdhigh-beauty {
	margin-top:20px;
	margin-bottom:20px;
}
.media-cate-rt {
	.media-left {
		img {
			width:100px;
		}
	}
}
.box-tips-beauty{
	background: #fff;
	padding: 5px;
	border: $border1px;
	.title-tips{
			position: relative;
		h2{
			padding: 5px;
		    font-size: 20px;
		    background: #CE73A7;
		    color: #fff;
		    text-align: center;
		    position: absolute;
		    margin: 0 auto;
		    left: 0;
		    right: 0;
		    top: -10px;
		    width: 195px;
		    font-family: $title;
		}
		h2:before{
			content: '';
		    position: absolute;
		    right: -4px;
		    top: 0;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 4px 0 0 4px;
		    border-color: transparent transparent transparent #CE73A7;
		}
		h2:after{
			content: '';
	    position: absolute;
	    left: -4px;
	    top: 0;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 4px 0 0 4px;
	    -webkit-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	    transform: rotate(270deg);
	    border-color: transparent transparent transparent #CE73A7;
		}
	}
	img{
		width: 100%;
	}
	h3{
		// margin: 10px 0;
		a{
			font-size: 18px;
			display: block;
			line-height: 1.3;
		}
	}
}
.cate-beauty-rt{
	padding: 5px;
	margin-top: 20px;
}
.block-vdhot-beauty{
	.name-cate{
		margin-top: 10px;
	}
}
.box-cate-rt{
	position: relative;
	margin-top: 20px;
	.title-medium{
		margin-top: 10px;
	}
	a{
		position: absolute;
		height: 100%;
		width: 100%;
		display: block;
		z-index: 99;
	}
	.box-img{
		position: relative;
	}
	img{
		width: 100%;
	}
	h3{
		font-weight: 600;
	}
}
.box-cate-rt:hover{
	.icon-play-round-48 {
    background-position: -92px -188px;
  }
}
.media-cate-rt{
	.title-small{
		margin: 0;
		a{
			font-size: 16px;
			font-weight: 500;
			display: block;
			line-height: 1.3;
		}
	}
}
/* end cate-beauty */
/* detail beauty */
.descripe-beauty{
	  font-weight: 600;
    margin: 10px 0;
}
.cont{
	  font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}
.bor-bottom{
    border-bottom: $border1px;
    padding-bottom: 10px;
}
ul.list-check{
	padding-left: 0;
	border-bottom: $border1px;
	font-family: Arial, Helvetica, sans-serif;
}
li.check{
	list-style-type: none;
	display: flex;
	margin-bottom: 10px;
}
.descripe-img-detail{
	img{
		width: 100%;
	}
}
.box-img-detail{
	padding: 0 12%;
	text-align: center;
	img{
		margin-top: 10px;
		width: 100%;
	}
	.descripe-img{
		font-size: 13px;
		font-family: Arial, Helvetica, sans-serif;
	}
}

.title-descripe{
	font-weight: 600;
	font-size: 25px;
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.check-box{
		position: relative;
	  border: 1px solid #aaa;
    width: 20px;
    height: 20px;
    line-height: 17px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
	i{
		background: url(images/icon/sprite-v1.png);
    background-position: -460px -321px;
    width: 11px;
    height: 11px;
    padding: 0;
    position: absolute;
     top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
  	transition: all .3s ease-in-out;
	}
}
.check:hover{
	vertical-align: top;
	a.check-box{
		background: #000;
	}
	i{
		opacity: 1;
    visibility: visible;
	}
}
.check-active{
	text-decoration: line-through;
	a.check-box{
		background: #000;
	}
	i{
		opacity: 1;
    visibility: visible;
	}
}
.ad-post-beauty{
	float: right;
	margin-bottom: 10px;
	span{
		color: #666;
		font-size: 16px;
		font-weight: 600;
	}
}
.tags-involve-beauty{
	  clear: both;
	  margin: 10px 0;
	  padding: 10px 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #dcdcdc;
    a{
    	color: #fff;
	    font-weight: 100;
	    font-size: 13px;
	    margin-left: 10px;
	    background: #cc66a4;
	    padding: 3px 8px;
	    transition: all .2s ease-in-out;
	    display: inline-block;
    }
}
.side-beauty{
	.box-video-img{
		position: relative;
		cursor: pointer;
	}
	.box-video-img:hover{
		span{
			background-position: -92px -188px;
		}
	}
	.icon-social-detail{
		border-bottom: none;
	}
}
.location{
	p{
		color: #000;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
	}
	span{
		padding-right: 10px;
	}
}
.block-cmt{
	padding-top: 10px;
	.mCustomScrollbar{
	padding: 10px 10% 0;
	overflow: auto;
  position: relative;
  width: 100%;
  height: 400px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	} 
}
.block-involve{
	.big-involve{
		display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
	}
	.box-involve{
		padding: 10px;
		flex: 0 25%;
    -webkit-box-flex: 0;
	}
	img{
		width: 100%;
	}
	h3{
		margin-top: 5px;
		a{
			display: block;
			font-size: 16px;
			line-height: 1.4;
		}
	}
}
.block-hotday-beauty{
	h2{
		font-size: 25px;
		color: #666;
		margin-top: 0;
	}
}
.beauty-highlight {
    position: relative;
    margin: 0 -15px;
    overflow: hidden;
    height:365px;
    background-size:cover;
    a {
	    position: absolute;
	    display: block;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
    }
    .box-beauty {
    	text-align: center;
    	background:rgba(0,0,0,0.6);
    	position: absolute;
	    bottom: 0;
	    width: 100%;
	    transition:.3s ease-in-out;
	    z-index: 1;
	    span.time-up {
	    	color:#fff;
	    	margin-bottom: 20px;
	    }
	    span.beauty-cate {
	    	margin:20px auto;
	    	margin-bottom:10px;
	    	color:#fff;
	    	display: inline-block;
	    	background:#CC66A4;
	    	padding:5px;
	    	font-family: $title;
	    	font-size:12px;
	    	text-transform: uppercase;
	    }
    }
    h3 {
    	margin-bottom: 0;
	    font-size: 20px;
	    margin-top: 0;
	    line-height: 1.3;
	    padding: 0 20px;
	    font-family: $notoserif;
	    transition: .3s ease-in-out;
	    color:#fff;
	    height: 27px;
    	overflow: hidden;
    }
}
.beauty-highlight:hover .box-beauty {
   	background:none;
}
.beauty-highlight:hover a {
	background:rgba(0,0,0,0.6);
}
.box-hotday-beauty{
	margin-top: 15px;
	img{
		width: 100%;
	}
	h3{
		margin-top: 5px;
		a{
			display: block;
			font-size: 16px;
			line-height: 1.4;
		}
	}
}
/* end detail beauty */

/* reponsite*/
@media (max-width:1320px) {
	.beauty-highlight {
		height:290px;
	}
}
@media(max-width:1024px){
	ul.cate-beauty{
			display: inline-block;
			li:last-child{
				float: left;
			}
			li{
					margin-bottom: 5px;	
			}
		}
		.highlight-lf-beauty, .highlight-ct-beauty, .highlight-rt-beauty{
		height: 400px ;
	}
	.highlight-ct-beauty .highlight-ct:first-child{
		margin-bottom: 40px;
	}
}
@media(max-width:768px) {
	.item-element:last-child {
		display: none;
	}
}
@media(max-width:992px){
	.highlight-beauty {
		margin-bottom:30px;
	}
	.highlight-lf-beauty, .highlight-ct-beauty, .highlight-rt-beauty{
		height: 260px ;
	} 
	.hiden-sm-beauty{
		display: none;
	}
	.highlight-ct-beauty .highlight-ct:first-child{
		margin-bottom: 10px;
	}
	.highlight-ct-beauty .highlight-ct {
		height:48%;
	}
	.side-beauty{
		.media-left, .media-right, .media-body{
			display: table;
		}
		.media-body{
			width: 100%;
		}
	}
	.box-cate-beauty{
		flex: 0 31%;
	}
}
/* end reponsite */