$title:  Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 400;
$colortext:#343434;
.subnav-game{
	padding-left: 0;
	.game{
		a{
			font-size: 18px;
			font-weight: 600;
		}
	}
	li{
		display: inline-block;
		list-style-type: none;
		position: relative;
    padding-right: 30px;
	}
	li:first-child{
		padding-right: 15px;
	}
	li:nth-child(2){
		border-left: $border1px;
		padding-left: 15px;
	}
	li:before{
		content: '.';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -18px;
    left: -20px;
    color: #cb0000;
    font-size: 30px;
	}
	li:first-child:before, li:nth-child(2):before{
		content: '';
	}
	h4{
		margin: 0;
	}
}
.time-up{
	font-size: 12px;
  margin-top: 10px;
  display: block;
	font-family: $title;
	// i{
	// 	background: url("images/icon/sprite-v1.png");
	// 	background-position: -407px -28px;
 //    height: 15px;
 //    display: inline-block;
 //    width: 15px;
 //    margin-right: 5px;
 //    vertical-align: bottom;
	// }
}
span.time-up:before{
  	content: "";
    background: url(images/icon/sprite-v1.png);
    background-position: -407px -28px;
    height: 17px;
    width: 15px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.box-hl-game{
	position: relative;
	margin: 0 -15px;
	overflow:hidden;
	height:520px;
	background-size:cover;
	img{
		width: 100%;
	}
	.box-glass{
		position: absolute;
		bottom: 0;
		width: 100%;
		color: #fff;
		transition: all .2s ease-in-out;
		background: rgba(17, 17, 17, 0);
    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
	}
	h3{
		margin-bottom: 0;
		font-size: 28px;
		margin-top: 0;
		line-height: 1.3;
		padding: 90px 20px 35px;
		font-family: $title;
		transition: .3s ease-in-out;
	}
	a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	
	span.name-hl{
			position: absolute;
			top: 50px;
			left: 20px;
			background: #f44336;
			font-size: 12px;
			color: #fff;
			padding: 5px 10px;
			font-family: $title;
		}
		.time-up{
			position: absolute;
			bottom: 10px;
			left: 20px;
			color: #fff;
		}
}
.box-hl-game:hover{
	h3 {
		text-shadow: 1px 1px 10px #fff;
	}
}
.name-tech{
	.name{
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;
		border-bottom: 2px solid #f44336;
		display: inline-block;
		padding-bottom: 5px;
		margin-bottom: -2px;
		margin-top: 20px;
		font-family: $title;
	}
	border-bottom: 2px solid #dcdcdc;
}
.block-slide-tech{
	margin-top: 10px;
	/* height:192px;
	overflow:hidden; */
	.item {
		width:25%;
		display: inline-block;
	}
	.img-game{
		width: 95%;
		position: relative;
	}
	.img-game:hover{
		.box-glass{
		background: rgba(17, 17, 17, 0);
    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
		}
	}
	img{
		width: 100%;
	}
	.box-glass{
		position: absolute;
		bottom: 0;
		background: rgba(17, 17, 17, 0);
    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
		width: 100%;
		color: #fff;
		transition: all .2s ease-in-out;
	}
	a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	h3{
		margin-bottom: 0;
		font-size: 16px;
		margin-top: 0;
		line-height: 1.3;
		padding: 60px 15px 25px 10px;
		font-family: $title;
	}
	.time-up{
		position: absolute;
		bottom: 5px;
		left: 10px;
		color: #fff;
	}
	.slick-next{
		background: url("images/icon/sprite-v1.png");
		background-position: -296px -212px;
		right: 0px;
	}
	.slick-next:hover{
		background-position: -296px -186px;
	}
	.slick-prev{
		background: url("images/icon/sprite-v1.png");
		background-position: -268px -212px;
		right: 25px;
	}
	.slick-prev:hover{
		background-position: -268px -186px;
	}
	.slick-prev, .slick-next{
		top: -26px;
		width: 22px;
		height: 22px;
	}
	.slick-prev:before, .slick-next:before{
		color: transparent;
	}
}

.top-online{
	margin-top: 15px;
	display: flex;
	flex-flow: row wrap;
	.big-online{
		flex: 0 50%;
		-webkit-box-flex: 0;
		img{
			width: 100%;
		}
	}
	.big-online:first-child{
		padding-right: 10px;
	}
	.big-online:last-child{
		padding-left: 10px;
	}
}
.bottom-online{
	display: flex;
	flex-flow: row wrap;
	img{
		width: 170px;
	}
	.media{
		-webkit-box-flex: 0;
		border-bottom: $border1px;
		padding-bottom: 10px;
		margin-top: 10px;
		h3.title-main-4 {
			margin-top:-2px;
		}
	}
	.media:first-child{
		margin-top: 10px;
	}
	.media:last-child{
		border-bottom: none;
	}
	.time-up{
			color: #ccc;
			i{ 
				height: 17px;
			}
		}
		h3{
			a{
				color: #666
			}
		}
}
.list-flex{
	display: flex;
	flex-flow: row wrap;
	.box-flex {
		overflow: hidden;
	}
	.box-flex:hover{
		.box-glass{
			background: rgba(0, 0, 0, 0);
		}
		h3{
			top: 300px;
			
		}
	.box-gs-score{
		top: -50px;
		}
		h4{
			bottom: 10px;
		}
		.sapo-hover{
			bottom: 0;
			opacity: 1;
		}
	}
	.box-glass{
		position: absolute;
		bottom: 0;
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		transition: all .2s ease-in-out;
	}
	.sapo-hover{
			position: absolute;
			bottom: -200px;
			background: rgba(0, 0, 0, 0.7);
			width: 100%;
			transition: all .2s ease-in-out;
			opacity: 0;
		}
	a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	h3{
		width:100%;
		margin-bottom: 0;
		font-size: 16px;
		margin-top: 0;
		line-height: 1.4;
		padding: 5px 10px 10px ;
		font-family: $title;
		color: #fff;
		font-weight: 600;
		position: absolute;
		text-align: center;
		top: 145px;
		transition: all .3s ease-in-out;
	}
	h4{
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.4;
		padding: 10px ;
		font-family: $title;
		color: #fff;
		transition: all .3s ease-in-out;
		bottom: 0px;

	}
	.box-flex{
		margin-top: 15px;
		flex: 0 16.66666667%;
		-webkit-box-flex: 0;
		position: relative;
		img{
			max-width: 100%;
		}
	}
	.box-gs-score{
		position: absolute;
		left: 50%;
		top: 90px;
		margin-left: -25px;
		transition: all .3s ease-in-out;
	}
}
.block-offline{
	margin-top: 15px;
	display: flex;
	flex-flow: row wrap;
	clear: bold;
	.big-offline{
		-webkit-box-flex: 0;
	}
	
	.big-lf{
		img{
			width: 100%;
			margin-bottom: 5px;
		}
		a{
			display: block;
		}
	}
	.big-rt{
		img{
			width: 170px;
		}
		.media {
			h3.title-main-4 {
				margin-top:-2px;
			}
		}
	}
	.time-up{
			color: #ccc;
			i{
				height: 17px;
			}
		}
}

.gs-score {
    position: relative;
    border-radius: 100%;
}
.gs-score-large {
    width: 50px;
    height: 50px;
    /*box-shadow: #131416 0 0 30px 7.5px inset,#1d1d20 0 0 0 15px;*/
}
.gs-score_spinner {
    border-radius: 100% 0 0 100%/50% 0 0 50%;
    z-index: 1;
    border-right: none;
    overflow: hidden;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.gs-score_pie {
    width: 50%;
    height: 100%;
    position: absolute;
    background: #EF4438;
}

.gs-score_clip {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.gs-score_filler {
    border-radius: 0 100% 100% 0/0 50% 50% 0;
    left: 50%;
    z-index: 2;
    border-left: none;
    overflow: hidden;
    background-image: -webkit-linear-gradient(#e67300 0%,#EF4438 100%);
    background-image: linear-gradient(#e67300 0%,#EF4438 100%);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.gs-score-large .gs-score_inner {
    font-size: 25px;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
  	font-weight: 600;
  	color: #fff;
  	text-align: center;
  	font-family: $title;
  	padding: 3px;
}
.gs-score_inner {
    background: #26272b;
    position: absolute;
    z-index: 2;
    border-radius: 100px;
    transition: background 0.25s;
}
.gs-score.score-10 .gs-score_spinner {
    background-image: -webkit-linear-gradient(#e60000 0%,#EF4438 100%);
    background-image: linear-gradient(#e60000 0%,#EF4438 100%);
}
.gs-score-large.score-10 .gs-score_clip {
    clip: rect(0, 80px, 160px, 0);
}
.score-10 .gs-score_spinner {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.score-9 .gs-score_spinner {
    -webkit-transform: rotate(324deg);
    transform: rotate(324deg);
}
.score-8 .gs-score_spinner {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg);
}
.score-7 .gs-score_spinner {
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg);
}
.score-6 .gs-score_spinner {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
}
.score-5 .gs-score_spinner {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.score-4 .gs-score_spinner {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
}
.score-3 .gs-score_spinner {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
}
.score-2 .gs-score_spinner {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
}
.score-1 .gs-score_spinner {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}
.score-10 .gs-score_filler,
.score-9 .gs-score_filler,
.score-8 .gs-score_filler,
.score-7 .gs-score_filler,
.score-6 .gs-score_filler {
    opacity: 1;
}
.score-5 .gs-score_filler,
.score-4 .gs-score_filler,
.score-3 .gs-score_filler,
.score-2 .gs-score_filler,
.score-1 .gs-score_filler {
    opacity: 0;
}
.gs-score-large.score-10 .gs-score_clip,
.gs-score-large.score-9 .gs-score_clip,
.gs-score-large.score-8 .gs-score_clip,
.gs-score-large.score-7 .gs-score_clip,
.gs-score-large.score-6 .gs-score_clip {
    clip: rect(0, 80px, 160px, 0);
}

.gs-score-large.score-10 .gs-score_clip2,
.gs-score-large.score-9 .gs-score_clip2,
.gs-score-large.score-8 .gs-score_clip2,
.gs-score-large.score-7 .gs-score_clip2,
.gs-score-large.score-6 .gs-score_clip2 {
    clip: rect(0, 50px, 50px, 25px);
}
.gs-score-large.score-5 .gs-score_clip,
.gs-score-large.score-4 .gs-score_clip,
.gs-score-large.score-3 .gs-score_clip,
.gs-score-large.score-2 .gs-score_clip,
.gs-score-large.score-1 .gs-score_clip  {
    clip: rect(0, 50px, 50px, 25px);
}
.day-start{
	.box-start{
		position: relative;
		height:150px;
		overflow: hidden;
		background-size:cover;
	}
	.box-start:hover{
		.box-glass h3{
			text-decoration: underline;
		}
	}
	img{
		width: 100%;
	}
	.name-tech{
		margin-bottom: 15px;
	}
	.box-glass{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50%;
		color: #fff;
		transition: all .2s ease-in-out;
		background: rgba(17, 17, 17, 0);
	    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
	    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
	    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
	    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
	    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
	    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
	}
	a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	h3{
		margin-bottom: 0;
		font-size: 25px;
		font-weight:bold;
		margin-top: 0;
		line-height: 1.3;
		padding: 5px 10px 28px;
		font-family: $title;
		position: absolute;
		bottom: 0px;
		text-transform: uppercase;
	}
	.time-start{
		position: absolute;
		bottom: 7px;
		left: 12px;
		font-size: 14px;
		font-family: $title;
	}
}
.hot-game{
	.media{
		margin-top: 10px;
		padding-bottom: 10px;
		border-bottom: $border1px;
	}
	.media:last-child{
		border-bottom: none;
	}
	.time-up{
		margin-top: 10px;
		color: #ccc;
		i{
				height: 17px;
		}
	}
	.title-main-5{
		a{
			font-size: 14px;
			display: block;
			line-height: 1.3;
		}
	}
	.media-left{
		img{
			width: 100px;
		}
	}
}
.margin-qc{
	margin-top: 30px;
}
.block-video-game{
	margin-top: 20px;
	background: #333;
	padding: 10px;
  display: flex;
  flex-flow: row wrap;
}
.big-video-game{
	position: relative;
	flex: 2 0 0;
	margin-right: 15px;
	a{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	img{
		width: 100%;
	}
	.box-glass{
		position: absolute;
		bottom: -1px;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		color: #fff;
		transition: all .2s ease-in-out;
	}
	h3{
		margin-bottom: 0;
		font-size: 20px;
		margin-top: 0;
		line-height: 1.3;
		padding: 20px;
		font-family: $title;
	}
}
.big-video-game:hover{
	.box-glass{
		background: rgba(0, 0, 0, 0.8);
	}
}
.big-video-game:hover{
	span.icon-play-round-64{
		background-position: -160px -171px;
	}
}
.list-video-game{
	color: #fff;
	flex: 1 0 0;
	.media-body{
		a{
			color: #fff;
			display: block;
			line-height: 1.3;
		}
	}
	.media-left{
		a{
			position: relative;
			display: block;
		}
	}
	.media-left:hover{
		 span{
    	background-position: -37px -204px;
  	}
	}
	.media:first-child{
		margin-top: 0;
	}
	.media{
		position: relative;
		border-bottom: $border1px;
		padding-bottom: 8px;
		margin-top: 8px;

	}
	.media:last-child{
		border-bottom: none;
	}
	
}
// .list-video-game::-webkit-scrollbar-track{
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	background-color: #F5F5F5;
// }
// .list-video-game::-webkit-scrollbar{
// 	width: 5px;
// 	background-color: #F5F5F5;
// }
// .list-video-game::-webkit-scrollbar-thumb{
// 	background-color: #cb0000;
// 	border-radius: 15px;      
// }
.block-esports{
	h3{
		margin-top: 0;
	}
	.media{
		img{
			width: 200px;
		}
		p{
			margin-bottom: 0;
		}
	}
	.media:first-child{
		margin-top: 15px;
	}
}
.list-news{
	padding-left: 17px;
	position: relative;
	border-top: $border1px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	li{
		// list-style-type: none;
		color: #ed1f24;
		position: relative;
		// overflow: hidden;
    // margin-left: 15px;
    // padding-left: 10px;
    margin-bottom: 3px;
    a{
    	font-size:13px;
    }
	}
	// li:before{
	// 	  content: '';
	//     display: block;
	//     position: absolute;
	//     top: 10px;
	//     margin-top: -2px;
	//     left: 0;
	//     width: 4px;;
	//     height: 4px;
	//     background-color: #777777;
	//     -webkit-border-radius: 50%;
	//     border-radius: 50%;
	//     -webkit-transition: background-color 0.2s ease-in-out;
	//     -moz-transition: background-color 0.2s ease-in-out;
	//     -o-transition: background-color 0.2s ease-in-out;
	//     transition: background-color 0.2s ease-in-out;
	// }
}
/* cate-game */
.baner-cate-game{
	position: relative;
	height: 330px;
	// width: 100%;
	 .box-gs-score {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	img{
		width: 100%;
	}
	.box-glass{
		position: absolute;
		bottom: 0;
		    background: rgba(17, 17, 17, 0);
    background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
		width: 100%;
		color: #fff;
		transition: all .2s ease-in-out;
	}
	a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	h3{
		margin-bottom: 0;
		font-size: 20px;
		margin-top: 0;
		padding: 60px 20px 35px;
		font-family: $title;
		line-height: 1.3;
	}
	span.name-hl{
			position: absolute;
			top: 10px;
			left: 20px;
			background: #f44336;
			font-size: 12px;
			color: #fff;
			padding: 5px 10px;
		}
		.time-up{
			position: absolute;
			bottom: 10px;
			left: 20px;
			color: #fff;
		}
}
.cate-online{
	margin-top: 15px;
	display: flex;
	flex-flow: row wrap;
	.big-online{
		flex: 0 49%;
		-webkit-box-flex: 0;
		position: relative;
		img{
			width: 100%;
		}
	}
	.big-online:first-child{
		margin-right: 1%;
	}
	.big-online:last-child{
		margin-left: 1%;
	}
	.box-glass{
		position: absolute;
		bottom: 0;
		background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(10%, rgba(17, 17, 17, 0.1)), color-stop(100%, rgba(17, 17, 17, 0.95)));
    background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=0);
		width: 100%;
		color: #fff;
		transition: all .2s ease-in-out;
	}
	a{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	h3{
		margin-bottom: 0;
		font-size: 20px;
		margin-top: 0;
		padding: 60px 10px 35px;
		font-family: $title;
		line-height: 1.3;
	}
	.time-up{
			position: absolute;
			bottom: 10px;
			left: 10px;
			color: #fff;
		}
}
.cate-online .box-gs-score {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all .3s ease-in-out;
}
.block-esports .box-gs-score {
    position: relative;
    padding: 40px;
    border: 1px solid #dcdcdc;
}
.block-esports .media-body {
    padding-right: 40px;
}
@media (max-width:1024px) {
	.baner-cate-game {
		height:260px;
	}
}
@media (min-width: 992px){
	.bottom-online{
		.media{
			flex: 0 50%;
		}
		.media:nth-child(odd){
			padding-right: 10px;
		}
		.media:nth-child(even) {
    	padding-left: 10px;
		}
	}
	.media:nth-last-child(2){
		border-bottom: none;
	}
	.block-offline{
		.big-offline:first-child{
			padding-right: 10px;
		}
		.big-offline:last-child{
			padding-left: 10px;
		}
	  .big-offline {
	    flex: 0 50%;
	    -webkit-box-flex: 0;
		}
	}
}
.triangle-time {
	width: 0; 
	height: 0; 
	border-top: 70px solid transparent;
  	border-bottom: 70px solid transparent;
  	border-left: 70px solid #ed1f24;
	position:absolute;
	top:-45px;
	right:-10px;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.triangle-time p {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff;
    font-family: $title;
    text-transform: uppercase; 
}
.triangle-time p:first-child {
	margin-left: -73px;
	font-weight: bold;
    font-size: 18px;
}
.triangle-time p:last-child {
	margin-left: -118px;
    font-size: 14px;
    margin-top: -30px;
}
@media (max-width: 1280px){
	.box-hl-game{
		h3{
			font-size: 22px;
		}
	}
}
@media (max-width: 991px){
	.box-hl-game{
		h3{
			font-size: 17px;
		}
	}
}