$title: Helvetica, Arial, sans-serif;
$notoserif: 'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$boldtext: 600;
$colortext:#343434;

.year-end {
    margin-top:43px;
}
.yearend-banner {
    width:100%;
    height:330px;
    background:url('images/icon/yearend.png') top center no-repeat;
}
.year-end-total {
    margin-top:20px;
}
.year-end-block {
    background-color:#801002;
    .media-left {
        img {
            width:330px;
        }
    }
    .media-body {
        padding:20px 10px;
        .year-end-cate {
            display: inline-block;
            background: #fff;
            padding: 5px 10px;
            font-size: 15px;
            color: #801002;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 5px;
        }
        h3.title-main-3 {
            a {
                color:#fff;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        p.content-news {
            color:#fff;
        }
    }
}
.year-end-cateout {
    display: inline-block;
    background: #801002;
    padding: 5px 10px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:10px;
}
.year-end-cateout:hover {
    color:#fff;
}
.year-secondthumb {
    img {
        width:100%;
    }
}
.year-titles {
    h3 {
        margin-top:0;
        margin-bottom:8px;
        a {
            font-size:18px;
            line-height: 1.3;
            font-family: $notoserif;
            font-weight: bold;
        }
    }
}
.year-mini {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dcdcdc;
}
@media screen and (max-width: 768px) {
    .yearend-banner {
        height: 252px;
        background-size: 1700px;
    }
}